Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


【Comm】fix bug in pir pass (#67386)
  paddle/phi/core/distributed/check/static_check.cc
  python/paddle/distributed/auto_parallel/static/pir_pass.py
  python/paddle/distributed/auto_parallel/static/reshard_funcs/p_to_s_reshard_func.py
  python/paddle/distributed/passes/auto_parallel_sequence_parallel_optimization.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  test/legacy_test/test_moe_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fixx
  paddle/phi/ops/yaml/inconsistent/static_ops.yaml
Due: none

fixx
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

predictor.run(list(paddle.Tensor)) support dist (#67424)
  paddle/fluid/inference/api/analysis_predictor.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add loger
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/utils/log_util.py
Due: copyright_checker, pylint-doc-string

[Typing][C-95]Add annotations for `python/paddle/incubate/optimizer/lookahead.py`
  python/paddle/incubate/optimizer/lookahead.py
Due: copyright_checker, pylint-doc-string

[CINN] deny vector tensor in cinn group (#67375)
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  paddle/cinn/hlir/framework/pir/utils.cc
  paddle/cinn/operator_fusion/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Typing][C-96]Add annotations for `python/paddle/incubate/optimizer/modelaverage.py`
  python/paddle/incubate/optimizer/modelaverage.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/incubate/layers/nn.py
  test/legacy_test/test_tdm_child_op.py
  test/legacy_test/test_tdm_sampler_op.py
  test/legacy_test/test_warprnnt_op.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/incubate/layers/nn.py
Due: copyright_checker, pylint-doc-string

[Typing][C-99]Add annotations for `python/paddle/incubate/optimizer/lbfgs.py`
  python/paddle/incubate/optimizer/lbfgs.py
Due: copyright_checker, pylint-doc-string

update
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_gemm_epilogue_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_linear_param_grad_add_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Typing][C-80]Add annotations for `python/paddle/incubate/nn/functional/variable_length_memory_efficient_attention.py`
  python/paddle/incubate/nn/functional/variable_length_memory_efficient_attention.py
Due: copyright_checker, pylint-doc-string

fix
  test/tensorrt/test_trt_marker_non_zero.py
Due: copyright_checker, pylint-doc-string

apply review
  python/paddle/static/input.py
  python/paddle/static/io.py
Due: copyright_checker, pylint-doc-string

fix _mp_allreduce d2s check dtype
  python/paddle/distributed/fleet/layers/mpu/mp_ops.py
Due: copyright_checker, pylint-doc-string

update
  test/collective/fleet/dist_mnist_gradient_merge.py
  test/legacy_test/dist_mnist_dgc.py
  test/legacy_test/dist_mnist_fp16_allreduce.py
  test/legacy_test/test_dist_base.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/phi/ops/yaml/op_compat.yaml
Due: none

fix comment
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

codestyle
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

codestyle
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

rerun
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix path in cmake
  paddle/fluid/pir/serialize_deserialize/CMakeLists.txt
  paddle/fluid/pir/serialize_deserialize/src/interface.cc
  paddle/fluid/pir/serialize_deserialize/src/schema.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update sparse static op unittest (#67442)
  python/paddle/sparse/binary.py
  python/paddle/sparse/multiary.py
  python/paddle/sparse/nn/functional/activation.py
  python/paddle/sparse/nn/functional/transformer.py
  test/legacy_test/test_sparse_addmm_op.py
  test/legacy_test/test_sparse_is_same_shape.py
  test/legacy_test/test_sparse_matmul_op.py
  test/legacy_test/test_sparse_mv_op.py
  test/legacy_test/test_sparse_utils_op.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/phi/ops/yaml/op_compat.yaml
  test/legacy_test/collective_reducescatter_op.py
Due: copyright_checker, pylint-doc-string

add stride valueerror in pir
  python/paddle/base/framework.py
  python/paddle/framework/__init__.py
  python/paddle/utils/inplace_utils.py
Due: copyright_checker, pylint-doc-string

refine
  python/paddle/utils/inplace_utils.py
  test/legacy_test/test_stride.py
Due: copyright_checker, pylint-doc-string

add output of numpy(), test=document_fix
  paddle/fluid/pybind/eager_method.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  test/deprecated/legacy_test/CMakeLists.txt
Due: none

Update unary_infer_sym.cc MeanOp
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  python/paddle/sparse/nn/layer/norm.py
  test/deprecated/legacy_test/test_sparse_norm_op.py
Due: copyright_checker, pylint-doc-string

refine
  test/deprecated/legacy_test/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_sparse_norm_op.py
Due: copyright_checker, pylint-doc-string

refine
  python/paddle/base/framework.py
Due: copyright_checker, pylint-doc-string

fix Pass
  paddle/fluid/pir/transforms/onednn/operator_unsqueeze_onednn_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update same_operands_result.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  test/dygraph_to_static/test_error.py
  test/dygraph_to_static/test_high_order_net.py
  test/legacy_test/test_learning_rate_scheduler.py
Due: copyright_checker, pylint-doc-string

Reupdate unary_infer_sym.cc with AddEqualCstr
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
