Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

test=inference
  paddle/fluid/inference/api/demo_ci/run.sh
Due: none

uniform append_backward & gradients parameter_list type, test=develop
  python/paddle/fluid/backward.py
  python/paddle/fluid/tests/unittests/test_backward.py
Due: pylint-doc-string, copyright_checker

iadd print info, test=deveelop
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

add elu double grad kernel and unit test
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/activation_op.cu
  paddle/fluid/operators/activation_op.h
  python/paddle/fluid/tests/unittests/test_activation_nn_grad.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update doc, test=develop
  python/paddle/fluid/backward.py
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

Refine stack op to improve xlnet performance, test=develop
  paddle/fluid/operators/stack_op.cc
  paddle/fluid/operators/stack_op.cu
  paddle/fluid/operators/stack_op.h
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine code and print level output test=develop
  paddle/fluid/framework/operator.cc
  paddle/fluid/platform/device_tracer.cc
  paddle/fluid/platform/profiler.cc
  paddle/fluid/platform/profiler.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/profiler.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add adamOptimizer test=develop
  python/paddle/fluid/tests/unittests/test_optimizer_grad.py
Due: pylint-doc-string, copyright_checker

add adamOptimizer test=develop
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

refine print output test=develop
  paddle/fluid/platform/profiler.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix compile error in CUDA10 test=develop
  paddle/fluid/operators/pad2d_op.cc
  paddle/fluid/operators/pad2d_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add conda build python script test=develop
  paddle/scripts/conda_build.py
Due: pylint-doc-string, copyright_checker

remove space line test=develop
  paddle/scripts/conda_build.py
Due: pylint-doc-string, copyright_checker

add test inf, test=develoop
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

add timeline to whl test=develop
  python/paddle/fluid/timeline.py
Due: pylint-doc-string, copyright_checker

fix trt calib not working bug, test=develop (#21934)
  paddle/fluid/framework/ir/graph_pattern_detector.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update PRelu arg test=develop
  python/paddle/fluid/dygraph/nn.py
Due: pylint-doc-string, copyright_checker

up, test=develop
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/white_list/op_accuracy_white_list.py
Due: pylint-doc-string, copyright_checker

Revert to run distributed unittest serially, test=develop (#21924)
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

polish code for better code style, test=develop
  python/paddle/fluid/tests/unittests/test_imperative_resnet.py
  python/paddle/fluid/tests/unittests/test_imperative_se_resnext.py
Due: pylint-doc-string, copyright_checker

fix related unittests, test=develop
  python/paddle/fluid/backward.py
  python/paddle/fluid/tests/unittests/test_backward.py
  python/paddle/fluid/tests/unittests/test_unstack_op.py
Due: pylint-doc-string, copyright_checker

fix test=develop
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/op_function.h
  paddle/scripts/paddle_build.sh
  tools/manylinux1/Dockerfile.x64
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix test=develop
  cmake/generic.cmake
Due: none

fix test=develop
  python/paddle/fluid/tests/unittests/test_fleet_pslib_3.py
Due: pylint-doc-string, copyright_checker

fix test=develop
  paddle/fluid/pybind/imperative.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add clear_gradients for Optimizer, add api description, test=develop
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

test Optimizer in dygraph, test=develop
  python/paddle/fluid/tests/unittests/test_imperative_optimizer.py
Due: pylint-doc-string, copyright_checker

add ut for plsc, test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/do_plsc.py
  python/paddle/fluid/tests/unittests/test_plsc.sh
Due: pylint-doc-string, copyright_checker

cleanup, test=develop
  python/paddle/fluid/tests/unittests/test_plsc.sh
Due: none

fix aucop stat shape (#21846)
  paddle/fluid/operators/metrics/auc_op.cc
  python/paddle/fluid/layers/metric_op.py
  python/paddle/fluid/tests/unittests/test_auc_op.py
  python/paddle/fluid/tests/unittests/test_auc_single_pred_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
