Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

bug fixed
  test/auto_parallel/hybrid_strategy/semi_auto_llama.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_hybrid_strategy.py
Due: copyright_checker, pylint-doc-string

Fuse LGroup
  paddle/cinn/adt/generate_map_expr.cc
  paddle/cinn/adt/map_expr.h
  paddle/cinn/adt/print_utils/print_map_expr.cc
  paddle/cinn/adt/schedule_mesh.cc
  paddle/cinn/hlir/pe/map_expr_to_ir.cc
  test/ir/pir/cinn/test_map_expr_sub_graph.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Change place where sp call reshard
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
Due: copyright_checker, pylint-doc-string

fix errors in dy2static training
  test/auto_parallel/hybrid_strategy/semi_auto_llama.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
Due: copyright_checker, pylint-doc-string

add dy2static test case for llama
  test/auto_parallel/hybrid_strategy/semi_auto_llama.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_hybrid_strategy.py
Due: copyright_checker, pylint-doc-string

temporary save
  test/auto_parallel/hybrid_strategy/semi_auto_llama.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_hybrid_strategy.py
Due: copyright_checker, pylint-doc-string

keep the model file identity as upstream/develop
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

tiny fix
  python/paddle/optimizer/optimizer.py
Due: copyright_checker, pylint-doc-string

Fix Tensor.to
  python/paddle/base/dygraph/tensor_patch_methods.py
  test/legacy_test/test_Tensor_to.py
Due: copyright_checker, pylint-doc-string

refine gen mxigemm py
  paddle/phi/kernels/CMakeLists.txt
Due: none

clean
  test/dygraph_to_static/test_return.py
  test/dygraph_to_static/test_se_resnet.py
  test/dygraph_to_static/test_sentiment.py
  test/dygraph_to_static/test_simnet.py
  test/dygraph_to_static/test_simnet_v2.py
Due: copyright_checker, pylint-doc-string

fix embedding_grad's weight row-wise parallel error (#59830)
  paddle/phi/infermeta/spmd_rules/embedding.cc
  test/auto_parallel/semi_auto_parallel_for_embedding.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Auto_Parallel] update for CI pressure (#59849)
  tools/auto_parallel/ci_auto_parallel.sh
  tools/auto_parallel/target_path_lists.sh
Due: copyright_checker

[PIR] Add PrintStatistics interface for pir pass and optimize some pir code (#59825)
  paddle/fluid/pir/transforms/build_cinn_pass.cc
  paddle/fluid/pir/transforms/constant_folding_pass.cc
  paddle/fluid/pir/transforms/dead_code_elimination_pass.cc
  paddle/fluid/pir/transforms/inplace_pass.cc
  paddle/fluid/pir/transforms/params_sync_among_devices_pass.cc
  paddle/fluid/pir/transforms/replace_fetch_with_shadow_output_pass.cc
  paddle/fluid/pir/transforms/shape_optimization_pass.cc
  paddle/fluid/pir/transforms/sub_graph_extract_pass.cc
  paddle/fluid/pir/transforms/transform_general_functions.cc
  paddle/pir/pass/pass.cc
  paddle/pir/pass/pass.h
  paddle/pir/pattern_rewrite/pattern_rewrite_driver.cc
  paddle/pir/pattern_rewrite/pattern_rewrite_driver.h
  paddle/utils/string/pretty_log.cc
  paddle/utils/string/pretty_log.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

optimiztion compiliation of phi
  paddle/phi/kernels/CMakeLists.txt
Due: none

fix test
  test/auto_parallel/semi_auto_parallel_shard_optimizer_api.py
Due: copyright_checker, pylint-doc-string

Rename test_identity_op_clean_pass.py to test_pir_identity_op_clean_pass.py
  test/ir/pir/test_pir_identity_op_clean_pass.py
Due: copyright_checker, pylint-doc-string

Rename test_matmul_scale_fuse_pass.py to test_pir_matmul_scale_fuse_pass.py
  test/ir/pir/fused_pass/test_pir_matmul_scale_fuse_pass.py
Due: copyright_checker, pylint-doc-string

Restore origin codes
  paddle/pir/core/builtin_type_interfaces.h
  python/paddle/jit/dy2static/program_translator.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Change unit test
  test/ir/pir/cinn/adt/test_cinn_sub_graph_map_expr.py
  test/ir/pir/cinn/test_map_expr_sub_graph.py
Due: copyright_checker, pylint-doc-string

[Paddle-TRT ]add argsort op into TRT GenericPlugin (#59409)
  paddle/fluid/inference/tensorrt/dynamic_shape_infermeta.cc
  paddle/fluid/inference/tensorrt/dynamic_shape_infermeta_registry.h
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/plugin/generic_plugin.cu
  test/ir/inference/CMakeLists.txt
  test/ir/inference/test_trt_convert_argsort.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

optimization compilation of phi
  .gitignore
  paddle/phi/CMakeLists.txt
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/fusion/cutlass/conv2d/conv2d_bias_act.py
  paddle/phi/kernels/fusion/cutlass/conv2d/conv2d_bias_residual.py
  paddle/phi/kernels/fusion/cutlass/conv2d/conv2d_depthwise_bias_act.py
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/generic_mixed_gemm_kernelLauncher.py
Due: copyright_checker, pylint-doc-string

optimization compilation of phi
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/generic_mixed_gemm_kernelLauncher.py
Due: copyright_checker, pylint-doc-string

[SOT][3.11] Remove trailing PRECALL to avoid wrong specializition
  python/paddle/jit/sot/opcode_translator/executor/function_graph.py
Due: copyright_checker, pylint-doc-string

[SOT] add layer black list (#59834)
  python/paddle/jit/sot/opcode_translator/executor/variables/callable.py
  python/paddle/jit/sot/utils/__init__.py
  python/paddle/jit/sot/utils/paddle_api_config.py
Due: copyright_checker, pylint-doc-string

[PIR] move opresult interface to value in python api.
  paddle/fluid/framework/new_executor/pir_adaptor/pir_adaptor_util.cc
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/pir/transforms/inplace_pass.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/pir.cc
  paddle/fluid/pybind/pir.h
  paddle/pir/core/value.h
  python/paddle/base/executor.py
  python/paddle/base/variable_index.py
  python/paddle/decomposition/decomp.py
  python/paddle/geometric/message_passing/utils.py
  python/paddle/jit/dy2static/pir_partial_program.py
  python/paddle/jit/dy2static/program_translator.py
  python/paddle/jit/sot/infer_meta.py
  python/paddle/nn/functional/common.py
  python/paddle/nn/functional/conv.py
  python/paddle/nn/initializer/constant.py
  python/paddle/nn/layer/layers.py
  python/paddle/optimizer/adam.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Prim][PIR] unsequeeze prim sink (#59798)
  paddle/fluid/pir/dialect/op_generator/decomp_interface_gen_op_list.py
  paddle/fluid/primitive/composite/composite.h
  paddle/fluid/primitive/utils/utils.h
  python/paddle/decomposition/rules.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Delete CMake Message (#59836)
  paddle/cinn/adt/CMakeLists.txt
Due: none

gpu0 to cpu in api doc
  python/paddle/nn/functional/distance.py
Due: copyright_checker, pylint-doc-string

[AutoParallel] Add sequence parallel for llama (#59822)
  paddle/phi/api/lib/api_gen_utils.cc
  paddle/phi/api/lib/tensor_utils.cc
  paddle/phi/core/distributed/auto_parallel/reshard/s_to_r_reshard_function.cc
  paddle/phi/infermeta/spmd_rules/utils.cc
  test/auto_parallel/hybrid_strategy/CMakeLists.txt
  test/auto_parallel/hybrid_strategy/semi_auto_llama.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_hybrid_strategy.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix(new-ir): fix quantile and nanquantile
  python/paddle/tensor/stat.py
Due: copyright_checker, pylint-doc-string

Support opt save load (#59843)
  python/paddle/distributed/auto_parallel/api.py
  python/paddle/distributed/checkpoint/load_state_dict.py
  test/auto_parallel/semi_auto_parallel_shard_optimizer_api.py
  test/auto_parallel/test_semi_auto_parallel_single_strategy.py
Due: copyright_checker, pylint-doc-string

[auto parallel] fix elementwise grad spmd infer (#59851)
  paddle/phi/infermeta/spmd_rules/elementwise.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[AutoTuner] support prune by memory cost model (#59727)
  python/paddle/distributed/auto_tuner/memory_cost_model.py
  python/paddle/distributed/auto_tuner/prune.py
Due: copyright_checker, pylint-doc-string

[Distributed] support bypassing optimizer.step() by flag (#59848)
  python/paddle/optimizer/optimizer.py
  test/legacy_test/test_adamw_op.py
Due: copyright_checker, pylint-doc-string

[Distributed]Support comm overlap in sharding v2 (#59809)
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

