Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

Fix unitest in python3. test=develop
  python/paddle/fluid/contrib/slim/core/compressor.py
  python/paddle/fluid/contrib/slim/prune/prune_strategy.py
  python/paddle/fluid/tests/unittests/dist_ctr_reader.py
Due: copyright_checker

fix concat shape check; test=develop
  paddle/fluid/operators/concat_op.cc
Due: clang-format-with-version-check, copyright_checker

Enable MKL-DNN INT8 Concat Kernel. (#16156)
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_int8_mkldnn_op.py
Due: clang-format-with-version-check, copyright_checker

fix time; test=develop
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.cu
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.h
  paddle/fluid/operators/elementwise/elementwise_mod_op.cu
  paddle/fluid/operators/elementwise/elementwise_mod_op.h
  python/paddle/fluid/tests/unittests/test_elementwise_floordiv_op.py
  python/paddle/fluid/tests/unittests/test_elementwise_mod_op.py
Due: clang-format-with-version-check, copyright_checker

Add DeepCF model
  python/paddle/fluid/tests/unittests/test_imperative_deepcf.py
  python/paddle/fluid/tests/unittests/test_imperative_gan.py
Due: copyright_checker

Merge pull request #16346 from phlrain/add_floordiv_and_mod
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.cc
Due: clang-format-with-version-check, copyright_checker

fix time; test=develop
  paddle/fluid/operators/elementwise/elementwise_mod_op.cc
Due: clang-format-with-version-check, copyright_checker

test=develop;fix docker build failed
  tools/manylinux1/Dockerfile.x64
Due: none

remove test_dist_transplier; test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

add sparse_comm.h
  cmake/external/dgc.cmake
  paddle/fluid/framework/details/all_reduce_op_handle.cc
  paddle/fluid/operators/dgc_op.h
  paddle/fluid/platform/dynload/sparse_comm.cc
  paddle/fluid/platform/dynload/sparse_comm.h
  paddle/fluid/platform/init.cc
  python/paddle/fluid/optimizer.py
Due: clang-format-with-version-check, copyright_checker

Fix bug in affine_channel API (#16373)
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix unittests bug, test=develop
  python/paddle/fluid/tests/unittests/test_imperative_checkpoint.py
Due: copyright_checker

update
  paddle/fluid/framework/framework.proto
  paddle/fluid/framework/ir/graph_to_program_pass.cc
  paddle/fluid/framework/ir/identity_scale_op_clean_pass.cc
  paddle/fluid/framework/ir/parallel_schedule_pass.cc
  paddle/fluid/framework/naive_executor.cc
  paddle/fluid/framework/stream_engine.cc
  paddle/fluid/framework/stream_engine.h
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/tests/api/analyzer_resnet50_tester.cc
Due: clang-format-with-version-check, copyright_checker

test=develop;fix docker build failed (#16395)
  tools/manylinux1/Dockerfile.x64
Due: none

init async_sparse_param_update_recorder
  paddle/fluid/operators/distributed/CMakeLists.txt
  paddle/fluid/operators/distributed/async_sparse_param_update_recorder.h
  paddle/fluid/operators/distributed/async_sparse_param_update_recorder_test.cc
Due: clang-format-with-version-check, copyright_checker

rewrite pairwise reader
  paddle/fluid/operators/reader/ctr_reader.cc
Due: clang-format-with-version-check, copyright_checker

add AsyncSparseParamUpdateRecorder test
  paddle/fluid/operators/distributed/CMakeLists.txt
  paddle/fluid/operators/distributed/async_sparse_param_update_recorder.h
  paddle/fluid/operators/distributed/async_sparse_param_update_recorder_test.cc
Due: clang-format-with-version-check, copyright_checker

Merge pull request #16380 from phlrain/add_var_name_in_opt_2
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: copyright_checker

Merge pull request #16380 from phlrain/add_var_name_in_opt_2
  paddle/fluid/API.spec
Due: none

merge api spec; test=develop
  paddle/fluid/API.spec
Due: none

add optimizer var name; test=release/1.3
  python/paddle/fluid/optimizer.py
Due: copyright_checker

[Operator] Add range op. (#15431)
  paddle/fluid/API.spec
  paddle/fluid/operators/range_op.cc
  paddle/fluid/operators/range_op.cu
  paddle/fluid/operators/range_op.h
  python/paddle/fluid/layers/tensor.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_range.py
Due: clang-format-with-version-check, copyright_checker
