Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


add test
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/backends/xpu/xpu3_op_list.cc
  test/xpu/collective_alltoall_single_api_dygraph.py
  test/xpu/test_collective_alltoall_single_api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【Infer Symbolic Shape No.129 135 136 137】[BUAA] decode_jpeg & fused_batch_norm_act & fused_bn_add_activation & fused_softmax_mask (#67374)
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

generate
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/CMakeLists.txt
Due: none

Fixed some errors
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add matmul grad fuse pattern
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_gemm_epilogue_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

modify optional output
  paddle/fluid/pir/dialect/op_generator/api_gen.py
Due: copyright_checker, pylint-doc-string

mv some case out of deprecated
  test/deprecated/legacy_test/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_adaptive_max_pool3d.py
  test/legacy_test/test_arg_min_max_op.py
  test/legacy_test/test_bitwise_shift_op.py
  test/legacy_test/test_clip_grad_norm_.py
  test/legacy_test/test_dist_fleet_trainer_desc_config.py
  test/legacy_test/test_dist_sparse_tensor_load_adam.py
  test/legacy_test/test_dist_tree_index.py
  test/legacy_test/test_nonzero_api.py
  test/legacy_test/test_norm_all.py
  test/legacy_test/test_pixel_unshuffle.py
  test/legacy_test/test_slice_op.py
  test/legacy_test/test_softmax_op.py
  test/legacy_test/test_switch_autotune.py
  test/legacy_test/test_transformer_api.py
Due: copyright_checker, pylint-doc-string

modify codestyle
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  python/paddle/nn/layer/layers.py
  test/dygraph_to_static/test_error.py
Due: copyright_checker, pylint-doc-string

fix style (#67336)
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
  python/paddle/distributed/fleet/utils/tensor_fusion_helper.py
Due: copyright_checker, pylint-doc-string

Fixed shuffle_channel op
  paddle/phi/infermeta/unary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fixed wrong file error
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/phi/infermeta/unary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add loger (#67447)
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/utils/log_util.py
Due: copyright_checker, pylint-doc-string

[Feature] add non-norm_topk in fused moe (#67425)
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/fusion/cutlass/fused_moe_kernel.cu
  paddle/phi/kernels/fusion/cutlass/moe/fused_moe_helper.h
  paddle/phi/kernels/fusion/cutlass/moe/fused_moe_op.h
  paddle/phi/ops/yaml/fused_ops.yaml
  python/paddle/incubate/nn/functional/fused_moe.py
  test/legacy_test/test_fused_moe_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix unused var bug
  paddle/fluid/pir/transforms/sub_graph_detector.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

根据review进行修改
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Infer Symbolic Shape BUAA No.204】Add matrix_nms op
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

pir support lazy_init
  python/paddle/base/data_feeder.py
  python/paddle/nn/initializer/normal.py
  test/legacy_test/test_lazy_init.py
Due: copyright_checker, pylint-doc-string

[PIR AMP]Fix master grad cast
  python/paddle/amp/auto_cast.py
  python/paddle/autograd/ir_backward.py
  test/amp/test_pir_amp.py
Due: copyright_checker, pylint-doc-string

try
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update 2 files
  python/paddle/distributed/fleet/base/util_factory.py
  python/paddle/distributed/fleet/data_generator/data_generator.py
Due: copyright_checker, pylint-doc-string

add type ignore
  python/paddle/static/io.py
Due: copyright_checker, pylint-doc-string
