Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix the example for the _uva
  paddle/fluid/pybind/imperative.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add needed header file for concat_kernel
  paddle/pten/kernels/cpu/concat_kernel.cc
  paddle/pten/kernels/gpu/concat_kernel.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

replace with new pten concat kernel
  paddle/fluid/operators/concat_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add memory_allocated, max_memory_reserved and max_memory_allocater
  paddle/fluid/memory/allocation/CMakeLists.txt
  paddle/fluid/memory/allocation/allocator.h
  paddle/fluid/memory/allocation/allocator_facade.cc
  paddle/fluid/platform/device/gpu/gpu_info.cc
  paddle/fluid/platform/monitor.cc
  paddle/fluid/platform/monitor.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/device/cuda/__init__.py
  python/paddle/fluid/tests/unittests/test_cuda_max_memory_allocated.py
  python/paddle/fluid/tests/unittests/test_cuda_max_memory_reserved.py
  python/paddle/fluid/tests/unittests/test_cuda_memory_allocated.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update ops
  paddle/infrt/dialect/pd_ops.td
  tools/infrt/custom_pdop.td
Due: none

[IPU] update ipu releated passes p0 (#38846)
  paddle/fluid/framework/ir/ipu/avg_shard_pass.cc
  paddle/fluid/framework/ir/ipu/avg_shard_pass.h
  paddle/fluid/framework/ir/ipu/forward_graph_extract_pass.h
  paddle/fluid/framework/ir/ipu/infer_shape_pass.cc
  paddle/fluid/framework/ir/ipu/infer_shape_pass.h
  paddle/fluid/framework/ir/ipu/inference_postprocess_pass.h
  paddle/fluid/framework/ir/ipu/inference_process_pass.cc
  paddle/fluid/framework/ir/ipu/inference_process_pass.h
  paddle/fluid/framework/ir/ipu/ipu_graph_builder_pass.cc
  paddle/fluid/framework/ir/ipu/ipu_graph_builder_pass.h
  paddle/fluid/framework/ir/ipu/ipu_inplace_pass.h
  paddle/fluid/framework/ir/ipu/ipu_runtime_replacer_pass.cc
  paddle/fluid/framework/ir/ipu/ipu_runtime_replacer_pass.h
  paddle/fluid/framework/ir/ipu/optimizer_extract_pass.cc
  paddle/fluid/framework/ir/ipu/optimizer_extract_pass.h
  paddle/fluid/framework/ir/ipu/optimizer_state_align_pass.cc
  paddle/fluid/framework/ir/ipu/optimizer_state_align_pass.h
  paddle/fluid/framework/ir/ipu/popart_canonicalization_pass.cc
  paddle/fluid/framework/ir/ipu/popart_canonicalization_pass.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add TransferCastOpPass, DeleteScaleOpPass (#38985)
  paddle/fluid/framework/ir/ipu/delete_scale_op_pass.cc
  paddle/fluid/framework/ir/ipu/delete_scale_op_pass.h
  paddle/fluid/framework/ir/ipu/transfer_cast_op_pass.cc
  paddle/fluid/framework/ir/ipu/transfer_cast_op_pass.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add clang-format on
  paddle/fluid/platform/device/ipu/supported_ops_custom.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix benchmark in paddlerec (#38278)
  paddle/fluid/distributed/ps.proto
  paddle/fluid/distributed/service/brpc_ps_client.cc
  paddle/fluid/distributed/table/ctr_accessor.cc
  paddle/fluid/distributed/table/memory_sparse_table.cc
  python/paddle/distributed/fleet/runtime/the_one_ps.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

remove MakePtenDenseTensor in op compute (#38910)
  paddle/fluid/operators/cast_op.h
  paddle/fluid/operators/cholesky_solve_op.h
  paddle/fluid/operators/conj_op.h
  paddle/fluid/operators/dot_op.h
  paddle/fluid/operators/fill_any_like_op.h
  paddle/fluid/operators/flatten_op.h
  paddle/fluid/operators/lu_op.h
  paddle/fluid/operators/matmul_v2_op.h
  paddle/fluid/operators/scale_op.h
  paddle/fluid/operators/sign_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

ne
  paddle/fluid/inference/tensorrt/engine.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix ps_gpu_wrapper. test=develop
  paddle/fluid/framework/fleet/ps_gpu_wrapper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix ps_gpu_wrapper. test=develop
  paddle/fluid/operators/filter_by_instag_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add bwd part
  paddle/fluid/operators/gelu_op.cu
  python/paddle/fluid/tests/unittests/test_gelu_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix mp
  python/paddle/optimizer/adam.py
  python/paddle/optimizer/momentum.py
Due: pylint-doc-string, copyright_checker

fix the compile problem in the pten library
  paddle/fluid/pybind/imperative.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

expose input variables that only shape needed in each subgraph that compiled by CINN (#38367)
  paddle/fluid/framework/paddle2cinn/CMakeLists.txt
  paddle/fluid/framework/paddle2cinn/build_cinn_pass.cc
  paddle/fluid/framework/paddle2cinn/build_cinn_pass.h
  paddle/fluid/framework/paddle2cinn/build_cinn_pass_test.cc
  paddle/fluid/framework/paddle2cinn/cinn_compiler_test.cc
  paddle/fluid/framework/paddle2cinn/cinn_graph_symbolization.cc
  paddle/fluid/operators/cinn/CMakeLists.txt
  paddle/fluid/operators/cinn/cinn_launch_op.cc
  paddle/fluid/operators/cinn/cinn_launch_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

init
  paddle/infrt/CMakeLists.txt
  paddle/infrt/dialect/CMakeLists.txt
  paddle/infrt/dialect/infrt_base.h
  paddle/infrt/dialect/infrt_base.td
  paddle/infrt/dialect/pd_test_kernels.td
  paddle/infrt/dialect/pd_test_op_kernel_mappings.td
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/distributed/ps/service/PSClient/ps_client.h
  paddle/fluid/distributed/ps/table/table.h
  paddle/fluid/distributed/ps/table/value_accessor.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix sync_bn and tensorrt_engine
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/tensorrt/CMakeLists.txt
Due: none

refine detection_library
  cmake/operators.cmake
  paddle/fluid/operators/detection/CMakeLists.txt
Due: none

add pten declaration.h to where pybind.h used
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/framework/async_executor.cc
  paddle/fluid/framework/executor_thread_worker.cc
  paddle/fluid/inference/io.cc
  paddle/fluid/operators/benchmark/op_tester.cc
  paddle/fluid/pybind/eager_op_function_generator.cc
  paddle/fluid/pybind/op_function_generator.cc
  paddle/pten/kernels/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix compile problem
  paddle/fluid/framework/operator.h
  paddle/fluid/framework/pten_utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fit eager legacy for pten
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/prepared_operator.h
  paddle/fluid/imperative/type_defs.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix interpreter_core
  paddle/fluid/framework/new_executor/interpretercore_util.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix compile problem
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/framework/pten_utils.cc
  paddle/fluid/framework/pten_utils.h
  paddle/fluid/imperative/prepared_operator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

support eager legacy
  paddle/fluid/eager/legacy/op_runner.cc
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/eager/legacy/prepared_operator.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fall back to cpu if not found kernel
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/pten_utils.cc
  paddle/fluid/framework/pten_utils.h
  paddle/fluid/imperative/prepared_operator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update cmake file to remove fluid kernel
  cmake/operators.cmake
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/cast_op.cc
  paddle/fluid/operators/cast_op.cu
  paddle/fluid/operators/fused/CMakeLists.txt
  paddle/fluid/operators/nccl/CMakeLists.txt
  paddle/fluid/operators/reduce_ops/CMakeLists.txt
  paddle/fluid/operators/sign_op.cc
  paddle/fluid/operators/sign_op_xpu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

un-cache pt_kernel_context
  paddle/fluid/eager/legacy/op_runner.cc
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/eager/legacy/prepared_operator.h
  paddle/fluid/framework/new_executor/new_executor_defs.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/prepared_operator.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
