Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


fix code
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  paddle/fluid/primitive/composite/composite.h
  test/prim/pir_prim/CMakeLists.txt
  test/prim/pir_prim/test_dynamic_combine1.py
  test/prim/pir_prim/test_dynamic_combine2.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

modify codes according to code review
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/optim/check_tensor_buffer_map.cc
  paddle/cinn/optim/check_tensor_buffer_map.h
  paddle/cinn/optim/check_tensor_buffer_map_test.cc
  paddle/cinn/runtime/flags.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  python/paddle/tensor/linalg.py
Due: copyright_checker, pylint-doc-string

fix compile err
  paddle/cinn/hlir/dialect/operator/transforms/cinn_group_cluster_pass.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/hlir/framework/pir/trivial_op_impl.cc
  paddle/cinn/hlir/framework/pir/trivial_op_impl.h
  paddle/cinn/hlir/framework/pir/trivial_op_util.h
  paddle/cinn/operator_fusion/CMakeLists.txt
  paddle/cinn/operator_fusion/cluster_interface.h
  paddle/cinn/operator_fusion/fusion_interface.cc
  paddle/cinn/operator_fusion/fusion_interface.h
  paddle/cinn/operator_fusion/pattern.h
  paddle/cinn/operator_fusion/pattern_fuser.h
  paddle/cinn/operator_fusion/pir_graph_analyzing/shardable_axes_base.cc
  paddle/cinn/operator_fusion/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Add approval
  tools/check_api_approvals.sh
  tools/check_file_diff_approvals.sh
Due: copyright_checker

fix code2
  paddle/fluid/primitive/composite/composite.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Refine.
  paddle/phi/kernels/flash_attn_kernel.h
  paddle/phi/kernels/gpu/flash_attn_kernel.cu
  python/paddle/nn/functional/flash_attention.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update
  cmake/cinn.cmake
  paddle/cinn/CMakeLists.txt
  paddle/cinn/auto_schedule/auto_tuner.cc
  paddle/cinn/backends/compiler.cc
  paddle/cinn/frontend/CMakeLists.txt
  paddle/cinn/frontend/decomposer_registry.h
  paddle/cinn/frontend/net_builder.cc
  paddle/cinn/frontend/net_builder.h
  paddle/cinn/frontend/op_mapper_registry.cc
  paddle/cinn/frontend/op_mapper_registry.h
  paddle/cinn/frontend/op_mapper_registry_test.cc
  paddle/cinn/frontend/program_pass.cc
  paddle/cinn/frontend/program_pass.h
  paddle/cinn/frontend/var_type_utils.h
  paddle/cinn/hlir/framework/CMakeLists.txt
  paddle/cinn/hlir/framework/visualize_helper.h
  paddle/fluid/pir/transforms/general/delete_quant_dequant_linear_op_pass.h
  paddle/fluid/pir/transforms/general/delete_weight_dequant_linear_op_pass.h
  paddle/fluid/pir/transforms/sub_graph_detector.cc
  paddle/fluid/pir/utils/CMakeLists.txt
  test/CMakeLists.txt
  test/cpp/cinn/CMakeLists.txt
  test/cpp/cinn/benchmark/CMakeLists.txt
  test/cpp/cinn/benchmark/test_all_ops_default.cc
  test/cpp/cinn/benchmark/test_elementwise.cc
  test/cpp/cinn/benchmark/test_elementwise.h
  test/cpp/cinn/benchmark/test_matmul.cc
  test/cpp/cinn/benchmark/test_matmul.h
  test/cpp/cinn/benchmark/test_utils.cc
  test/cpp/cinn/benchmark/test_utils.h
  test/cpp/cinn/concrete_program_builder.h
  test/cpp/cinn/program_builder.cc
  test/cpp/cinn/program_builder.h
  test/cpp/cinn/test01_elementwise_add_case.cc
  test/cpp/cinn/test01_elementwise_add_main.cc
  test/cpp/cinn/test02_helper.h
  test/cpp/cinn/test02_matmul_case.cc
  test/cpp/cinn/test02_matmul_main.cc
  test/cpp/cinn/test03_convolution_main.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

change name and add more info
  paddle/cinn/hlir/dialect/operator/transforms/check_infer_symbolic_util.cc
  paddle/cinn/hlir/dialect/operator/transforms/fuse_shape_ops_into_generate_shape_op_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/group_merge/simplify_dim_expr_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/local_infer_symbolic_util.cc
  paddle/cinn/hlir/dialect/operator/transforms/lowering_pass/collect_sym_expr.cc
  paddle/cinn/hlir/dialect/operator/transforms/pir_to_py_code_converter.cc
  paddle/pir/include/dialect/shape/utils/operation_shape_info.h
  paddle/pir/include/dialect/shape/utils/shape_analysis.h
  paddle/pir/include/dialect/shape/utils/shape_or_data_expr.h
  paddle/pir/src/dialect/shape/transforms/shape_optimization_pass.cc
  paddle/pir/src/dialect/shape/utils/operation_shape_info.cc
  paddle/pir/src/dialect/shape/utils/shape_analysis.cc
  paddle/pir/src/dialect/shape/utils/shape_or_data_expr.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix code3
  paddle/fluid/primitive/composite/composite.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add third_party
  .gitmodules
Due: none

update
  paddle/cinn/hlir/dialect/operator/transforms/lowering_pass/utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix _ParameterConfig && -> None
  python/paddle/optimizer/radam.py
  python/paddle/optimizer/rmsprop.py
  python/paddle/optimizer/rprop.py
  python/paddle/optimizer/sgd.py
Due: copyright_checker, pylint-doc-string

rm None
  python/paddle/optimizer/radam.py
  python/paddle/optimizer/rmsprop.py
Due: copyright_checker, pylint-doc-string

[Typing][A-12] Add type annotations for paddle/tensor/stat.py
  python/paddle/tensor/stat.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/fluid/operators/ops_signature/seed_sig.cc
  paddle/fluid/operators/seed_op.cc
  paddle/fluid/operators/seed_op.cu
  paddle/phi/kernels/cpu/seed_kernel.cc
  paddle/phi/kernels/gpu/seed_kernel.cu
  paddle/phi/kernels/impl/seed_kernel_impl.h
  paddle/phi/ops/yaml/inconsistent/static_ops.yaml
  paddle/phi/ops/yaml/legacy/ops_exclude.yaml
  paddle/phi/ops/yaml/ops.yaml
  test/deprecated/legacy_test/test_seed_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add env.sh
  env.sh
Due: copyright_checker

fix my stupid float type
  python/paddle/vision/models/alexnet.py
  python/paddle/vision/models/lenet.py
Due: copyright_checker, pylint-doc-string

thx megemini; using _typing.Size2
  python/paddle/vision/models/alexnet.py
Due: copyright_checker, pylint-doc-string

update
  paddle/scripts/conda_build.py
  paddle/scripts/conda_build_template.yaml
Due: copyright_checker, pylint-doc-string

[Typing][A-10] Add type annotations for `paddle/tensor/random.py` (#65272)
  python/paddle/tensor/random.py
Due: copyright_checker, pylint-doc-string

fix code4
  paddle/fluid/primitive/composite/composite.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Serde] Keep alphabet order when save dictionary output (#65268)
  python/paddle/utils/layers_utils.py
Due: copyright_checker, pylint-doc-string

[CINN][new hardware] modify not implement info
  paddle/cinn/backends/codegen_device_util.cc
  paddle/cinn/backends/codegen_device_util.h
  paddle/cinn/backends/compiler.cc
  paddle/cinn/frontend/paddle/model_parser.cc
  paddle/cinn/frontend/paddle_model_to_program.cc
  paddle/cinn/hlir/op/nn.cc
  paddle/cinn/pybind/lang.cc
  paddle/cinn/pybind/runtime.cc
  paddle/cinn/runtime/custom_function.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

remove check_tensor_buffer_map_test
  paddle/cinn/optim/CMakeLists.txt
  paddle/cinn/optim/check_tensor_buffer_map.cc
  paddle/cinn/optim/check_tensor_buffer_map_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine pass
  paddle/fluid/pir/dialect/distributed/transforms/fuse_allreduce_split_to_reducescatter_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

remove unused code
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  test/prim/pir_prim/test_dynamic_combine1.py
  test/prim/pir_prim/test_dynamic_combine2.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

python/paddle/vision/models/googlenet.py
  python/paddle/vision/models/googlenet.py
Due: copyright_checker, pylint-doc-string

[Dy2St][Numpy2] Skip ignored module function recursively
  python/paddle/jit/dy2static/convert_call_func.py
Due: copyright_checker, pylint-doc-string

fix review
  python/paddle/tensor/linalg.py
Due: copyright_checker, pylint-doc-string

polish code
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

python/paddle/vision/models/inceptionv3.py
  python/paddle/vision/models/inceptionv3.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/jit/dy2static/convert_call_func.py
  python/unittest_py/requirements.txt
Due: copyright_checker, pylint-doc-string

fix compile bug
  paddle/fluid/pir/utils/CMakeLists.txt
  paddle/fluid/pir/utils/analysis_info.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

python/paddle/vision/models/mobilenetv1.py
  python/paddle/vision/models/mobilenetv1.py
Due: copyright_checker, pylint-doc-string

paddle.Tensor->Tensor; list -> tuple
  python/paddle/vision/models/googlenet.py
Due: copyright_checker, pylint-doc-string

update
  paddle/scripts/conda_build.py
Due: copyright_checker, pylint-doc-string
