Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

update
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

Regularizing the writting codes of index-sample
  paddle/fluid/operators/index_sample_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

move file into paddle.utils.cpp_extension
  python/paddle/fluid/tests/custom_op/setup.py
  python/paddle/fluid/tests/custom_op/test_custom_op.py
  python/paddle/fluid/tests/custom_op/test_custom_op_with_setup.py
  python/paddle/utils/__init__.py
  python/paddle/utils/cpp_extension/__init__.py
  python/paddle/utils/cpp_extension/cpp_extension.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: pylint-doc-string, copyright_checker

run under rank table
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_parser.py
Due: pylint-doc-string, copyright_checker

support python setup.py install
  python/paddle/fluid/framework.py
  python/paddle/fluid/tests/custom_op/setup.py
  python/paddle/fluid/tests/custom_op/test_custom_op.py
  python/paddle/fluid/tests/custom_op/test_jit_load.py
  python/paddle/utils/cpp_extension/cpp_extension.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: pylint-doc-string, copyright_checker

delete useless print and fix cast bug
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_parser.py
Due: pylint-doc-string, copyright_checker

refine code style
  python/paddle/fluid/tests/custom_op/setup.py
  python/paddle/utils/cpp_extension/__init__.py
  python/paddle/utils/cpp_extension/cpp_extension.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: pylint-doc-string, copyright_checker

Fleet distributed strategy support pure fp16 (#30754)
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/base/distributed_strategy.py
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/distributed/fleet/base/strategy_compiler.py
  python/paddle/distributed/fleet/meta_optimizers/amp_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/graph_execution_optimizer.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/fleet_meta_optimizer_base.py
  python/paddle/fluid/tests/unittests/test_fleet_amp_init.py
  python/paddle/fluid/tests/unittests/test_fleet_amp_meta_optimizer.py
  python/paddle/fluid/tests/unittests/test_fleet_base_single.py
  python/paddle/fluid/tests/unittests/test_fleet_gradient_merge_meta_optimizer.py
  python/paddle/optimizer/adam.py
Due: clang-format-with-version-check, pylint-doc-string, copyright_checker

Ascendrc add converted op : [range/equal/range/uniform_random/expand/squeeze], fix cast op bug (#30797)
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_parser.py
Due: pylint-doc-string, copyright_checker

fix malloc L3 failed bug for kunlun (#30745)
  paddle/fluid/platform/device_context.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Make Lamb optimizer support AMP O2 strategy
  paddle/fluid/operators/optimizers/lamb_op.cc
  paddle/fluid/operators/optimizers/lamb_op.cu
  paddle/fluid/operators/optimizers/lamb_op.h
  python/paddle/fluid/contrib/tests/test_multi_precision_fp16_train.py
  python/paddle/optimizer/lamb.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add decorator
  python/paddle/nn/functional/activation.py
  python/paddle/nn/functional/loss.py
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

Change PR-CI-PY3 cc version (#30771)
  tools/dockerfile/build_scripts/build_utils.sh
  tools/dockerfile/ci_dockerfile.sh
Due: none

add bkcl_context_test and fix error messages (#1)
  paddle/fluid/imperative/bkcl_context.cc
  paddle/fluid/imperative/tests/CMakeLists.txt
  paddle/fluid/imperative/tests/bkcl_context_test.cc
  paddle/fluid/platform/collective_helper.cc
  python/paddle/fluid/dygraph/parallel.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
  python/paddle/fluid/tests/unittests/test_parallel_dygraph_mnist.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Dygraph supports multi xpu card training
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/imperative/bkcl_context.cc
  paddle/fluid/imperative/bkcl_context.h
  paddle/fluid/imperative/reducer.cc
  paddle/fluid/imperative/reducer.h
  paddle/fluid/imperative/tests/CMakeLists.txt
  paddle/fluid/imperative/tests/test_group.cc
  paddle/fluid/operators/collective/CMakeLists.txt
  paddle/fluid/operators/collective/broadcast_op_xpu.cc
  paddle/fluid/operators/math/concat_and_split.cc
  paddle/fluid/platform/collective_helper.cc
  paddle/fluid/platform/collective_helper.h
  paddle/fluid/platform/gen_comm_id_helper.cc
  paddle/fluid/platform/gen_comm_id_helper.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/imperative.cc
  python/paddle/distributed/fleet/launch.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/distributed/parallel.py
  python/paddle/fluid/dygraph/parallel.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Fix XPU fill_constant place, to_tensor place
  paddle/fluid/operators/math/math_function.h
  paddle/fluid/operators/math/math_function_impl.h
  paddle/fluid/pybind/tensor_py.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Mulit xpu dygraph (#2)
  paddle/fluid/platform/device_context.cc
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/fluid/tests/unittests/detected_xpu.py
  python/paddle/fluid/tests/unittests/nproc_process.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
  python/paddle/fluid/tests/unittests/test_fleet_launch_nproc.sh
  python/paddle/fluid/tests/unittests/test_parallel_dygraph_mnist.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Fix the document errors of lamb
  python/paddle/optimizer/lamb.py
Due: pylint-doc-string, copyright_checker

fix unittest
  python/paddle/vision/datasets/flowers.py
Due: pylint-doc-string, copyright_checker

[WIP]: adding the shared-memory mechnism into the elementwise CUDA OP
  paddle/fluid/operators/elementwise/elementwise_op_function.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fixed data type of reserve_space
  paddle/fluid/operators/batch_norm_op.cu
  python/paddle/fluid/dygraph/nn.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_batch_norm_op.py
  python/paddle/nn/functional/norm.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

format
  paddle/fluid/framework/fleet/heter_ps/hashtable.h
  paddle/fluid/framework/fleet/heter_ps/hashtable_inl.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
  paddle/fluid/framework/fleet/heter_ps/optimizer.cuh.h
  paddle/fluid/framework/fleet/ps_gpu_wrapper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

format
  paddle/fluid/framework/fleet/heter_ps/heter_ps.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add ranksize
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_optimizer.py
Due: pylint-doc-string, copyright_checker

fix unittest random error
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_slice_plugin.py
Due: pylint-doc-string, copyright_checker

optimize range op by place parameters on cpu rather than gpu, test=develop
  paddle/fluid/operators/range_op.cu
  python/paddle/fluid/layers/tensor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Add paddle ascend distribution training supported (#30796)
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_parser.py
Due: pylint-doc-string, copyright_checker

add DLA support：C++&&Python api (#30165)
  paddle/fluid/inference/analysis/argument.h
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/tensorrt_subgraph_pass.cc
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/inference/tests/api/trt_mobilenet_test.cc
  paddle/fluid/pybind/inference_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update Xbyak to v5.81
  cmake/external/xbyak.cmake
  paddle/fluid/operators/jit/gen/jitcode.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[ROCM] update fluid memory for rocm35 (part1), test=develop (#30758)
  paddle/fluid/memory/CMakeLists.txt
  paddle/fluid/memory/allocation/allocator_facade.cc
  paddle/fluid/memory/allocation/allocator_facade_abs_flags_test.cc
  paddle/fluid/memory/allocation/allocator_facade_frac_flags_test.cc
  paddle/fluid/memory/allocation/auto_growth_best_fit_allocator_facade_test.cc
  paddle/fluid/memory/allocation/cuda_allocator.cc
  paddle/fluid/memory/allocation/cuda_device_context_allocator.h
  paddle/fluid/memory/allocation/naive_best_fit_allocator.cc
  paddle/fluid/memory/allocation/naive_best_fit_allocator_test.cc
  paddle/fluid/memory/allocation/pinned_allocator.cc
  paddle/fluid/memory/allocation/retry_allocator_test.cc
  paddle/fluid/memory/detail/CMakeLists.txt
  paddle/fluid/memory/detail/buddy_allocator.cc
  paddle/fluid/memory/detail/buddy_allocator_test.cc
  paddle/fluid/memory/detail/system_allocator.cc
  paddle/fluid/memory/detail/system_allocator.h
  paddle/fluid/memory/detail/system_allocator_test.cc
  paddle/fluid/memory/memcpy.cc
  paddle/fluid/memory/memcpy.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update, test=develop
  paddle/fluid/framework/section_worker.cc
  python/paddle/fluid/optimizer.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

distingush cpu and gpu name
  tools/dockerfile/ubuntu16_dev.sh
  tools/dockerfile/ubuntu18_dev.sh
Due: none

fix int64 bug (#30780)
  paddle/fluid/distributed/service/communicator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test=develop, fix nonzero astuple=true (#30647) (#30806)
  python/paddle/tensor/search.py
Due: pylint-doc-string, copyright_checker

dump to cpu (#30750)
  paddle/fluid/framework/fleet/heter_ps/feature_value.h
  paddle/fluid/framework/fleet/heter_ps/hashtable.h
  paddle/fluid/framework/fleet/heter_ps/hashtable_inl.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
  paddle/fluid/framework/fleet/heter_ps/heter_ps.cu
  paddle/fluid/framework/fleet/heter_ps/heter_ps.h
  paddle/fluid/framework/fleet/heter_ps/heter_ps_base.h
  paddle/fluid/framework/fleet/heter_ps/optimizer.cuh.h
  paddle/fluid/framework/fleet/heter_ps/test_comm.cu
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cc
  paddle/fluid/framework/fleet/ps_gpu_wrapper.h
  paddle/fluid/pybind/ps_gpu_wrapper_py.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
