Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix test_partial_program failed
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_partial_program.py
Due: pylint-doc-string, copyright_checker

hapi/model step learning rate on batch end. test=develop
  python/paddle/hapi/model.py
Due: pylint-doc-string, copyright_checker

change paddle.fluid.data to paddle.static.data in sample code
  python/paddle/fluid/framework.py
  python/paddle/nn/functional/input.py
Due: pylint-doc-string, copyright_checker

fix code example
  python/paddle/nn/layer/common.py
Due: pylint-doc-string, copyright_checker

fix concat bug,test=kunlun
  paddle/fluid/operators/concat_op_xpu.cc
  python/paddle/fluid/tests/unittests/xpu/test_concat_op_xpu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

format test_retain_graph.py
  python/paddle/fluid/tests/unittests/test_retain_graph.py
Due: pylint-doc-string, copyright_checker

error message optimization in mean_xpu,softmax_with_cross_entropy_op_xpu,test=kunlun (#27968)
  paddle/fluid/operators/mean_op_xpu.cc
  paddle/fluid/operators/softmax_with_cross_entropy_op_xpu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update code examples for paddle.sums
  python/paddle/fluid/dygraph/varbase_patch_methods.py
  python/paddle/fluid/framework.py
Due: pylint-doc-string, copyright_checker

【paddle.fleet】geo send sparse optimize (#27719) (#27979)
  paddle/fluid/operators/distributed/communicator.cc
  python/paddle/distributed/fleet/base/role_maker.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/fluid/incubate/fleet/parameter_server/ir/trainer_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

change paddle.fluid.layers.fill_constant to paddle.full in sample codes
  python/paddle/fluid/layers/control_flow.py
  python/paddle/tensor/creation.py
  python/paddle/tensor/math.py
  python/paddle/tensor/random.py
Due: pylint-doc-string, copyright_checker

add the timeout value setting
  paddle/fluid/operators/distributed/CMakeLists.txt
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/dygraph_to_static/CMakeLists.txt
  python/paddle/tests/CMakeLists.txt
Due: none

add some unittest
  paddle/fluid/inference/tensorrt/plugin/gelu_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/slice_op_plugin.cu
  python/paddle/fluid/tests/unittests/ir/inference/inference_pass_test.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_slice_plugin.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_subgraph_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix error caused by ut only run in coverage_ci
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/tests/CMakeLists.txt
Due: none

adjust ci rules
  paddle/fluid/platform/enforce_test.cc
  tools/check_file_diff_approvals.sh
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix random failure
  python/paddle/fluid/tests/unittests/test_initializer.py
Due: pylint-doc-string, copyright_checker

revert enforce test change, test=document_fix
  paddle/fluid/platform/enforce_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[cherry-pick2.0]Add tensor clone 2.0 (#27982)
  paddle/fluid/framework/tensor_util.cc
  paddle/fluid/operators/assign_op.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/tests/unittests/test_var_base.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Reimplement paddle.utils.install_check. (#27771)
  python/paddle/fluid/install_check.py
  python/paddle/fluid/tests/unittests/test_install_check.py
  python/paddle/utils/__init__.py
  python/paddle/utils/install_check.py
Due: pylint-doc-string, copyright_checker

fix DataLoader single process mode exit SIGABRT error. (#27850)
  python/paddle/fluid/dataloader/dataloader_iter.py
Due: pylint-doc-string, copyright_checker

fix norm code format error (#27955)
  python/paddle/nn/functional/norm.py
Due: pylint-doc-string, copyright_checker

step lr_scheduler on epoch end in hapi/model.py fit (#27730)
  python/paddle/hapi/model.py
  python/paddle/tests/test_model.py
Due: pylint-doc-string, copyright_checker

Fix problem with flags fp32 and int8 (#27954)
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/tester_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

【paddle.fleet】raise error when using multi-cards in fleet non_distributed mode (#27854)
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_fleet_base.py
  python/paddle/fluid/tests/unittests/test_fleet_base_single.py
Due: pylint-doc-string, copyright_checker

fix slice doc (#27941)
  python/paddle/fluid/layers/nn.py
Due: pylint-doc-string, copyright_checker

support channel last in BatchNorm*d
  paddle/fluid/operators/batch_norm_op.h
  paddle/fluid/operators/conv_op.h
  paddle/fluid/operators/layout_utils.h
  python/paddle/fluid/tests/unittests/test_batch_norm_op_v2.py
  python/paddle/nn/functional/norm.py
  python/paddle/nn/layer/norm.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Feature/large scale kv save base/delta (#27470)
  paddle/fluid/operators/distributed/CMakeLists.txt
  paddle/fluid/operators/distributed/brpc/brpc_client.cc
  paddle/fluid/operators/distributed/brpc/brpc_client.h
  paddle/fluid/operators/distributed/grpc/grpc_client.cc
  paddle/fluid/operators/distributed/grpc/grpc_client.h
  paddle/fluid/operators/distributed/grpc/grpc_server.cc
  paddle/fluid/operators/distributed/large_scale_kv.h
  paddle/fluid/operators/distributed/request_handler_impl.cc
  paddle/fluid/operators/distributed/rpc_client.h
  paddle/fluid/operators/distributed/rpc_server_test.cc
  paddle/fluid/operators/distributed_ops/checkpoint_notify_op.cc
  paddle/fluid/pybind/communicator_py.cc
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/distributed/fleet/runtime/parameter_server_runtime.py
  python/paddle/fluid/communicator.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_ps2.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

reshape support bool, test=develop (#27944)
  paddle/fluid/operators/reshape_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_reshape_op.py
  python/paddle/tensor/manipulation.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bug of tensor copy of CUDAPinnedPlace (#27966)
  paddle/fluid/framework/tensor_util.cc
  python/paddle/fluid/tests/unittests/test_var_base.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

【paddle.fleet】geo send sparse optimize (#27719)
  paddle/fluid/operators/distributed/communicator.cc
  python/paddle/distributed/fleet/base/role_maker.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/fluid/incubate/fleet/parameter_server/ir/trainer_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add tensor clone (#27953)
  paddle/fluid/operators/assign_op.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/tests/unittests/test_var_base.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Add reduce sum and reduce mean xpu op (#27939)
  paddle/fluid/operators/reduce_ops/reduce_mean_op_xpu.cc
  paddle/fluid/operators/reduce_ops/reduce_sum_op_xpu.cc
  python/paddle/fluid/tests/unittests/xpu/test_reduce_mean_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_reduce_sum_op_xpu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

change paddle.fluid.layers.reduce_mean to paddle.mean
  python/paddle/amp/grad_scaler.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/simnet_dygraph_model_v2.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ptb_lm_v2.py
  python/paddle/fluid/tests/unittests/test_lr_scheduler.py
  python/paddle/fluid/tests/unittests/test_retain_graph.py
  python/paddle/optimizer/lr.py
  python/paddle/optimizer/optimizer.py
Due: pylint-doc-string, copyright_checker

change paddle.fluid.layers.reduce_mean to paddle.mean
  python/paddle/fluid/tests/unittests/test_retain_graph.py
Due: pylint-doc-string, copyright_checker

transfer assign 2.0,test=develop
  python/paddle/__init__.py
  python/paddle/fluid/contrib/extend_optimizer/extend_optimizer_with_weight_decay.py
  python/paddle/fluid/contrib/tests/test_weight_decay_extend.py
  python/paddle/fluid/dygraph/dygraph_to_static/list_transformer.py
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/layers/learning_rate_scheduler.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/sequence_lod.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/test_if_else_op.py
  python/paddle/fluid/tests/unittests/sequence/test_sequence_pad_op.py
  python/paddle/fluid/tests/unittests/test_assign_value_op.py
  python/paddle/fluid/tests/unittests/test_eager_deletion_padding_rnn.py
  python/paddle/fluid/tests/unittests/test_fetch_var.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_nn_functional_hot_op.py
  python/paddle/fluid/tests/unittests/test_one_hot_v2_op.py
  python/paddle/fluid/tests/unittests/test_weight_decay.py
  python/paddle/optimizer/adamw.py
  python/paddle/tensor/creation.py
Due: pylint-doc-string, copyright_checker

- Fix to residual conv
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

- compilation fix
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

change paddle.fluid.layers.reduce_sum to paddle.sum in sample codes
  paddle/fluid/pybind/imperative.cc
  python/paddle/nn/functional/loss.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker
