Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker, auto-generate-cmakelists

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.14
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/psf/black.git
    rev: 22.8.0
    hooks:
    -   id: black
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: |
            (?x)^(
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py|
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_origin_info.py
            )$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: (op|backward|op_[a-z_]+)\.yaml$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$
        exclude: |
            (?x)^(
                paddle/fluid/distributed/ps/thirdparty/round_robin.h
            )$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: |
            (?x)^(
                paddle/utils/.*
            )$
-   repo: local
    hooks:
    -   id: auto-generate-cmakelists
        name: auto-generate-cmakelists
        entry: bash ./tools/gen_ut_cmakelists.hook
        language: system
        files: testslist.csv$
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        # exclude paddle/fluid/operators/CMakeLists.txt, see the comment
        # https://github.com/PaddlePaddle/Paddle/pull/43057#pullrequestreview-993471860
        exclude: |
            (?x)^(
                paddle/fluid/operators/CMakeLists.txt
            )$

-   repo: https://github.com/cmake-lint/cmake-lint
    rev: 1.4.2
    hooks:
    -   id: cmakelint
        args: [--config=./tools/codestyle/.cmakelintrc]

update.
  python/paddle/distributed/fleet/meta_parallel/sharding/group_sharded_stage3.py
  python/paddle/distributed/sharding/group_sharded.py
Due: pylint-doc-string, copyright_checker

modify convert_call_func.py Sequential reference
  python/paddle/jit/dy2static/convert_call_func.py
Due: pylint-doc-string, copyright_checker

fix unitest
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_one_hot.py
Due: pylint-doc-string, copyright_checker

update.
  cmake/external/dgc.cmake
Due: none

update clip
  python/paddle/nn/clip.py
Due: pylint-doc-string, copyright_checker

merge gpugraph to develop, fix hip compile
  paddle/phi/kernels/gpu/graph_reindex_kernel.cu
Due: clang-format, cpplint-cpp-source, copyright_checker

convert all ‘phi::DenseTensor’ in comments to 'Tensor'
  paddle/fluid/imperative/gradient_accumulator.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

add unit test
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/delete_weight_dequant_linear_op_pass_tester.cc
  paddle/fluid/framework/ir/pass_tester_helper.h
Due: clang-format, cpplint-cpp-source, copyright_checker

fix error info
  paddle/fluid/framework/ir/delete_weight_dequant_linear_op_pass.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

delete shape api (#48546)
  python/paddle/distribution/normal.py
  python/paddle/fluid/contrib/layers/rnn_impl.py
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/rnn.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/ifelse_simple_func.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/seq2seq_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/simnet_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_bmn.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_dict.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_lac.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_tensor_shape.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/yolov3.py
  python/paddle/fluid/tests/unittests/test_dynamic_rnn_stop_gradient.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_rnn_cell_api.py
  python/paddle/fluid/tests/unittests/test_rnn_decode_api.py
  python/paddle/fluid/tests/unittests/test_static_shape_inferrence_for_shape_tensor.py
  python/paddle/fluid/tests/unittests/test_while_loop_op.py
  python/paddle/jit/dy2static/ast_transformer.py
  python/paddle/jit/dy2static/convert_operators.py
  python/paddle/tensor/attribute.py
Due: pylint-doc-string, copyright_checker

fix scale cost
  python/paddle/fluid/tests/unittests/auto_parallel_gpt_model.py
Due: pylint-doc-string, copyright_checker

fix bug of reducer in best_fit (#48668)
  paddle/fluid/distributed/collective/reducer.cc
  paddle/fluid/distributed/collective/reducer.h
  python/paddle/fluid/tests/unittests/test_parallel_dygraph_dataparallel.py
Due: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix cmake
  paddle/phi/backends/CMakeLists.txt
Due: none

delete ununsed var
  paddle/fluid/framework/ir/delete_weight_dequant_linear_op_pass_tester.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

[PHI decoupling] migrate poly_util.h to phi (#48499)
  paddle/phi/kernels/funcs/detection/nms_util.h
  paddle/phi/kernels/funcs/detection/poly_util.cc
  paddle/phi/kernels/funcs/detection/poly_util.h
Due: clang-format, cpplint-cpp-source, copyright_checker

[Fluid Clean] remove nn.topk, nn.ctc_greedy_decoder, nn.im2sequence, nn.multiplex, nn.smooth_l1 (#48289)
  paddle/phi/kernels/funcs/transpose_functor.cu.h
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/dist_transformer.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/seq2seq_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/transformer_dygraph_model.py
  python/paddle/fluid/tests/unittests/ipu/test_topk_op_ipu.py
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
  python/paddle/fluid/tests/unittests/test_beam_search_op.py
  python/paddle/fluid/tests/unittests/test_ctc_align.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_smooth_l1_loss_op.py
Due: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Fluid Clean] remove fluid.layers.continuous_value_model (#48509)
  python/paddle/fluid/layers/nn.py
  python/paddle/static/nn/__init__.py
Due: pylint-doc-string, copyright_checker

Revert "fix onednn bugs"
  paddle/fluid/framework/operator.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

fix custom operator backward=None (#48656)
  paddle/fluid/eager/custom_operator/custom_operator_node.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

stage2 overlap
  python/paddle/distributed/passes/auto_parallel_sharding.py
Due: pylint-doc-string, copyright_checker

fix
  paddle/fluid/inference/tests/api/trt_dynamic_shape_ernie_serialize_deserialize_test.h
  paddle/fluid/inference/tests/api/trt_dynamic_shape_ernie_test.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/framework/operator.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

grad clip deps
  python/paddle/distributed/passes/auto_parallel_grad_clip.py
Due: pylint-doc-string, copyright_checker

Setuptools (#48301)
  .pre-commit-config.yaml
  paddle/scripts/paddle_build.sh
  python/CMakeLists.txt
  python/env_dict.py.in
  setup.py
Due: pylint-doc-string, copyright_checker

fix cmake
  paddle/fluid/platform/CMakeLists.txt
  paddle/phi/core/CMakeLists.txt
Due: none

update
  python/paddle/fluid/tests/unittests/test_layers.py
Due: pylint-doc-string, copyright_checker

revert to success interpreter
  paddle/fluid/framework/new_executor/interpreter/dependency_builder.h
  paddle/fluid/framework/new_executor/interpretercore.h
Due: clang-format, cpplint-cpp-source, copyright_checker

update recmupute
  python/paddle/distributed/passes/auto_parallel_recompute.py
Due: pylint-doc-string, copyright_checker

[Clean fluid] Clean hash, grid_sampler, log_loss, bilinear_tensor_product. (#48411)
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/npu/test_log_loss_op_npu.py
  python/paddle/fluid/tests/unittests/test_fleet.py
  python/paddle/fluid/tests/unittests/test_fleet_nocvm_1.py
  python/paddle/fluid/tests/unittests/test_fleet_rolemaker.py
  python/paddle/fluid/tests/unittests/test_fleet_rolemaker_2.py
  python/paddle/fluid/tests/unittests/test_fleet_rolemaker_3.py
  python/paddle/fluid/tests/unittests/test_fleet_unitaccessor.py
  python/paddle/fluid/tests/unittests/test_hash_op.py
  python/paddle/fluid/tests/unittests/test_imperative_deepcf.py
  python/paddle/fluid/tests/unittests/test_imperative_load_static_param.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_log_loss_op.py
  python/paddle/static/nn/__init__.py
  python/paddle/static/nn/common.py
Due: pylint-doc-string, copyright_checker

fix code styles
  paddle/phi/kernels/funcs/broadcast_function.h
Due: clang-format, cpplint-cpp-source, copyright_checker
