Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

fft: modify sample code result (#36325)
  python/paddle/tensor/fft.py
Due: pylint-doc-string, copyright_checker

fix
  python/paddle/nn/functional/__init__.py
Due: pylint-doc-string, copyright_checker

Support Scalar in Tensor Compute Library
  paddle/tcmpt/api/include/creation.h
  paddle/tcmpt/api/src/creation.cc
  paddle/tcmpt/core/kernel_utils.h
  paddle/tcmpt/core/scalar.h
  paddle/tcmpt/cpu/fill.cc
  paddle/tcmpt/cpu/fill.h
  paddle/tcmpt/cuda/fill.cu
  paddle/tcmpt/cuda/fill.h
  paddle/tcmpt/tests/test_fill_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update develop
  paddle/fluid/operators/fused/cudnn_norm_conv_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update the document for the mm
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

fix coverage
  paddle/fluid/operators/viterbi_decode_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix windows ci bug
  python/paddle/tests/test_async_read_write.py
Due: pylint-doc-string, copyright_checker

fix bugs in mp_layers、pp_layers and HybridParallelClipGrad (#36144)
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/pp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_pp_alexnet.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_pp_clip_grad.py
  python/paddle/fluid/tests/unittests/test_parallel_dygraph_pipeline_parallel.py
Due: pylint-doc-string, copyright_checker

remove tokenizer redundant code
  paddle/fluid/operators/string/bert_tokenizer_op.cc
  paddle/fluid/operators/string/bert_tokenizer_op.h
  python/paddle/fluid/tests/unittests/test_bert_tokenizer_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

change input argument error type
  paddle/fluid/pybind/imperative.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Set NIGHTLY tag for 'tensordot' UT
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

Add pool2d test convert (#36338)
  paddle/fluid/inference/tensorrt/convert/pool2d_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_pool2d.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix windows bug that python virtual env can't find python executable
  python/paddle/dataset/image.py
Due: pylint-doc-string, copyright_checker

[NPU] add int64 kernel for slice, test=develop (#36328)
  paddle/fluid/operators/scale_op_npu.cc
  paddle/fluid/operators/slice_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_slice_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

test=npu-dist; update
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Update loss.py
  python/paddle/nn/functional/loss.py
Due: pylint-doc-string, copyright_checker

Fix the bug when axis is specified and weight is provided
  python/paddle/fluid/tests/unittests/test_cross_entropy_loss.py
  python/paddle/nn/functional/loss.py
Due: pylint-doc-string, copyright_checker

Update test_cross_entropy_loss.py
  python/paddle/fluid/tests/unittests/test_cross_entropy_loss.py
Due: pylint-doc-string, copyright_checker

Support Py3 type annotations in @to_static
  python/paddle/fluid/dygraph/dygraph_to_static/static_analysis.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
Due: pylint-doc-string, copyright_checker

add unittest for dygraph clipGlobalNorm
  python/paddle/fluid/tests/unittests/test_gradient_clip.py
Due: pylint-doc-string, copyright_checker

fix test_trt_fc_fuse_quant_dequant_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_fc_fuse_quant_dequant_pass.py
Due: pylint-doc-string, copyright_checker

edit shrink and unseenday logit for pslib;test=develop
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  paddle/fluid/framework/fleet/fleet_wrapper.h
  paddle/fluid/framework/fleet/heter_ps/hashtable_inl.h
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cc
  paddle/fluid/framework/fleet/ps_gpu_wrapper.h
  paddle/fluid/pybind/fleet_wrapper_py.cc
  paddle/fluid/pybind/ps_gpu_wrapper_py.cc
  python/paddle/fluid/dataset.py
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/__init__.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

edit for gpubox ci;test=develop
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test=npudist; update
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
