Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


fix some error
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

add bf16 for mode
  paddle/phi/kernels/gpu/mode_grad_kernel.cu
  paddle/phi/kernels/gpu/mode_kernel.cu
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

remove random seed 666
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

try to fix op_type error
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

add fp,bf for lastdim
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

try to fix op_type
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

test for me
  python/paddle/fluid/tests/unittests/test_mode_op.py
Due: copyright_checker, pylint-doc-string

test=document_fix
  test/cpp/ir/ir_op_test.cc
  test/cpp/ir/ir_value_test.cc
  test/legacy_test/test_audio_datasets.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

merge develop
  paddle/phi/kernels/assign_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Remove is_causal.
  paddle/fluid/operators/fused/fused_gate_attention.h
Due: copyright_checker, clang-format, cpplint-cpp-source

clean code and adjust some .h
  paddle/fluid/inference/analysis/analyzer.cc
  paddle/fluid/inference/analysis/analyzer.h
  paddle/fluid/inference/analysis/device.h
  paddle/fluid/inference/analysis/dot_tester.cc
  paddle/fluid/inference/analysis/flags.h
  paddle/fluid/inference/analysis/passes/ir_analysis_pass.cc
  paddle/fluid/inference/analysis/passes/ir_analysis_pass.h
  paddle/fluid/inference/analysis/passes/ir_graph_build_pass.cc
  paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.cc
  paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.h
  paddle/fluid/inference/analysis/passes/memory_optimize_pass.cc
  paddle/fluid/inference/analysis/passes/memory_optimize_pass.h
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/README.md
  paddle/fluid/inference/api/high_level_api.md
  paddle/fluid/inference/api/high_level_api_cn.md
  paddle/fluid/inference/engine.h
Due: copyright_checker, clang-format, cpplint-cpp-source

recovery some type error
  paddle/phi/core/dense_tensor_impl.cc
  paddle/phi/ops/compat/assign_value_sig.cc
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix windows bugs
  cmake/configure.cmake
  paddle/fluid/eager/auto_code_generator/CMakeLists.txt
  paddle/fluid/pybind/CMakeLists.txt
  paddle/phi/CMakeLists.txt
  python/env_dict.py.in
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string

resolve conflicts
  paddle/phi/kernels/CMakeLists.txt
Due: none

[XPU] remove clip of c_softmax_with_cross_entropy_op (#53734)
  paddle/fluid/operators/collective/c_softmax_with_cross_entropy_op_xpu.cc
  test/xpu/collective_softmax_with_cross_entropy_op_xpu.py
  test/xpu/test_collective_softmax_with_cross_entropy_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bugs
  cmake/configure.cmake
Due: none

fix dtype missmatch error (#53712)
  python/paddle/static/amp/fp16_utils.py
Due: copyright_checker, pylint-doc-string

add static flag
  paddle/phi/CMakeLists.txt
Due: none

[Cherry-Pick] Fix bug in log_softmax kernel when lastdim is larger than 100000 (#53656)
  paddle/phi/kernels/gpudnn/softmax_gpudnn.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Update test_poisson_op.py
  python/paddle/fluid/tests/unittests/test_poisson_op.py
Due: copyright_checker, pylint-doc-string

Fix the index calculation in cross_entroy_kernel. (#53659)
  paddle/phi/kernels/gpu/cross_entropy_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bf16 cpu support problem
  python/paddle/fluid/tests/unittests/test_elementwise_min_op.py
Due: copyright_checker, pylint-doc-string

clip,cast,flatten_contiguous_range trt op converter support zero dim
  paddle/fluid/inference/tensorrt/convert/flatten_contiguous_range_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  test/ir/inference/test_trt_convert_flatten_contiguous_range.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update
  paddle/fluid/inference/tensorrt/engine.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix add_n kernel of large shape
  paddle/phi/kernels/gpu/add_n_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

update
  python/paddle/static/amp/decorator.py
  python/paddle/static/amp/fp16_lists.py
  python/paddle/static/amp/fp16_utils.py
Due: copyright_checker, pylint-doc-string

remove _in_eager_mode_
  python/paddle/autograd/backward_mode.py
  python/paddle/fluid/dygraph/tensor_patch_methods.py
  python/paddle/fluid/tests/unittests/test_run_program_op.py
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/static/amp/decorator.py
Due: copyright_checker, pylint-doc-string

fix add_n kernel of large shape (#53751)
  paddle/phi/kernels/gpu/add_n_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix program destructor
  paddle/fluid/translator/CMakeLists.txt
  paddle/fluid/translator/program_translator.cc
  paddle/fluid/translator/program_translator.h
  paddle/fluid/translator/translate.cc
  paddle/fluid/translator/translate.h
  paddle/fluid/translator/translation_context.h
  paddle/ir/program.cc
  paddle/ir/value.h
  test/cpp/ir/ir_program_test.cc
  test/cpp/ir/program_translator_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

test(prim-cinn): split test_resnet and test_bert into three tests (#53723)
  test/prim/model/CMakeLists.txt
  test/prim/model/test_bert_cinn.py
  test/prim/model/test_bert_prim.py
  test/prim/model/test_resnet_cinn.py
  test/prim/model/test_resnet_prim.py
Due: copyright_checker, pylint-doc-string

Update test_bernoulli_op.py
  python/paddle/fluid/tests/unittests/test_bernoulli_op.py
Due: copyright_checker, pylint-doc-string

fix embedding model weight type mismatch error
  python/paddle/static/amp/fp16_utils.py
  test/amp/test_amp_o2_embedding_model.py
Due: copyright_checker, pylint-doc-string

fix sigmoid_elementmul_fuse_pass
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/sigmoid_elementmul_fuse_pass.cc
  paddle/fluid/framework/ir/sigmoid_elementmul_fuse_pass.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  test/ir/inference/test_xpu_sigmoid_elementmul_fuse_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bug of test_pad_op for cinn
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  python/paddle/fluid/tests/unittests/test_pad_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Fix bug of hybrid_parallel_optimizer, amp use scaler.minimize(), however it can't deal with group of parameter_list of dict.
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
Due: copyright_checker, pylint-doc-string

[LAUNCH] add log overwrite flag (#53608) (#53757)
  python/paddle/distributed/launch/context/args_envs.py
  python/paddle/distributed/launch/controllers/controller.py
  python/paddle/distributed/launch/job/container.py
Due: copyright_checker, pylint-doc-string
