Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

add fatten/flatten2 trt converter test cases
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_flatten.py
Due: pylint-doc-string, copyright_checker

add hard_sigmoid trt converter test cases
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_hard_sigmoid.py
Due: pylint-doc-string, copyright_checker

Change the function name from Apply to CallFunctor.
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
  paddle/fluid/platform/function_traits.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

polish code
  python/paddle/utils/cpp_extension/cpp_extension.py
Due: pylint-doc-string, copyright_checker

Add Test Coverage
  python/paddle/fluid/clip.py
  python/paddle/fluid/tests/unittests/test_gradient_clip.py
Due: pylint-doc-string, copyright_checker

Windows
  paddle/fluid/platform/gpu_launch_config.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[NPU]add depthwise_conv_npu_grad op (#35374)
  paddle/fluid/operators/conv_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_conv2d_op_depthwise_conv_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

operators/flatten_op.cc add AsExtra
  paddle/fluid/operators/flatten_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add AsExtra tag for conv transpose op (#35354)
  paddle/fluid/operators/conv_transpose_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix data_layout in data_norm op
  python/paddle/fluid/layers/nn.py
Due: pylint-doc-string, copyright_checker

Fix the bug the setting OutT to InT.
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

for code coverage rate
  python/paddle/fluid/tests/unittests/test_gradient_clip.py
Due: pylint-doc-string, copyright_checker

fix bug
  paddle/fluid/operators/margin_cross_entropy_op.cu
  python/paddle/fluid/tests/unittests/test_class_center_sample_op.py
  python/paddle/fluid/tests/unittests/test_margin_cross_entropy_op.py
  python/paddle/nn/functional/common.py
  python/paddle/nn/functional/loss.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Support Reset for DeviceEvent (#35443)
  paddle/fluid/platform/device_event_base.cc
  paddle/fluid/platform/device_event_base.h
  paddle/fluid/platform/device_event_gpu.cc
  paddle/fluid/platform/device_event_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

delete memory copy
  paddle/fluid/operators/index_select_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix unittest on Windows
  python/paddle/fluid/tests/unittests/interpreter/test_standalone_executor.py
Due: pylint-doc-string, copyright_checker

fix
  paddle/fluid/framework/data_feed.cc
  paddle/fluid/operators/collective/c_comm_init_multitrainer_op.cc
  python/paddle/fluid/dataset.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Integrate all parts of auto parallel and improve codes
  python/paddle/distributed/auto_parallel/completion.py
  python/paddle/distributed/auto_parallel/operators/dist_matmul.py
  python/paddle/distributed/auto_parallel/utils.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_completion.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_completion_gpt.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_parallelizer.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_partitioner.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_partitioner_gpt.py
Due: pylint-doc-string, copyright_checker

Use const & in function's parameters.
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Modify distributed_strategy.proto to conform the main stream
  paddle/fluid/framework/distributed_strategy.proto
Due: clang-format-with-version-check, copyright_checker

add kernel, stride check (#35106)
  python/paddle/fluid/tests/unittests/test_pool1d_api.py
  python/paddle/fluid/tests/unittests/test_pool2d_api.py
  python/paddle/fluid/tests/unittests/test_pool3d_api.py
  python/paddle/nn/functional/pooling.py
Due: pylint-doc-string, copyright_checker

Restore parts of distributed_strategy to conform the develop branch
  python/paddle/distributed/fleet/base/distributed_strategy.py
Due: pylint-doc-string, copyright_checker

Modify as WangZheng review comment
  python/paddle/fluid/clip.py
Due: pylint-doc-string, copyright_checker

perfect unit test
  python/paddle/fluid/tests/unittests/test_eigh_op.py
  python/paddle/tensor/linalg.py
Due: pylint-doc-string, copyright_checker

delete unused reference
  python/paddle/distributed/utils.py
Due: pylint-doc-string, copyright_checker

fix
  paddle/fluid/platform/collective_helper.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix code format error
  paddle/fluid/imperative/prepared_operator.cc
  paddle/top/cpu/math.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add anchor_generator convert test
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_anchor_generator.py
Due: pylint-doc-string, copyright_checker

std:min and std::max should be change because of windows
  paddle/fluid/platform/gpu_launch_config.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update, test=develop
  python/paddle/distributed/auto_parallel/interface.py
Due: pylint-doc-string, copyright_checker

update trt version
  paddle/fluid/inference/tensorrt/plugin/slice_op_plugin.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

perfect unit test
  paddle/fluid/operators/eigh_op.cu
  python/paddle/fluid/tests/unittests/test_eigh_op.py
  python/paddle/tensor/linalg.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

notest,test=inference;fix count time issue
  paddle/fluid/inference/tests/infer_ut/run.sh
  paddle/fluid/inference/tests/infer_ut/test_suite.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add pool2d pool3d extra() (#35393)
  paddle/fluid/operators/pool_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
