Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


add prelu & prelu_grad op for xpu (#49672)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/prelu_grad_kernel.cc
  paddle/phi/kernels/xpu/prelu_kernel.cc
  python/paddle/fluid/tests/unittests/xpu/test_prelu_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

add eager sqrt comp test cmakelist
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/CMakeLists.txt
Due: none

fix static code gen
  paddle/fluid/operators/generator/filters.py
  paddle/fluid/operators/generator/templates/operator_utils.c.j2
Due: copyright_checker, pylint-doc-string

[Zero-Dim] add static graph gradient test method for 0D Tensor input (#49755)
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
  python/paddle/fluid/tests/unittests/xpu/test_zero_dim_tensor_xpu.py
Due: copyright_checker, pylint-doc-string

clean metric.py
  python/paddle/distributed/fleet/metrics/metric.py
Due: copyright_checker, pylint-doc-string

fix test cases
  paddle/fluid/inference/experimental/javaapi/native/com_baidu_paddle_inference_Config.cpp
  paddle/fluid/inference/goapi/config.go
  paddle/fluid/inference/tests/api/analyzer_capi_exp_gpu_tester.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Add unitest for set_value, set_value_grad. test=kunlun (#49773)
  paddle/phi/kernels/xpu/set_value_grad_kernel.cc
  paddle/phi/kernels/xpu/set_value_kernel.cc
  python/paddle/fluid/tests/unittests/xpu/test_set_value_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix code style
  python/paddle/distributed/fleet/runtime/parameter_server_runtime.py
  python/paddle/distributed/passes/ps_trainer_pass.py
  python/paddle/distributed/ps/utils/public.py
Due: copyright_checker, pylint-doc-string

fix py3 test bugs
  paddle/phi/tests/common/test_backend.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update
  paddle/phi/kernels/xpu/where_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Update process_group.cc
  paddle/fluid/distributed/collective/process_group.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix xpu unittest issue (#49760)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  python/paddle/fluid/tests/unittests/xpu/test_zero_dim_tensor_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

add xpu adagrad and where_grad kernels (#49701)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/adagrad_kernel.cc
  paddle/phi/kernels/xpu/where_grad_kernel.cc
  python/paddle/fluid/tests/unittests/xpu/test_adagrad_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_where_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update
  python/paddle/fluid/tests/unittests/test_nan_inf_dir.py
Due: copyright_checker, pylint-doc-string

kunlun add support for c_concat and c_split (#49757)
  paddle/fluid/operators/collective/c_concat_op_xpu.cc
  paddle/fluid/operators/collective/c_split_op_xpu.cc
  paddle/phi/backends/xpu/xpu2_op_list.cc
  python/paddle/fluid/tests/unittests/xpu/collective_concat_op.py
  python/paddle/fluid/tests/unittests/xpu/collective_split_op.py
  python/paddle/fluid/tests/unittests/xpu/test_c_concat.py
  python/paddle/fluid/tests/unittests/xpu/test_c_split.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix
  python/paddle/distributed/passes/ps_trainer_pass.py
Due: copyright_checker, pylint-doc-string

add header
  paddle/fluid/prim/api/auto_code_generated/prim_gen.py
Due: copyright_checker, pylint-doc-string

update ci docker images
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

fix Codestyle
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_api.h
  paddle/fluid/inference/capi_exp/pd_config.cc
  paddle/fluid/inference/capi_exp/pd_config.h
  paddle/fluid/inference/capi_exp/pd_predictor.cc
  paddle/fluid/inference/capi_exp/pd_predictor.h
  paddle/fluid/inference/capi_exp/pd_types.h
  paddle/fluid/inference/capi_exp/pd_utils.cc
  paddle/fluid/inference/capi_exp/pd_utils.h
  paddle/fluid/inference/experimental/javaapi/native/com_baidu_paddle_inference_Config.cpp
Due: copyright_checker, clang-format, cpplint-cpp-source

[PHI]Rename some PHI Kernel (#49470)
  paddle/fluid/operators/reshape_op.cc
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/cpu/einsum_kernel.cc
  paddle/phi/kernels/cpu/prod_kernel.cc
  paddle/phi/kernels/einsum_kernel.h
  paddle/phi/kernels/flatten_kernel.cc
  paddle/phi/kernels/flatten_kernel.h
  paddle/phi/kernels/gpu/einsum_kernel.cu
  paddle/phi/kernels/impl/einsum_grad_impl.h
  paddle/phi/kernels/impl/einsum_impl.h
  paddle/phi/kernels/impl/solve_kernel_impl.h
  paddle/phi/kernels/kps/prod_kernel.cu
  paddle/phi/kernels/onednn/reshape_kernel.cc
  paddle/phi/kernels/onednn/squeeze_kernel.cc
  paddle/phi/kernels/prod_kernel.cc
  paddle/phi/kernels/prod_kernel.h
  paddle/phi/kernels/reshape_kernel.cc
  paddle/phi/kernels/reshape_kernel.h
  paddle/phi/kernels/squeeze_kernel.cc
  paddle/phi/kernels/squeeze_kernel.h
  paddle/phi/kernels/unsqueeze_kernel.cc
  paddle/phi/kernels/unsqueeze_kernel.h
  paddle/phi/kernels/xpu/prod_kernel.cc
  paddle/phi/ops/compat/einsum_sig.cc
  paddle/phi/ops/compat/flatten_sig.cc
  paddle/phi/ops/compat/reduce_sig.cc
  paddle/phi/ops/compat/reshape_sig.cc
  paddle/phi/tests/ops/test_op_signature.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[PHI] rrelu add yaml (#49779)
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  python/paddle/fluid/tests/unittests/test_rrelu_op.py
  python/paddle/fluid/tests/unittests/white_list/no_check_set_white_list.py
  python/paddle/nn/functional/activation.py
Due: copyright_checker, pylint-doc-string

Fix reduce func bug in process_group_bkcl (#49749)
  paddle/fluid/distributed/collective/process_group_bkcl.cc
  paddle/fluid/pybind/process_group_utils.h
  python/paddle/fluid/tests/unittests/xpu/process_group_bkcl.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

deal with conflict (#49766)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/einsum_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix_arg (#49770)
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

change test class's name (#49729)
  python/paddle/fluid/tests/unittests/auto_parallel/test_fused_linear_pass.py
Due: copyright_checker, pylint-doc-string

fix_split (#49743)
  paddle/phi/infermeta/unary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Migrate collective communication checks to PHI (#49754)
  paddle/fluid/distributed/collective/CMakeLists.txt
  paddle/fluid/distributed/collective/check.cc
  paddle/fluid/distributed/collective/check.h
  paddle/fluid/distributed/collective/process_group_nccl.cc
  paddle/fluid/distributed/collective/process_group_nccl.h
  paddle/fluid/distributed/collective/types.h
  paddle/phi/core/distributed/CMakeLists.txt
  paddle/phi/core/distributed/check/CMakeLists.txt
  paddle/phi/core/distributed/check/nccl_dynamic_check.cc
  paddle/phi/core/distributed/check/nccl_dynamic_check.h
  paddle/phi/core/distributed/check/static_check.cc
  paddle/phi/core/distributed/check/static_check.h
  paddle/phi/core/distributed/comm_context_manager.cc
  paddle/phi/core/distributed/gloo_comm_context.cc
  paddle/phi/core/distributed/gloo_comm_context.h
  paddle/phi/core/distributed/gloo_utils.cc
  paddle/phi/core/distributed/gloo_utils.h
  paddle/phi/core/distributed/nccl_comm_context.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix fc and fused_fc_elementwise_layernorm kernel diff (#49778)
  paddle/fluid/operators/fused/fused_fc_elementwise_layernorm_op.cu
  paddle/phi/kernels/funcs/fc_functor.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Fix the bugs of set_value and set_value_grad ops and add register in (#49750)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/set_value_grad_kernel.cc
  paddle/phi/kernels/xpu/set_value_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[AutoParallel] recovery annotation (#49665)
  python/paddle/distributed/auto_parallel/completion.py
  python/paddle/fluid/tests/unittests/auto_parallel/amp_pass_unittest.py
  python/paddle/fluid/tests/unittests/auto_parallel/engine_api.py
  python/paddle/fluid/tests/unittests/auto_parallel/test_engine_api.py
  python/paddle/fluid/tests/unittests/auto_parallel/test_pass_amp.py
Due: copyright_checker, pylint-doc-string

[Zero-Dim] support input 0D Tensor for fmax/fmin/complex api (#49730)
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
Due: copyright_checker, pylint-doc-string

[Eager] polish some api logic (#49717)
  python/paddle/nn/layer/norm.py
  python/paddle/tensor/manipulation.py
  python/paddle/tensor/search.py
Due: copyright_checker, pylint-doc-string

add hostdevice.h to inference lib (#49746)
  cmake/inference_lib.cmake
Due: none

[ci unnitest fix] dgc optimizer (#49741)
  python/paddle/distributed/fleet/meta_optimizers/dgc_optimizer.py
Due: copyright_checker, pylint-doc-string

Update threshold of bn1d (#49734)
  paddle/phi/kernels/funcs/norm_utils.h
  paddle/phi/kernels/gpu/batch_norm_grad_kernel.cu
  paddle/phi/kernels/gpu/batch_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

update reader in sharding unit test. (#49652)
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_dist_save_load.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_api.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_api_eager.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage2.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage2_comm_overlap.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage2_offload.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage3.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage3_offload.py
  python/paddle/fluid/tests/unittests/collective/multinode/mn_dygraph_group_sharded_stage3.py
Due: copyright_checker, pylint-doc-string
