Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


[fluid_ops]adam modify _legacy_C_ops (#72197)
  test/legacy_test/test_merged_adam_op.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/distributed/fleet/scaler.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/static/nn/metric.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/metric/metrics.py
  python/paddle/static/nn/metric.py
Due: copyright_checker, pylint-doc-string

no param load
  paddle/fluid/inference/api/analysis_predictor.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix typos && fix style (#72241)
  python/paddle/nn/layer/conv.py
  python/paddle/nn/layer/loss.py
  python/paddle/nn/layer/pooling.py
Due: copyright_checker, pylint-doc-string

fix typos (#72237)
  python/paddle/jit/dy2static/program_translator.py
  python/paddle/nn/layer/layers.py
Due: copyright_checker, pylint-doc-string

Fix (#72212)
  test/legacy_test/test_function_hook.py
  test/legacy_test/test_reset_grad_inplace_version.py
Due: copyright_checker, pylint-doc-string

Fix (#72211)
  test/legacy_test/test_squared_l2_norm_op.py
Due: copyright_checker, pylint-doc-string

Fix (#72184)
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/activation_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add unary ops which have spmd_rule but not add in yaml file. (#72177)
  paddle/phi/ops/yaml/ops.yaml
Due: none

[Bug Fix] fix pipeline in dynamic_shape
  python/paddle/distributed/fleet/meta_parallel/pp_utils/p2p_communication.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/gpu/nonzero_kernel.cu
  python/paddle/tensor/search.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

test=document_fix final
  .github/workflows/_Coverage.yml
  paddle/fluid/framework/attribute.cc
  paddle/fluid/framework/attribute.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

　add spmd_rule for backward ops which correspond to forward ops in PR#72177
  paddle/phi/ops/yaml/backward.yaml
Due: none

[fluid_ops] _get_reduce_op remove func_name parameter (#72162)
  python/paddle/distributed/communication/reduce.py
  python/paddle/distributed/communication/stream/all_reduce.py
  python/paddle/distributed/communication/stream/reduce.py
  python/paddle/distributed/communication/stream/reduce_scatter.py
  python/paddle/distributed/fleet/layers/mpu/mp_layers.py
  python/paddle/distributed/fleet/layers/mpu/mp_ops.py
Due: copyright_checker, pylint-doc-string

[SOT][DynamicShape] Add basic constraint mechanism (#72250)
  python/paddle/jit/sot/infer_meta.py
  python/paddle/jit/sot/opcode_translator/executor/function_graph.py
  python/paddle/jit/sot/opcode_translator/executor/opcode_executor.py
  python/paddle/jit/sot/opcode_translator/executor/side_effects.py
  python/paddle/jit/sot/opcode_translator/executor/tracker.py
  python/paddle/jit/sot/opcode_translator/executor/variable_dispatch.py
  python/paddle/jit/sot/opcode_translator/executor/variables/base.py
  python/paddle/jit/sot/opcode_translator/executor/variables/basic.py
  python/paddle/jit/sot/symbolic/statement_ir.py
  python/paddle/jit/sot/symbolic_shape/__init__.py
  python/paddle/jit/sot/symbolic_shape/constraints.py
  python/paddle/jit/sot/symbolic_shape/operators.py
  python/paddle/jit/sot/symbolic_shape/symbolic_value.py
  python/setup.py.in
  setup.py
  test/sot/test_sot_dynamic_shape.py
Due: copyright_checker, pylint-doc-string

[fluid_ops] clean c_allreduce_sum config (#71897)
  paddle/fluid/operators/collective/c_allreduce_sum_op.cc
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  test/collective/fleet/dist_mnist_gradient_merge_raw_optimizer.py
  test/deprecated/auto_parallel/test_while_op_partition_deprecated.py
  test/deprecated/legacy_test/test_auto_parallel_partitioner_gpt_deprecated.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[fluid_ops] remove fuse_with_relu in static/nn/common.py (#72219)
  python/paddle/static/nn/common.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/incubate/nn/layer/fused_dropout_nd.py
Due: copyright_checker, pylint-doc-string

refine IsCommunicationOp (#72229)
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix bool_attrs to double_attrs (#72208)
  paddle/fluid/inference/tensorrt/convert/generic_and_custom_plugin_creater.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test=document_fix deter
  .github/workflows/_NPU.yml
Due: none

fix isclose
  paddle/phi/kernels/impl/isclose_kernel_impl.h
  test/legacy_test/op_test.py
  test/legacy_test/test_isclose_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/legacy_test/op_test.py
Due: copyright_checker, pylint-doc-string

test=document_fix no build
  .github/workflows/CI.yml
  .github/workflows/_XPU-kunlun.yml
Due: none

test=document_fix
  .github/workflows/_NPU.yml
Due: none

add spmd_rule for argmin and abs ops
  paddle/phi/infermeta/spmd_rules/argmin.cc
  paddle/phi/infermeta/spmd_rules/argmin.h
  paddle/phi/infermeta/spmd_rules/rules.cc
  paddle/phi/infermeta/spmd_rules/rules.h
  paddle/phi/ops/yaml/backward.yaml
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

modified notes
  paddle/phi/infermeta/spmd_rules/rules.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test=document_fix download noxly
  .github/workflows/_XPU-kunlun.yml
Due: none

test=document_fix deter
  .github/workflows/_NPU.yml
  ci/utils.sh
Due: copyright_checker

test=document_fix deter env
  ci/utils.sh
Due: copyright_checker

test=document_fix deter env
  .github/workflows/_NPU.yml
Due: none

test=document_fix cpu whl
  .github/workflows/_NPU.yml
  ci/utils.sh
Due: copyright_checker

test=document_fix cpu whl
  .github/workflows/_NPU.yml
Due: none

[CINN] consider register in vectorize situation (#72042)
  paddle/cinn/hlir/framework/pir/trivial_op_impl.h
  paddle/cinn/ir/group_schedule/config/group_tile_config.cc
  paddle/cinn/ir/group_schedule/config/group_tile_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix pipeline in dynamic_shape (#72243)
  python/paddle/distributed/fleet/meta_parallel/pp_utils/p2p_communication.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/distributed/auto_parallel/static/mapper.py
  python/paddle/distributed/auto_parallel/static/operators/common.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/prune.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/utils.py
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
  python/paddle/distributed/passes/allreduce_matmul_grad_overlapping.py
  python/paddle/distributed/passes/auto_parallel_data_parallel_optimization.py
  python/paddle/distributed/passes/auto_parallel_fused_linear_promotion.py
  python/paddle/distributed/passes/auto_parallel_gradient_merge.py
  python/paddle/distributed/passes/auto_parallel_sequence_parallel_optimization.py
  python/paddle/distributed/passes/auto_parallel_sharding.py
  python/paddle/distributed/passes/fuse_all_reduce.py
  python/paddle/distributed/passes/pipeline_scheduler_pass/pipeline_1f1b.py
  python/paddle/distributed/transpiler/collective.py
  python/paddle/static/amp/fp16_lists.py
Due: copyright_checker, pylint-doc-string

Fix
  test/collective/fleet/dist_mnist_gradient_merge_raw_optimizer.py
  test/deprecated/auto_parallel/test_while_op_partition_deprecated.py
  test/deprecated/legacy_test/test_auto_parallel_partitioner_gpt_deprecated.py
Due: copyright_checker, pylint-doc-string
