Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

add api unittest code for CI_Coverage test=develop
  python/paddle/fluid/input.py
  python/paddle/fluid/tests/unittests/test_one_hot_v2_op.py
Due: copyright_checker

fix instag op (#19591)
  paddle/fluid/operators/filter_by_instag_op.h
Due: clang-format-with-version-check, copyright_checker

merge empty lod tensor, test=develop (#19228)
  paddle/fluid/API.spec
  paddle/fluid/framework/details/fetch_op_handle.cc
  paddle/fluid/framework/lod_tensor.cc
  paddle/fluid/framework/lod_tensor_test.cc
  paddle/fluid/operators/detection/multiclass_nms_op.cc
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/tests/test_detection.py
  python/paddle/fluid/tests/unittests/test_fetch_var.py
  python/paddle/fluid/tests/unittests/test_multiclass_nms_op.py
Due: clang-format-with-version-check, copyright_checker

codegen code for reconstruction test=develop
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/codegen.cc
  paddle/fluid/framework/ir/codegen.h
  paddle/fluid/framework/ir/codegen_helper.cc
  paddle/fluid/framework/ir/codegen_helper.h
  paddle/fluid/framework/ir/codegen_test.cc
Due: clang-format-with-version-check, copyright_checker

upgrade ngraph to support mkldnn v1.0 (#19689)
  cmake/external/ngraph.cmake
Due: none

paddle::framework::vectorize() templatization remove unused accuracy-diff warpctc-cudnn implementation
  paddle/fluid/API.spec
  paddle/fluid/framework/ddim.cc
  paddle/fluid/framework/ddim.h
  paddle/fluid/operators/warpctc_cudnn_op.cu.cc
  paddle/fluid/operators/warpctc_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_warpctc_op.py
Due: clang-format-with-version-check, copyright_checker

Set default value for newly added arguments in test_fc_op. test=develop
  python/paddle/fluid/tests/unittests/test_fc_op.py
Due: copyright_checker

9.10.1
  paddle/fluid/operators/distributed/communicator.cc
  paddle/fluid/operators/distributed/communicator.h
  paddle/fluid/operators/distributed_ops/send_op.cc
  python/paddle/fluid/transpiler/geo_sgd_transpiler.py
Due: clang-format-with-version-check, copyright_checker

Enhance fc_fuse_pass to enable fusing relu.
  paddle/fluid/framework/ir/embedding_fc_lstm_fuse_pass.cc
  paddle/fluid/framework/ir/fc_fuse_pass.cc
  paddle/fluid/framework/ir/fc_gru_fuse_pass.cc
  paddle/fluid/framework/ir/fc_lstm_fuse_pass.cc
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
Due: clang-format-with-version-check, copyright_checker

9.10.2
  paddle/fluid/operators/distributed/communicator.h
Due: clang-format-with-version-check, copyright_checker

Allow print the shapes of var_desc in graph. test=develop
  paddle/fluid/framework/ir/graph_viz_pass.cc
Due: clang-format-with-version-check, copyright_checker

9.10.3
  paddle/fluid/operators/distributed/communicator.h
Due: clang-format-with-version-check, copyright_checker

9.10.4
  paddle/fluid/operators/distributed_ops/send_op.cc
Due: clang-format-with-version-check, copyright_checker

fix the cmake test=develop
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/codegen_test.cc
Due: clang-format-with-version-check, copyright_checker

test=develop, add transform data on same place test and remove useless log
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/tests/test_prepare_op.cc
Due: clang-format-with-version-check, copyright_checker

refine memory usage of some operators, test=develop (#19700)
  paddle/fluid/operators/expand_op.cc
  paddle/fluid/operators/expand_op.h
  paddle/fluid/operators/roi_align_op.cc
  paddle/fluid/operators/sigmoid_cross_entropy_with_logits_op.cc
Due: clang-format-with-version-check, copyright_checker

Add sync in broadcast_op_handle test=develop
  paddle/fluid/framework/details/broadcast_op_handle.cc
Due: clang-format-with-version-check, copyright_checker

refine math_op_patch, test=develop
  paddle/fluid/operators/scale_op.cc
  paddle/fluid/operators/scale_op.cu
  python/paddle/fluid/layers/math_op_patch.py
  python/paddle/fluid/tests/unittests/test_optimizer.py
Due: clang-format-with-version-check, copyright_checker

rm return in vfork
  paddle/fluid/framework/io/shell.cc
Due: clang-format-with-version-check, copyright_checker

make NCCLComm the same interface as NCCLContext test=develop
  paddle/fluid/operators/collective/c_allgather_op.cu.cc
  paddle/fluid/operators/collective/c_broadcast_op.cu.cc
  paddle/fluid/operators/collective/c_reducescatter_op.cu.cc
  paddle/fluid/platform/collective_helper.cc
  paddle/fluid/platform/collective_helper.h
Due: clang-format-with-version-check, copyright_checker

fix softmax axis!=-1. test=develop
  paddle/fluid/operators/math/softmax_impl.h
Due: clang-format-with-version-check, copyright_checker

Enhance fc_fuse_pass_tester.
  paddle/fluid/framework/ir/fc_fuse_pass_tester.cc
  paddle/fluid/framework/ir/pass_tester_helper.h
Due: clang-format-with-version-check, copyright_checker

Add document annotations for FLAGS that need to be open to external developers test=develop (#19692)
  paddle/fluid/platform/flags.cc
Due: clang-format-with-version-check, copyright_checker

Remove the use of PADDLE_ENFORCE. test=develop
  paddle/fluid/framework/ir/fc_fuse_pass.cc
Due: clang-format-with-version-check, copyright_checker

add unittest for graph.merge(), test=develop
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
  python/paddle/fluid/contrib/slim/tests/test_graph_wrapper.py
Due: copyright_checker

fix sync_with_distributed_lookup_table, test=develop
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: copyright_checker

test1
  README.md
Due: none

documentOnly
  README.md
Due: none

improve CI_Coverage rate by adding test_with_depth test=develop
  python/paddle/fluid/tests/unittests/test_one_hot_v2_op.py
Due: copyright_checker

add key check test=develop
  python/paddle/fluid/device_worker.py
Due: copyright_checker
