Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

Pipeline Concurrency (#17402)
  paddle/fluid/API.spec
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/async_executor.cc
  paddle/fluid/framework/data_feed.cc
  paddle/fluid/framework/data_feed.h
  paddle/fluid/framework/data_feed_factory.cc
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/device_worker_factory.cc
  paddle/fluid/framework/executor.cc
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  paddle/fluid/framework/trainer.h
  paddle/fluid/framework/trainer_desc.proto
  paddle/fluid/framework/trainer_factory.cc
  paddle/fluid/platform/timer.h
  python/paddle/fluid/dataset.py
  python/paddle/fluid/device_worker.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/framework.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/demo/pipeline_train.py
  python/paddle/fluid/trainer_desc.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

follow comments test=develop
  paddle/fluid/framework/ir/alloc_continuous_space_for_grad_pass.cc
Due: clang-format-with-version-check, copyright_checker

add conv2d, pool2d op and kernels test=develop (#17939)
  paddle/fluid/lite/api/cxx_api_test.cc
  paddle/fluid/lite/core/hvy_tensor.h
  paddle/fluid/lite/kernels/x86/CMakeLists.txt
  paddle/fluid/lite/kernels/x86/conv_compute.cc
  paddle/fluid/lite/kernels/x86/pool_compute.cc
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/conv_op.cc
  paddle/fluid/lite/operators/conv_op.h
  paddle/fluid/lite/operators/pool_op.cc
  paddle/fluid/lite/operators/pool_op.h
Due: clang-format-with-version-check, copyright_checker

fix attribute bugs.
  paddle/fluid/lite/core/mir/pattern_matcher_high_api.cc
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
Due: clang-format-with-version-check, copyright_checker

update from upstream
  paddle/fluid/lite/core/mir/CMakeLists.txt
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
  paddle/fluid/lite/core/mir/ssa_graph.cc
Due: clang-format-with-version-check, copyright_checker

simlify fuse process.
  paddle/fluid/lite/core/mir/CMakeLists.txt
  paddle/fluid/lite/core/mir/pass_manager.cc
  paddle/fluid/lite/core/mir/pass_manager.h
  paddle/fluid/lite/core/mir/pattern_matcher.cc
  paddle/fluid/lite/core/mir/pattern_matcher.h
  paddle/fluid/lite/core/mir/pattern_matcher_high_api.cc
  paddle/fluid/lite/core/mir/pattern_matcher_high_api.h
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
  paddle/fluid/lite/core/mir/ssa_graph.cc
  paddle/fluid/lite/core/mir/ssa_graph.h
Due: clang-format-with-version-check, copyright_checker

use channel instead of vector/BlockingQueue in Dataset add Channel, Archive in paddle/fluid/framework change dataset from shared_ptr to unique_ptr in pybind fix thread num bug of Dataset test=develop
  paddle/fluid/framework/archive.h
  paddle/fluid/framework/channel.h
  paddle/fluid/framework/data_feed.cc
  paddle/fluid/framework/data_feed.h
  paddle/fluid/framework/data_set.cc
  paddle/fluid/framework/data_set.h
  paddle/fluid/framework/dataset_factory.cc
  paddle/fluid/framework/dataset_factory.h
  paddle/fluid/framework/device_worker.cc
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/dist_multi_trainer.cc
  paddle/fluid/framework/expect.h
  paddle/fluid/framework/multi_trainer.cc
  paddle/fluid/pybind/data_set_py.cc
  python/paddle/fluid/dataset.py
  python/paddle/fluid/executor.py
Due: clang-format-with-version-check, copyright_checker

fix role maker, test=develop
  python/paddle/fluid/incubate/fleet/base/fleet_base.py
Due: copyright_checker

use channel instead of vector/BlockingQueue in Dataset add Channel, Archive in paddle/fluid/framework change dataset from shared_ptr to unique_ptr in pybind fix thread num bug of Dataset test=develop
  python/paddle/fluid/executor.py
Due: copyright_checker

load model from buffer with length
  paddle/fluid/inference/api/api_anakin_engine.cc
  paddle/fluid/inference/api/paddle_anakin_config.h
Due: clang-format-with-version-check, copyright_checker

added monitoring of python/requirements.txt file (#17957)
  Dockerfile
  paddle/scripts/paddle_build.sh
Due: none

close the kernels not empty checker.
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/mir/CMakeLists.txt
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
  paddle/fluid/lite/core/mir/pattern_matcher_test.cc
  paddle/fluid/lite/core/op_lite.cc
Due: clang-format-with-version-check, copyright_checker

cherry pick 17904, fix dygraph doc, test=release/1.5
  python/paddle/fluid/dygraph/nn.py
Due: copyright_checker

enable conv_winograd, fix conv_gemmlike bug, and update the unit tests of conv op test=develop
  paddle/fluid/lite/arm/math/CMakeLists.txt
  paddle/fluid/lite/arm/math/conv_depthwise_3x3p0.cc
  paddle/fluid/lite/arm/math/conv_depthwise_3x3p1.cc
  paddle/fluid/lite/arm/math/conv_depthwise_5x5s1.cc
  paddle/fluid/lite/arm/math/conv_depthwise_5x5s2.cc
  paddle/fluid/lite/arm/math/conv_impl.cc
  paddle/fluid/lite/arm/math/conv_winograd.cc
  paddle/fluid/lite/arm/math/conv_winograd.h
  paddle/fluid/lite/arm/math/funcs.h
  paddle/fluid/lite/kernels/arm/conv_compute.cc
  paddle/fluid/lite/kernels/arm/conv_compute.h
  paddle/fluid/lite/kernels/arm/conv_compute_test.cc
Due: clang-format-with-version-check, copyright_checker

enable conv_winograd, fix conv_gemmlike bug, and update the unit tests of conv op test=develop
  paddle/fluid/lite/arm/math/CMakeLists.txt
  paddle/fluid/lite/kernels/arm/conv_compute.cc
  paddle/fluid/lite/kernels/arm/conv_compute.h
  paddle/fluid/lite/kernels/arm/conv_compute_test.cc
Due: clang-format-with-version-check, copyright_checker

simplify fuse process. (#17954)
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/mir/CMakeLists.txt
  paddle/fluid/lite/core/mir/pass_manager.cc
  paddle/fluid/lite/core/mir/pass_manager.h
  paddle/fluid/lite/core/mir/pattern_matcher.cc
  paddle/fluid/lite/core/mir/pattern_matcher.h
  paddle/fluid/lite/core/mir/pattern_matcher_high_api.cc
  paddle/fluid/lite/core/mir/pattern_matcher_high_api.h
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
  paddle/fluid/lite/core/mir/pattern_matcher_test.cc
  paddle/fluid/lite/core/mir/ssa_graph.cc
  paddle/fluid/lite/core/mir/ssa_graph.h
  paddle/fluid/lite/core/op_lite.cc
Due: clang-format-with-version-check, copyright_checker

fix the many-to-one link bug. test=develop
  paddle/fluid/lite/core/mir/pattern_matcher.cc
  paddle/fluid/lite/core/mir/pattern_matcher.h
  paddle/fluid/lite/core/mir/pattern_matcher_high_api_test.cc
Due: clang-format-with-version-check, copyright_checker

Cherry-pick fix random Python3 CI failure.
  python/paddle/fluid/contrib/tests/test_calibration_mobilenetv1.py
  python/paddle/fluid/contrib/tests/test_calibration_resnet50.py
Due: copyright_checker

update the int8v2 doc
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

update ssagraph after memory optimize test=develop
  paddle/fluid/lite/core/mir/memory_optimize_pass.cc
  paddle/fluid/lite/core/mir/memory_optimize_pass.h
  paddle/fluid/lite/core/mir/node.h
Due: clang-format-with-version-check, copyright_checker

fix code style test=develop
  paddle/fluid/lite/api/cxx_api.h
  paddle/fluid/lite/core/mir/memory_optimize_pass.cc
  paddle/fluid/lite/core/mir/memory_optimize_pass.h
  paddle/fluid/lite/core/op_lite.h
  paddle/fluid/lite/core/program.cc
  paddle/fluid/lite/core/program.h
  paddle/fluid/lite/core/type_system.h
  paddle/fluid/lite/model_parser/compatible_pb.cc
  paddle/fluid/lite/model_parser/cpp/var_desc.h
  paddle/fluid/lite/model_parser/desc_apis.h
  paddle/fluid/lite/model_parser/pb/var_desc.cc
  paddle/fluid/lite/model_parser/pb/var_desc.h
  paddle/fluid/lite/model_parser/var_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

refactor vardesc & add memory optimize pass test=develop
  paddle/fluid/lite/api/cxx_api.h
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/context.h
  paddle/fluid/lite/core/mir/CMakeLists.txt
  paddle/fluid/lite/core/mir/memory_optimize_pass.cc
  paddle/fluid/lite/core/mir/memory_optimize_pass.h
  paddle/fluid/lite/core/mir/node.h
  paddle/fluid/lite/core/mir/ssa_graph.cc
  paddle/fluid/lite/core/mir/ssa_graph.h
  paddle/fluid/lite/core/op_lite.h
  paddle/fluid/lite/core/optimizer.cc
  paddle/fluid/lite/core/optimizer.h
  paddle/fluid/lite/core/program.cc
  paddle/fluid/lite/core/program.h
  paddle/fluid/lite/model_parser/CMakeLists.txt
  paddle/fluid/lite/model_parser/compatible_pb.cc
  paddle/fluid/lite/model_parser/compatible_pb.h
  paddle/fluid/lite/model_parser/cpp/CMakeLists.txt
  paddle/fluid/lite/model_parser/cpp/var_desc.cc
  paddle/fluid/lite/model_parser/cpp/var_desc.h
  paddle/fluid/lite/model_parser/desc_apis.h
  paddle/fluid/lite/model_parser/pb/var_desc.cc
  paddle/fluid/lite/model_parser/pb/var_desc.h
  paddle/fluid/lite/model_parser/runtime.cc
  paddle/fluid/lite/model_parser/var_desc_test.cc
Due: clang-format-with-version-check, copyright_checker

Optimize the concat and split cuda implementation for cases when the number of inputs/outputs is less than 5. test=develop
  paddle/fluid/operators/math/concat_and_split.cu
Due: clang-format-with-version-check, copyright_checker

change according to review test=develop
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

Update the Anakin interfaces for content-dnn and MLU (#17890)
  cmake/anakin_subgraph.cmake
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/inference/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/elementwise.cc
  paddle/fluid/inference/anakin/convert/op_converter.h
  paddle/fluid/inference/anakin/convert/test_activation_op.cc
  paddle/fluid/inference/anakin/convert/test_affine_channel_op.cc
  paddle/fluid/inference/anakin/convert/test_batch_norm_op.cc
  paddle/fluid/inference/anakin/convert/test_concat_op.cc
  paddle/fluid/inference/anakin/convert/test_conv2d_op.cc
  paddle/fluid/inference/anakin/convert/test_dropout_op.cc
  paddle/fluid/inference/anakin/convert/test_elementwise_op.cc
  paddle/fluid/inference/anakin/convert/test_fc_op.cc
  paddle/fluid/inference/anakin/convert/test_flatten_op.cc
  paddle/fluid/inference/anakin/convert/test_pool2d_op.cc
  paddle/fluid/inference/anakin/convert/test_relu_op.cc
  paddle/fluid/inference/anakin/convert/test_reshape_op.cc
  paddle/fluid/inference/anakin/convert/test_softmax_op.cc
  paddle/fluid/inference/anakin/convert/test_split_op.cc
  paddle/fluid/inference/anakin/convert/test_sum_op.cc
  paddle/fluid/inference/anakin/convert/test_transpose_op.cc
  paddle/fluid/inference/anakin/convert/ut_helper.h
  paddle/fluid/inference/anakin/engine.cc
  paddle/fluid/inference/anakin/engine.h
  paddle/fluid/inference/anakin/test_anakin_engine.cc
  paddle/fluid/inference/analysis/ir_passes/CMakeLists.txt
  paddle/fluid/inference/analysis/ir_passes/anakin_subgraph_pass.cc
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/api_anakin_engine.cc
  paddle/fluid/inference/api/api_anakin_engine.h
  paddle/fluid/inference/api/helper.h
  paddle/fluid/inference/api/paddle_anakin_config.h
  paddle/fluid/inference/api/paddle_inference_api.h
  paddle/fluid/inference/tests/api/anakin_mlu_tester.cc
  paddle/fluid/inference/tests/api/anakin_mobilenet_tester.cc
  paddle/fluid/inference/tests/api/anakin_rnn1_tester.cc
  paddle/fluid/inference/tests/api/anakin_rnn2_tester.cc
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/anakin/anakin_engine_op.h
Due: clang-format-with-version-check, copyright_checker

Polish codes of old prs. (#17938)
  paddle/fluid/framework/ir/alloc_continuous_space_for_grad_pass.cc
  python/paddle/distributed/launch.py
Due: clang-format-with-version-check, copyright_checker

follow comments test=develop test=release
  paddle/fluid/framework/ir/alloc_continuous_space_for_grad_pass.cc
Due: clang-format-with-version-check, copyright_checker

modify the anakin subgraph cmake
  CMakeLists.txt
Due: none

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
