Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

fix ci bugs
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cinn(op): add gather
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  paddle/cinn/hlir/op/transform.cc
  test/ir/pir/cinn/symbolic/test_cinn_transform_symbolic.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix ci bugs
  paddle/cinn/hlir/op/transform.cc
  test/ir/pir/cinn/sub_graphs/test_sub_graph_70.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Fix dynamic shape not match cause RxT cannot fuse (#63658)
  paddle/cinn/operator_fusion/policy/relative_judge_policy.cc
  paddle/cinn/operator_fusion/policy/relative_judge_policy.h
  paddle/pir/include/dialect/shape/utils/shape_analysis.h
  paddle/pir/src/dialect/shape/utils/shape_analysis.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update zeropad1 test
  test/legacy_test/test_ZeroPad1d.py
Due: copyright_checker, pylint-doc-string

add sigmoid convert to cinn pass
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  test/ir/pir/cinn/symbolic/test_dyshape_sigmoid.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【CINN】Fix bug of CinnGroupOp out of Order (#63686)
  paddle/fluid/pir/transforms/sub_graph_detector.cc
  paddle/fluid/pir/transforms/sub_graph_detector.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix (#63691)
  paddle/fluid/pybind/CMakeLists.txt
Due: none

[CINN] Fix local var range bug, support slice [:, 1: 0] unit test (#63710)
  paddle/cinn/ir/group_schedule/config/group_tile_config.cc
  paddle/cinn/optim/eliminate_common_factor_of_local_index.cc
  test/ir/pir/cinn/test_slice.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/scripts/paddle_build.sh
Due: copyright_checker

[CINN] Polish slice compute (#63695)
  paddle/cinn/hlir/dialect/operator/transforms/fuse_parallel_matmul_pass.cc
  paddle/cinn/hlir/pe/transform.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix reduction on bool (#63614)
  paddle/cinn/ast_gen_ius/ast_gen.cc
  paddle/cinn/hlir/framework/pir/trivial_op_util.cc
  paddle/cinn/ir/group_schedule/config/group_tile_config.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

solve conflict
  paddle/fluid/operators/prim_ops/fill_constant_p_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix uninstall
  paddle/scripts/paddle_build.sh
Due: copyright_checker

upgrade npu autotuner
  python/paddle/distributed/auto_tuner/utils.py
  python/paddle/distributed/launch/main.py
  python/paddle/distributed/launch/utils/nvsmi.py
Due: copyright_checker, pylint-doc-string

opt back ward output value
  paddle/fluid/pybind/pir.cc
  python/paddle/jit/dy2static/pir_partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix paddle_build
  paddle/scripts/paddle_build.sh
Due: copyright_checker

test
  test/legacy_test/test_ZeroPad3d.py
Due: copyright_checker, pylint-doc-string

[CINN] Remove Old Group Cluster Method (#63683)
  paddle/cinn/hlir/dialect/operator/transforms/cinn_group_cluster_pass.cc
  paddle/cinn/runtime/flags.cc
  test/cinn/test_same_input_fusion.py
  test/ir/pir/cinn/symbolic/test_if_st.py
  test/ir/pir/cinn/symbolic/test_llama_if_dy.py
  test/ir/pir/cinn/symbolic/test_reshape_zero_shape.py
  test/ir/pir/cinn/symbolic/test_while_st.py
  test/ir/pir/cinn/test_dynamic_shape.py
  test/ir/pir/cinn/test_fusion_reduce_trivial.py
  test/ir/pir/cinn/test_graph.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[PHI] add float16 support of accuracy; add NHWC support of pool2d and pool2d_grad
  paddle/phi/kernels/xpu/accuracy_kernel.cc
  paddle/phi/kernels/xpu/pool_grad_kernel.cc
  paddle/phi/kernels/xpu/pool_kernel.cc
  test/xpu/test_pool2d_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[DRR] Support postprocess after match (#63649)
  paddle/fluid/pir/drr/README.md
  paddle/fluid/pir/drr/README_cn.md
  paddle/fluid/pir/drr/include/drr_pattern_context.h
  paddle/fluid/pir/drr/include/drr_rewrite_pattern.h
  paddle/fluid/pir/drr/src/pattern_context.cc
  paddle/fluid/pir/drr/src/rewrite_pattern.cc
  paddle/fluid/pir/transforms/general/identity_op_clean_pass.cc
  paddle/fluid/pir/transforms/general/map_op_to_another_pass.cc
  paddle/fluid/pir/transforms/general/matmul_scale_fuse_pass.cc
  paddle/fluid/pir/transforms/general/matmul_transpose_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/add_norm_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/conv2d_add_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/embedding_eltwise_layernorm_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/fc_elementwise_layernorm_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/fc_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_dot_product_attention_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_flash_attn_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_gemm_epilogue_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_linear_param_grad_add_pass.cc
  paddle/fluid/pir/transforms/gpu/fused_weight_only_linear_pass.cc
  paddle/fluid/pir/transforms/gpu/multihead_matmul_fuse_pass.cc
  paddle/fluid/pir/transforms/gpu/transpose_flatten_concat_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/batch_norm_act_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_activation_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_bias_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_concat_activation_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/conv_elementwise_add_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/depthwise_conv_onednn_pass.cc
  paddle/fluid/pir/transforms/onednn/elementwise_act_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/matmul_activation_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/matmul_elementwise_add_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/matmul_transpose_reshape_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/operator_unsqueeze_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/reshape_transpose_matmul_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/scale_matmul_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/softplus_activation_fuse_pass.cc
  paddle/fluid/pir/transforms/onednn/squeeze_transpose_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/xpu/add_layernorm_fuse_pass.cc
  paddle/fluid/pir/transforms/xpu/conv2d_bn_xpu_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix for pdc (#63701)
  python/paddle/distributed/auto_tuner/utils.py
  python/paddle/distributed/launch/main.py
Due: copyright_checker, pylint-doc-string

close prim_all for unittest test_sub_graph_chatglm2_4_st
  test/ir/pir/cinn/symbolic/test_sub_graph_chatglm2_4_st.py
Due: copyright_checker, pylint-doc-string

add FLAGS_model_return_data (#63703)
  python/paddle/base/core.py
Due: copyright_checker, pylint-doc-string

【Hackathon 6th No.54】move fake_quantize_abs_max op to phi - part (#63610)
  paddle/fluid/operators/fake_quantize_op.cc
  paddle/fluid/operators/fake_quantize_op.cu
  paddle/fluid/operators/fake_quantize_op.cu.h
  paddle/fluid/operators/fake_quantize_op.h
  paddle/fluid/operators/fused/quant_dequant_kernel.h
  paddle/fluid/operators/quantize_linear_op.h
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
  paddle/phi/kernels/cpu/fake_quantize_kernel.cc
  paddle/phi/kernels/fake_quantize_kernel.h
  paddle/phi/kernels/funcs/fake_quantize_functor.cc
  paddle/phi/kernels/funcs/fake_quantize_functor.cu
  paddle/phi/kernels/funcs/fake_quantize_functor.h
  paddle/phi/kernels/funcs/layer_norm_impl.cu.h
  paddle/phi/kernels/gpu/fake_quantize_kernel.cu
  paddle/phi/kernels/impl/fake_quantize_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add pass
  paddle/fluid/pir/transforms/xpu/reshape_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/cinn/operator_fusion/policy/dim_relation.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

dtype for concat and slice.
  cmake/external/xpu.cmake
  paddle/phi/backends/xpu/xpu3_op_list.cc
  paddle/phi/kernels/xpu/concat_kernel.cc
  paddle/phi/kernels/xpu/slice_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add sigmoid infer symbolic
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  paddle/phi/api/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update date
  paddle/cinn/hlir/dialect/operator/transforms/accuracy_check_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/accuracy_check_pass.h
  paddle/phi/kernels/accuracy_check_kernel.h
  paddle/phi/kernels/cpu/accuracy_check_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix miopen bn bugs
  paddle/phi/kernels/gpu/batch_norm_grad_kernel.cu
  paddle/phi/kernels/gpu/batch_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

【Hackathon 6th No.55】move dequantize_log to phi - part (#63638)
  paddle/fluid/operators/dequantize_log_op.cc
  paddle/fluid/operators/dequantize_log_op.cu
  paddle/fluid/operators/dequantize_log_op.h
  paddle/fluid/operators/ops_signature/dequantize_log_sig.cc
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  paddle/phi/kernels/cpu/dequantize_log_kernel.cc
  paddle/phi/kernels/dequantize_log_kernel.h
  paddle/phi/kernels/gpu/dequantize_log_kernel.cu
  test/legacy_test/test_dequantize_log_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th No.29】为 paddle.nn.functional.max_unpool1d / max_unpool2d / max_unpool3d 进行功能增强 -part (#63648)
  paddle/phi/kernels/cpu/unpool_grad_kernel.cc
  paddle/phi/kernels/cpu/unpool_kernel.cc
  paddle/phi/kernels/gpu/unpool_grad_kernel.cu
  paddle/phi/kernels/gpu/unpool_kernel.cu
  python/paddle/nn/functional/pooling.py
  test/deprecated/legacy_test/test_unpool3d_op.py
  test/deprecated/legacy_test/test_unpool_op.py
  test/legacy_test/test_unpool1d_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update
  python/paddle/distributed/communication/group.py
Due: copyright_checker, pylint-doc-string

[Sparse conv] Implement implicit gemm algo for SubmConv3D (#62747)
  paddle/fluid/operators/controlflow/feed_op.cc
  paddle/fluid/operators/sync_batch_norm_op.cu
  paddle/phi/api/yaml/sparse_ops.yaml
  paddle/phi/core/kmap_cache.h
  paddle/phi/core/sparse_coo_tensor.h
  paddle/phi/infermeta/sparse/binary.cc
  paddle/phi/infermeta/sparse/binary.h
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/funcs/sparse/convolution.h
  paddle/phi/kernels/sparse/batch_norm_kernel.cc
  paddle/phi/kernels/sparse/elementwise_kernel.h
  paddle/phi/kernels/sparse/gpu/coalesce_kernel.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel_igemm.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel_impl.cuh
  paddle/phi/kernels/sparse/gpu/conv_memory_utils.cuh
  paddle/phi/kernels/sparse/gpu/elementwise_kernel.cu
  paddle/phi/kernels/sparse/gpu/sparse_conv_hashmap.cuh
  paddle/phi/kernels/sparse/impl/unary_kernel_impl.h
  python/paddle/sparse/nn/functional/__init__.py
  python/paddle/sparse/nn/functional/conv.py
  python/paddle/sparse/nn/layer/conv.py
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_sparse_conv_igemm_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

some fix
  test/legacy_test/test_full_.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/phi/kernels/funcs/fake_quantize_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add weight_attr
  python/paddle/nn/layer/loss.py
  test/legacy_test/test_adaptive_log_softmax_with_loss.py
Due: copyright_checker, pylint-doc-string

fix IsProductSmallerOrEqual
  paddle/cinn/operator_fusion/policy/relative_judge_policy.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

