Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

memory sparse table & brpc communication upgrade dependency (#36734)
  paddle/fluid/distributed/CMakeLists.txt
  paddle/fluid/distributed/common/CMakeLists.txt
  paddle/fluid/distributed/common/afs_warpper.cc
  paddle/fluid/distributed/common/afs_warpper.h
  paddle/fluid/distributed/common/cost_timer.h
  paddle/fluid/distributed/common/utils.h
  paddle/fluid/distributed/service/env.h
  paddle/fluid/distributed/service/ps_client.h
  paddle/fluid/distributed/table/accessor.h
  paddle/fluid/distributed/table/depends/dense.h
  paddle/fluid/framework/distributed_strategy.proto
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add scope as membership
  paddle/fluid/framework/new_executor/new_executor_defs.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add debug infomation for build_cinn_pass and graph symbolization (#36867)
  paddle/fluid/framework/paddle2cinn/build_cinn_pass.cc
  paddle/fluid/framework/paddle2cinn/cinn_graph_symbolization.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update datamover_primitives.h
  paddle/fluid/operators/kernel_primitives/datamover_primitives.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix ut
  paddle/fluid/pybind/global_value_getter_setter.cc
  python/paddle/fluid/tests/unittests/interpreter/test_standalone_executor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

notest;test=123
  tools/ci_model_benchmark.sh
Due: copyright_checker

change boost url, which block warning of Unknown compiler version (#36857)
  cmake/external/boost.cmake
Due: none

Merge develop.
  paddle/fluid/operators/fused/fused_attention_op.cu
  paddle/fluid/operators/fused/fused_attention_op.h
  python/paddle/fluid/tests/unittests/test_fused_attention_op_api.py
  python/paddle/nn/functional/__init__.py
  python/paddle/nn/functional/common.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix elementwith override error
  paddle/fluid/operators/elementwise/elementwise_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Merge develop.
  python/paddle/incubate/nn/layer/fused_transformer.py
Due: pylint-doc-string, copyright_checker

modify approve github id, test=develop
  paddle/scripts/paddle_build.sh
  tools/check_file_diff_approvals.sh
  tools/test_ci_op_benchmark.sh
Due: copyright_checker

fix multioutputs bug
  paddle/pten/core/kernel_context.h
  paddle/pten/core/kernel_utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Added CUDNN MHA Layer unittests in static graph mode
  python/paddle/fluid/tests/unittests/test_mha_layer_cudnn.py
  python/paddle/fluid/tests/unittests/test_mha_layer_cudnn_static.py
Due: pylint-doc-string, copyright_checker

update. test=develop
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/distributed/fleet/meta_optimizers/parameter_server_optimizer.py
  python/paddle/fluid/tests/unittests/dist_fleet_heter_pipeline_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_heter_base.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_heter_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_heter_program.py
  python/paddle/fluid/tests/unittests/test_fleet_base_2.py
Due: pylint-doc-string, copyright_checker

update. test=develop
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/distributed/fleet/launch_utils.py
Due: pylint-doc-string, copyright_checker

functions complete
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
  paddle/fluid/framework/new_executor/new_executor_defs.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

merge develop
  paddle/fluid/operators/CMakeLists.txt
Due: none

add split cpu kernel
  paddle/pten/core/kernel_context.h
  paddle/pten/core/kernel_utils.h
  paddle/pten/kernels/cpu/manipulation.cc
  paddle/pten/kernels/cpu/manipulation.h
  paddle/pten/kernels/cpu/split_impl.h
  paddle/pten/kernels/functions/utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Support matmul_v2 triple grad Kernel (#36459)
  paddle/fluid/operators/matmul_v2_op.cc
  paddle/fluid/operators/matmul_v2_op.cu
  paddle/fluid/operators/matmul_v2_op.h
  python/paddle/fluid/tests/unittests/gradient_checker.py
  python/paddle/fluid/tests/unittests/test_nn_matmul_v2_grad.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

negative label in softmax cross entropy
  paddle/fluid/operators/softmax_with_cross_entropy_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update cinn commit id tag to the newest one for fix some bugs (#36890)
  cmake/external/cinn.cmake
Due: none

optimize construct output for intermediate
  paddle/fluid/eager/autocodegen/eager_generator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

merge conflict
  paddle/fluid/framework/operator.cc
  paddle/pten/hapi/lib/linalg.cc
  paddle/pten/kernels/cpu/linalg.cc
  paddle/pten/kernels/cuda/linalg.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

remove unsed header file
  paddle/fluid/framework/operator.cc
  paddle/fluid/imperative/prepared_operator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Merge with develop and move python api to incubate.
  paddle/fluid/operators/fused/fused_attention_cudnn_fmha_op.cc
  paddle/fluid/operators/fused/fused_attention_cudnn_fmha_op.cu
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_fused_attention_cudnn_fmha_op.py
  python/paddle/fluid/tests/unittests/test_fused_attention_cudnn_fmha_op_api.py
  python/paddle/incubate/nn/__init__.py
  python/paddle/incubate/nn/functional/__init__.py
  python/paddle/incubate/nn/functional/fused_transformer.py
  python/paddle/incubate/nn/layer/fused_transformer.py
  python/paddle/nn/__init__.py
  python/paddle/nn/functional/__init__.py
  python/paddle/nn/functional/common.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Polish varianct name and fix op.cc bugs for pre_ln.
  paddle/fluid/operators/fused/fused_attention_cudnn_fmha_op.cc
  python/paddle/fluid/tests/unittests/test_fused_attention_cudnn_fmha_op.py
  python/paddle/fluid/tests/unittests/test_fused_attention_cudnn_fmha_op_api.py
  python/paddle/incubate/nn/functional/fused_transformer.py
  python/paddle/incubate/nn/layer/fused_transformer.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Minors.
  python/paddle/nn/functional/common.py
  python/paddle/nn/layer/__init__.py
  test_fused_attention_cudnn_fmha_op_perf.py
Due: pylint-doc-string, copyright_checker

add memory sparse table
  paddle/fluid/distributed/table/CMakeLists.txt
  paddle/fluid/distributed/table/depends/dense.h
  paddle/fluid/distributed/table/memory_sparse_table.cc
  paddle/fluid/distributed/table/memory_sparse_table.h
  paddle/fluid/distributed/table/table.cc
  paddle/fluid/distributed/table/table.h
  paddle/fluid/distributed/test/CMakeLists.txt
  paddle/fluid/distributed/test/memory_sparse_table_test.cc
  paddle/fluid/framework/io/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Polish license formats.
  paddle/fluid/operators/fused/fused_attention_cudnn_fmha_op.cc
  paddle/fluid/operators/fused/fused_attention_cudnn_fmha_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unittest
  python/paddle/distributed/auto_parallel/operators/common.py
  python/paddle/distributed/auto_parallel/parallelizer.py
  python/paddle/distributed/auto_parallel/utils.py
  python/paddle/fluid/tests/unittests/auto_parallel_autoconvert.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_autoconvert.py
Due: pylint-doc-string, copyright_checker

[new-exec] refine vlog of interpretercore (#36865)
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/memory/allocation/allocator_facade.cc
  paddle/fluid/platform/device_context.cc
  paddle/fluid/pybind/global_value_getter_setter.cc
  python/paddle/fluid/tests/unittests/interpreter/test_standalone_executor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update. test=develop
  python/paddle/fluid/executor.py
  python/paddle/fluid/tests/unittests/dist_fleet_heter_pipeline_ctr.py
Due: pylint-doc-string, copyright_checker

add unit tests, test=develop
  paddle/pten/core/tensor_meta.h
  paddle/pten/tests/CMakeLists.txt
  paddle/pten/tests/core/CMakeLists.txt
  paddle/pten/tests/core/allocator.h
  paddle/pten/tests/core/random.h
  paddle/pten/tests/core/test_allocator.cc
  paddle/pten/tests/core/test_dense_tensor.cc
  paddle/pten/tests/core/test_storage.cc
  paddle/pten/tests/core/timer.h
  paddle/pten/tests/utils/CMakeLists.txt
  paddle/pten/tests/utils/test_intrusive_ptr.cc
  paddle/pten/tests/utils/test_type_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
