Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

edit unittest
  python/paddle/fluid/tests/unittests/test_paddle_save_load.py
Due: pylint-doc-string, copyright_checker

fix some flake8 errors
  python/paddle/hapi/callbacks.py
  python/paddle/hapi/model.py
  python/paddle/vision/transforms/functional_cv2.py
  python/paddle/vision/transforms/functional_pil.py
Due: pylint-doc-string, copyright_checker

add_pass_enhance:conv_bn, conv_eleadd_bn
  paddle/fluid/framework/ir/conv_bn_fuse_pass.cc
  paddle/fluid/framework/ir/conv_bn_fuse_pass.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix unittest failure due to the path is too long (#33447)
  paddle/fluid/platform/enforce.h
  paddle/fluid/platform/enforce_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Move AXPY handler code to separate files.
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/math/CMakeLists.txt
  paddle/fluid/operators/math/blas_impl.h
  paddle/fluid/operators/math/selected_rows_functor.cc
  paddle/fluid/operators/mkldnn/CMakeLists.txt
  paddle/fluid/operators/mkldnn/axpy_handler.cc
  paddle/fluid/operators/mkldnn/axpy_handler.h
  paddle/fluid/platform/mkldnn/axpy_handler.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

miss if
  paddle/fluid/inference/api/analysis_predictor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add_pass_enhance:conv_bn, conv_eleadd_bn
  paddle/fluid/framework/ir/conv_bn_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add support for ports
  python/paddle/distributed/fleet/elastic.py
Due: pylint-doc-string, copyright_checker

Use oneDNN AXPY handler in SGD op.
  paddle/fluid/operators/optimizers/sgd_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine threads config.
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/elementwise/CMakeLists.txt
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.cu
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Use axpy handler only when Paddle is built with oneDNN.
  paddle/fluid/operators/optimizers/sgd_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add test for SUM BF16 with big rows.
  python/paddle/fluid/tests/unittests/test_sum_op.py
Due: pylint-doc-string, copyright_checker

optimization of index_select backward
  cmake/flags.cmake
  paddle/fluid/operators/index_select_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fix SFINAE rules for elementwise_add_to.
  paddle/fluid/operators/math/selected_rows_functor.cc
  paddle/fluid/operators/mkldnn/axpy_handler.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

- Draft of implementation of refactoring
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/lrn_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/scale_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/sum_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/mkldnn/test_batch_norm_mkldnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Reduce the test duration
  python/paddle/fluid/tests/unittests/test_static_save_load_bf16.py
Due: pylint-doc-string, copyright_checker

Correct comment
  python/paddle/fluid/tests/book/test_fit_a_line.py
Due: pylint-doc-string, copyright_checker

Add matmul and chagne fluid.io to paddle.static
  python/paddle/fluid/tests/book/test_fit_a_line.py
  python/paddle/fluid/tests/unittests/test_static_save_load_bf16.py
Due: pylint-doc-string, copyright_checker

Add bf16 support for save and load ops
  paddle/fluid/operators/load_combine_op.cc
  paddle/fluid/operators/load_op.cc
  paddle/fluid/operators/save_combine_op.cc
  paddle/fluid/operators/save_load_combine_op_test.cc
  paddle/fluid/operators/save_op.cc
  python/paddle/fluid/tests/book/test_fit_a_line.py
  python/paddle/fluid/tests/unittests/test_static_save_load_bf16.py
  tools/static_mode_white_list.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Add bf16 test condition
  python/paddle/fluid/tests/unittests/test_static_save_load_bf16.py
Due: pylint-doc-string, copyright_checker

Fix test
  python/paddle/fluid/tests/book/test_fit_a_line.py
Due: pylint-doc-string, copyright_checker

new api paddle.trunc, test=develop
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

Fix some Bugs of Undefined Variable (#33488)
  python/paddle/distributed/utils.py
  python/paddle/fluid/dataloader/collate.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_transpose_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_eager_deletion_delete_vars.py
  python/paddle/fluid/tests/unittests/xpu/test_pool2d_op_xpu.py
  python/paddle/optimizer/lr.py
  python/paddle/optimizer/optimizer.py
  python/paddle/tests/test_model.py
  python/paddle/text/datasets/wmt14.py
Due: pylint-doc-string, copyright_checker

replace 'InnerSetOverridedStopGradient' with 'SetOverridedStopGradient'. (#33303)
  paddle/fluid/imperative/py_layer_fwd.h
  paddle/fluid/operators/py_layer_op.cc
  python/paddle/fluid/tests/unittests/test_pylayer_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix used before assign
  python/paddle/fluid/tests/unittests/mkldnn/test_fusion_gru_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_hdfs1.py
Due: pylint-doc-string, copyright_checker

fix ci converage. test=develop
  python/paddle/fluid/tests/unittests/test_multiprocess_dataloader_dataset.py
Due: pylint-doc-string, copyright_checker

add python fetch
  paddle/fluid/framework/new_exec.h
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add warning log for DataLoader output format imcompatible upgrade. test=develop
  python/paddle/fluid/dataloader/fetcher.py
Due: pylint-doc-string, copyright_checker

add unittest. test=develop
  python/paddle/fluid/tests/unittests/test_multiprocess_dataloader_dataset.py
Due: pylint-doc-string, copyright_checker

fix image batch bug (#33498)
  python/paddle/dataset/image.py
Due: pylint-doc-string, copyright_checker

sync trainers
  python/paddle/distributed/fleet/elastic.py
Due: pylint-doc-string, copyright_checker

fix multiple errors with inline syntax
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/elementwise/CMakeLists.txt
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

NULL to nullptr, test=develop
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/op_function_generator.cc
  paddle/fluid/pybind/protobuf.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[cherry-pick]Fixed a bug of log_softmax: op input was modified to 'nan' (#32937) (#33436)
  paddle/fluid/operators/log_softmax_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[cherry-pick] use the required instruction to determine if the environment fits the sample code's required. (#32766) (#33451)
  tools/check_file_diff_approvals.sh
  tools/sampcd_processor.py
  tools/test_sampcd_processor.py
  tools/wlist.json
Due: pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
