Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

fix total limit warning test=develop
  paddle/fluid/operators/distributed/brpc_variable_response.cc
Due: clang-format-with-version-check, copyright_checker

add ut
  python/paddle/fluid/tests/unittests/dist_save_load.py
  python/paddle/fluid/tests/unittests/dist_simnet_bow.py
  python/paddle/fluid/tests/unittests/test_dist_save_load.py
Due: copyright_checker

add avx, mkl support test=develop
  CMakeLists.txt
  cmake/cuda.cmake
  cmake/external/mkldnn.cmake
  cmake/external/mklml.cmake
  cmake/external/xbyak.cmake
  cmake/inference_lib.cmake
  cmake/simd.cmake
  paddle/fluid/framework/mixed_vector.h
  paddle/fluid/inference/api/demo_ci/CMakeLists.txt
  paddle/fluid/memory/detail/system_allocator.cc
  paddle/fluid/operators/math/cpu_vec.h
  paddle/fluid/operators/math/detail/activation_functions.h
  paddle/fluid/operators/math/detail/avx_functions.cc
  paddle/fluid/operators/math/detail/avx_mathfun.h
  paddle/fluid/operators/math/jit_code.cc
  paddle/fluid/operators/math/jit_code.h
  paddle/fluid/operators/math/jit_kernel_crf_decode.cc
  paddle/fluid/operators/math/jit_kernel_layer_norm.cc
  paddle/fluid/platform/cpu_info.cc
  paddle/fluid/platform/cpu_info.h
  paddle/fluid/platform/dynload/cudnn.h
  paddle/fluid/platform/dynload/dynamic_loader.cc
  paddle/fluid/platform/dynload/mklml.h
  paddle/fluid/platform/dynload/tensorrt.h
  paddle/fluid/platform/port.h
  paddle/fluid/recordio/chunk.cc
  paddle/fluid/train/demo/CMakeLists.txt
  python/setup.py.in
Due: clang-format-with-version-check, copyright_checker

add ut
  python/paddle/fluid/tests/unittests/dist_save_load.py
  python/paddle/fluid/tests/unittests/test_dist_save_load.py
Due: copyright_checker

update by comment
  paddle/fluid/framework/parallel_executor.cc
Due: clang-format-with-version-check, copyright_checker

add ut
  python/paddle/fluid/tests/unittests/dist_save_load.py
Due: copyright_checker

download & run & instance
  paddle/fluid/framework/async_executor.cc
  paddle/fluid/framework/async_executor.h
  python/paddle/fluid/async_executor.py
Due: clang-format-with-version-check, copyright_checker

Fix the gelu backward to avoid nan
  paddle/fluid/operators/activation_op.h
Due: clang-format-with-version-check, copyright_checker

Fix the issue to run on AVX2 and AVX512F machines (#14851)
  paddle/fluid/operators/math/jit_kernel_layer_norm.cc
Due: clang-format-with-version-check, copyright_checker

remove unused code. test=develop
  paddle/fluid/framework/details/analysis_var_pass.cc
  paddle/fluid/framework/details/analysis_var_pass.h
  paddle/fluid/framework/details/memory_reuse_types.cc
  paddle/fluid/framework/details/memory_reuse_types.h
  paddle/fluid/framework/details/memory_reuse_types_test.cc
Due: clang-format-with-version-check, copyright_checker

test all impls and all inplace cases
  paddle/fluid/operators/jit/helper.h
  paddle/fluid/operators/jit/test.cc
Due: clang-format-with-version-check, copyright_checker

fix tests. test=develop
  paddle/fluid/framework/details/analysis_var_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

fix the compile error on mac
  paddle/fluid/operators/jit/gen_base.h
  paddle/fluid/operators/jit/helper.h
Due: clang-format-with-version-check, copyright_checker

fix tests. test=develop
  python/paddle/fluid/transpiler/memory_optimization_transpiler.py
Due: copyright_checker

fix tests. test=develop
  python/paddle/fluid/framework.py
  python/paddle/fluid/io.py
Due: copyright_checker

is instance is None
  python/paddle/fluid/async_executor.py
Due: copyright_checker

Delete the codes of ChooseKernel. test=develop
  CMakeLists.txt
  paddle/fluid/framework/op_kernel_type.h
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/inference/api/api_impl.cc
  paddle/fluid/operators/controlflow/while_op.cc
Due: clang-format-with-version-check, copyright_checker

fix build issue test=develop
  paddle/fluid/framework/mixed_vector.h
  paddle/fluid/operators/math/detail/avx_mathfun.h
  paddle/fluid/platform/cpu_info.h
Due: clang-format-with-version-check, copyright_checker

fix API spec. test=develop
  paddle/fluid/API.spec
Due: none

remove while_op support temporarily test=develop
  paddle/fluid/framework/executor.cc
  paddle/fluid/operators/controlflow/while_op.cc
Due: clang-format-with-version-check, copyright_checker

add ut, test=develop
  python/paddle/fluid/tests/unittests/test_dist_save_load.py
Due: copyright_checker

implement backward test=develop
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/framework/op_desc.h
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/shape_inference.h
  paddle/fluid/operators/py_func_op.cc
  paddle/fluid/pybind/protobuf.cc
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

fix conflict. test=develop
  paddle/fluid/framework/details/analysis_var_pass_test.cc
Due: clang-format-with-version-check, copyright_checker

Refine the beam_search op and test.
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/beam_search_op.cc
  paddle/fluid/operators/beam_search_op.h
  paddle/fluid/operators/beam_search_op_test.cc
  paddle/fluid/operators/bpr_loss_op.h
  paddle/fluid/operators/math/CMakeLists.txt
  paddle/fluid/operators/math/beam_search.cc
  paddle/fluid/operators/math/beam_search.h
  paddle/fluid/operators/math/beam_search_test.cc
Due: clang-format-with-version-check, copyright_checker

add ut, test=develop
  python/paddle/fluid/tests/unittests/dist_save_load.py
Due: copyright_checker

Add @templatedoc() in nn.py, test=develop
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

Remove unnecessary calls
  paddle/fluid/operators/activation_op.h
Due: clang-format-with-version-check, copyright_checker

Fix import errors. test=develop
  python/paddle/fluid/contrib/slim/__init__.py
  python/paddle/fluid/contrib/slim/core/compress_pass.py
  python/paddle/fluid/contrib/slim/core/config.py
  python/paddle/fluid/contrib/slim/core/strategy.py
  python/paddle/fluid/contrib/slim/graph/executor.py
  python/paddle/fluid/contrib/slim/graph/graph.py
  python/paddle/fluid/contrib/slim/graph/graph_pass.py
  python/paddle/fluid/contrib/slim/prune/prune_strategy.py
  python/paddle/fluid/contrib/slim/prune/pruner.py
Due: copyright_checker

remove out for elementwise_op After talk with panxin, we found that it is not approprate that add out for elementwise_op, because it is dangerous for memory_opt
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/regularizer.py
  python/paddle/fluid/tests/unittests/test_weight_decay.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
