Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

strided_slice op basic function test=develop
  paddle/fluid/operators/strided_slice_op.cc
  paddle/fluid/operators/strided_slice_op.cu
  paddle/fluid/operators/strided_slice_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_strided_slice_op.py
Due: clang-format-with-version-check, copyright_checker

modify paddle_build.sh for Paddle python3 runtime image generation, test=develop (#19218)
  paddle/scripts/paddle_build.sh
Due: none

A a pass to enable the use of cudnn (#19346)
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/cudnn_placement_pass.cc
  paddle/fluid/framework/ir/cudnn_placement_pass.h
  paddle/fluid/framework/ir/cudnn_placement_pass_tester.cc
  paddle/fluid/framework/ir/pass_tester_helper.h
  paddle/fluid/framework/ir/placement_pass_base.cc
  paddle/fluid/framework/ir/placement_pass_base.h
  paddle/fluid/framework/ir/simplify_with_basic_ops_pass_tester.cc
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/api/paddle_pass_builder.h
  paddle/fluid/inference/tests/api/trt_mobilenet_test.cc
  paddle/fluid/inference/tests/api/trt_resnet50_test.cc
  paddle/fluid/inference/tests/api/trt_test_helper.h
Due: clang-format-with-version-check, copyright_checker

integrate distributed classification
  python/paddle/fluid/framework.py
  python/paddle/fluid/layers/collective.py
  python/paddle/fluid/transpiler/collective.py
Due: copyright_checker

add comments test=develop
  python/paddle/fluid/layers/collective.py
  python/paddle/fluid/transpiler/collective.py
Due: copyright_checker

supprts distributed classification with unittests test=develop
  paddle/fluid/operators/shard_index_op.cu
  paddle/fluid/operators/shard_index_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/dist_softmax_classification.py
  python/paddle/fluid/tests/unittests/test_dist_classification_base.py
  python/paddle/fluid/tests/unittests/test_dist_softmax_classification.py
  python/paddle/fluid/transpiler/collective.py
Due: clang-format-with-version-check, copyright_checker

test tomorrow
  paddle/fluid/operators/distributed/communicator.cc
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: clang-format-with-version-check, copyright_checker

Skip start epoch and end epoch when dumping strategy in PaddleSlim (#19580)
  python/paddle/fluid/contrib/slim/core/config.py
  python/paddle/fluid/contrib/slim/core/strategy.py
Due: copyright_checker

add regularization for optimizer & program compare function, test=develop
  python/paddle/fluid/tests/unittests/test_program_prune_backward.py
Due: copyright_checker

paddle::framework::vectorize() templatization test=develop
  paddle/fluid/framework/data_layout_transform.cc
  paddle/fluid/framework/ddim.cc
  paddle/fluid/framework/ddim.h
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/dequantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/lrn_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/quantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/requantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/sum_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

extract init judue from shape compare, test=develop
  paddle/fluid/operators/optimizers/adadelta_op.cc
  paddle/fluid/operators/optimizers/adagrad_op.cc
  paddle/fluid/operators/optimizers/adam_op.cc
  paddle/fluid/operators/optimizers/adamax_op.cc
  paddle/fluid/operators/optimizers/decayed_adagrad_op.cc
  paddle/fluid/operators/optimizers/ftrl_op.cc
  paddle/fluid/operators/optimizers/momentum_op.h
  paddle/fluid/operators/optimizers/sgd_op.cc
Due: clang-format-with-version-check, copyright_checker

update time format
  paddle/fluid/operators/distributed/trainer_heart_beat_monitor.cc
Due: clang-format-with-version-check, copyright_checker

Add DeviceCodePool to manage all device codes.
  paddle/fluid/platform/device_code.cc
  paddle/fluid/platform/device_code.h
  paddle/fluid/platform/device_code_test.cc
  paddle/fluid/platform/dynload/nvrtc.cc
  paddle/fluid/platform/dynload/nvrtc.h
Due: clang-format-with-version-check, copyright_checker

test=develop, API.spec
  paddle/fluid/API.spec
Due: none

fix time format
  paddle/fluid/operators/distributed/trainer_heart_beat_monitor.cc
  paddle/fluid/operators/distributed/trainer_heart_beat_monitor.h
Due: clang-format-with-version-check, copyright_checker

refine PADDLE_ENFORCE codes for unify PADDLE_ASSERT_MSG (#19603)
  paddle/fluid/framework/ir/node.h
  paddle/fluid/framework/tensor_util.cc
  paddle/fluid/framework/tensor_util.h
  paddle/fluid/operators/detail/safe_ref.h
  paddle/fluid/operators/dgc_op.h
  paddle/fluid/operators/dropout_op.cu
  paddle/fluid/operators/math/im2col.cu
  paddle/fluid/operators/math/sample_prob.cu
  paddle/fluid/operators/math/selected_rows_functor.cu
  paddle/fluid/operators/math/vol2col.cu
  paddle/fluid/operators/optimizers/lars_momentum_op.h
  paddle/fluid/operators/sample_logits_op.h
  paddle/fluid/operators/sum_op.h
  paddle/fluid/operators/sync_batch_norm_op.cu
  paddle/fluid/platform/cuda_helper.h
  paddle/fluid/platform/cudnn_helper.h
  paddle/fluid/platform/device_context.h
  paddle/fluid/platform/nccl_helper.h
  paddle/fluid/platform/profiler.cu
Due: clang-format-with-version-check, copyright_checker

return index for multiclass_nms, test=develop
  paddle/fluid/API.spec
  paddle/fluid/operators/detection/multiclass_nms_op.cc
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/tests/test_detection.py
  python/paddle/fluid/tests/unittests/test_multiclass_nms_op.py
Due: clang-format-with-version-check, copyright_checker

add enforce hint;test=develop
  paddle/fluid/operators/elementwise/elementwise_op_function.h
Due: clang-format-with-version-check, copyright_checker

tmp save: run leaky_relu but get invalid resource handle
  paddle/fluid/inference/analysis/ir_passes/lite_subgraph_pass.cc
  paddle/fluid/inference/analysis/ir_passes/lite_subgraph_pass.h
  paddle/fluid/inference/lite/engine.cc
  paddle/fluid/inference/lite/op_teller.cc
  paddle/fluid/operators/lite/CMakeLists.txt
  paddle/fluid/operators/lite/lite_engine_op.cc
  paddle/fluid/operators/lite/lite_engine_op.h
Due: clang-format-with-version-check, copyright_checker

fix multi thread bug
  paddle/fluid/operators/distributed/trainer_heart_beat_monitor.cc
  python/paddle/fluid/__init__.py
Due: clang-format-with-version-check, copyright_checker

update reduce_sum and reduce_mean to save memory, test=develop
  paddle/fluid/op_use_default_grad_op_maker.spec
  paddle/fluid/operators/reduce_ops/reduce_mean_op.cc
  paddle/fluid/operators/reduce_ops/reduce_mean_op.part.cu
  paddle/fluid/operators/reduce_ops/reduce_op.h
  paddle/fluid/operators/reduce_ops/reduce_sum_op.cc
  paddle/fluid/operators/reduce_ops/reduce_sum_op.h
  paddle/fluid/operators/reduce_ops/reduce_sum_op.part.cu
Due: clang-format-with-version-check, copyright_checker

fix exe.close with right trainer_id, test=develop
  paddle/fluid/operators/distributed/grpc/grpc_client.cc
Due: clang-format-with-version-check, copyright_checker

add ut for trainer heartbeat implement, test=develop
  paddle/fluid/operators/distributed/trainer_heart_beat_monitor_test.cc
Due: clang-format-with-version-check, copyright_checker

test=develop Remove the fix bug of scatter_add, and just add the support of int64 in scatter_add
  paddle/fluid/operators/scatter.cu.h
  paddle/fluid/operators/scatter.h
  python/paddle/fluid/tests/unittests/test_scatter_op.py
Due: clang-format-with-version-check, copyright_checker

fix the license and remove redundant code, test=develop
  paddle/fluid/operators/flatten_op.h
  python/paddle/fluid/tests/unittests/test_flatten2_op.py
  python/paddle/fluid/tests/unittests/test_flatten_op.py
Due: clang-format-with-version-check, copyright_checker

test=develop Add the test case for scatter op, the test case just for index int64
  python/paddle/fluid/tests/unittests/test_scatter_op.py
Due: copyright_checker

paddle::framework::vectorize() templatization (#19611)
  paddle/fluid/framework/data_layout_transform.cc
  paddle/fluid/framework/ddim.cc
  paddle/fluid/framework/ddim.h
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/dequantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/lrn_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/quantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/requantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/sum_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
