Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    paddle/fluid/distributed/ps/thirdparty/round_robin.h
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: (?x)^(
    paddle/utils/.*
)$


not compile with dist, abort all dist operations
  python/paddle/distributed/parallel.py
Due: pylint-doc-string, copyright_checker

add add_bias_layernorm_pass
  paddle/fluid/framework/ir/add_bias_layernorm_pass.cc
  paddle/fluid/framework/ir/add_bias_layernorm_pass.h
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[cherry-pick]Ort backend optimizer(#44136 #44703 #44724) (#44766)
  cmake/external/paddle2onnx.cmake
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
  paddle/fluid/inference/api/onnxruntime_predictor.cc
  paddle/fluid/inference/api/onnxruntime_predictor.h
  paddle/fluid/inference/api/paddle_tensor.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix get_pr_ut error (#44787)
  tools/get_pr_ut.py
Due: pylint-doc-string, copyright_checker

add sequence_unpad for xpu,*test=kunlun
  paddle/fluid/operators/math/sequence_padding.cc
  paddle/fluid/operators/sequence_ops/sequence_unpad_op_xpu.cc
  paddle/fluid/platform/device/xpu/xpu2_op_list.h
  python/paddle/fluid/tests/unittests/xpu/test_sequence_unpad_op_xpu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix rocm error
  paddle/fluid/operators/fused/multihead_matmul_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[Eager] use final_state_fill_constant_
  paddle/phi/api/yaml/generator/wrapped_infermeta_gen.py
  paddle/phi/api/yaml/legacy_api.yaml
  python/paddle/fluid/initializer.py
Due: pylint-doc-string, copyright_checker

fix bugs .
  python/paddle/tensor/creation.py
Due: pylint-doc-string, copyright_checker

[CustomDevice] add custom ccl 2/2
  paddle/fluid/distributed/collective/CMakeLists.txt
  paddle/fluid/distributed/collective/CustomCCLTools.cc
  paddle/fluid/distributed/collective/CustomCCLTools.h
  paddle/fluid/distributed/collective/ProcessGroupCustom.cc
  paddle/fluid/distributed/collective/ProcessGroupCustom.h
  paddle/fluid/distributed/collective/ProcessGroupHeter.cc
  paddle/fluid/distributed/collective/ProcessGroupHeter.h
  paddle/fluid/distributed/collective/reducer.cc
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/distributed_py.cc
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/launch.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/distributed/parallel.py
  python/paddle/fluid/dygraph/parallel.py
  python/paddle/fluid/tests/custom_runtime/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update
  python/paddle/fluid/tests/custom_runtime/CMakeLists.txt
  python/paddle/fluid/tests/custom_runtime/test_fleet_launch_custom_device.sh
Due: copyright_checker

update
  python/paddle/fluid/tests/custom_runtime/CMakeLists.txt
Due: none

fix2
  python/paddle/tensor/creation.py
Due: pylint-doc-string, copyright_checker

[Phi] polish and rename, pt* -> phi* (#44697)
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
  paddle/fluid/framework/new_executor/new_executor_defs.cc
  paddle/fluid/framework/new_executor/new_executor_defs.h
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/imperative/op_base.h
  paddle/fluid/imperative/prepared_operator.cc
  paddle/phi/capi/include/kernel_utils.h
  paddle/phi/core/kernel_registry.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix
  paddle/fluid/operators/edit_distance_op.cc
  paddle/fluid/operators/edit_distance_op.cu
  paddle/fluid/operators/edit_distance_op.h
  paddle/phi/api/yaml/legacy_api.yaml
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/cpu/edit_distance_kernel.cc
  paddle/phi/kernels/gpu/edit_distance_kernel.cu
  paddle/phi/ops/compat/edit_distance_sig.cc
  python/paddle/fluid/tests/unittests/test_edit_distance_op.py
  python/paddle/nn/functional/loss.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add api to get get_saved_feasign_size
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  paddle/fluid/framework/fleet/fleet_wrapper.h
  paddle/fluid/pybind/fleet_wrapper_py.cc
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/__init__.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Eager]Menual fused_gemm_epilogue (#44748)
  paddle/fluid/eager/api/manual/fluid_manual/dygraph_forward_api.h
  paddle/fluid/eager/api/manual/fluid_manual/forwards/CMakeLists.txt
  paddle/fluid/eager/api/manual/fluid_manual/forwards/fused_gemm_epilogue_fwd_func.cc
  paddle/fluid/eager/api/manual/fluid_manual/nodes/CMakeLists.txt
  paddle/fluid/eager/api/manual/fluid_manual/nodes/fused_gemm_epilogue_node.cc
  paddle/fluid/eager/api/manual/fluid_manual/nodes/nodes.h
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  python/paddle/fluid/tests/unittests/test_fused_gemm_epilogue_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

get back legacy dygraph
  python/paddle/vision/ops.py
Due: pylint-doc-string, copyright_checker

recover protobuf python version
  python/requirements.txt
Due: none

fix gpus compatible later
  python/paddle/distributed/launch/context/args_envs.py
Due: pylint-doc-string, copyright_checker

change by ysl
  paddle/phi/kernels/gpudnn/affine_grid_grad_kernel.cu
  paddle/phi/kernels/gpudnn/affine_grid_kernel.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Do not set return_merge in test_parallel_executor_run_cinn
  python/paddle/fluid/tests/unittests/test_parallel_executor_run_cinn.py
Due: pylint-doc-string, copyright_checker

Skip not return_merged cases for standalone executor
  python/paddle/fluid/executor.py
Due: pylint-doc-string, copyright_checker

update test_nearest_interp_v2_op.py check grad
  python/paddle/fluid/tests/unittests/test_nearest_interp_v2_op.py
Due: pylint-doc-string, copyright_checker

add merged_momentum *test=kunlun
  cmake/external/xpu.cmake
  paddle/fluid/operators/optimizers/merged_momentum_op_xpu.cc
  paddle/fluid/platform/device/xpu/xpu2_op_list.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

just for trt7.1.3.a
  paddle/fluid/inference/tensorrt/engine.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

zero init & cache & patch config
  paddle/fluid/distributed/ps/table/ctr_accessor.cc
  paddle/fluid/distributed/ps/table/ctr_double_accessor.cc
  paddle/fluid/distributed/ps/table/sparse_accessor.cc
  paddle/fluid/distributed/the_one_ps.proto
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/base/distributed_strategy.py
  python/paddle/distributed/ps/the_one_ps.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bfloat16 bugs
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_bfloat16_pass.cc
  paddle/fluid/framework/ir/mkldnn/matmul_activation_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/matmul_elementwise_add_mkldnn_fuse_pass.cc
  paddle/fluid/operators/mkldnn/matmul_v2_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add select_p
  paddle/fluid/operators/prim_ops/CMakeLists.txt
  paddle/fluid/operators/prim_ops/prim_op_test.cc
  paddle/fluid/operators/prim_ops/select_p_op.cc
  python/paddle/fluid/tests/unittests/autograd/test_jvp_and_transpose.py
  python/paddle/fluid/tests/unittests/autograd/test_orig2prim.py
  python/paddle/fluid/tests/unittests/autograd/test_prim2orig.py
  python/paddle/fluid/tests/unittests/autograd/test_primops.py
  python/paddle/incubate/autograd/primops.py
  python/paddle/incubate/autograd/primrules.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Phi] Move QR to Phi (#44742)
  paddle/fluid/operators/lstsq_op.cu
  paddle/fluid/operators/lstsq_op.h
  paddle/fluid/operators/qr_op.cc
  paddle/fluid/operators/qr_op.cu
  paddle/fluid/operators/qr_op.h
  paddle/phi/api/yaml/legacy_api.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/kernels/cpu/qr_grad_kernel.cc
  paddle/phi/kernels/gpu/qr_grad_kernel.cu
  paddle/phi/kernels/gpu/qr_kernel.cu
  paddle/phi/kernels/impl/qr_grad_kernel_impl.h
  paddle/phi/kernels/impl/qr_kernel_impl.h
  paddle/phi/kernels/qr_grad_kernel.h
  paddle/phi/kernels/triangular_solve_kernel.h
  paddle/phi/ops/compat/qr_sig.cc
  python/paddle/fluid/tests/unittests/test_qr_op.py
  python/paddle/tensor/linalg.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

bugfix
  python/paddle/distributed/auto_parallel/engine.py
  python/paddle/distributed/auto_parallel/operators/common.py
  python/paddle/distributed/auto_parallel/operators/dist_default.py
  python/paddle/distributed/auto_parallel/operators/dist_embedding.py
  python/paddle/distributed/auto_parallel/operators/dist_matmul.py
Due: pylint-doc-string, copyright_checker

add sequence_unpad, *test=kunlun
  paddle/fluid/operators/sequence_ops/sequence_unpad_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[DCU] fix hipDeviceAttributeManagedMemory not support on DTK, test=develop
  paddle/phi/backends/gpu/rocm/rocm_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add paddle.sgn
  python/paddle/fluid/tests/unittests/test_sgn.py
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

remove out_scale.json
  python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
  python/paddle/fluid/tests/unittests/test_fake_quantize_op.py
Due: pylint-doc-string, copyright_checker

fix conflicts
  paddle/fluid/operators/fold_op.cc
  paddle/fluid/operators/fold_op.h
  paddle/fluid/operators/unpool_op.cc
  paddle/fluid/operators/unpool_op.h
  paddle/phi/api/yaml/legacy_api.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/infermeta/backward.h
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
  paddle/phi/kernels/cpu/fold_grad_kernel.cc
  paddle/phi/kernels/cpu/fold_kernel.cc
  paddle/phi/kernels/cpu/lu_unpack_grad_kernel.cc~756f01db76d991a8f59ae80bf53ed6f5713541c5
  paddle/phi/kernels/cpu/lu_unpack_grad_kernel.cc~HEAD
  paddle/phi/kernels/cpu/lu_unpack_kernel.cc~756f01db76d991a8f59ae80bf53ed6f5713541c5
  paddle/phi/kernels/cpu/lu_unpack_kernel.cc~HEAD
  paddle/phi/kernels/cpu/unpool_grad_kernel.cc
  paddle/phi/kernels/cpu/unpool_kernel.cc
  paddle/phi/kernels/fold_grad_kernel.h
  paddle/phi/kernels/fold_kernel.h
  paddle/phi/kernels/gpu/fold_grad_kernel.cu
  paddle/phi/kernels/gpu/fold_kernel.cu
  paddle/phi/kernels/gpu/unpool_grad_kernel.cu
  paddle/phi/kernels/gpu/unpool_kernel.cu
  paddle/phi/kernels/impl/fold_grad_kernel_impl.h
  paddle/phi/kernels/impl/fold_kernel_impl.h
  paddle/phi/kernels/unpool_grad_kernel.h
  paddle/phi/kernels/unpool_kernel.h
  paddle/phi/ops/compat/fold_sig.cc
  paddle/phi/ops/compat/unpool3d_sig.cc
  paddle/phi/ops/compat/unpool_sig.cc
  python/paddle/fluid/tests/unittests/test_fold_op.py
  python/paddle/fluid/tests/unittests/test_pad_op.py
  python/paddle/fluid/tests/unittests/test_unpool3d_op.py
  python/paddle/fluid/tests/unittests/test_unpool_op.py
  python/paddle/nn/functional/common.py
  python/paddle/nn/functional/pooling.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

revert stats
  paddle/fluid/memory/allocation/stats.cc
  paddle/fluid/memory/allocation/stats.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
