Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix fleet-desc & multi sparse table
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/node.py
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/optimizer_factory.py
Due: copyright_checker

Update cuda9/10 dockerfile to NCCL 2.4.7
  paddle/scripts/build_docker_images.sh
Due: none

test=develop Check the input and dtype in the op of unique_with_counts
  paddle/fluid/operators/unique_op.h
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

turn off memory_optimize by default, test=develop
  paddle/fluid/framework/details/build_strategy.h
Due: clang-format-with-version-check, copyright_checker

add slot to sparse table (#18686)
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/downpour_worker.cc
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  paddle/fluid/framework/fleet/fleet_wrapper.h
  paddle/fluid/framework/trainer_desc.proto
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/node.py
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/optimizer_factory.py
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/ps_pb2.py
  python/paddle/fluid/trainer_desc.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

upgrade seq_conv api doc test=develop
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

modify API.spec test=develop
  paddle/fluid/API.spec
Due: none

Add more precise tests test=develop
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_squash_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_squash_pass_tester.cc
Due: clang-format-with-version-check, copyright_checker

Use fraction of available GPU instead of total GPU
  paddle/fluid/memory/detail/buddy_allocator_test.cc
  paddle/fluid/platform/cpu_info.cc
  paddle/fluid/platform/gpu_info.cc
Due: clang-format-with-version-check, copyright_checker

Update trt5 for paddle-trt (#18645)
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/activation_op.cc
  paddle/fluid/inference/tensorrt/convert/dropout_op.cc
  paddle/fluid/inference/tensorrt/convert/leaky_relu_op.cc
  paddle/fluid/inference/tensorrt/convert/shuffle_channel_op.cc
  paddle/fluid/inference/tensorrt/convert/swish_op.cc
  paddle/fluid/inference/tensorrt/convert/test_activation_op.cc
  paddle/fluid/inference/tensorrt/convert/test_dropout_op.cc
  paddle/fluid/inference/tensorrt/convert/test_shuffle_channel_op.cc
  paddle/fluid/inference/tensorrt/convert/test_swish_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/op_teller.h
  paddle/fluid/inference/tensorrt/plugin/CMakeLists.txt
  paddle/fluid/inference/tensorrt/plugin/split_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/split_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/swish_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/swish_op_plugin.h
Due: clang-format-with-version-check, copyright_checker

test=develop test=document_preview update the API.spec for `unique_with_counts`, at the same time, optimize the python api in the op of `unique_with_count`
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_unique_with_counts.py
Due: copyright_checker

Change select_rows add from math::scatter::MergeAdd to SelectedRowsAddTo() on select_rows_function.h.
  paddle/fluid/operators/sum_op.h
Due: clang-format-with-version-check, copyright_checker

Add Conv+LeakyReLU MKLDNN pass test=develop
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/conv_leaky_relu_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_leaky_relu_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_leaky_relu_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/conv_op.cc
  paddle/fluid/operators/conv_transpose_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/tests/unittests/mkldnn/test_conv2d_mkldnn_op.py
Due: clang-format-with-version-check, copyright_checker

Modify auc doc. Add output variable description, previously was the scalar type, now changed to the tuple type.test=develop (#18771)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/metric_op.py
Due: copyright_checker

Enhance backward process (#18700)
  paddle/scripts/paddle_build.sh
  python/paddle/fluid/backward.py
  python/paddle/fluid/tests/unittests/test_backward.py
Due: copyright_checker

Polish build_strategy test=develop
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/details/build_strategy.h
  paddle/fluid/framework/ir/graph_printer.h
  paddle/fluid/framework/ir/graph_viz_pass.cc
  paddle/fluid/framework/ir/multi_devices_graph_pass/multi_devices_graph_print_pass.cc
  paddle/fluid/framework/ir/pass_builder.cc
  python/paddle/fluid/tests/unittests/test_buffer_shared_inplace_pass.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: clang-format-with-version-check, copyright_checker

adjust ins weight test=develop
  cmake/external/pslib.cmake
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/downpour_worker.cc
  paddle/fluid/framework/trainer_desc.proto
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/optimizer_factory.py
  python/paddle/fluid/trainer_desc.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

adjust ins weight test=develop
  cmake/external/pslib.cmake
Due: none

remove package.cmake (#18760)
  CMakeLists.txt
  cmake/package.cmake
Due: none

Fix shrink-dense and add scale-data-norm test=develop
  paddle/fluid/framework/downpour_worker.cc
  paddle/fluid/framework/fleet/fleet_wrapper.cc
Due: clang-format-with-version-check, copyright_checker

test=develop fix cpu roi_align_op backward bug
  paddle/fluid/operators/roi_align_op.h
Due: clang-format-with-version-check, copyright_checker

remove tensorcopy tempint1 in sum_op.h
  paddle/fluid/operators/sum_op.h
Due: clang-format-with-version-check, copyright_checker

modify inputs.push_back in sum_op.h
  paddle/fluid/operators/sum_op.h
Due: clang-format-with-version-check, copyright_checker

Add python API for appending LoD level (#18702)
  paddle/fluid/API.spec
  paddle/fluid/operators/lod_reset_op.cc
  paddle/fluid/operators/lod_reset_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_lod_reset_op.py
Due: clang-format-with-version-check, copyright_checker

Add Conv+LeakyReLU mkldnn fuse pass test=develop
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, copyright_checker

Remove CPU related strategy.
  paddle/fluid/platform/cpu_info.cc
  paddle/fluid/platform/gpu_info.cc
Due: clang-format-with-version-check, copyright_checker

polish code test=develop
  paddle/fluid/framework/details/build_strategy.cc
  python/paddle/fluid/tests/unittests/test_buffer_shared_inplace_pass.py
Due: clang-format-with-version-check, copyright_checker

Fix shrink-dense and add scale-data-norm test=develop
  paddle/fluid/framework/fleet/fleet_wrapper.cc
Due: clang-format-with-version-check, copyright_checker
