Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


Update semi_auto_parallel_sharding_stage_1.py
  test/auto_parallel/semi_auto_parallel_sharding_stage_1.py
Due: copyright_checker, pylint-doc-string

add input check
  python/paddle/base/layers/math_op_patch.py
  python/paddle/pir/math_op_patch.py
  test/sot/test_array_write.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/scripts/paddle_build.sh
Due: copyright_checker

add ut
  python/paddle/distributed/fleet/meta_parallel/pp_utils/overlapped_offload_utils.py
  test/collective/fleet/CMakeLists.txt
  test/collective/fleet/test_overlapped_offload_utils.py
  test/collective/fleet/test_overlapped_offload_utils.sh
  test/collective/fleet/testslist.csv
Due: copyright_checker, pylint-doc-string, auto-generate-cmakelists

test=document_fix
  .github/workflows/_Clone-linux.yml
Due: none

[PHI] Fix adaptivate pool2d kernel for big tensor
  paddle/phi/kernels/funcs/pooling.cc
  paddle/phi/kernels/funcs/pooling.cu
  paddle/phi/kernels/funcs/pooling.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update yield_instruction.cc
  paddle/fluid/framework/new_executor/instruction/control_flow/yield_instruction.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test=document_fix
  .github/workflows/_Linux-XPU.yml
Due: none

test_inv pass 单测
  Paddle/paddle/phi/kernels/funcs/elementwise_base.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add single bool branch for getitem
  paddle/fluid/pybind/eager_method.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test=document_fix build dev
  .github/workflows/Build-develop.yml
Due: none

add
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/meta_parallel/pp_utils/overlapped_offload_utils.py
Due: copyright_checker, pylint-doc-string

add
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
Due: copyright_checker, pylint-doc-string

test=document_fix
  .github/workflows/Build-develop.yml
Due: none

delete destination copy
  python/paddle/nn/layer/layers.py
Due: copyright_checker, pylint-doc-string

[SOT][DynamicShape] Force break for symbolic variable when dispatch not found
  python/paddle/jit/sot/opcode_translator/executor/opcode_executor.py
  python/paddle/jit/sot/opcode_translator/executor/variables/basic.py
  python/paddle/jit/sot/opcode_translator/executor/variables/callable.py
  python/paddle/jit/sot/utils/envs.py
Due: copyright_checker, pylint-doc-string

fix bugs
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/phi/infermeta/multiary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

drop resize in gpu
  paddle/phi/kernels/gpu/frobenius_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

test=document_fix zstd
  .github/workflows/_Linux-XPU.yml
Due: none

add api-bm
  .github/workflows/CI.yml
  .github/workflows/_Api-Benchmark.yml
Due: none

bypass
  .github/workflows/_Api-Benchmark.yml
Due: none

rename
  python/paddle/nn/layer/layers.py
  python/paddle/utils/__init__.py
  python/paddle/utils/layers_utils.py
  test/auto_parallel/CMakeLists.txt
  test/auto_parallel/init_lazy_guard_params_demo.py
  test/auto_parallel/test_init_lazy_guard_params.py
Due: copyright_checker, pylint-doc-string

[Distributed] destroy && recreate ncclComm (#72626)
  paddle/fluid/distributed/collective/process_group_nccl.cc
  paddle/fluid/distributed/collective/process_group_nccl.h
  paddle/fluid/pybind/distributed_py.cc
  paddle/phi/core/distributed/comm_context_manager.cc
  paddle/phi/core/distributed/comm_context_manager.h
  paddle/phi/core/distributed/nccl_comm_context.cc
  paddle/phi/core/distributed/nccl_comm_context.h
  python/paddle/distributed/__init__.py
  python/paddle/distributed/collective.py
  test/collective/fleet/CMakeLists.txt
  test/collective/fleet/shutdown_process_group.py
  test/collective/fleet/test_shutdown_process_group.py
  test/collective/fleet/testslist.csv
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

add complex_op_xpu
  paddle/phi/backends/xpu/xpu3_op_list.cc
  paddle/phi/kernels/xpu/complex_grad_kernel.cc
  paddle/phi/kernels/xpu/complex_kernel.cc
  test/xpu/test_complex_op_xpu.py
  test/xpu/test_real_imag_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add unitest
  python/paddle/pir/math_op_patch.py
  test/dygraph_to_static/test_item.py
Due: copyright_checker, pylint-doc-string

Fix compiling error when cinn is not enabled.
  paddle/fluid/pir/dialect/CMakeLists.txt
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/ap_infer_sym.cc
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/gpu/ap_facade_kernel.cu
  paddle/phi/kernels/gpu/ap_trivial_fusion_begin_kernel.cu
  paddle/phi/kernels/gpu/ap_trivial_fusion_end_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Polish copyright and error messages.
  paddle/ap/include/paddle/pass/add_pcc_pass.h
  paddle/ap/include/paddle/pass/fallback_fusion_op_to_phi_pass.h
  paddle/ap/include/paddle/pass/fuse_ap_trivial_pass.h
  paddle/ap/include/paddle/pass/move_trivial_fusion_range_to_fusion_op_pass.h
  paddle/ap/src/paddle/pass/add_pcc_pass.cc
  paddle/ap/src/paddle/pass/fallback_fusion_op_to_phi_pass.cc
  paddle/ap/src/paddle/pass/fuse_ap_trivial_pass.cc
  paddle/ap/src/paddle/pass/move_trivial_fusion_range_to_fusion_op_pass.cc
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

test=document_fix pzstd
  .github/workflows/_Linux-XPU.yml
Due: none
