Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

add the op def of elementwise_add
  paddle/fluid/operators/compat/elementwise_add.pbtxt
Due: none

add the def of elementwise_add
  paddle/fluid/operators/compat/elementwise_add.pbtxt
Due: none

Fix bugs
  paddle/fluid/operators/elementwise/elementwise_div_op.cu
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.cu
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.h
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_function.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_function.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: none

add an assertion to ensure that the size of each dim of the parameter to be created is larger than 0.
  python/paddle/fluid/layer_helper_base.py
Due: pylint-doc-string, copyright_checker

solve conflict and change test script for CI
  paddle/fluid/operators/reduce_ops/cub_reduce.h
  python/paddle/fluid/tests/unittests/test_reduce_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add NZ format in mul npu op
  paddle/fluid/operators/mul_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test
  tools/get_pr_ut.py
Due: pylint-doc-string, copyright_checker

add DataBound struct for reduce_max and reduce_min
  paddle/fluid/operators/reduce_ops/reduce_functor_op.h
  paddle/fluid/operators/reduce_ops/reduce_max_op.cu
  paddle/fluid/operators/reduce_ops/reduce_min_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix reuse_so_cache (#33234)
  paddle/scripts/paddle_build.sh
Due: copyright_checker

repair cr
  paddle/fluid/operators/roll_op.cc
  paddle/fluid/operators/roll_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix jetson arch when compiling with single arch
  cmake/cuda.cmake
Due: none

Add details
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_function.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

revert the changes in host exe codes in .h files
  paddle/fluid/operators/elementwise/elementwise_div_op.h
  paddle/fluid/operators/elementwise/elementwise_floordiv_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update reduce_functor_op.h
  paddle/fluid/operators/reduce_ops/reduce_functor_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix test_fused_elemwise_activation_op time out error
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

fix utest
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_model.py
Due: pylint-doc-string, copyright_checker

fix c_split bug
  paddle/fluid/operators/collective/c_split_op.cc
  paddle/fluid/operators/collective/c_split_op.cu
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add c_embedding for tensorparallel
  paddle/fluid/operators/collective/c_embedding_op.cc
  paddle/fluid/operators/collective/c_embedding_op.cu
  paddle/fluid/operators/collective/c_embedding_op.h
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
  python/paddle/fluid/tests/unittests/test_eye_op.py
  tools/static_mode_white_list.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bug of split
  paddle/fluid/operators/collective/c_embedding_op.cc
  paddle/fluid/operators/collective/c_embedding_op.cu
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_model.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix utest
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
  python/paddle/fluid/tests/unittests/test_eye_op.py
Due: pylint-doc-string, copyright_checker

fix utest
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
Due: pylint-doc-string, copyright_checker

fix single machine
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/mp_layers.py
Due: pylint-doc-string, copyright_checker

[ROCM] add is_compiled_with_rocm api, test=develop (#33043) (#33228)
  python/paddle/__init__.py
  python/paddle/device.py
  python/paddle/fluid/framework.py
  python/paddle/utils/cpp_extension/cpp_extension.py
Due: pylint-doc-string, copyright_checker

- First fix to #33021
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/analyzer_detect_functional_tester.cc
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fix cuda kernel launch of grid sampler (#33100) (#33232)
  paddle/fluid/operators/grid_sampler_op.cu
  python/paddle/fluid/tests/unittests/test_bilinear_interp_op.py
  python/paddle/fluid/tests/unittests/test_grid_sampler_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Cherry-pick] Fix spawn default nprocs get error (#33215) (#33249)
  python/paddle/distributed/spawn.py
  python/paddle/fluid/tests/unittests/test_spawn_and_init_parallel_env.py
Due: pylint-doc-string, copyright_checker

fix iScan C++ problems, test=develop
  paddle/fluid/operators/math/concat_test.cc
  paddle/fluid/operators/math/math_function_test.cc
  paddle/fluid/operators/math/vol2col_test.cc
  paddle/fluid/operators/scatter_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Reimplement the comparision binary ops using the new optimized CUDA function (#33064)
  paddle/fluid/operators/controlflow/compare_op.cu
  paddle/fluid/operators/elementwise/elementwise_add_op.cu
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_function.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

addequaldim for cuda, test=develop
  paddle/fluid/operators/add_equal_dim_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

conv2d support bfloat16 (#32221)
  paddle/fluid/operators/conv_cudnn_helper.h
  paddle/fluid/operators/conv_cudnn_op.cu
  paddle/fluid/operators/conv_op.cc
  paddle/fluid/platform/cudnn_desc.h
  paddle/fluid/platform/cudnn_helper.h
  python/paddle/fluid/tests/unittests/mkldnn/test_fusion_lstm_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/test_conv2d_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[ROCM] fix fused_fc_elementwise_layernorm, test=develop
  paddle/fluid/platform/cuda_device_function.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix an English gammar error in comment
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

[ROCM] update paddle inference cmake, test=develop (#33260)
  CMakeLists.txt
  cmake/configure.cmake
  cmake/inference_lib.cmake
  cmake/miopen.cmake
  paddle/fluid/platform/device_context.h
  paddle/fluid/platform/dynload/miopen.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

optimize OP's compilation time implemented by Eigen, test=develop (#33218)
  paddle/fluid/operators/eigen/eigen_function.h
  paddle/fluid/operators/eigen/loss.cc
  paddle/fluid/operators/eigen/loss.cu
  paddle/fluid/operators/log_loss_op.cc
  paddle/fluid/operators/log_loss_op.cu
  paddle/fluid/operators/log_loss_op.h
  paddle/fluid/operators/top_k_function_cuda.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
