Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


fix ci
  test/cpp_extension/test_cpp_extension_ninja.py
Due: copyright_checker, pylint-doc-string

[PyLayer] hold closure-captured tensors for PP recompute backward (#78805)
  paddle/fluid/pybind/eager.h
  paddle/fluid/pybind/eager_py_layer.cc
  python/paddle/distributed/fleet/recompute/recompute.py
  test/legacy_test/test_pylayer_clear_dataptr.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Cherry-pick] Fix PyLayer save_for_backward data release and remove shallow copy in recompute (#78795)
  paddle/fluid/pybind/eager.h
  paddle/fluid/pybind/eager_py_layer.cc
  python/paddle/distributed/fleet/recompute/recompute.py
  python/paddle/distributed/fleet/recompute/recompute_hybrid.py
  test/legacy_test/test_pylayer_clear_dataptr.py
  test/legacy_test/test_recompute_with_tuple_input.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Update the Dockerfile to support multi-architecture builds and fix the CUDA 13.x compatibility issue of flash-attn
  cmake/third_party.cmake
  tools/dockerfile/manylinux/Dockerfile-132
Due: none

align the loss apis
  python/paddle/nn/functional/loss.py
  python/paddle/nn/layer/loss.py
  test/legacy_test/test_api_compatibility_part3.py
Due: copyright_checker, pylint-doc-string

Cp Matmul precision alignment fix in 2d strided weight (#78749)
  paddle/phi/kernels/stride/matmul_stride_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix stride (#78746)
  paddle/phi/kernels/stride/matmul_stride_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

cp wstride fix (#78750)
  paddle/phi/kernels/stride/matmul_stride_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix(rocm): address ROCm 7.0 review feedback
  ci/rocm_test.sh
  cmake/external/warpctc.cmake
  cmake/external/warprnnt.cmake
  cmake/hip.cmake
  cmake/thrust.cmake
  paddle/phi/common/complex.h
  paddle/phi/kernels/funcs/rocprim_traits.h
  patches/hip.cmake.rocm70
  patches/warprnnt/hip.cmake.rocm70
  python/paddle/utils/cpp_extension/extension_utils.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Fix] Add PADDLE_API to custom_operator.h for Windows DLL export
  paddle/fluid/framework/custom_operator.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Add ABI symbol compatibility check
  ci/static_check.sh
  tools/check_abi_compatibility.py
  tools/test_check_abi_compatibility.py
Due: copyright_checker, pylint-doc-string

fix(rocm): restore compatibility gates and HIP topk build
  cmake/thrust.cmake
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/gpu/top_k_kernel.cu
  python/paddle/utils/cpp_extension/extension_utils.py
  test/compat/test_cpp_extension_api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

style(rocm): apply pre-commit formatting
  cmake/external/warpctc.cmake
  paddle/phi/kernels/CMakeLists.txt
  test/compat/test_cpp_extension_api.py
Due: copyright_checker, pylint-doc-string

fix(rocm): preserve external AMDGPU targets as one CMake arg
  cmake/external/warpctc.cmake
  cmake/external/warprnnt.cmake
Due: none

Fix allocator_facade.h overloaded error when enabling PADDLE_WITH_CUDA and PADDLE_WITH_CUSTOM_DEVICE
  paddle/phi/core/memory/allocation/allocator_facade.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix(rocm): scope external arch targets to ROCm 7
  cmake/external/warpctc.cmake
  cmake/external/warprnnt.cmake
Due: none

align some other APIs
  paddle/phi/api/include/compat/ATen/core/ivalue.h
  paddle/phi/api/include/compat/ATen/ops/_values.h
  paddle/phi/api/include/compat/ATen/ops/chunk.h
  paddle/phi/api/include/compat/ATen/ops/expand.h
  paddle/phi/api/include/compat/ATen/ops/index.h
  paddle/phi/api/include/compat/ATen/ops/sparse_coo_tensor.h
  paddle/phi/api/include/compat/ATen/ops/sparse_csr_tensor.h
  paddle/phi/api/include/compat/c10/cuda/impl/cuda_cmake_macros.h
  test/cpp/compat/ATen_chunk_test.cc
  test/cpp/compat/ATen_expand_test.cc
  test/cpp/compat/ATen_index_test.cc
  test/cpp/compat/ATen_values_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fully aligned the loss apis
  python/paddle/nn/functional/loss.py
  python/paddle/utils/decorator_utils.py
  test/legacy_test/test_api_compatibility_part3.py
  test/legacy_test/test_legacy_loss_args.py
Due: copyright_checker, pylint-doc-string

paddle.random.set_rng_state
  python/paddle/random.py
  test/compat/test_rng_state.py
Due: copyright_checker, pylint-doc-string

Add the check of API names in `check_nan_or_inf`, so that the checks for nan or inf can be skipped in certain APIs
  paddle/common/flags.cc
  paddle/fluid/eager/nan_inf_utils.cc
  test/cpp/eager/task_tests/nan_inf_utils_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix coverage
  test/cpp_extension/test_cpp_extension_ninja.py
Due: copyright_checker, pylint-doc-string

fix unflatten miss key
  python/paddle/distributed/flex_checkpoint/dcp/load_state_dict.py
  test/auto_parallel/hybrid_strategy/semi_auto_save_state_dict.py
  test/auto_parallel/hybrid_strategy/test_save_load_state_dict.py
Due: copyright_checker, pylint-doc-string

delete useless keys
  python/paddle/distributed/flex_checkpoint/dcp/load_state_dict.py
Due: copyright_checker, pylint-doc-string

update op_compat.yaml
  paddle/phi/ops/yaml/op_compat.yaml
Due: none

fix
  test/legacy_test/test_aminmax_op.py
Due: copyright_checker, pylint-doc-string

[Cherry-pick][Precision Depth Alignment] [Adamw] Add torch-compatible AdamW kernel #78691 (#78751)
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/infermeta/spmd_rules/optimizer.cc
  paddle/phi/infermeta/spmd_rules/optimizer.h
  paddle/phi/kernels/adamw_kernel.h
  paddle/phi/kernels/cpu/adamw_kernel.cc
  paddle/phi/kernels/gpu/adamw_kernel.cu
  paddle/phi/kernels/xpu/adamw_kernel.cc
  paddle/phi/ops/yaml/ops.yaml
  python/paddle/optimizer/adamw.py
  test/auto_parallel/semi_auto_parallel_sharding_stage_3.py
  test/collective/fleet/dygraph_group_sharded_stage3_offload.py
  test/cpp/phi/kernels/test_fused_adam_kernel.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix(rocm): scope default arch targets by version
  cmake/hip.cmake
  python/paddle/utils/cpp_extension/extension_utils.py
  test/compat/test_cpp_extension_api.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/core/tensor_utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update slice_utils.h
  paddle/fluid/pybind/compiled_program.cc
  paddle/fluid/pybind/data_set_py.cc
  paddle/fluid/pybind/eager.cc
  paddle/fluid/pybind/eager_math_op_patch.cc
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/eager_utils.h
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/io.cc
  paddle/fluid/pybind/manual_static_op_function.h
  paddle/fluid/pybind/place.cc
  paddle/fluid/pybind/pybind.cc
  paddle/fluid/pybind/slice_utils.h
  paddle/fluid/pybind/tensor.cc
  paddle/fluid/pybind/tensor_py.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[AP] Adapt DCU backend from CK to hytlass and fix DTK 25.04.2 build
  CMakeLists.txt
  cmake/cupti.cmake
  paddle/phi/kernels/funcs/check_numerics_utils.h
  paddle/phi/kernels/funcs/mode.h
  paddle/phi/kernels/funcs/viterbi_decode_functor.h
  paddle/phi/kernels/gpu/interpolate_grad_kernel.cu
  paddle/phi/kernels/gpu/interpolate_kernel.cu
  python/paddle/apy/device/dcu/compile_command_util.py
  python/paddle/apy/device/dcu/logs/test_matmul_add_relu.log
  python/paddle/apy/matmul_pass/matmul/.apy_ignore
  python/paddle/apy/matmul_pass/matmul/matmul.h
  python/paddle/apy/matmul_pass/matmul/profile.h
  test/ap/test_matmul_add_relu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

chore(rocm): document arch target defaults
  cmake/hip.cmake
Due: none

Revert "Add ABI symbol compatibility check"
  ci/static_check.sh
  tools/check_abi_compatibility.py
  tools/test_check_abi_compatibility.py
Due: copyright_checker, pylint-doc-string

align pin_memory with torch for randint
  python/paddle/tensor/random.py
  test/legacy_test/test_randint_op.py
Due: copyright_checker, pylint-doc-string

[AP] Add hytlass_patch and hytlass_matmul.h to Paddle repo
  python/paddle/apy/matmul_pass/matmul/hytlass_matmul.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/all_tuning_configs.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/batched_matrix_coord.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/check.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/epilogue/thread/linear_combination_unary.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/epilogue/thread/linear_combination_variadic.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/epilogue/threadblock/default_epilogue_with_variadic.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/epilogue/threadblock/epilogue_with_variadic.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/gemm/device/gemm_universal_with_variadic.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/gemm/kernel/default_gemm_with_variadic.h
  python/paddle/apy/matmul_pass/matmul/hytlass_patch/trace_device.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
