Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


Update test_pdist.py
  test/legacy_test/test_pdist.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/framework/new_executor/instruction/has_elements_instruction.cc
  paddle/fluid/framework/new_executor/instruction/tuple_pop_instruction.cc
  paddle/fluid/framework/phi_tensor_base_vector.h
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add debug
  paddle/fluid/framework/new_executor/instruction/cond_instruction.h
  paddle/fluid/framework/new_executor/instruction/while_instruction.h
  paddle/fluid/framework/new_executor/interpreter_base_impl.h
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore.h
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/framework/new_executor/pir_interpreter.h
  paddle/fluid/framework/new_executor/program_interpreter.cc
  paddle/fluid/framework/new_executor/program_interpreter.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Remove add_subdirectory
  test/cinn/CMakeLists.txt
Due: none

fix bug (#59516)
  tools/auto_parallel/ci_auto_parallel.sh
Due: copyright_checker

remove
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

fix test
  test/legacy_test/test_pool1d_api.py
  test/legacy_test/test_randint_op.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/fluid/framework/new_executor/pir_adaptor/pir_adaptor_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix cmake
  test/legacy_test/CMakeLists.txt
Due: none

simplify test_gpt_with_prim
  test/auto_parallel/gpt_with_prim.py
Due: copyright_checker, pylint-doc-string

new eager logic.
  paddle/fluid/eager/api/manual/eager_manual/forwards/multiply_fwd_func.cc
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  test/legacy_test/test_math_op_patch_var_base.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add linux compile requirements (#59443)
  paddle/scripts/compile_requirements.txt
  paddle/scripts/paddle_build.bat
  paddle/scripts/paddle_build.sh
  paddle/scripts/windows_build/requirements.txt
Due: copyright_checker

update
  paddle/phi/core/ddim.h
  paddle/pir/core/storage_manager.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cc_test
  test/cpp/pir/core/CMakeLists.txt
Due: none

code style
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/pir/transforms/fusion/conv2d_add_act_pass.cc
  paddle/fluid/pir/transforms/fusion/conv2d_add_act_pass.h
  paddle/fluid/pir/transforms/fusion/conv_bn_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/conv_bn_fuse_pass.h
  paddle/fluid/pybind/pir.cc
  test/cpp/pir/pattern_rewrite/pattern_rewrite_test.cc
  test/ir/pir/fused_pass/test_conv2d_add_act_pass.py
  test/ir/pir/fused_pass/test_conv_bn_fuse_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

polish code as PR 59200 review comments (#59549)
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.cc
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.h
  paddle/fluid/framework/new_executor/instruction/has_elements_instruction.h
  paddle/fluid/framework/new_executor/instruction/instruction_util.cc
  paddle/fluid/framework/new_executor/instruction/legacy_kernel_instruction.cc
  paddle/fluid/framework/new_executor/instruction/legacy_kernel_instruction.h
  paddle/fluid/framework/new_executor/instruction/phi_kernel_instruction.cc
  paddle/fluid/framework/new_executor/instruction/phi_kernel_instruction.h
  paddle/fluid/framework/new_executor/instruction/tuple_pop_instruction.h
  paddle/fluid/framework/new_executor/instruction/tuple_push_instruction.h
  paddle/fluid/framework/new_executor/pir_adaptor/pir_adaptor_util.cc
  paddle/fluid/framework/new_executor/pir_interpreter.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

code style
  paddle/fluid/pir/transforms/fusion/conv2d_add_act_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update variable_length_mem_eff_attn's unittest
  test/legacy_test/test_variable_length_memory_efficient_attention.py
Due: copyright_checker, pylint-doc-string

llama mlp、attention dp + mp
  paddle/phi/core/distributed/auto_parallel/dist_attr.cc
  paddle/phi/core/distributed/auto_parallel/reshard/reshard_function.cc
  paddle/phi/infermeta/spmd_rules/elementwise.cc
  test/auto_parallel/semi_auto_parallel_for_llama_attention.py
  test/auto_parallel/semi_auto_parallel_for_llama_mlp.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

code-style
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update test case
  paddle/phi/kernels/cpu/put_along_axis_grad_kernel.cc
  paddle/phi/kernels/funcs/gather_scatter_functor.cc
  paddle/phi/kernels/gpu/put_along_axis_grad_kernel.cu
  test/legacy_test/prim_op_test.py
  test/legacy_test/test_put_along_axis_op.py
  test/legacy_test/test_take_along_axis_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

infer
  cmake/inference_lib.cmake
Due: none

map_expr_test
  test/cpp/pir/cinn/adt/map_expr_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op.h
  test/dygraph_to_static/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[PIR] add python api for while op
  paddle/fluid/pybind/control_flow_api.cc
  paddle/fluid/pybind/pir.cc
  python/paddle/__init__.py
  python/paddle/pir/__init__.py
  python/paddle/pir/math_op_patch.py
  python/paddle/static/nn/control_flow.py
  test/ir/pir/CMakeLists.txt
  test/ir/pir/test_while_api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update yolov3
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
  python/paddle/nn/layer/layers.py
  test/dygraph_to_static/darknet.py
  test/dygraph_to_static/test_yolov3.py
  test/dygraph_to_static/yolov3.py
Due: copyright_checker, pylint-doc-string

code style
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/pir/transforms/fusion/conv2d_add_act_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/conv2d_add_act_fuse_pass.h
  paddle/fluid/pir/transforms/fusion/conv2d_bn_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/conv2d_bn_fuse_pass.h
  paddle/fluid/pybind/pir.cc
  test/cpp/pir/pattern_rewrite/pattern_rewrite_test.cc
  test/ir/pir/fused_pass/test_conv2d_add_act_fuse_pass.py
  test/ir/pir/fused_pass/test_conv2d_add_fuse_pass.py
  test/ir/pir/fused_pass/test_conv2d_bn_fuse_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add complex test for assign_value xpu
  paddle/fluid/pybind/op_function_common.cc
  paddle/phi/kernels/assign_kernel.cc
  test/xpu/test_assign_value_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add kernel infermeta and yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

bug_fix
  test/cpp/pir/cinn/CMakeLists.txt
  test/cpp/pir/core/CMakeLists.txt
  test/cpp/pir/shape_dialect/CMakeLists.txt
Due: none

:pencil2: Fix: updated test case
  test/legacy_test/test_signbit.py
Due: copyright_checker, pylint-doc-string

argsort
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add `test_legacy_and_pir_exe_and_pir_api`
  test/dygraph_to_static/test_break_continue.py
  test/dygraph_to_static/test_cpu_cuda_to_tensor.py
  test/dygraph_to_static/test_lstm.py
  test/dygraph_to_static/test_origin_info.py
  test/dygraph_to_static/test_transformer.py
Due: copyright_checker, pylint-doc-string

bug_fix
  test/cpp/pir/core/CMakeLists.txt
Due: none

clean code
  test/dygraph_to_static/test_slice.py
Due: copyright_checker, pylint-doc-string

fix: strategy registry
  paddle/phi/core/distributed/auto_parallel/reshard/reshard_function_registry.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add test_program_translator
  test/dygraph_to_static/test_program_translator.py
Due: copyright_checker, pylint-doc-string

add timer for optimizer
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
Due: copyright_checker, pylint-doc-string

remove log
  paddle/phi/infermeta/spmd_rules/matmul.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add api and test
  python/paddle/distribution/__init__.py
  python/paddle/distribution/continuous_bernoulli.py
  python/paddle/distribution/multivariate_normal.py
  test/distribution/test_distribution_continuous_bernoulli.py
  test/distribution/test_distribution_continuous_bernoulli_static.py
  test/distribution/test_distribution_multivariate_normal.py
  test/distribution/test_distribution_multivariate_normal_static.py
Due: copyright_checker, pylint-doc-string
