Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

test=develop, test the problem of conv2d_fusion can't found on windows
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/analyzer_zerocopyTensor_tester.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix conflict, test=develop
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

test=develop add fp64 check_grad for conv2d, conv3d
  python/paddle/fluid/tests/unittests/test_conv2d_op.py
  python/paddle/fluid/tests/unittests/test_conv3d_op.py
Due: pylint-doc-string, copyright_checker

fix typo and refine error information test=document_fix, test=develop
  tools/check_api_approvals.sh
  tools/check_op_register_type.py
Due: pylint-doc-string, copyright_checker

add half async communicator, test=develop
  paddle/fluid/operators/distributed/communicator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update error information test=document_fix, test=develop
  tools/check_api_approvals.sh
  tools/check_op_register_type.py
Due: pylint-doc-string, copyright_checker

update error information test=document_fix, test=develop
  tools/check_api_approvals.sh
Due: none

fix typo test=document_fix test=develop
  tools/check_api_approvals.sh
Due: none

test=inference
  paddle/fluid/inference/api/demo_ci/run.sh
Due: none

fix format in op_test.py, test=develop
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

test=develop fix generate_proposal_labels unit test
  python/paddle/fluid/tests/unittests/test_generate_proposal_labels_op.py
Due: pylint-doc-string, copyright_checker

remove patch command and file of warpctc to Improved quality of Paddle Repo,test=develop
  cmake/external/warpctc.cmake
  patches/warpctc/CMakeLists.txt
  patches/warpctc/include/contrib/moderngpu/include/device/intrinsics.cuh
  patches/warpctc/include/ctc.h
  patches/warpctc/include/detail/cpu_ctc.h
  patches/warpctc/include/detail/gpu_ctc.h
  patches/warpctc/include/detail/gpu_ctc_kernels.h
  patches/warpctc/include/detail/hostdevice.h
  patches/warpctc/src/ctc_entrypoint.cpp
  patches/warpctc/src/reduce.cu
  patches/warpctc/tests/test.h
  patches/warpctc/tests/test_cpu.cpp
  patches/warpctc/tests/test_gpu.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

stash
  python/paddle/fluid/tests/unittests/test_optimizer_grad.py
Due: pylint-doc-string, copyright_checker

add half async communicator, test=develop
  python/paddle/fluid/tests/test_communicator.py
Due: pylint-doc-string, copyright_checker

fix typo test=document_fix test=develop
  tools/check_op_register_type.py
Due: pylint-doc-string, copyright_checker

fix bug test=document_fix test=develop
  tools/check_op_register_type.py
Due: pylint-doc-string, copyright_checker

Change PADDLE_ENFROCE to PADDLE_THROW and avoid the use of std::max/min. test=develop
  paddle/fluid/platform/parallel.cc
  paddle/fluid/platform/parallel.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

use PADDLE_ENFORCE_EQ instead of PADDLE_ENFORCE, test=develop
  paddle/fluid/operators/erf_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix trt calib not working bug, test=develop
  paddle/fluid/framework/ir/graph_pattern_detector.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add has_output enforce for ErfGradOp, test=develop
  paddle/fluid/operators/erf_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add ParameterList (#21056)
  python/paddle/fluid/dygraph/container.py
  python/paddle/fluid/tests/unittests/test_imperative_container_parameterlist.py
  python/paddle/fluid/tests/unittests/test_imperative_container_sequential.py
Due: pylint-doc-string, copyright_checker

add unittest test_dist_fleet_grad_clip
  python/paddle/fluid/tests/unittests/dist_fleet_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_base.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_grad_clip.py
Due: pylint-doc-string, copyright_checker

add unittest for coverage, test=coverage
  python/paddle/fluid/reader.py
  python/paddle/fluid/tests/unittests/test_imperative_data_loader.py
Due: pylint-doc-string, copyright_checker

add print info
  python/paddle/fluid/tests/unittests/op_test.py
Due: pylint-doc-string, copyright_checker

test=develop,add 9 mode clip unittest
  python/paddle/fluid/tests/unittests/test_dist_fleet_grad_clip.py
Due: pylint-doc-string, copyright_checker

fix typo and refine error information in CI_register_dataType (#21932)
  tools/check_api_approvals.sh
  tools/check_op_register_type.py
Due: pylint-doc-string, copyright_checker

fix test=develop
  python/paddle/fluid/tests/unittests/test_fleet_pslib_1.py
  python/paddle/fluid/tests/unittests/test_fleet_pslib_2.py
  python/paddle/fluid/tests/unittests/test_fleet_pslib_3.py
  tools/manylinux1/Dockerfile.GCC8
Due: pylint-doc-string, copyright_checker

fix test=develop
  Dockerfile
  tools/manylinux1/Dockerfile.x64
Due: none

fix test=develop
  tools/manylinux1/Dockerfile.GCC8
Due: none

test=develop,fix doc
  python/paddle/fluid/clip.py
Due: pylint-doc-string, copyright_checker

test=develop , fix doc
  python/paddle/fluid/clip.py
Due: pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
