Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

update
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: copyright_checker

add ckpt to sync loop
  paddle/fluid/operators/listen_and_serv_op.cc
Due: clang-format-with-version-check, copyright_checker

add ckpt attr to pserver python config
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: copyright_checker

init Inference top APIs (#10549)
  contrib/inference/README.md
  contrib/inference/paddle_inference_api.h
Due: clang-format-with-version-check, copyright_checker

Wait VarDummyHandle generated
  paddle/fluid/framework/details/computation_op_handle.cc
  paddle/fluid/framework/details/op_handle_base.cc
  paddle/fluid/framework/details/send_op_handle.cc
Due: clang-format-with-version-check, copyright_checker

refine pe
  paddle/fluid/framework/details/computation_op_handle.cc
  paddle/fluid/framework/details/computation_op_handle.h
  paddle/fluid/framework/details/fetch_op_handle.cc
  paddle/fluid/framework/details/fetch_op_handle.h
  paddle/fluid/framework/details/nccl_all_reduce_op_handle.cc
  paddle/fluid/framework/details/nccl_all_reduce_op_handle.h
  paddle/fluid/framework/details/scale_loss_grad_op_handle.cc
  paddle/fluid/framework/details/send_op_handle.cc
  paddle/fluid/framework/details/send_op_handle.h
Due: clang-format-with-version-check, copyright_checker

add_pinned_memory_benchmark
  paddle/fluid/memory/CMakeLists.txt
  paddle/fluid/memory/pinned_memory_test.cu
Due: clang-format-with-version-check, copyright_checker

move detection op
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/detection/CMakeLists.txt
  paddle/fluid/operators/detection/bipartite_match_op.cc
  paddle/fluid/operators/detection/box_coder_op.cc
  paddle/fluid/operators/detection/box_coder_op.cu
  paddle/fluid/operators/detection/box_coder_op.h
  paddle/fluid/operators/detection/iou_similarity_op.cc
  paddle/fluid/operators/detection/iou_similarity_op.cu
  paddle/fluid/operators/detection/iou_similarity_op.h
  paddle/fluid/operators/detection/mine_hard_examples_op.cc
  paddle/fluid/operators/detection/multiclass_nms_op.cc
  paddle/fluid/operators/detection/prior_box_op.cc
  paddle/fluid/operators/detection/prior_box_op.cu
  paddle/fluid/operators/detection/prior_box_op.h
  paddle/fluid/operators/detection/target_assign_op.cc
  paddle/fluid/operators/detection/target_assign_op.cu
  paddle/fluid/operators/detection/target_assign_op.h
Due: clang-format-with-version-check, copyright_checker

Address review comments
  python/paddle/fluid/tests/book/recommender_system/no_test_recommender_system.py
Due: copyright_checker

Fix lod check in FP16 test for save_op (#10508)
  paddle/fluid/operators/save_load_op_test.cc
Due: clang-format-with-version-check, copyright_checker

Add FP16 option in save_combine_op (#10471)
  paddle/fluid/operators/save_combine_op.cc
  paddle/fluid/operators/save_load_combine_op_test.cc
Due: clang-format-with-version-check, copyright_checker

fix dead link of mkldnn and others (#10567)
  doc/fluid/design/motivation/api.md
  doc/fluid/design/multi_devices/operator_kernel_type.md
Due: none

CI: exit when fail any step.
  paddle/fluid/inference/tensorrt/test_engine.cc
  paddle/scripts/paddle_build.sh
  paddle/scripts/paddle_docker_build.sh
Due: clang-format-with-version-check, copyright_checker

init
  paddle/fluid/inference/tensorrt/CMakeLists.txt
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/inference/tensorrt/helper.h
  paddle/fluid/platform/dynload/tensorrt.h
Due: clang-format-with-version-check, copyright_checker

fix name
  contrib/inference/paddle_inference_api.h
  paddle/fluid/inference/tensorrt/engine.cc
Due: clang-format-with-version-check, copyright_checker

CI: exit when fail any step. (#10579)
  paddle/fluid/inference/tensorrt/test_engine.cc
  paddle/scripts/paddle_build.sh
  paddle/scripts/paddle_docker_build.sh
Due: clang-format-with-version-check, copyright_checker

trainer.test() (#10453)
  python/paddle/fluid/framework.py
  python/paddle/fluid/layers/io.py
  python/paddle/fluid/tests/book/high-level-api/word2vec/no_test_word2vec_new_api.py
  python/paddle/fluid/trainer.py
Due: copyright_checker

add demo_network.py
  paddle/fluid/train/test/demo_network.py
  paddle/fluid/train/test/demo_trainer.cc
Due: clang-format-with-version-check, copyright_checker

Fix typo in blas_impl.h
  paddle/fluid/operators/math/blas_impl.h
Due: clang-format-with-version-check, copyright_checker

update mklml version disable building tests and examples when install mkldnn skip -Werror=unused-result
  cmake/external/mkldnn.cmake
  cmake/external/mklml.cmake
Due: none

add manylinux docker image usage
  tools/manylinux1/README.md
Due: none

fix compile fetch_op_handle on mac
  paddle/fluid/framework/details/fetch_op_handle.h
Due: clang-format-with-version-check, copyright_checker

fix build computation_op_handle
  paddle/fluid/framework/details/computation_op_handle.h
Due: clang-format-with-version-check, copyright_checker

add
  benchmark/cluster/network/README.md
Due: none

Polish data_type.h
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/data_type.cc
  paddle/fluid/framework/data_type.h
Due: clang-format-with-version-check, copyright_checker

Polish SizeOfType
  paddle/fluid/framework/data_type.cc
  paddle/fluid/framework/data_type.h
  paddle/fluid/framework/tensor_impl.h
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
