Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

add distributed_strategy (#21710)
  paddle/fluid/operators/distributed/communicator.cc
  paddle/fluid/operators/distributed/communicator.h
  paddle/fluid/operators/distributed_ops/listen_and_serv_op.cc
  paddle/fluid/pybind/communicator_py.cc
  python/paddle/fluid/communicator.py
  python/paddle/fluid/incubate/fleet/parameter_server/distribute_transpiler/__init__.py
  python/paddle/fluid/incubate/fleet/parameter_server/distribute_transpiler/distributed_strategy.py
  python/paddle/fluid/tests/unittests/ctr_dataset_reader.py
  python/paddle/fluid/tests/unittests/dist_fleet_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_base.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_geo.py
  python/paddle/fluid/tests/unittests/test_distributed_strategy.py
  python/paddle/fluid/transpiler/distribute_transpiler.py
  python/paddle/fluid/transpiler/geo_sgd_transpiler.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

test=develop, bug fix for test_listen_and_serv_op.py
  python/paddle/fluid/tests/unittests/test_listen_and_serv_op.py
Due: pylint-doc-string, copyright_checker

all cases use large shape (#22065)
  python/paddle/fluid/tests/unittests/test_affine_channel_op.py
  python/paddle/fluid/tests/unittests/test_affine_grid_op.py
  python/paddle/fluid/tests/unittests/test_bilinear_interp_op.py
  python/paddle/fluid/tests/unittests/test_bilinear_tensor_product_op.py
  python/paddle/fluid/tests/unittests/test_clip_op.py
  python/paddle/fluid/tests/unittests/test_crop_op.py
  python/paddle/fluid/tests/unittests/test_crop_tensor_op.py
  python/paddle/fluid/tests/unittests/test_cumsum_op.py
  python/paddle/fluid/tests/unittests/test_data_norm_op.py
  python/paddle/fluid/tests/unittests/test_expand_as_op.py
  python/paddle/fluid/tests/unittests/test_expand_op.py
Due: pylint-doc-string, copyright_checker

all cases use large shape (#22091)
  python/paddle/fluid/tests/unittests/test_filter_by_instag_op.py
  python/paddle/fluid/tests/unittests/test_match_matrix_tensor_op.py
  python/paddle/fluid/tests/unittests/test_nce.py
  python/paddle/fluid/tests/unittests/test_pad_constant_like.py
  python/paddle/fluid/tests/unittests/test_pad_op.py
  python/paddle/fluid/tests/unittests/test_slice_op.py
  python/paddle/fluid/tests/unittests/test_spectral_norm_op.py
  python/paddle/fluid/tests/unittests/test_squeeze2_op.py
  python/paddle/fluid/tests/unittests/test_squeeze_op.py
  python/paddle/fluid/tests/unittests/test_strided_slice_op.py
  python/paddle/fluid/tests/unittests/test_unsqueeze2_op.py
  python/paddle/fluid/tests/unittests/test_unsqueeze_op.py
  python/paddle/fluid/tests/unittests/test_var_conv_2d.py
Due: pylint-doc-string, copyright_checker

add bigger shape test example for elementwise_pow OP (#22063)
  python/paddle/fluid/tests/unittests/test_elementwise_pow_op.py
Due: pylint-doc-string, copyright_checker

ag allocator by default, test=develop (#21837)
  paddle/fluid/memory/allocation/auto_growth_best_fit_allocator.cc
  paddle/fluid/platform/flags.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix bug in reduce ops, test=develop
  python/paddle/fluid/layers/nn.py
Due: pylint-doc-string, copyright_checker

Remove subgraph_detector from inference/analysis to the common framework/ir directory. test=develop
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/ngraph_subgraph_pass.cc
  paddle/fluid/framework/ir/subgraph_detector.cc
  paddle/fluid/framework/ir/subgraph_detector.h
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/CMakeLists.txt
  paddle/fluid/inference/analysis/ir_passes/anakin_subgraph_pass.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.h
  paddle/fluid/inference/analysis/ir_passes/tensorrt_subgraph_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Remove unit tests that are no longer maintained (#22081)
  python/paddle/fluid/tests/unittests/test_dist_se_resnext_async.py
Due: pylint-doc-string, copyright_checker

Workaround the optimizer learning rate map issue
  model.py
Due: pylint-doc-string, copyright_checker

add unittest, refine error message, test=develop
  paddle/fluid/inference/tensorrt/convert/instance_norm_op.cc
  paddle/fluid/inference/tensorrt/plugin/instance_norm_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/instance_norm_op_plugin.h
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/trt_instance_norm_converter_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Point out that multi device execution not implemented in dgyraph
  model.py
Due: pylint-doc-string, copyright_checker

Keep track of label feed for eval mode
  model.py
Due: pylint-doc-string, copyright_checker

Add `resnet` demo
  resnet.py
Due: pylint-doc-string, copyright_checker

Fix a bug where `train()` is called for all mode in dygraph
  model.py
Due: pylint-doc-string, copyright_checker

fix mac unitest; test=develop
  paddle/fluid/framework/operator_kernel_configs.h
  paddle/fluid/operators/conv_cudnn_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix mac unitest; test=develop
  paddle/fluid/framework/operator_kernel_configs.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

polish allocator strategy doc, test=develop, test=document_fix
  paddle/fluid/platform/flags.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unitest to add converage, test=develop
  paddle/fluid/operators/slice_op.h
  python/paddle/fluid/tests/unittests/test_nn_grad.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Remove subgraph_detector from inference/analysis to the common framework/ir directory. (#5)
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/ngraph_subgraph_pass.cc
  paddle/fluid/framework/ir/subgraph_detector.cc
  paddle/fluid/framework/ir/subgraph_detector.h
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/CMakeLists.txt
  paddle/fluid/inference/analysis/ir_passes/anakin_subgraph_pass.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.cc
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.h
  paddle/fluid/inference/analysis/ir_passes/tensorrt_subgraph_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unittest for bert trt, test=develop
  paddle/fluid/inference/tensorrt/convert/batch_norm_op.cc
  paddle/fluid/inference/tensorrt/convert/fc_op.cc
  paddle/fluid/inference/tensorrt/convert/gelu_op.cc
  paddle/fluid/inference/tensorrt/convert/layer_norm_op.cc
  paddle/fluid/inference/tensorrt/convert/multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/test_gelu_op.cc
  paddle/fluid/inference/tensorrt/plugin/gelu_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/gelu_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/layer_norm_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/layer_norm_op_plugin.h
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/trt_bert_test.cc
  paddle/fluid/operators/layer_norm_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add fused_emb_seq_pool op
  python/paddle/fluid/tests/unittests/white_list/no_grad_set_white_list.py
Due: pylint-doc-string, copyright_checker

Add an interface of disabling FC padding test=develop
  paddle/fluid/framework/ir/fc_fuse_pass.cc
  paddle/fluid/inference/analysis/argument.h
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

revise according review advice test=develop
  paddle/fluid/framework/operator.cc
  paddle/fluid/platform/device_tracer.cc
  paddle/fluid/platform/event.h
  paddle/fluid/platform/profiler.cc
  paddle/fluid/platform/profiler.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test=develop, bug fix for test_listen_and_serv
  python/paddle/fluid/tests/unittests/test_listen_and_serv.sh
Due: none

communicator code clean, test=develop
  paddle/fluid/operators/distributed/communicator.cc
  paddle/fluid/operators/distributed/communicator.h
  paddle/fluid/operators/distributed_ops/send_op.cc
  paddle/fluid/pybind/communicator_py.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix warning in test_install_check.py, test=develop (#22087)
  python/paddle/fluid/install_check.py
Due: pylint-doc-string, copyright_checker

fix file format; test=develop
  paddle/fluid/operators/conv_cudnn_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fix segmentation fault bug in reduce ops (#22079)
  python/paddle/fluid/layers/nn.py
Due: pylint-doc-string, copyright_checker

MKL-DNN 1.1 for Windows (#22089)
  cmake/external/mkldnn.cmake
  cmake/inference_lib.cmake
Due: none

Refine doc of data based on requirement.
  python/paddle/fluid/data.py
  python/paddle/fluid/layers/io.py
Due: pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
