Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


fix prior_box en doc
  python/paddle/static/nn/common.py
Due: copyright_checker, pylint-doc-string

remove prior_box
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/tests/test_detection.py
  python/paddle/fluid/tests/unittests/test_prior_box_op.py
Due: copyright_checker, pylint-doc-string

[PHI decoupling] replace dependency of inclusive_scan.h from phi (#48980)
  paddle/phi/kernels/gpu/cumprod_grad_kernel.cu
  paddle/phi/kernels/gpu/cumprod_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

delete prior_box in common
  python/paddle/fluid/tests/unittests/test_prior_box_op.py
  python/paddle/static/nn/common.py
Due: copyright_checker, pylint-doc-string

fluid API magration : Assert, increment, cond (#48885)
  python/paddle/distributed/fleet/utils/hybrid_parallel_inference.py
  python/paddle/distributed/passes/auto_parallel_gradient_merge.py
  python/paddle/fluid/contrib/slim/quantization/adaround.py
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/layers/rnn.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/auto_parallel/test_while_op_partition.py
  python/paddle/fluid/tests/unittests/collective/fleet/hybrid_parallel_inference_helper.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/ifelse_simple_func.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_dict.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ifelse.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_loop.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_warning.py
  python/paddle/fluid/tests/unittests/ir/test_ir_subgraph_python_interface.py
  python/paddle/fluid/tests/unittests/npu/test_increment_op_npu.py
  python/paddle/fluid/tests/unittests/npu/test_while_op_npu.py
  python/paddle/fluid/tests/unittests/standalone_executor/test_standalone_controlflow.py
  python/paddle/fluid/tests/unittests/test_array_read_write_op.py
  python/paddle/fluid/tests/unittests/test_assert_op.py
  python/paddle/fluid/tests/unittests/test_async_ssa_graph_executor_mnist.py
  python/paddle/fluid/tests/unittests/test_cond.py
  python/paddle/fluid/tests/unittests/test_desc_clone.py
  python/paddle/fluid/tests/unittests/test_dynamic_rnn_stop_gradient.py
  python/paddle/fluid/tests/unittests/test_eager_deletion_while_op.py
  python/paddle/fluid/tests/unittests/test_executor_and_mul.py
  python/paddle/fluid/tests/unittests/test_fetch_lod_tensor_array.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_math_op_patch.py
  python/paddle/fluid/tests/unittests/test_optimizer_grad.py
  python/paddle/fluid/tests/unittests/test_profiler.py
  python/paddle/fluid/tests/unittests/test_program_code.py
  python/paddle/fluid/tests/unittests/test_while_loop_op.py
  python/paddle/fluid/tests/unittests/test_while_op.py
  python/paddle/fluid/tests/unittests/xpu/test_while_op_xpu.py
  python/paddle/fluid/variable_index.py
  python/paddle/jit/dy2static/convert_operators.py
  python/paddle/static/nn/__init__.py
  python/paddle/static/nn/control_flow.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_nearest_interp_v2.py
Due: copyright_checker, pylint-doc-string

remove test_parallel_executor_crf from UT_rule
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  tools/parallel_UT_rule.py
  tools/static_mode_white_list.py
Due: copyright_checker, pylint-doc-string

remove import
  python/paddle/fluid/tests/unittests/test_directory_migration.py
Due: copyright_checker, pylint-doc-string

[Clean fluid] Add inner function _elementwise_op_with_axis (#48748)
  python/paddle/fluid/contrib/layers/rnn_impl.py
  python/paddle/fluid/layer_helper_base.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/rnn.py
  python/paddle/fluid/tests/unittests/collective/fleet/parallel_dygraph_se_resnext.py
  python/paddle/fluid/tests/unittests/dist_se_resnext.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/seq2seq_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cycle_gan.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_se_resnet.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/transformer_dygraph_model.py
  python/paddle/fluid/tests/unittests/ipu/test_elemetwise_x_op_ipu.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_elt_act_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_elementwise_op.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_subgraph_pass.py
  python/paddle/fluid/tests/unittests/mlu/test_elementwise_add_op_mlu.py
  python/paddle/fluid/tests/unittests/mlu/test_elementwise_mul_op_mlu.py
  python/paddle/fluid/tests/unittests/npu/test_elementwise_add_op_npu.py
  python/paddle/fluid/tests/unittests/seresnext_net.py
  python/paddle/fluid/tests/unittests/test_deprecated_decorator.py
  python/paddle/fluid/tests/unittests/test_elementwise_add_op.py
  python/paddle/fluid/tests/unittests/test_elementwise_mul_op.py
  python/paddle/fluid/tests/unittests/test_elementwise_nn_grad.py
  python/paddle/fluid/tests/unittests/test_fuse_elewise_add_act_pass.py
  python/paddle/fluid/tests/unittests/test_imperative_ocr_attention_model.py
  python/paddle/fluid/tests/unittests/test_imperative_se_resnext.py
  python/paddle/fluid/tests/unittests/test_imperative_star_gan_with_gradient_penalty.py
  python/paddle/fluid/tests/unittests/transformer_model.py
  python/paddle/fluid/tests/unittests/xpu/test_elementwise_add_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_elementwise_add_op_xpu_kp.py
  python/paddle/fluid/tests/unittests/xpu/test_elementwise_mul_op_xpu.py
  python/paddle/nn/functional/conv.py
  python/paddle/nn/functional/loss.py
  python/paddle/nn/utils/weight_norm_hook.py
  python/paddle/tensor/math.py
  python/paddle/vision/ops.py
Due: copyright_checker, pylint-doc-string

fix unittest
  python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py
Due: copyright_checker, pylint-doc-string

[Setup] Ignore @PADDLE_BINARY_DIR@ files
  .gitignore
Due: none

test=document_fix
  .gitignore
Due: none

clean elementwise doc
  python/paddle/distributed/fleet/metrics/metric.py
  python/paddle/fluid/data_feeder.py
  python/paddle/fluid/incubate/fleet/utils/fleet_util.py
  python/paddle/fluid/io.py
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/tests/unittests/xpu/test_assign_op_xpu.py
Due: copyright_checker, pylint-doc-string

docs
  python/paddle/nn/layer/rnn.py
Due: copyright_checker, pylint-doc-string

test_convert_to_mixed_precision.py use tempfile for temporary models/params (#48819)
  python/paddle/fluid/tests/unittests/ir/test_convert_to_mixed_precision.py
Due: copyright_checker, pylint-doc-string

test branch
  python/paddle/fluid/layers/nn.py
Due: copyright_checker, pylint-doc-string

Some version of TensorRT don't support CustomQKVToContextPluginDynamic
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Tighten the Interception strategy (#48947)
  tools/check_api_yaml_same.py
Due: copyright_checker, pylint-doc-string

enable custom device save model on device memory && fix conflict
  paddle/fluid/inference/analysis/argument.h
  paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.cc
  paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.h
  paddle/fluid/inference/api/analysis_predictor.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix unittests
  python/paddle/fluid/tests/book/test_recommender_system.py
  python/paddle/fluid/tests/unittests/dist_fleet_ctr.py
  python/paddle/fluid/tests/unittests/test_communicator_geo.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][isort][F401] fix some regression issues (#48936)
  python/paddle/distributed/auto_parallel/tuner/rule_based_tuner.py
  python/paddle/fluid/tests/unittests/test_device_guard.py
  python/paddle/fluid/tests/unittests/xpu/test_device_guard_xpu.py
  python/paddle/utils/inplace_utils.py
Due: copyright_checker, pylint-doc-string

rm
  python/paddle/fluid/tests/unittests/test_group_norm_op_v2.py
Due: copyright_checker, pylint-doc-string

add test for converage
  python/paddle/fluid/tests/unittests/test_lbfgs_v2.py
  python/paddle/incubate/optimizer/functional/lbfgs_v2.py
Due: copyright_checker, pylint-doc-string

rm multinode eager guard tests (#48766)
  python/paddle/fluid/tests/unittests/collective/multinode/mn_dygraph_group_sharded_stage3.py
  python/paddle/fluid/tests/unittests/collective/multinode/mn_dygraph_sharding_stage2.py
  python/paddle/fluid/tests/unittests/collective/process_group_gloo.py
  python/paddle/fluid/tests/unittests/collective/process_group_mpi.py
  python/paddle/fluid/tests/unittests/collective/process_group_nccl.py
Due: copyright_checker, pylint-doc-string

rm unittests eager guard tests part5 dataloader2dygraph_mnist (#48816)
  python/paddle/fluid/tests/unittests/test_dataloader_dataset.py
  python/paddle/fluid/tests/unittests/test_deform_conv2d.py
  python/paddle/fluid/tests/unittests/test_deformable_conv_op.py
  python/paddle/fluid/tests/unittests/test_determinant_op.py
  python/paddle/fluid/tests/unittests/test_diag_v2.py
  python/paddle/fluid/tests/unittests/test_diagonal_op.py
  python/paddle/fluid/tests/unittests/test_diff_op.py
  python/paddle/fluid/tests/unittests/test_digamma_op.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
  python/paddle/fluid/tests/unittests/test_dygraph_mnist_fp16.py
Due: copyright_checker, pylint-doc-string

modify example in dygraph
  python/paddle/incubate/optimizer/functional/lbfgs_v2.py
Due: copyright_checker, pylint-doc-string

update
  cmake/external/gflags.cmake
  paddle/fluid/distributed/collective/ProcessGroup.h
  paddle/fluid/pybind/distributed_py.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix tests.
  python/paddle/static/quantization/imperative/utils.py
  python/paddle/static/quantization/tests/imperative_test_utils.py
  python/paddle/static/quantization/tests/test_graph.py
  python/paddle/static/quantization/tests/test_imperative_ptq.py
  python/paddle/static/quantization/tests/test_imperative_qat.py
  python/paddle/static/quantization/tests/test_imperative_qat_amp.py
  python/paddle/static/quantization/tests/test_imperative_qat_lsq.py
  python/paddle/static/quantization/tests/test_imperative_qat_matmul.py
  python/paddle/static/quantization/tests/test_imperative_qat_user_defined.py
  python/paddle/static/quantization/tests/test_moving_average_abs_max_scale_op.py
  python/paddle/static/quantization/tests/test_quantization_mkldnn_pass.py
  python/paddle/static/quantization/tests/test_quantization_pass.py
  python/paddle/static/quantization/tests/test_quantization_scale_pass.py
  python/paddle/static/quantization/tests/test_user_defined_quantization.py
Due: copyright_checker, pylint-doc-string

[PHI]Add new Tensor type and migrate save_combine kernel (#47856)
  cmake/operators.cmake
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/raw_tensor.h
  paddle/fluid/framework/string_array.h
  paddle/fluid/framework/var_type_traits.cc
  paddle/fluid/framework/var_type_traits.h
  paddle/fluid/framework/var_type_traits_test.cc
  paddle/fluid/framework/variable_test.cc
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/jit/layer.cc
  paddle/fluid/jit/layer_test.cc
  paddle/fluid/jit/property.cc
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/save_combine_op.cc
  paddle/fluid/operators/save_combine_op.cu
  paddle/fluid/operators/save_combine_op.h
  paddle/fluid/operators/save_load_combine_op_test.cc
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/eager_utils.h
  paddle/fluid/pybind/pybind.cc
  paddle/phi/CMakeLists.txt
  paddle/phi/core/CMakeLists.txt
  paddle/phi/core/extended_tensor.cc
  paddle/phi/core/extended_tensor.h
  paddle/phi/core/kernel_factory.h
  paddle/phi/core/kernel_registry.h
  paddle/phi/core/kernel_utils.h
  paddle/phi/ops/compat/save_combine_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source
