Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

add service, fix ut
  paddle/fluid/distributed/service/brpc_ps_client.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add the strategy of skipping cc/cu test compilation and execution in CI (#29499)
  cmake/generic.cmake
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/ir/fusion_group/CMakeLists.txt
  paddle/fluid/memory/allocation/CMakeLists.txt
  paddle/fluid/memory/detail/CMakeLists.txt
  paddle/fluid/operators/distributed/CMakeLists.txt
  paddle/fluid/operators/jit/CMakeLists.txt
  paddle/fluid/operators/math/CMakeLists.txt
  paddle/fluid/train/CMakeLists.txt
  paddle/scripts/paddle_build.bat
  paddle/scripts/paddle_build.sh
Due: none

remove test code
  CMakeLists.txt
  paddle/scripts/musl_build/build_paddle.sh
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/dygraph_to_static/CMakeLists.txt
Due: none

update alpine and third_party denpendencies
  paddle/scripts/musl_build/Dockerfile
  paddle/scripts/musl_build/package.txt
Due: none

add service, fix ut
  paddle/fluid/distributed/fleet.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix train eval set error in static mode (#29540)
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: pylint-doc-string, copyright_checker

add cast cuda kernel (#29352)
  paddle/fluid/operators/cast_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

improve dropout (#29465)
  paddle/fluid/operators/dropout_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

remove duplicated macro (#29563)
  paddle/fluid/operators/math/prelu.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Added support when compute_capability < 80 while CUDA_version = 11
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add newline for ci Code format
  paddle/scripts/musl_build/package.txt
Due: none

- yet another fix after review
  paddle/fluid/framework/executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update for xpu ci.
  cmake/external/lite.cmake
  paddle/fluid/inference/tests/api/lite_resnet50_test.cc
  paddle/scripts/paddle_build.sh
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test=develop, optimize roll_op_cuda_kernel
  paddle/fluid/operators/roll_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[Sharding] add hybrid-dp feature (#29518)
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/meta_optimizers/sharding/fp16_helper.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/gradient_clip_helper.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/prune.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/shard.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/utils.py
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: clang-format-with-version-check, pylint-doc-string, copyright_checker

Sharding fixed bug in return optimize_ops param_grads
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

fix heter profiler & stop
  paddle/fluid/distributed/service/communicator.cc
  paddle/fluid/distributed/service/heter_client.cc
  paddle/fluid/distributed/service/heter_client.h
  paddle/fluid/distributed/service/heter_server.cc
  paddle/fluid/distributed/service/heter_server.h
  paddle/fluid/operators/pscore/heter_listen_and_serv_op.cc
  paddle/fluid/operators/pscore/heter_server_test.cc
  paddle/fluid/pybind/fleet_py.cc
  paddle/fluid/pybind/fleet_py.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/distributed/fleet/runtime/the_one_ps.py
  python/paddle/fluid/communicator.py
  python/paddle/fluid/incubate/fleet/parameter_server/ir/trainer_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update sharding unitest
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

update sharding in distributed_strategy
  paddle/fluid/framework/distributed_strategy.proto
Due: clang-format-with-version-check, copyright_checker

revise code format for sharding
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

Sharding add hybrid-dp feature
  python/paddle/distributed/fleet/meta_optimizers/sharding/fp16_helper.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/gradient_clip_helper.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/prune.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/shard.py
  python/paddle/distributed/fleet/meta_optimizers/sharding/utils.py
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

remove train eval mode of tracer
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/dygraph/tracer.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_imperative_decorator.py
Due: pylint-doc-string, copyright_checker

update for xpu ci. (#29568)
  cmake/external/lite.cmake
  paddle/fluid/inference/tests/api/lite_resnet50_test.cc
  paddle/scripts/paddle_build.sh
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix paddle.flops
  python/paddle/hapi/dynamic_flops.py
Due: pylint-doc-string, copyright_checker

refine
  paddle/fluid/operators/elementwise/elementwise_add_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test for limit_ut_15s
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_concat_op_1.py
  python/paddle/fluid/tests/unittests/test_concat_op_2.py
Due: pylint-doc-string, copyright_checker

fix op_handle_base and add xpu_place in wlist_temp,test=kunlun
  paddle/fluid/framework/details/broadcast_op_handle_test.h
  paddle/fluid/framework/details/execution_strategy.h
  paddle/fluid/framework/details/fast_threaded_ssa_graph_executor.cc
  paddle/fluid/framework/details/fused_broadcast_op_handle_test.cc
  paddle/fluid/framework/details/gather_op_handle_test.cc
  paddle/fluid/framework/details/op_handle_base.cc
  paddle/fluid/framework/details/op_handle_base.h
  paddle/fluid/framework/details/reduce_op_handle_test.cc
  paddle/fluid/framework/details/threaded_ssa_graph_executor.cc
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/compiler.py
  tools/wlist.json
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add bkcl for kunlun, test=kunlun
  CMakeLists.txt
  cmake/external/xpu.cmake
  paddle/fluid/framework/var_type_traits.cc
  paddle/fluid/framework/var_type_traits.h
  paddle/fluid/framework/var_type_traits_test.cc
  paddle/fluid/platform/bkcl_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix
  paddle/fluid/framework/details/op_handle_base.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fix precision problem (#29567)
  CMakeLists.txt
  paddle/scripts/musl_build/Dockerfile
  paddle/scripts/musl_build/package.txt
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/dygraph_to_static/CMakeLists.txt
Due: none

[oneDNN] Making ThreadID info in caching key optional (#29272)
  paddle/fluid/framework/data_layout_transform.cc
  paddle/fluid/operators/fused/mkldnn/fusion_gru_mkldnn_op.cc
  paddle/fluid/operators/fused/mkldnn/multi_gru_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_transpose_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/dequantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/layer_norm_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/matmul_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/quantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/requantize_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/sum_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/transpose_mkldnn_op.cc
  paddle/fluid/platform/device_context.h
  paddle/fluid/platform/mkldnn_helper.h
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
