Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    sha: v1.0.1
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    sha: 0d79c0c469bab64f7229c9aca2b1186ef47f0e37
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    sha: 5bf6c09bfa1297d3692cadd621ef95f1284e33c0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix async error test=develop
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: pylint-doc-string, copyright_checker

update pserver decay blocks
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: pylint-doc-string, copyright_checker

make search_compute support avx only
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/search_compute.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

clean search_compute.h
  paddle/fluid/operators/search_compute.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

rename sse_axpy to avx_axpy
  paddle/fluid/operators/match_matrix_tensor_op.cc
  paddle/fluid/operators/search_compute.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

jit/trace 1st version, test=develop
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/imperative/jit/CMakeLists.txt
  paddle/fluid/imperative/jit/op_desc_meta.cc
  paddle/fluid/imperative/jit/op_desc_meta.h
  paddle/fluid/imperative/jit/program_desc_tracer.cc
  paddle/fluid/imperative/jit/program_desc_tracer.h
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/imperative/tracer.h
  paddle/fluid/imperative/type_defs.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/dygraph/base.py
  python/paddle/fluid/dygraph/jit.py
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/tests/unittests/test_imperative_mnist.py
  python/paddle/fluid/tests/unittests/utils.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update send
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: pylint-doc-string, copyright_checker

test=develop, Make shape tensor support int32
  paddle/fluid/operators/uniform_random_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Wait pserver to complete initialization. (#20777)
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: pylint-doc-string, copyright_checker

fix optimizer for some grad not use dgc, test=develop
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/test_dist_mnist_dgc_nccl.py
Due: pylint-doc-string, copyright_checker

fix bug in reshape: consider the situation that shape of input can contain more than one -1. test=develop
  paddle/fluid/operators/reshape_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix add and memcpy in op
  paddle/fluid/operators/merge_sparse_lookup_table_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix in UT
  python/paddle/fluid/tests/unittests/test_program_code.py
Due: pylint-doc-string, copyright_checker

add fix for split op converter, test=develop
  paddle/fluid/inference/tensorrt/convert/split_op.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/trt_split_converter_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update readme, delete fluid
  README.md
Due: none

update README_cn.md to delete fluid
  README_cn.md
Due: none

Update README_cn.md
  README_cn.md
Due: none

Update README.md
  README.md
Due: none

Revert "fix_depthwise_conv_cudnn, test=develop (#20712)"
  paddle/fluid/operators/conv_cudnn_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add norm_by_time for warpctc op in padding mode. test=develop
  paddle/fluid/operators/warpctc_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
