Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    paddle/fluid/distributed/ps/thirdparty/round_robin.h
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: (?x)^(
    paddle/utils/.*
)$


code
  paddle/fluid/inference/api/api_impl.cc
  paddle/fluid/inference/api/api_impl.h
  paddle/fluid/inference/api/paddle_inference_api.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

code format
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_bilinear_interp_v2.py
Due: pylint-doc-string, copyright_checker

code
  paddle/fluid/inference/api/paddle_api.h
  paddle/fluid/inference/api/paddle_inference_api.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Modify python
  paddle/fluid/operators/soft_margin_loss_op.cc
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  paddle/phi/kernels/cpu/soft_margin_loss_grad_kernel.cc
  paddle/phi/kernels/cpu/soft_margin_loss_kernel.cc
  paddle/phi/kernels/gpu/soft_margin_loss_grad_kernel.cu
  paddle/phi/kernels/gpu/soft_margin_loss_kernel.cu
  paddle/phi/kernels/soft_margin_loss_grad_kernel.h
  paddle/phi/kernels/soft_margin_loss_kernel.h
  paddle/phi/ops/compat/soft_margin_loss_sig.cc
  python/paddle/nn/functional/loss.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU]: add shape kernel (#43347)
  paddle/fluid/operators/shape_op_mlu.cc
  python/paddle/fluid/tests/unittests/mlu/test_shape_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Update CUDA and TensorRT
  paddle/fluid/inference/tests/infer_ut/run.sh
  tools/dockerfile/build_scripts/install_trt.sh
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

[MLU]add elementwise op (#43491)
  paddle/fluid/operators/elementwise/elementwise_min_op_mlu.cc
  paddle/fluid/operators/elementwise/elementwise_mlu.h
  paddle/fluid/platform/device/mlu/device_context.cc
  paddle/fluid/platform/device/mlu/device_context.h
  paddle/fluid/platform/device/mlu/mlu_info.cc
  paddle/fluid/platform/device/mlu/mlu_info.h
  python/paddle/fluid/tests/unittests/mlu/test_elementwise_min_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU] add mlu kernel for iou_similarity (#43503)
  paddle/fluid/operators/detection/CMakeLists.txt
  paddle/fluid/operators/detection/iou_similarity_op_mlu.cc
  paddle/fluid/operators/mlu/mlu_baseop.cc
  paddle/fluid/operators/mlu/mlu_baseop.h
  python/paddle/fluid/tests/unittests/mlu/test_iou_similarity_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU]add mlu kernel for expand_v2 op (#43353)
  paddle/fluid/operators/expand_v2_op.h
  paddle/fluid/operators/expand_v2_op_mlu.cc
  python/paddle/fluid/tests/unittests/mlu/test_expand_v2_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU]add mlu kernel for tile op (#43389)
  paddle/fluid/operators/tile_op_functor.h
  paddle/fluid/operators/tile_op_mlu.cc
  python/paddle/fluid/tests/unittests/mlu/test_tile_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU]add mlu kernel for where op (#43441)
  paddle/fluid/operators/mlu/mlu_baseop.cc
  paddle/fluid/operators/mlu/mlu_baseop.h
  paddle/fluid/operators/where_op_mlu.cc
  python/paddle/fluid/tests/unittests/mlu/test_where_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU] add mlu kernel for elementwise_max_grad
  paddle/fluid/operators/elementwise/elementwise_max_op_mlu.cc
  paddle/fluid/operators/elementwise/elementwise_mlu.h
  python/paddle/fluid/tests/unittests/mlu/test_elementwise_max_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix gpu log typo
  python/paddle/distributed/launch/controllers/watcher.py
Due: pylint-doc-string, copyright_checker

Support optional residual add in fused_attention and fused_feedforward. (#43474)
  paddle/fluid/operators/fused/fused_attention_op.cc
  paddle/fluid/operators/fused/fused_attention_op.cu
  paddle/fluid/operators/fused/fused_dropout_helper.h
  paddle/fluid/operators/fused/fused_feedforward_op.cc
  paddle/fluid/operators/fused/fused_feedforward_op.cu
  paddle/fluid/operators/fused/fused_residual_dropout_bias.h
  paddle/fluid/operators/fused/fused_residual_dropout_bias_test.cu
  python/paddle/incubate/nn/functional/fused_transformer.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Fix code example of fused_attention and fused_feedforward.
  paddle/fluid/operators/fused/fused_attention_op.cc
  paddle/fluid/operators/fused/fused_feedforward_op.cc
  python/paddle/incubate/nn/functional/fused_transformer.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[MLU] add truncated_gaussian_random kernel. (#43575)
  paddle/fluid/operators/truncated_gaussian_random_op_mlu.cc
  python/paddle/fluid/tests/unittests/mlu/test_truncated_gaussian_random_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Update
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

add outputs for code examples, test=document_fix
  python/paddle/vision/models/alexnet.py
  python/paddle/vision/models/densenet.py
  python/paddle/vision/models/googlenet.py
  python/paddle/vision/models/inceptionv3.py
  python/paddle/vision/models/lenet.py
  python/paddle/vision/models/mobilenetv1.py
  python/paddle/vision/models/mobilenetv2.py
  python/paddle/vision/models/mobilenetv3.py
  python/paddle/vision/models/resnet.py
  python/paddle/vision/models/shufflenetv2.py
  python/paddle/vision/models/squeezenet.py
  python/paddle/vision/models/vgg.py
Due: pylint-doc-string, copyright_checker

Export symbols of phi operator library (#43478)
  paddle/fluid/inference/paddle_inference.map
Due: none

[MLU] modify mlu kernel elementwise_min_grad impl
  paddle/fluid/operators/elementwise/elementwise_min_op_mlu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Support GPU place
  paddle/fluid/jit/base_function.cc
  paddle/fluid/jit/base_function.h
  paddle/fluid/jit/exector_function.h
  paddle/fluid/jit/layer.cc
  paddle/fluid/jit/layer.h
  paddle/fluid/jit/layer_test.cc
  paddle/fluid/jit/pe_function.h
  paddle/fluid/jit/serializer.cc
  paddle/fluid/jit/serializer.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

remove duplicate apt-get update that will cause cinn download fail
  tools/dockerfile/Dockerfile.ubuntu
  tools/dockerfile/Dockerfile.ubuntu18
Due: none

Adapt XPUPS - add fill_dvals_with_bfid kernel to adapt fill_dvals under BFID - 6.17
  paddle/fluid/framework/fleet/heter_ps/heter_comm_kernel.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_kernel.kps
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Adapt XPUPS - add fill_dvals_with_bfid kernel to adapt fill_dvals under BFID - 6.17
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

missing code example update, test=document_fix
  python/paddle/vision/models/alexnet.py
Due: pylint-doc-string, copyright_checker

notest;test=gpups
  paddle/scripts/paddle_build.sh
Due: copyright_checker

missing returns, test=document_fix
  python/paddle/vision/models/alexnet.py
  python/paddle/vision/models/densenet.py
  python/paddle/vision/models/googlenet.py
  python/paddle/vision/models/inceptionv3.py
  python/paddle/vision/models/lenet.py
  python/paddle/vision/models/mobilenetv1.py
  python/paddle/vision/models/mobilenetv2.py
  python/paddle/vision/models/mobilenetv3.py
  python/paddle/vision/models/shufflenetv2.py
  python/paddle/vision/models/squeezenet.py
  python/paddle/vision/models/vgg.py
Due: pylint-doc-string, copyright_checker

fix comment
  paddle/phi/kernels/sparse/gpu/softmax_kernel.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix batch csr (#43553)
  paddle/phi/kernels/sparse/cpu/sparse_utils_kernel.cc
  paddle/phi/kernels/sparse/gpu/sparse_utils_kernel.cu
  python/paddle/fluid/tests/unittests/test_sparse_utils_op.py
  python/paddle/incubate/sparse/creation.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker
