Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker, auto-generate-cmakelists

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.14
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
        exclude: |
            (?x)^(
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py|
                python/paddle/fluid/tests/unittests/dygraph_to_static/test_origin_info.py
            )$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
    -   id: sort-simple-yaml
        files: (api|backward|api_[a-z_]+)\.yaml$
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$
        exclude: |
            (?x)^(
                paddle/fluid/distributed/ps/thirdparty/round_robin.h
            )$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$
        exclude: |
            (?x)^(
                paddle/utils/.*
            )$
-   repo: local
    hooks:
    -   id: auto-generate-cmakelists
        name: auto-generate-cmakelists
        entry: bash ./tools/gen_ut_cmakelists.hook
        language: system
        files: testslist.csv$
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
        # exclude paddle/fluid/operators/CMakeLists.txt, see the comment
        # https://github.com/PaddlePaddle/Paddle/pull/43057#pullrequestreview-993471860
        exclude: |
            (?x)^(
                paddle/fluid/operators/CMakeLists.txt
            )$

-   repo: https://github.com/cmake-lint/cmake-lint
    rev: 1.4.2
    hooks:
    -   id: cmakelint
        args: [--config=./tools/codestyle/.cmakelintrc]

share memory
  paddle/phi/kernels/sparse/gpu/transpose_kernel.cu
Due: clang-format, cpplint-cpp-source, copyright_checker

fl-ps bug fix (#46356)
  python/paddle/distributed/ps/the_one_ps.py
Due: pylint-doc-string, copyright_checker

restore future import in example code
  python/paddle/distributed/spawn.py
Due: pylint-doc-string, copyright_checker

resolve conflict
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/mkldnn/pool_mkldnn_op.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

【PaddlePaddle Hackathon 3 No.9】为 Paddle 新增 Laplace API (#44913)
  python/paddle/distribution/__init__.py
  python/paddle/distribution/kl.py
  python/paddle/distribution/laplace.py
  python/paddle/fluid/tests/unittests/distribution/test_distribution_laplace.py
  python/paddle/fluid/tests/unittests/distribution/test_distribution_laplace_static.py
Due: pylint-doc-string, copyright_checker

fix bug
  python/paddle/fluid/tests/unittests/distribution/test_distribution_lognormal.py
  python/paddle/fluid/tests/unittests/distribution/test_distribution_lognormal_static.py
Due: pylint-doc-string, copyright_checker

修改接口
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
  paddle/fluid/inference/api/paddle_tensor.h
  paddle/phi/core/allocator.h
  paddle/phi/core/dense_tensor.cc
  paddle/phi/core/dense_tensor.h
Due: clang-format, cpplint-cpp-source, copyright_checker

it is a test to delete a unnitest,test=coverage
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_list.py
Due: pylint-doc-string, copyright_checker

修改接口
  paddle/fluid/inference/api/paddle_tensor.h
Due: clang-format, cpplint-cpp-source, copyright_checker

[Phi] support bincount yaml and _C_ops.bincount under eager
  paddle/phi/api/yaml/legacy_ops.yaml
  python/paddle/fluid/tests/unittests/test_bincount_op.py
  python/paddle/tensor/linalg.py
Due: pylint-doc-string, copyright_checker

fix UT
  python/paddle/fluid/tests/unittests/test_box_coder_op.py
  python/paddle/fluid/tests/unittests/test_prior_box_op.py
  python/paddle/vision/ops.py
Due: pylint-doc-string, copyright_checker

it is a tesst to see the performance for thie optimization,test=coverage
  paddle/scripts/paddle_build.sh
Due: copyright_checker

flake8
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py
Due: pylint-doc-string, copyright_checker

fix windows failed
  python/paddle/utils/cpp_extension/extension_utils.py
Due: pylint-doc-string, copyright_checker

open dygraph
  python/paddle/fluid/framework.py
Due: pylint-doc-string, copyright_checker

[OpAttr]Fix dropout2d/3d static API (#46433)
  python/paddle/fluid/tests/unittests/test_dropout_op.py
  python/paddle/nn/functional/common.py
Due: pylint-doc-string, copyright_checker

fix bug in convert call: tranform the static func. (#46278) (#46365)
  python/paddle/fluid/dygraph/dygraph_to_static/program_translator.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
Due: pylint-doc-string, copyright_checker

[BugFix] fixed a bug that deco_name can't be parsed corrected (#46297) (#46366)
  python/paddle/fluid/dygraph/dygraph_to_static/decorator_transformer.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
Due: pylint-doc-string, copyright_checker

[OpAttr]Fix dropout2d/3d static API (#46434)
  python/paddle/fluid/tests/unittests/test_dropout_op.py
  python/paddle/nn/functional/common.py
Due: pylint-doc-string, copyright_checker

Add script to get ops of models
  tools/prune_for_inference.py
Due: pylint-doc-string, copyright_checker

update rpc
  paddle/fluid/distributed/rpc/future_wrapper.h
  paddle/fluid/distributed/rpc/python_rpc_handler.cc
  paddle/fluid/distributed/rpc/rpc_agent.cc
  paddle/fluid/distributed/rpc/rpc_agent.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/pybind.cc
  paddle/fluid/pybind/rpc.cc
  python/paddle/distributed/rpc/internal.py
  python/paddle/distributed/rpc/rpc.py
  python/paddle/distributed/rpc/utils.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/rpc/CMakeLists.txt
  python/paddle/fluid/tests/unittests/rpc/test_rpc.py
Due: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker

update weight dequantize func
  paddle/fluid/framework/ir/mkldnn/quant_dequant_mkldnn_pass.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

[error msg] update error msg of user call numpy api and set_state_dict in dy2static (#46128)
  python/paddle/fluid/dygraph/dygraph_to_static/error.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_error.py
Due: pylint-doc-string, copyright_checker

[warning] added warning message in cond block when one branch returns variable and another returns None (#46031)
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_warning.py
Due: pylint-doc-string, copyright_checker

add value test
  python/paddle/fluid/tests/unittests/autograd/test_orig2prim.py
  python/paddle/fluid/tests/unittests/autograd/test_primapi.py
  python/paddle/incubate/autograd/primrules.py
Due: pylint-doc-string, copyright_checker

clear extra attrs of distribute op in opmaker
  paddle/fluid/operators/nce_op.cc
  paddle/fluid/operators/pscore/distributed_push_sparse_op.cc
  paddle/phi/api/yaml/op_compat.yaml
Due: clang-format, cpplint-cpp-source, copyright_checker

fix unittest
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: none

add phi reduce_sum test=kunlun (#46241)
  paddle/fluid/operators/reduce_ops/reduce_sum_op_xpu.cc
  paddle/phi/kernels/reduce_sum_kernel.cc
  paddle/phi/kernels/xpu/reduce_sum_grad_kernel.cc
  paddle/phi/kernels/xpu/reduce_sum_kernel.cc
  python/paddle/fluid/tests/unittests/xpu/test_reduce_max_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_reduce_sum_op_xpu.py
Due: clang-format, cpplint-cpp-source, pylint-doc-string, copyright_checker

Improve code design
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

remove logging
  paddle/phi/kernels/onednn/reshape_kernel.cc
  paddle/phi/kernels/onednn/squeeze_kernel.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

polish linux and windows make impl
  paddle/fluid/pybind/CMakeLists.txt
  paddle/scripts/paddle_build.sh
  python/CMakeLists.txt
  python/paddle/fluid/core.py
  python/setup.py.in
Due: pylint-doc-string, copyright_checker

share memory
  paddle/phi/kernels/sparse/unary_kernel.h
Due: clang-format, cpplint-cpp-source, copyright_checker

clear extra atts of sequence_softmax in opmaker
  paddle/fluid/operators/sequence_ops/sequence_softmax_op.cc
  paddle/phi/api/yaml/op_compat.yaml
Due: clang-format, cpplint-cpp-source, copyright_checker

refine gil use
  paddle/fluid/eager/pylayer/py_layer_node.cc
  paddle/fluid/eager/pylayer/py_layer_node.h
  paddle/fluid/pybind/eager_functions.cc
  paddle/fluid/pybind/eager_method.cc
Due: clang-format, cpplint-cpp-source, copyright_checker

remove E124 and F404
  .flake8
Due: none

fix bug
  python/paddle/distribution/normal.py
Due: pylint-doc-string, copyright_checker
