Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

Paddle-TRT int8 support mul op channelwise quant (#28422)
  paddle/fluid/framework/ir/quant_conv2d_dequant_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

upgrade pass capability
  paddle/fluid/framework/ir/squared_mat_sub_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine
  paddle/fluid/operators/fill_constant_op.cc
  paddle/fluid/operators/gather_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unittest
  paddle/fluid/framework/ir/skip_layernorm_fuse_pass.cc
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/trt_dynamic_shape_transformer_prune_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix note. test=develop
  python/paddle/fluid/reader.py
Due: pylint-doc-string, copyright_checker

test=document_fix
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

add unit test for paddle.onnx.export
  python/paddle/fluid/tests/unittests/test_onnx_export.py
  python/paddle/onnx/export.py
  python/unittest_py/requirements.txt
Due: pylint-doc-string, copyright_checker

slice op convertor support trt < 6
  paddle/fluid/inference/tensorrt/convert/slice_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

alias yolo_loss & decode_yolo_box to paddle.vision. test=develop
  python/paddle/vision/layers.py
Due: pylint-doc-string, copyright_checker

fix bug: Only supports Tensor, LoDTensor, SelectedRows and LoDTensorArray to have TensorInplaceVersion.
  paddle/fluid/framework/variable.h
  paddle/fluid/imperative/basic_engine.cc
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/variable_wrapper.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/tests/unittests/test_inplace.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update the document fix for the some ops
  paddle/fluid/operators/elementwise/elementwise_max_op.cc
  paddle/fluid/operators/elementwise/elementwise_min_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/tensor/logic.py
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

udpate the fix doc
  python/paddle/tensor/search.py
Due: pylint-doc-string, copyright_checker

fix the document api for the some ops
  python/paddle/nn/functional/loss.py
  python/paddle/nn/layer/loss.py
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
Due: pylint-doc-string, copyright_checker

update the pattern of match the activation metric
  python/paddle/fluid/layers/layer_function_generator.py
Due: pylint-doc-string, copyright_checker

register the op version.
  paddle/fluid/operators/clip_op.cc
  paddle/fluid/operators/controlflow/compare_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add simple rnn forward unittest
  paddle/fluid/operators/rnn_op.h
  python/paddle/fluid/tests/unittests/rnn/rnn_numpy.py
  python/paddle/fluid/tests/unittests/test_rnn_op.py
  python/paddle/fluid/tests/unittests/test_simple_rnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update rnn api for cpu version kernel.
  python/paddle/nn/layer/rnn.py
Due: pylint-doc-string, copyright_checker

fix 2.0 doc
  paddle/fluid/operators/unique_op.cu
  paddle/fluid/pybind/imperative.cc
  python/paddle/framework/__init__.py
  python/paddle/framework/io.py
  python/paddle/optimizer/lr.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix no python diff report, test=develop
  paddle/scripts/paddle_build.sh
  tools/coverage/paddle_coverage.sh
Due: none

add cc test file, test=develop
  paddle/fluid/framework/details/fast_threaded_ssa_graph_executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update, test=develop
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  python/paddle/fluid/executor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix
  python/paddle/nn/functional/activation.py
  python/paddle/tensor/creation.py
  python/paddle/tensor/random.py
  python/paddle/tensor/stat.py
Due: pylint-doc-string, copyright_checker

Modify ProgramTranslator and TracedLayer Doc for API 2.0 (#28509)
  python/paddle/fluid/dygraph/dygraph_to_static/program_translator.py
  python/paddle/fluid/dygraph/jit.py
Due: pylint-doc-string, copyright_checker

[API2.0] Fix documents of 6 APIs to fit API2.0: (#28514)
  python/paddle/fluid/dygraph/dygraph_to_static/convert_call_func.py
  python/paddle/fluid/dygraph/dygraph_to_static/convert_operators.py
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

add monitoring for executive ut at night (#28377)
  paddle/scripts/paddle_build.bat
  paddle/scripts/paddle_build.sh
  tools/check_file_diff_approvals.sh
Due: none

skip_layernorm only work in ernie
  paddle/fluid/framework/ir/embedding_eltwise_layernorm_fuse_pass.cc
  paddle/fluid/framework/ir/multihead_matmul_fuse_pass.cc
  paddle/fluid/framework/ir/pass.h
  paddle/fluid/framework/ir/skip_layernorm_fuse_pass.cc
  paddle/fluid/framework/ir/skip_layernorm_fuse_pass_tester.cc
  paddle/fluid/inference/analysis/ir_passes/tensorrt_subgraph_pass.cc
  python/paddle/fluid/tests/unittests/ir/pass_test.py
  python/paddle/fluid/tests/unittests/ir/test_ir_skip_layernorm_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

test for nightly exec
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

open a part of GPU unittest for windows
  paddle/scripts/paddle_build.bat
Due: none

add simple rnn backward test
  paddle/fluid/operators/rnn_op.h
  python/paddle/fluid/tests/unittests/test_simple_rnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Checkout point add (#28488)
  paddle/fluid/framework/ir/squared_mat_sub_fuse_pass.cc
  paddle/fluid/operators/fill_constant_op.cc
  paddle/fluid/operators/gather_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update `add` `clip` `MSELoss` and `no_grad`
  python/paddle/__init__.py
  python/paddle/fluid/dygraph/base.py
  python/paddle/framework/__init__.py
  python/paddle/nn/layer/loss.py
  python/paddle/tensor/math.py
Due: pylint-doc-string, copyright_checker

add reducer for imperative
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/imperative/all_reduce.cc
  paddle/fluid/imperative/all_reduce.h
  paddle/fluid/imperative/basic_engine.cc
  paddle/fluid/imperative/gradient_accumulator.cc
  paddle/fluid/imperative/gradient_accumulator.h
  paddle/fluid/imperative/reducer.cc
  paddle/fluid/imperative/reducer.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/imperative.cc
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/fluid/dygraph/parallel.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/test_imperative_group.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

modified timeout value for test_resnet_v2 and test_resnet
  python/paddle/fluid/tests/unittests/dygraph_to_static/CMakeLists.txt
Due: none

fix shuffle batch op shuffle
  paddle/fluid/operators/shuffle_batch_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
