Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


register fluid kerenls to phi [part 2] (#52044)
  paddle/fluid/operators/bpr_loss_op.cc
  paddle/fluid/operators/bpr_loss_op.h
  paddle/fluid/operators/collective/c_allgather_op.cc
  paddle/fluid/operators/collective/c_allgather_op.cu.cc
  paddle/fluid/operators/collective/c_allgather_op.h
  paddle/fluid/operators/collective/c_allreduce_max_op.cc
  paddle/fluid/operators/collective/c_allreduce_max_op.cu.cc
  paddle/fluid/operators/collective/c_allreduce_min_op.cc
  paddle/fluid/operators/collective/c_allreduce_min_op.cu.cc
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/c_allreduce_prod_op.cc
  paddle/fluid/operators/collective/c_allreduce_prod_op.cu.cc
  paddle/fluid/operators/collective/c_allreduce_sum_op.cc
  paddle/fluid/operators/collective/c_allreduce_sum_op.cu.cc
  paddle/fluid/operators/detection/bipartite_match_op.cc
  paddle/fluid/operators/detection/box_clip_op.cc
  paddle/fluid/operators/detection/box_clip_op.cu
  paddle/fluid/operators/detection/box_clip_op.h
  paddle/fluid/operators/detection/box_decoder_and_assign_op.cc
  paddle/fluid/operators/detection/box_decoder_and_assign_op.cu
  paddle/fluid/operators/detection/box_decoder_and_assign_op.h
  python/paddle/fluid/tests/unittests/test_bipartite_match_op.py
  python/paddle/fluid/tests/unittests/test_box_clip_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

remove unused header file
  paddle/phi/kernels/fusion/fused_dropout_add_grad_kernel.h
  paddle/phi/kernels/fusion/fused_linear_param_grad_add_kernel.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_add_grad_kernel.cu
  paddle/phi/kernels/fusion/gpu/fused_dropout_add_kernel.cu
  paddle/phi/kernels/fusion/gpu/fused_dropout_add_kernel.h
  paddle/phi/kernels/fusion/gpu/fused_linear_param_grad_add_kernel.cu
  paddle/phi/kernels/fusion/memory_efficient_attention_grad_kernel.h
  paddle/phi/kernels/fusion/memory_efficient_attention_kernel.h
  paddle/phi/kernels/fusion/onednn/fused_conv_kernel.cc
  paddle/phi/kernels/fusion/onednn/fused_elementwise_kernel.cc
  paddle/phi/kernels/fusion/onednn/fused_matmul_kernel.cc
  paddle/phi/kernels/fusion/onednn/fused_softplus_kernel.cc
  paddle/phi/kernels/fusion/onednn/fused_transpose_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Add overflow check in memory efficient attention implementation (#52191) (#52257)
  python/paddle/incubate/autograd/primx.py
Due: copyright_checker, pylint-doc-string

mv if loop to subdir make main cmake clean
  test/CMakeLists.txt
  test/distributed_passes/CMakeLists.txt
Due: none

mv quan
  python/CMakeLists.txt
  python/paddle/static/quantization/tests/CMakeLists.txt
  test/quantization/CMakeLists.txt
  test/quantization/README.md
  test/quantization/__init__.py
  test/quantization/convert_model2dot.py
  test/quantization/imperative_test_utils.py
  test/quantization/quant2_int8_image_classification_comparison.py
  test/quantization/quant2_int8_lstm_model.py
  test/quantization/quant2_int8_nlp_comparison.py
  test/quantization/quant_int8_image_classification_comparison.py
  test/quantization/test_graph.py
  test/quantization/test_imperative_out_scale.py
  test/quantization/test_imperative_ptq.py
  test/quantization/test_imperative_qat.py
  test/quantization/test_imperative_qat_amp.py
  test/quantization/test_imperative_qat_channelwise.py
  test/quantization/test_imperative_qat_fuse.py
  test/quantization/test_imperative_qat_lsq.py
  test/quantization/test_imperative_qat_matmul.py
  test/quantization/test_imperative_qat_user_defined.py
  test/quantization/test_imperative_skip_op.py
  test/quantization/test_moving_average_abs_max_scale_op.py
  test/quantization/test_post_training_quantization_lstm_model.py
  test/quantization/test_post_training_quantization_mnist.py
  test/quantization/test_post_training_quantization_mobilenetv1.py
  test/quantization/test_post_training_quantization_program_resnet50.py
  test/quantization/test_post_training_quantization_resnet50.py
  test/quantization/test_post_training_quantization_while.py
  test/quantization/test_quant2_int8_mkldnn_pass.py
  test/quantization/test_quantization_mkldnn_pass.py
  test/quantization/test_quantization_pass.py
  test/quantization/test_quantization_scale_pass.py
  test/quantization/test_user_defined_quantization.py
  test/quantization/test_weight_quantization_mobilenetv1.py
Due: copyright_checker, pylint-doc-string

Update CMakeLists.txt
  test/quantization/CMakeLists.txt
Due: none

[CustomOP Optional Inplace] Custom operator supports inplace optional vector Tensor input
  paddle/fluid/framework/custom_operator.cc
  paddle/phi/api/ext/op_meta_info.h
  paddle/phi/api/lib/op_meta_info.cc
  python/paddle/utils/cpp_extension/extension_utils.py
  test/custom_op/custom_optional.cc
  test/custom_op/test_custom_optional.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

conflict
  python/CMakeLists.txt
  python/paddle/static/quantization/tests/CMakeLists.txt
  python/paddle/static/quantization/tests/README.md
  python/paddle/static/quantization/tests/__init__.py
  python/paddle/static/quantization/tests/convert_model2dot.py
  python/paddle/static/quantization/tests/imperative_test_utils.py
  python/paddle/static/quantization/tests/quant2_int8_image_classification_comparison.py
  python/paddle/static/quantization/tests/quant2_int8_lstm_model.py
  python/paddle/static/quantization/tests/quant2_int8_nlp_comparison.py
  python/paddle/static/quantization/tests/quant_int8_image_classification_comparison.py
  python/paddle/static/quantization/tests/test_graph.py
  python/paddle/static/quantization/tests/test_imperative_out_scale.py
  python/paddle/static/quantization/tests/test_imperative_ptq.py
  python/paddle/static/quantization/tests/test_imperative_qat.py
  python/paddle/static/quantization/tests/test_imperative_qat_amp.py
  python/paddle/static/quantization/tests/test_imperative_qat_channelwise.py
  python/paddle/static/quantization/tests/test_imperative_qat_fuse.py
  python/paddle/static/quantization/tests/test_imperative_qat_lsq.py
  python/paddle/static/quantization/tests/test_imperative_qat_matmul.py
  python/paddle/static/quantization/tests/test_imperative_qat_user_defined.py
  python/paddle/static/quantization/tests/test_imperative_skip_op.py
  python/paddle/static/quantization/tests/test_moving_average_abs_max_scale_op.py
  python/paddle/static/quantization/tests/test_post_training_quantization_lstm_model.py
  python/paddle/static/quantization/tests/test_post_training_quantization_mnist.py
  python/paddle/static/quantization/tests/test_post_training_quantization_mobilenetv1.py
  python/paddle/static/quantization/tests/test_post_training_quantization_program_resnet50.py
  python/paddle/static/quantization/tests/test_post_training_quantization_resnet50.py
  python/paddle/static/quantization/tests/test_post_training_quantization_while.py
  python/paddle/static/quantization/tests/test_quant2_int8_mkldnn_pass.py
  python/paddle/static/quantization/tests/test_quantization_mkldnn_pass.py
  python/paddle/static/quantization/tests/test_quantization_pass.py
  python/paddle/static/quantization/tests/test_quantization_scale_pass.py
  python/paddle/static/quantization/tests/test_user_defined_quantization.py
  python/paddle/static/quantization/tests/test_weight_quantization_mobilenetv1.py
Due: copyright_checker, pylint-doc-string

update remove PADDLE_WITH_ASCEND 相关代码
  paddle/fluid/operators/ascend_trigger_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source

conflict
  python/paddle/static/quantization/tests/CMakeLists.txt
  python/paddle/static/quantization/tests/__init__.py
  test/quantization/README.md
  test/quantization/convert_model2dot.py
  test/quantization/imperative_test_utils.py
  test/quantization/quant2_int8_image_classification_comparison.py
  test/quantization/quant2_int8_lstm_model.py
  test/quantization/quant2_int8_nlp_comparison.py
  test/quantization/quant_int8_image_classification_comparison.py
  test/quantization/test_graph.py
  test/quantization/test_imperative_out_scale.py
  test/quantization/test_imperative_ptq.py
  test/quantization/test_imperative_qat.py
  test/quantization/test_imperative_qat_amp.py
  test/quantization/test_imperative_qat_channelwise.py
  test/quantization/test_imperative_qat_fuse.py
  test/quantization/test_imperative_qat_lsq.py
  test/quantization/test_imperative_qat_matmul.py
  test/quantization/test_imperative_qat_user_defined.py
  test/quantization/test_imperative_skip_op.py
  test/quantization/test_moving_average_abs_max_scale_op.py
  test/quantization/test_post_training_quantization_lstm_model.py
  test/quantization/test_post_training_quantization_mnist.py
  test/quantization/test_post_training_quantization_mobilenetv1.py
  test/quantization/test_post_training_quantization_program_resnet50.py
  test/quantization/test_post_training_quantization_resnet50.py
  test/quantization/test_post_training_quantization_while.py
  test/quantization/test_quant2_int8_mkldnn_pass.py
  test/quantization/test_quantization_mkldnn_pass.py
  test/quantization/test_quantization_pass.py
  test/quantization/test_quantization_scale_pass.py
  test/quantization/test_user_defined_quantization.py
  test/quantization/test_weight_quantization_mobilenetv1.py
Due: copyright_checker, pylint-doc-string

conflict
  test/quantization/__init__.py
Due: copyright_checker, pylint-doc-string

conflict
  python/CMakeLists.txt
Due: none

autogen full
  paddle/fluid/distributed/fleet_executor/test/CMakeLists.txt
  paddle/fluid/operators/fill_constant_op.cc
  paddle/fluid/operators/generator/get_expected_kernel_func.cc
  paddle/fluid/operators/generator/get_expected_kernel_func.h
  paddle/fluid/operators/generator/parse_utils.py
  paddle/fluid/operators/unity_build_rule.cmake
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/op_version.yaml
  paddle/phi/api/yaml/static_ops.yaml
  test/cpp/new_executor/CMakeLists.txt
  test/cpp/prim/CMakeLists.txt
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

add autogen code support for accuracy
  paddle/fluid/operators/metrics/accuracy_op.cc
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source

update.
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/base/distributed_strategy.py
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
  python/paddle/fluid/tests/unittests/collective/fleet/hybrid_parallel_mp_model.py
Due: copyright_checker, pylint-doc-string

add method for op & test value
  paddle/ir/operation.cc
  paddle/ir/operation.h
  paddle/ir/tests/CMakeLists.txt
  paddle/ir/tests/ir_value_test.cc
  paddle/ir/value.h
  paddle/ir/value_impl.cc
  paddle/ir/value_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

rem nup related code
  python/paddle/static/__init__.py
Due: copyright_checker, pylint-doc-string

polish name
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

make lint happy
  python/paddle/utils/install_check.py
Due: copyright_checker, pylint-doc-string

support auto generate static for eye (#52370)
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/eye_op.cc
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/static_ops.yaml
  paddle/phi/ops/compat/eye_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

remove multidefination of USE_OP_ITSELF(equal_all)
  paddle/fluid/operators/controlflow/CMakeLists.txt
Due: none

trans fused_attention to fluid
  paddle/fluid/operators/fused/fused_attention_op.cu
  paddle/fluid/operators/fused/fused_attention_utils.h
  paddle/phi/kernels/fusion/fused_attention_grad_kernel.h
  paddle/phi/kernels/fusion/gpu/attn_gemm.h
  paddle/phi/kernels/fusion/gpu/fused_attention_kernel.cu
  paddle/phi/kernels/fusion/gpu/fused_dropout_act_bias.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_common.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_helper.h
  paddle/phi/kernels/fusion/gpu/fused_gemm_epilogue_utils.h
  paddle/phi/kernels/fusion/gpu/fused_layernorm_residual_dropout_bias.h
  paddle/phi/kernels/fusion/gpu/fused_residual_dropout_bias.h
  paddle/phi/kernels/fusion/gpu/fused_softmax_mask_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

gather with doc (#52105)
  paddle/fluid/distributed/collective/process_group.h
  paddle/fluid/distributed/collective/process_group_nccl.cc
  paddle/fluid/distributed/collective/process_group_nccl.h
  paddle/fluid/distributed/collective/types.h
  paddle/fluid/pybind/distributed_py.cc
  paddle/phi/core/distributed/check/nccl_dynamic_check.cc
  paddle/phi/core/distributed/check/nccl_dynamic_check.h
  python/paddle/distributed/__init__.py
  python/paddle/distributed/communication/__init__.py
  python/paddle/distributed/communication/gather.py
  python/paddle/distributed/communication/stream/__init__.py
  python/paddle/distributed/communication/stream/gather.py
  python/paddle/fluid/tests/unittests/collective/CMakeLists.txt
  python/paddle/fluid/tests/unittests/collective/README.md
  python/paddle/fluid/tests/unittests/collective/collective_gather_api_dygraph.py
  python/paddle/fluid/tests/unittests/collective/fleet/CMakeLists.txt
  python/paddle/fluid/tests/unittests/collective/fleet/testslist.csv
  python/paddle/fluid/tests/unittests/collective/test_collective_gather_api.py
  python/paddle/fluid/tests/unittests/collective/testslist.csv
  python/paddle/fluid/tests/unittests/test_collective_api_base.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

fix
  python/paddle/fluid/tests/unittests/ir/inference/test_multihead_matmul_roformer_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_fc_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_squeeze2_matmul_fuse_pass.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/fluid/tests/unittests/ir/inference/CMakeLists.txt
Due: none

Add transfer_layout tests
  python/paddle/fluid/tests/unittests/test_transfer_layout_op.py
Due: copyright_checker, pylint-doc-string

tmp
  paddle/fluid/operators/flatten_op.cc
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/infermeta/backward.h
Due: copyright_checker, clang-format, cpplint-cpp-source

move gaussian_random_batch_size_like Kernels from gaussian_random_op.* to gaussian_random_batch_size_like_op.*
  paddle/fluid/operators/gaussian_random_batch_size_like_op.cc
  paddle/fluid/operators/gaussian_random_batch_size_like_op.cu
  paddle/fluid/operators/gaussian_random_op.cc
  paddle/fluid/operators/unity_build_rule.cmake
Due: copyright_checker, clang-format, cpplint-cpp-source

support auto generate static for gaussian (gaussian_random)
  paddle/fluid/operators/gaussian_random_op.cc
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/op_version.yaml
  paddle/phi/api/yaml/static_ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source

Add unbind float16 test
  python/paddle/fluid/tests/unittests/test_unbind_op.py
Due: copyright_checker, pylint-doc-string

rem test
  python/paddle/distributed/fleet/ascend_utils.py
  python/paddle/fluid/tests/unittests/test_fleet_ascend_utils.py
Due: copyright_checker, pylint-doc-string

【PaddlePaddle Hackathon 4 NO.23】为 Paddle 新增 vander API (#51048)
  python/paddle/__init__.py
  python/paddle/fluid/tests/unittests/test_vander.py
  python/paddle/tensor/__init__.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

fix host cost
  paddle/fluid/operators/fused/fused_gemm_epilogue_op.cc
  paddle/phi/kernels/funcs/blas/blaslt_impl.cu.h
  paddle/phi/kernels/funcs/common_shape.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix Place type when default_value is -1
  paddle/fluid/operators/generator/templates/operator_utils.c.j2
Due: none

rename_batch_norm_grad_grad
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/kernels/cpu/batch_norm_grad_kernel.cc
  paddle/phi/kernels/gpu/batch_norm_grad_kernel.cu
  paddle/phi/ops/compat/batch_norm_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add some changes
  paddle/fluid/operators/fused/fused_gemm_epilogue_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

enable setting double attribute into opdesc (#52406)
  paddle/fluid/pybind/protobuf.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Rename conv2d transpose grad grad
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/kernels/gpu/conv_transpose_grad_kernel.cu
  paddle/phi/kernels/gpudnn/conv_transpose_grad_kernel.cu
  paddle/phi/ops/compat/conv_transpose_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

delete reduce_all
  paddle/phi/kernels/cpu/reduce_amax_kernel.cc
  paddle/phi/kernels/cpu/reduce_amin_kernel.cc
  paddle/phi/kernels/kps/reduce_amax_kernel.cu
  paddle/phi/kernels/kps/reduce_amin_kernel.cu
  paddle/phi/kernels/reduce_amax_kernel.cc
  paddle/phi/kernels/reduce_amax_kernel.h
  paddle/phi/kernels/reduce_amin_kernel.cc
  paddle/phi/kernels/reduce_amin_kernel.h
  paddle/phi/ops/compat/reduce_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source
