Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


[Test] Cover invalid mm input dtype
  test/legacy_test/test_mm_out.py
Due: copyright_checker, pylint-doc-string

[CINN] Fix compilation error in CINN adaptation for XPU
  cmake/external/python.cmake
  cmake/xtdk.cmake
  paddle/cinn/backends/codegen_cuda_host.h
  paddle/cinn/backends/codegen_device_util.cc
  paddle/cinn/backends/codegen_device_util.h
  paddle/cinn/backends/extern_func_emitter.h
  paddle/cinn/backends/extern_func_jit_register.h
  paddle/cinn/backends/llvm/codegen_llvm.cc
  paddle/cinn/common/target.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/hlir/op/contrib/sort.cc
  paddle/cinn/hlir/op/custom_call.cc
  paddle/cinn/hlir/op/nn.cc
  paddle/cinn/hlir/op/op_util.cc
  paddle/cinn/hlir/op/transform.cc
  paddle/cinn/hlir/pe/ir_schedule_pe.cc
  paddle/cinn/hlir/pe/schedule.cc
  paddle/cinn/hlir/pe/transform.cc
  paddle/cinn/ir/group_schedule/tactic/optimize_reduction_tactic.cc
  paddle/cinn/ir/module.cc
  paddle/cinn/ir/op/ir_operators.cc
  paddle/cinn/ir/schedule/impl/for_type.cc
  paddle/cinn/lang/lower.cc
  paddle/cinn/lang/lower_tensor_group.cc
  paddle/cinn/optim/cast_bool_to_int8.cc
  paddle/cinn/optim/map_extern_call.cc
  paddle/cinn/optim/optimize.cc
  paddle/cinn/optim/realize_composite_reduce_pass.cc
  paddle/cinn/optim/trans_buffer_with_dynamic_shape.cc
  paddle/cinn/runtime/flags.cc
  paddle/cinn/runtime/xpu/bfloat16.h
  paddle/cinn/runtime/xpu/float16.h
  paddle/phi/backends/xpu/cuda_graph.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix write overflow in unstack kernel
  paddle/phi/kernels/funcs/stack_and_unstack.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

ci: rerun approval checks after approve
  .github/workflows/rerun.yml
Due: none

update empty_strided for compat (#79540) (#79562)
  paddle/phi/api/include/compat/ATen/ops/empty_strided.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

address review problem
  python/paddle/distributed/flex_checkpoint/aoa/aoa_engine.py
  python/paddle/distributed/flex_checkpoint/dcp/utils.py
  test/flex_checkpoint/test_aoa_engine_reshape.py
Due: copyright_checker, pylint-doc-string

also fix paddle.distributions.categorical.Categorical
  python/paddle/compat/distributions/categorical.py
  test/compat/test_compat_namespace_aliased.py
  test/legacy_test/test_api_compatibility_part3.py
Due: copyright_checker, pylint-doc-string

ci: rerun approval checks from workflow run
  .github/workflows/approval-review-signal.yml
  .github/workflows/rerun.yml
Due: none

simplify code
  python/paddle/distributed/flex_checkpoint/aoa/aoa_engine.py
  python/paddle/distributed/flex_checkpoint/dcp/utils.py
  test/flex_checkpoint/test_aoa_engine_reshape.py
Due: copyright_checker, pylint-doc-string

[CI] remove invalid DCU apt install
  .github/workflows/_Linux-DCU.yml
Due: none

ci: tune api benchmark library path order
  .github/workflows/_Api-Benchmark.yml
Due: none

ci: enable NPU C++20 toolchain baseline
  .github/workflows/_Linux-NPU.yml
  .github/workflows/docker.yml
  tools/dockerfile/Dockerfile.develop.npu
Due: none

[Memory] Unwrap StorageHolderView in record_stream
  paddle/phi/api/include/compat/ATen/ops/record_stream.h
  test/cpp/compat/ATen_record_stream_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix for linux
  paddle/phi/kernels/funcs/common_shape.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cpp sink for addcmul
  paddle/phi/ops/yaml/python_api_info.yaml
  python/paddle/_paddle_docs.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

add converage for addcmul
  python/paddle/_paddle_docs.py
  test/legacy_test/test_addcmul.py
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

del commented code and refine tests for addcmul
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

coverage test
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

improve
  paddle/phi/kernels/impl/addcmul_grad_kernel_impl.h
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

remove comment in ops.yaml and adjust testing code
  paddle/phi/ops/yaml/ops.yaml
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/impl/addcmul_grad_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix test
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/impl/addcmul_grad_kernel_impl.h
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

align with torch
  paddle/fluid/pybind/eager_utils.cc
  python/paddle/_paddle_docs.py
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Revert "align with torch"
  paddle/fluid/pybind/eager_utils.cc
  python/paddle/_paddle_docs.py
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

use meaningful name and optimise mem alloc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/phi/kernels/impl/addcmul_grad_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

signature align with torch and add unit test
  python/paddle/_paddle_docs.py
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

skip test on XPU
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

skip XPU
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

improve coverage
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/__init__.py
Due: copyright_checker, pylint-doc-string

shuffle the tests at random to see if pass CI
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

align api
  paddle/phi/kernels/cpu/addcmul_kernel.cc
  paddle/phi/kernels/gpu/addcmul_kernel.cu
  python/paddle/_paddle_docs.py
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

split with scope
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix tests
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string

fix
  test/legacy_test/test_addcmul_op.py
Due: copyright_checker, pylint-doc-string
