Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    paddle/fluid/distributed/ps/thirdparty/round_robin.h
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: (?x)^(
    paddle/utils/.*
)$


update test.
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: pylint-doc-string, copyright_checker

update code style.
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/launch_utils.py
Due: pylint-doc-string, copyright_checker

update some include mpi.h
  paddle/fluid/platform/dynload/mpi_comm.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update code.
  cmake/mpi.cmake
  paddle/fluid/distributed/collective/MPITools.cc
  paddle/fluid/distributed/collective/MPITools.h
  paddle/fluid/distributed/collective/ProcessGroupMPI.cc
  paddle/fluid/distributed/collective/ProcessGroupMPI.h
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update test
  python/paddle/fluid/tests/unittests/test_mpi_comm.sh
Due: copyright_checker

update codestyle.
  cmake/mpi.cmake
  paddle/fluid/distributed/collective/MPITools.h
  paddle/fluid/distributed/collective/ProcessGroupMPI.cc
  paddle/fluid/distributed/collective/ProcessGroupMPI.h
  paddle/fluid/pybind/distributed_py.cc
  paddle/phi/backends/dynload/CMakeLists.txt
  paddle/phi/backends/dynload/dynamic_loader.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update some include mpi.h.
  paddle/fluid/distributed/collective/MPITools.h
  paddle/fluid/distributed/collective/ProcessGroupMPI.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update code style.
  paddle/fluid/platform/dynload/CMakeLists.txt
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

update.
  paddle/fluid/distributed/collective/MPITools.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update test_mpi_comm.sh
  python/paddle/fluid/tests/unittests/test_mpi_comm.sh
Due: copyright_checker

update cmake.
  paddle/fluid/pybind/CMakeLists.txt
Due: none

update test.
  python/paddle/fluid/tests/unittests/test_mpi_comm.sh
Due: copyright_checker

update test.
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: pylint-doc-string, copyright_checker

update create mpi group.
  paddle/fluid/distributed/collective/ProcessGroupMPI.cc
  python/paddle/distributed/collective.py
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bugs
  paddle/phi/kernels/sparse/impl/unary_kernel_impl.h
  paddle/phi/kernels/sparse/unary_kernel.h
  paddle/phi/tests/kernels/CMakeLists.txt
  paddle/phi/tests/kernels/test_sparse_transpose_dev_api.cc
  python/paddle/fluid/tests/unittests/test_sparse_transpose_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add cuda impl
  paddle/phi/kernels/sparse/cpu/unary_grad_kernel.cc
  paddle/phi/kernels/sparse/cpu/unary_kernel.cc
  paddle/phi/kernels/sparse/gpu/unary_grad_kernel.cu
  paddle/phi/kernels/sparse/gpu/unary_kernel.cu
  paddle/phi/kernels/sparse/impl/unary_grad_kernel_impl.h
  paddle/phi/kernels/sparse/impl/unary_kernel_impl.h
  paddle/phi/kernels/sparse/unary_kernel.h
  python/paddle/fluid/tests/unittests/test_sparse_transpose_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update.
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: pylint-doc-string, copyright_checker

update .
  paddle/fluid/platform/dynload/dynamic_loader.cc
  paddle/fluid/platform/dynload/dynamic_loader.h
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/launch_utils.py
  python/paddle/distributed/parallel.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bugs
  python/paddle/fluid/tests/unittests/test_sparse_transpose_op.py
Due: pylint-doc-string, copyright_checker

update.
  paddle/fluid/distributed/collective/MPITools.h
  paddle/fluid/pybind/CMakeLists.txt
  python/paddle/distributed/parallel.py
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update mpi_test
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: pylint-doc-string, copyright_checker

update.
  paddle/phi/backends/dynload/mpi_comm.h
  python/paddle/distributed/collective.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update test.
  paddle/fluid/distributed/collective/ProcessGroupMPI.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update comments.
  cmake/mpi.cmake
  paddle/fluid/distributed/collective/MPITools.cc
  paddle/fluid/distributed/collective/ProcessGroup.cc
  paddle/fluid/distributed/collective/ProcessGroupMPI.cc
  paddle/fluid/distributed/collective/ProcessGroupMPI.h
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/process_group_mpi.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update mpi.
  paddle/fluid/distributed/collective/MPITools.cc
  paddle/fluid/distributed/collective/ProcessGroupMPI.cc
  python/paddle/fluid/tests/unittests/collective/process_group_mpi.py
  python/paddle/fluid/tests/unittests/collective/test_mpi_comm.sh
  python/paddle/fluid/tests/unittests/collective/testslist.csv
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Sparse]Remove unused code (#46021)
  paddle/phi/api/lib/CMakeLists.txt
  paddle/phi/api/lib/sparse_api_custom_impl.cc
  paddle/phi/api/lib/sparse_api_custom_impl.h
  paddle/phi/api/yaml/generator/intermediate_api_gen.py
  paddle/phi/api/yaml/generator/sparse_api_gen.py
  paddle/phi/api/yaml/generator/sparse_bw_api_gen.py
  paddle/phi/tests/core/test_sparse_coo_tensor.cc
  paddle/phi/tests/core/test_sparse_csr_tensor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix bug for TransformedDistribution
  python/paddle/distribution/transformed_distribution.py
Due: pylint-doc-string, copyright_checker

update CMakeLists.txt
  CMakeLists.txt
Due: none

delete eigen header in data_type.h
  paddle/fluid/framework/data_type.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/framework/new_executor/data_transfer.cc
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/stream_analyzer.cc
  paddle/fluid/platform/device/custom/custom_device_resource_pool.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update op compat ci rule, test=document_fix
  tools/check_file_diff_approvals.sh
Due: copyright_checker

update.
  paddle/fluid/distributed/collective/ProcessGroup.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

CastPyArg2IntArray use int64_t (#45919)
  paddle/fluid/pybind/eager_utils.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/platform/CMakeLists.txt
Due: none

add convert rules for fill_any_like op in paddle science (#45985)
  python/paddle/fluid/tests/unittests/autograd/test_orig2prim.py
  python/paddle/incubate/autograd/primrules.py
Due: pylint-doc-string, copyright_checker

fix transformer bug, test=kunlun (#45983)
  paddle/phi/kernels/xpu/adam_kernel.cc
  paddle/phi/kernels/xpu/arange_kernel.cc
  paddle/phi/kernels/xpu/gaussian_random_kernel.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
