Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

update xpu_memcpy
  paddle/fluid/framework/details/nan_inf_utils_detail.cc
  paddle/fluid/memory/memcpy.cc
  paddle/fluid/operators/amp/check_finite_and_unscale_op_xpu.cc
  paddle/fluid/operators/amp/update_loss_scaling_op_xpu.cc
  paddle/fluid/operators/masked_select_op_xpu.cc
  paddle/fluid/operators/range_op_xpu.cc
  paddle/fluid/operators/where_index_op_xpu.cc
  paddle/fluid/pybind/tensor_py.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

【PTen】Add variadic args kernel for PTen API to replace KernelContext (#37942)
  paddle/pten/api/include/kernel_signature.h
  paddle/pten/core/kernel_factory.h
  paddle/pten/core/kernel_registry.h
  paddle/pten/core/kernel_utils.h
  paddle/pten/tests/api/CMakeLists.txt
  paddle/pten/tests/api/scale_api.h
  paddle/pten/tests/api/test_scale_benchmark.cc
  python/paddle/utils/code_gen/api.yaml
  python/paddle/utils/code_gen/api_gen.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add code comment for example code and API, test=develop
  python/paddle/framework/framework.py
  python/paddle/tensor/attribute.py
Due: pylint-doc-string, copyright_checker

add popart_canonicalization p4
  paddle/fluid/platform/device/ipu/popart_canonicalization/reduce_ops.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/search_ops.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/tensor_ops.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[rot90] fix rot90 (#38042)
  python/paddle/fluid/tests/unittests/test_rot90_op.py
  python/paddle/tensor/manipulation.py
Due: pylint-doc-string, copyright_checker

nothing
  python/paddle/__init__.py
Due: pylint-doc-string, copyright_checker

complement deps on cinn_launch_context cmake (#38031)
  paddle/fluid/framework/paddle2cinn/cinn_cache_key.cc
  paddle/fluid/operators/cinn/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

cherry-pick #38026:fix bug of reduce_max/reduce_min
  paddle/fluid/operators/reduce_ops/reduce_op.h
  python/paddle/fluid/tests/unittests/test_max_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix can not find eager attr, test=develop
  python/paddle/fluid/eager/eager_tensor_patch_methods.py
Due: pylint-doc-string, copyright_checker

delete notes
  paddle/fluid/operators/reshape_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

disabled bad case
  paddle/fluid/framework/ir/shuffle_channel_detect_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

replace with pten kernel in cast cuda compute and remove unused codes
  paddle/fluid/operators/cast_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

rm unused header file
  paddle/fluid/operators/cast_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

int to size_t
  paddle/fluid/framework/ir/shuffle_channel_detect_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update PlanSpace
  python/paddle/distributed/auto_parallel/planner.py
Due: pylint-doc-string, copyright_checker

fix:add random num for dilation and group
  paddle/fluid/framework/ir/mkldnn/depthwise_conv_mkldnn_pass.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_depthwise_conv_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add logit API (#37844)
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/activation_op.cu
  paddle/fluid/operators/activation_op.h
  python/paddle/__init__.py
  python/paddle/fluid/tests/unittests/test_logit_op.py
  python/paddle/tensor/__init__.py
  python/paddle/tensor/math.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

simplify renorm op
  paddle/fluid/operators/renorm_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix mac import hang, test=develop (#38051)
  paddle/fluid/pybind/eager_op_function_generator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

move mul and div grad functor
  paddle/fluid/operators/elementwise/elementwise_div_op.cu
  paddle/fluid/operators/elementwise/elementwise_functor.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

SparseCsrTensor
  paddle/pten/CMakeLists.txt
  paddle/pten/api/CMakeLists.txt
  paddle/pten/api/include/sparse_csr_tensor_utils.h
  paddle/pten/api/lib/CMakeLists.txt
  paddle/pten/api/lib/sparse_csr_tensor_utils.cc
  paddle/pten/common/layout.h
  paddle/pten/core/CMakeLists.txt
  paddle/pten/core/kernel_utils.h
  paddle/pten/core/sparse_csr_tensor.cc
  paddle/pten/core/sparse_csr_tensor.h
  paddle/pten/kernels/CMakeLists.txt
  paddle/pten/kernels/hybird/CMakeLists.txt
  paddle/pten/kernels/hybird/sparse/CMakeLists.txt
  paddle/pten/kernels/hybird/sparse/cpu/CMakeLists.txt
  paddle/pten/kernels/hybird/sparse/cpu/sparse_util.h
  paddle/pten/kernels/sparse/CMakeLists.txt
  paddle/pten/kernels/sparse/cpu/CMakeLists.txt
  paddle/pten/kernels/sparse/cpu/sparse_csr_tensor_utils.cc
  paddle/pten/kernels/sparse/cpu/sparse_csr_tensor_utils.h
  paddle/pten/tests/api/CMakeLists.txt
  paddle/pten/tests/api/test_to_sparse_csr_api.cc
  paddle/pten/tests/core/CMakeLists.txt
  paddle/pten/tests/core/test_sparse_csr_tensor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[cherry pick] Refine param conversion logic in layer.to (#38068)
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/dygraph/amp/auto_cast.py
  python/paddle/fluid/dygraph/layers.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[Dy2stat]Remove all comments of users code when dy2stat (#38003) (#38039)
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_program_translator.py
Due: pylint-doc-string, copyright_checker

add timeout notest;test=coverage
  python/paddle/fluid/tests/unittests/ir/inference/CMakeLists.txt
Due: none

resolve compile failed
  paddle/pten/api/lib/utils.cc
  paddle/pten/common/layout.h
  paddle/pten/core/kernel_registry.h
  paddle/pten/kernels/cpu/manipulation.cc
  paddle/pten/kernels/cuda/manipulation.cu
  paddle/pten/tests/common/test_backend.cc
  paddle/pten/tests/common/test_data_layout.cc
  paddle/pten/tests/common/test_data_type.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix bugs when compile
  paddle/pten/api/include/kernel_signature.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Cmakelist add timeout
  python/paddle/fluid/tests/unittests/ir/inference/CMakeLists.txt
Due: none

add timeout
  python/paddle/fluid/tests/unittests/ir/inference/test_map_matmul_to_mul_pass.py
Due: pylint-doc-string, copyright_checker

fix custom op infershape error (#38045)
  paddle/pten/api/ext/op_meta_info.h
  python/paddle/fluid/tests/custom_op/attr_test_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

test kernel
  paddle/pten/include/sparse_csr_tensor_utils.h
  paddle/pten/tests/kernels/CMakeLists.txt
  paddle/pten/tests/kernels/test_to_sparse_csr_dev_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

mac ci debug,notest,test=mac_py3
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Add other tests into Paddle-CINN ci
  paddle/fluid/operators/cinn/CMakeLists.txt
Due: none

Set address alignment of BuddyAllocator to 32 bytes
  paddle/fluid/memory/detail/buddy_allocator.cc
  paddle/fluid/memory/detail/memory_block.cc
  paddle/fluid/platform/device/gpu/gpu_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add cuda102 and cuda112 perf dockerfile
  tools/dockerfile/performance_docker/Dockerfile.cuda102
  tools/dockerfile/performance_docker/Dockerfile.cuda112
  tools/dockerfile/performance_docker/install_whl.sh
Due: copyright_checker
