Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix cudnn
  cmake/operators.cmake
Due: none

add amp_dtype for tracer
  paddle/fluid/imperative/amp_auto_cast.h
  paddle/fluid/imperative/tracer.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/dygraph/amp/auto_cast.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add the uva function for the Tensor (#38950)
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/tests/unittests/test_tensor_uva.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

up
  paddle/infrt/dialect/CMakeLists.txt
  paddle/infrt/dialect/opt.cc
  paddle/infrt/dialect/rewrite.td
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[fleet executor] add comm init for dist model inf
  paddle/fluid/distributed/fleet_executor/dist_model.cc
  paddle/fluid/distributed/fleet_executor/dist_model.h
  paddle/fluid/pybind/bind_fleet_executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

debug done. process boundary
  paddle/fluid/operators/interpolate_v2_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

delete unity build
  paddle/fluid/operators/unity_build_rule.cmake
Due: none

add sparse_coo_to_dense
  paddle/pten/kernels/gpu/sparse_utils_kernel.cu
  paddle/pten/kernels/sparse_utils_kernel.h
  paddle/pten/tests/kernels/test_sparse_utils_dev_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix http gloo bug (#39017)
  python/paddle/distributed/fleet/base/role_maker.py
  python/paddle/fluid/incubate/fleet/base/role_maker.py
Due: pylint-doc-string, copyright_checker

fix compiling with on_infer
  cmake/operators.cmake
Due: none

Fix a minor bug
  python/paddle/distributed/auto_parallel/operators/common.py
Due: pylint-doc-string, copyright_checker

Add unit test for dynamic_flops with multiple outputs
  python/paddle/tests/test_model.py
Due: pylint-doc-string, copyright_checker

merge upstream; add SetMember
  paddle/pten/core/sparse_csr_tensor.cc
  paddle/pten/core/sparse_csr_tensor.h
  paddle/pten/tests/core/test_sparse_csr_tensor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

merge upstream
  paddle/pten/tests/core/test_sparse_coo_tensor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

MakePtenDenseTensor support uninitialized tensor to fix trt_cascade_rcnn_test test
  paddle/pten/api/lib/utils/tensor_utils.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

success
  paddle/infrt/dialect/pd_ops.cc
  paddle/infrt/dialect/pd_ops.h
  paddle/infrt/dialect/pd_test_kernels.td
  paddle/infrt/dialect/rewrite.td
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

2^n
  paddle/fluid/operators/interpolate_v2_op.cu
  paddle/fluid/platform/device/gpu/gpu_launch_config.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unsupported bf16 list
  paddle/fluid/imperative/amp_auto_cast.cc
  paddle/fluid/imperative/amp_auto_cast.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

change CUDA implementaion of uniform/gaussian OP (#38611)
  paddle/fluid/operators/distribution_helper.h
  paddle/fluid/operators/gaussian_random_op.cu
  paddle/fluid/operators/uniform_random_op.cu
  paddle/fluid/platform/flags.cc
  paddle/scripts/paddle_build.bat
  paddle/scripts/paddle_build.sh
  python/paddle/fluid/tests/unittests/hybrid_parallel_mp_layers.py
  python/paddle/fluid/tests/unittests/test_adamw_op.py
  python/paddle/fluid/tests/unittests/test_gaussian_random_op.py
  python/paddle/fluid/tests/unittests/test_uniform_random_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

immigrate_transpose_to_pten cpu kernel only; test=develop
  paddle/fluid/operators/transpose_op.h
  paddle/pten/kernels/cpu/transpose_kernel.cc
  paddle/pten/kernels/transpose_kernel.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add CI check from pten including fluid files (#39013)
  tools/check_file_diff_approvals.sh
Due: copyright_checker

fix bug; test=develop
  paddle/pten/kernels/cpu/transpose_kernel.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix mkldnn
  cmake/operators.cmake
Due: none

Updated eager_generator logic
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix format issue
  paddle/scripts/paddle_build.sh
Due: copyright_checker

[fleet executor] add comm init for dist model inf (#39012)
  paddle/fluid/distributed/fleet_executor/dist_model.cc
  paddle/fluid/distributed/fleet_executor/dist_model.h
  paddle/fluid/pybind/bind_fleet_executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Add OpFunctor and replace clip, bce_loss, full and full_like with elementwise
  paddle/fluid/operators/bce_loss_op.cu
  paddle/fluid/operators/clip_op.h
  paddle/fluid/operators/kernel_primitives/compute_primitives.h
  paddle/fluid/platform/function_traits.h
  paddle/pten/kernels/funcs/elementwise_base.h
  paddle/pten/kernels/gpu/full_kernel.cu
  paddle/pten/kernels/gpu/scale_kernel.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

support bf16 amp for O2
  paddle/fluid/imperative/amp_auto_cast.cc
  paddle/fluid/imperative/amp_auto_cast.h
  paddle/fluid/imperative/tracer.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add UT
  paddle/fluid/framework/custom_kernel_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Mish FP32/BF16 kernel, conv and fc fuse passes (#38623)
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/fc_act_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_activation_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_fc_act_fuse_pass.py
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_mkldnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix
  paddle/fluid/framework/custom_kernel_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
