Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

【Prim】Support elementwise related VJP with primitives (#49784)
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/elementwise/elementwise_add_op.cc
  paddle/fluid/operators/elementwise/elementwise_div_op.cc
  paddle/fluid/operators/elementwise/elementwise_sub_op.cc
  paddle/fluid/operators/generator/templates/operator_utils.c.j2
  paddle/fluid/prim/api/manual/backward/composite_backward_api.h
  paddle/fluid/prim/api/manual/prim_api/eager_prim_api.cc
  paddle/fluid/prim/api/manual/prim_api/prim_api.h
  paddle/fluid/prim/api/manual/prim_api/static_prim_api.cc
  paddle/fluid/prim/api/manual/utils/eager_utils.cc
  paddle/fluid/prim/api/manual/utils/static_utils.cc
  paddle/fluid/prim/api/manual/utils/utils.h
  paddle/fluid/prim/tests/CMakeLists.txt
  paddle/fluid/prim/utils/static/desc_tensor.h
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/core/extended_tensor.h
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_bert.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_resnet.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_resnet_amp.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_resnet_pure_fp16.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_resnet_v2.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/CMakeLists.txt
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_add_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_div_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_sub_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_tanh_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/CMakeLists.txt
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_add_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_add_tanh_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_div_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_sub_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_tanh_grad.py
  python/paddle/fluid/tests/unittests/prim/test_comp_get_grad_op_desc_prim_disabled.py
  python/paddle/fluid/tests/unittests/prim/test_comp_get_grad_op_desc_prim_enabled.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Support call backward() without params in dy2st
  paddle/fluid/pybind/eager_legacy_custom_python_api.h
  paddle/fluid/pybind/eager_utils.cc
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_backward_without_params.py
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix codestyle
  paddle/fluid/distributed/ps/table/graph/graph_weighted_sampler.h
  paddle/fluid/distributed/test/graph_node_split_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

modify op test
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/sequence/test_sequence_conv.py
  python/paddle/fluid/tests/unittests/test_data_norm_op.py
Due: copyright_checker, pylint-doc-string

enhance_tests
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_add_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_div_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_sub_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_tanh_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_add_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_add_tanh_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_div_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_sub_grad.py
  python/paddle/fluid/tests/unittests/test_resnet50_with_cinn.py
Due: copyright_checker, pylint-doc-string

fix zero dims
  paddle/phi/infermeta/unary.cc
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
  python/paddle/fluid/tests/unittests/xpu/test_zero_dim_tensor_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

support mp on xpu
  cmake/external/xpu.cmake
  paddle/fluid/distributed/collective/process_group_bkcl.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

clean
  python/paddle/distributed/fleet/runtime/parameter_server_runtime.py
Due: copyright_checker, pylint-doc-string

Fix code
  paddle/fluid/pybind/eager_utils.cc
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Remove comment
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string

[Custom Device] update get_device to custom and add custom_device api (#49721)
  paddle/fluid/pybind/pybind.cc
  python/paddle/__init__.py
  python/paddle/device/__init__.py
  python/paddle/fluid/framework.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[Custom Device] Clear ProcessGroup Manually (#49182)
  paddle/fluid/distributed/collective/process_group.cc
  paddle/fluid/distributed/collective/process_group.h
  paddle/fluid/pybind/distributed_py.cc
  paddle/phi/backends/stream.cc
  python/paddle/distributed/__init__.py
  python/paddle/distributed/collective.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix codestyle
  paddle/fluid/distributed/test/graph_node_split_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[inference][trt]set output data type of trt network (#49712)
  paddle/fluid/inference/tensorrt/convert/cast_op.cc
  paddle/fluid/inference/tensorrt/convert/op_converter.h
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/inference/tensorrt/helper.h
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/operators/tensorrt/tensorrt_engine_op_test.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_arg_max.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_arg_min.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_cast.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_compare_and_logical.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_elementwise.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_equal.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_multiclass_nms3.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_top_k.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_top_k_v2.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix tests
  python/paddle/fluid/tests/unittests/test_program_prune_backward.py
Due: copyright_checker, pylint-doc-string

[Zero-Dim] add where, atan2, median 0-Dim ut (#49692)
  paddle/phi/kernels/xpu/where_kernel.cc
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
  python/paddle/fluid/tests/unittests/xpu/test_zero_dim_tensor_xpu.py
  python/paddle/tensor/stat.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix fc kernel diff (#49781)
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/fused/fused_fc_elementwise_layernorm_op.cu
  paddle/phi/kernels/funcs/fc_functor.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

disable fc_elementwise_layernorm_fuse_pass in mixed precision
  paddle/fluid/inference/api/paddle_pass_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

simplify code
  paddle/phi/kernels/funcs/norm_utils.cu.h
  paddle/phi/kernels/gpu/batch_norm_grad_kernel.cu
  paddle/phi/kernels/gpu/batch_norm_kernel.cu
  paddle/phi/kernels/gpu/sync_batch_norm_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

add prod for kunlun
  paddle/phi/backends/xpu/xpu2_op_list.cc
  python/paddle/fluid/tests/unittests/xpu/test_prod_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix_arg_release24 (#49771)
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

modify
  python/paddle/fluid/tests/unittests/test_softmax_op.py
  python/paddle/fluid/tests/unittests/test_spectral_norm_op.py
  python/paddle/fluid/tests/unittests/test_split_op.py
  python/paddle/fluid/tests/unittests/test_sum_op.py
  python/paddle/fluid/tests/unittests/test_take_along_axis_op.py
  python/paddle/fluid/tests/unittests/test_target_assign_op.py
  python/paddle/fluid/tests/unittests/test_tile_op.py
  python/paddle/fluid/tests/unittests/test_transfer_layout_op.py
  python/paddle/fluid/tests/unittests/test_transpose_op.py
  python/paddle/fluid/tests/unittests/test_tril_indices_op.py
  python/paddle/fluid/tests/unittests/test_triu_indices_op.py
  python/paddle/fluid/tests/unittests/test_unfold_op.py
  python/paddle/fluid/tests/unittests/test_unique.py
Due: copyright_checker, pylint-doc-string

modify static
  paddle/fluid/prim/api/auto_code_generated/prim_gen.py
  paddle/fluid/prim/api/generated/prim_api/static_prim_api.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

solve conflict
  paddle/fluid/operators/generator/templates/operator_utils.c.j2
Due: none

修改hapi.model的fit, evaluate和predict接口，以暴露dataloader的collate_fn参数
  python/paddle/hapi/model.py
Due: copyright_checker, pylint-doc-string

refine _grad_ivar (#49787)
  paddle/fluid/pybind/eager_method.cc
  python/paddle/fluid/dygraph/varbase_patch_methods.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix virtual final
  paddle/fluid/distributed/ps/service/ps_client.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[CINN] Try fix cinn not support inplace bug
  paddle/fluid/framework/paddle2cinn/cinn_compiler.cc
  paddle/fluid/operators/cinn/cinn_launch_context.cc
  paddle/fluid/operators/cinn/cinn_launch_context.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix ut
  python/paddle/fluid/tests/unittests/ir/test_ir_preln_residual_bias_fuse_pass.py
Due: copyright_checker, pylint-doc-string

[Zero-Dim]simplify static unittest (#49805)
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
  python/paddle/fluid/tests/unittests/xpu/test_zero_dim_tensor_xpu.py
Due: copyright_checker, pylint-doc-string

modify composite grad maker name
  paddle/fluid/operators/elementwise/elementwise_add_op.cc
  paddle/fluid/operators/elementwise/elementwise_div_op.cc
  paddle/fluid/operators/elementwise/elementwise_sub_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add oss flash fmha and fmhca support (#49438)
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/trt_cross_multihead_matmul_fuse_pass.cc
  paddle/fluid/framework/ir/trt_cross_multihead_matmul_fuse_pass.h
  paddle/fluid/framework/ir/trt_flash_multihead_matmul_fuse_pass.cc
  paddle/fluid/framework/ir/trt_flash_multihead_matmul_fuse_pass.h
  paddle/fluid/framework/ir/trt_multihead_matmul_fuse_pass.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/cross_multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/flash_multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_cross_multihead_matmul.py
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_flash_multihead_matmul.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

disable unittest
  paddle/fluid/framework/paddle2cinn/CMakeLists.txt
Due: none

update to 2.7.3
  cmake/external/mkldnn.cmake
Due: none

support add vjp
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/CMakeLists.txt
Due: none

[prim] fix no infershape with composite in _append_backward_ops
  python/paddle/fluid/backward.py
  python/paddle/fluid/tests/unittests/prim/model/CMakeLists.txt
  python/paddle/fluid/tests/unittests/prim/model/test_comp_model_simple_net.py
Due: copyright_checker, pylint-doc-string

fix compiling error and add test
  python/paddle/fluid/tests/unittests/prim/CMakeLists.txt
  python/paddle/fluid/tests/unittests/prim/api/comp/static_test/test_div_grad_comp.py
  python/paddle/fluid/tests/unittests/prim/prim/CMakeLists.txt
Due: copyright_checker, pylint-doc-string

another magic
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string

[prim] fix tanh nullptr error
  paddle/fluid/operators/expand_v2_op.cc
  paddle/fluid/prim/api/manual/backward/composite_backward_api.h
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_exp_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/eager/test_comp_eager_expand_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_exp_grad.py
  python/paddle/fluid/tests/unittests/prim/prim/vjp/static/test_comp_expand_grad.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

another magic
  python/paddle/jit/translated_layer.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

