Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


minor changes
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

adding condition
  paddle/scripts/paddle_build.sh
  tools/codestyle/clang-tidy.py
Due: copyright_checker, pylint-doc-string

Refine message errors.
  paddle/cinn/common/cas.cc
  paddle/cinn/hlir/pe/transform.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

minor changes
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Fix non-pointer error.
  paddle/cinn/hlir/pe/transform.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

restore
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
  paddle/scripts/paddle_build.sh
  tools/codestyle/clang-tidy.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  python/paddle/base/layer_helper.py
Due: copyright_checker, pylint-doc-string

[Add] typing
  python/paddle/distributed/auto_parallel/static/engine.py
  python/paddle/hapi/model.py
Due: copyright_checker, pylint-doc-string

fix test_sub_graph_23
  paddle/cinn/operator_fusion/graph_transformer/matcher.h
  paddle/cinn/operator_fusion/pattern_graph.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Fix] typing import
  python/paddle/hapi/model.py
Due: copyright_checker, pylint-doc-string

modify tensor_split, hsplit, dsplit, vsplit API documentation and add legends
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

go back
  paddle/scripts/paddle_build.sh
Due: copyright_checker

fix
  CMakeLists.txt
Due: none

[Add] typing
  python/paddle/distributed/communication/stream/broadcast.py
  python/paddle/distributed/communication/stream/gather.py
  python/paddle/distributed/communication/stream/recv.py
  python/paddle/distributed/communication/stream/reduce.py
  python/paddle/distributed/communication/stream/reduce_scatter.py
  python/paddle/distributed/communication/stream/scatter.py
  python/paddle/distributed/communication/stream/send.py
Due: copyright_checker, pylint-doc-string

fix
  cmake/cinn/external/llvm.cmake
Due: none

[Add] typing
  python/paddle/distributed/launch/main.py
  python/paddle/distributed/sharding/group_sharded.py
Due: copyright_checker, pylint-doc-string

add pep 563 in `python/paddle/distributed/launch/main.py`
  python/paddle/distributed/launch/main.py
Due: copyright_checker, pylint-doc-string

add illustration for roll API
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

move import
  paddle/fluid/operators/generator/filters.py
Due: copyright_checker, pylint-doc-string

[Fix] typing output
  python/paddle/distributed/communication/stream/broadcast.py
  python/paddle/distributed/communication/stream/gather.py
  python/paddle/distributed/communication/stream/recv.py
  python/paddle/distributed/communication/stream/reduce.py
  python/paddle/distributed/communication/stream/reduce_scatter.py
  python/paddle/distributed/communication/stream/scatter.py
  python/paddle/distributed/communication/stream/send.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/phi/CMakeLists.txt
Due: none

[Fix] typing tuple
  python/paddle/distributed/checkpoint/load_state_dict.py
Due: copyright_checker, pylint-doc-string

remove inplace_addto_op_pass
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/compiled_program.cc
  paddle/fluid/framework/details/CMakeLists.txt
  paddle/fluid/framework/details/share_tensor_buffer_functor.cc
  paddle/fluid/framework/details/share_tensor_buffer_functor.h
  paddle/fluid/framework/details/share_tensor_buffer_op_handle.cc
  paddle/fluid/framework/details/share_tensor_buffer_op_handle.h
  paddle/fluid/framework/ir/memory_optimize_pass/CMakeLists.txt
  paddle/fluid/framework/ir/memory_optimize_pass/buffer_shared_inplace_op_pass.cc
  paddle/fluid/framework/ir/memory_optimize_pass/inplace_addto_op_pass.cc
  paddle/fluid/framework/ir/memory_optimize_pass/memory_reuse_pass.cc
  paddle/fluid/framework/ir/memory_optimize_pass/memory_reuse_pass.h
  paddle/fluid/framework/ir/memory_optimize_pass/op_graph_view.cc
  paddle/fluid/framework/ir/memory_optimize_pass/op_graph_view.h
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/framework/new_executor/program_interpreter.cc
  paddle/fluid/framework/new_executor/program_interpreter.h
  python/paddle/base/executor.py
  python/paddle/distributed/passes/__init__.py
  python/paddle/distributed/passes/cpp_pass.py
  python/paddle/framework/ir.py
  python/paddle/jit/dy2static/partial_program.py
  test/distributed_passes/CMakeLists.txt
  tools/test_run_by_protobuf_3.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Typing][C-111] Add type annotations for `python/paddle/base/executor.py`
  python/paddle/base/dataset.py
  python/paddle/base/executor.py
Due: copyright_checker, pylint-doc-string

Update multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Dy2St] Use more meaningful name in program input and output (#66934)
  paddle/fluid/pybind/pir.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Typing][C-79] Add type annotations for `python/paddle/incubate/nn/functional/swiglu.py` (#66987)
  python/paddle/incubate/nn/functional/swiglu.py
Due: copyright_checker, pylint-doc-string

[Typing][C-5, C-6] Add type annotations for `python/paddle/distributed/auto_parallel/{process_mesh, random}.py` (#66985)
  python/paddle/distributed/auto_parallel/process_mesh.py
  python/paddle/distributed/auto_parallel/random.py
Due: copyright_checker, pylint-doc-string

Update unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

annotate array to `Tensor`
  python/paddle/base/executor.py
Due: copyright_checker, pylint-doc-string

[Typing][C-8] Add type annotations for `python/paddle/distributed/auto_parallel/static/engine.py` (#66989)
  python/paddle/distributed/auto_parallel/static/engine.py
  python/paddle/hapi/model.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][PLE0101] Clean an explicit return in `__init__`
  python/paddle/autograd/py_layer.py
Due: copyright_checker, pylint-doc-string

[XPU] support ascend send/recv for multi-node
  paddle/fluid/distributed/collective/process_group_bkcl.cc
  paddle/fluid/distributed/collective/process_group_bkcl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[XPU] update XHPC date to 240804
  cmake/external/xpu.cmake
Due: none

add type promotion for pir
  paddle/fluid/pir/dialect/op_generator/api_gen.py
  paddle/fluid/pir/utils/type_promotion_utils.h
  python/paddle/pir/math_op_patch.py
  test/deprecated/legacy_test/test_tensor_scalar_type_promotion_static.py
  test/deprecated/legacy_test/test_tensor_type_promotion.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Typing][B-49] Add type annotations for `python/paddle/base/layer_helper.py` (#66639)
  python/paddle/base/layer_helper.py
  python/paddle/base/param_attr.py
Due: copyright_checker, pylint-doc-string

[Typing][C-53,C-54] Add type annotations for `python/paddle/distributed/{launch/main,sharding/group_sharded}.py` (#66994)
  python/paddle/distributed/launch/main.py
  python/paddle/distributed/sharding/group_sharded.py
Due: copyright_checker, pylint-doc-string

ignore [union-attr]
  python/paddle/base/executor.py
Due: copyright_checker, pylint-doc-string
