Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

[Cherry-pick]Fix the bug of all_reduce_deps_pass (#16648)
  paddle/fluid/framework/details/all_reduce_deps_pass.cc
  paddle/fluid/framework/details/all_reduce_deps_pass.h
  paddle/fluid/framework/details/all_reduce_op_handle.cc
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/details/op_handle_base.cc
  paddle/fluid/framework/ir/multi_batch_merge_pass.cc
  paddle/fluid/framework/parallel_executor.cc
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: clang-format-with-version-check, copyright_checker

test_analyzer_int8 tests use default pass order
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tests/api/analyzer_int8_image_classification_tester.cc
  paddle/fluid/inference/tests/api/tester_helper.h
Due: clang-format-with-version-check, copyright_checker

Update the benchmark data and some explanations
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

fix runtime error test=develop
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  paddle/fluid/framework/io/shell.cc
  python/paddle/fluid/executor.py
  python/paddle/fluid/incubate/fleet/parameter_server/__init__.py
  python/paddle/fluid/tests/unittests/test_dataset.py
  python/paddle/fluid/trainer_desc.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

Modify the command format test=develop
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

fix gc bug in conditional block (#16673)
  paddle/fluid/operators/controlflow/conditional_block_op.cc
  python/paddle/fluid/tests/unittests/test_eager_deletion_conditional_block.py
Due: clang-format-with-version-check, copyright_checker

Fix bug of FastThreadedExecutor (#16666)
  paddle/fluid/framework/details/fast_threaded_ssa_graph_executor.cc
  paddle/fluid/framework/details/fetch_op_handle.cc
  paddle/fluid/framework/details/threaded_ssa_graph_executor.cc
  python/paddle/fluid/tests/unittests/test_parallel_executor_fetch_feed.py
Due: clang-format-with-version-check, copyright_checker

fix dataset testcase error test=develop
  python/paddle/fluid/tests/unittests/test_dataset.py
  python/paddle/fluid/trainer_desc.py
Due: copyright_checker

[Imperative] implement imperative NCCLParallelContext (#16477)
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/imperative/nccl_context.cc
  paddle/fluid/imperative/nccl_context.h
  paddle/fluid/imperative/nccl_context_test.cc
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/imperative.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/distributed/launch.py
  python/paddle/fluid/dygraph/__init__.py
  python/paddle/fluid/dygraph/parallel.py
Due: clang-format-with-version-check, copyright_checker

fix code style test=develop
  python/paddle/fluid/incubate/fleet/parameter_server/__init__.py
Due: copyright_checker

Add 3 uts
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

fix travis CI
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

Small fix test=develop
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

move random fail utest, test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

Polish code
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

update code test=develop
  python/paddle/fluid/tests/unittests/test_parallel_executor_pg.py
  python/paddle/fluid/tests/unittests/test_parallel_executor_seresnext.py
Due: copyright_checker

fix embedding bug
  paddle/fluid/operators/math/selected_rows_functor.cc
  paddle/fluid/operators/math/sequence_pooling.cc
  paddle/fluid/operators/optimizers/sgd_op.h
  paddle/fluid/operators/sequence_ops/sequence_pyramid_embedding_op.h
Due: clang-format-with-version-check, copyright_checker

fix command error test=develop
  paddle/fluid/inference/tests/api/int8_mkldnn_quantization.md
Due: none

Fix imperative bugs
  paddle/fluid/imperative/layer.cc
  python/paddle/fluid/framework.py
  python/paddle/fluid/tests/unittests/test_imperative_ptb_rnn.py
Due: clang-format-with-version-check, copyright_checker

follow comments test=develop
  python/paddle/fluid/tests/unittests/simple_nets.py
  python/paddle/fluid/tests/unittests/test_parallel_executor_seresnext.py
Due: copyright_checker

Set check_dygraph to True for default
  python/paddle/fluid/tests/unittests/op_test.py
Due: copyright_checker

update
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/kernel.h
  paddle/fluid/lite/core/kernel_test.cc
  paddle/fluid/lite/core/memory.h
  paddle/fluid/lite/core/op_lite.cc
  paddle/fluid/lite/core/op_lite.h
  paddle/fluid/lite/core/op_lite_test.cc
  paddle/fluid/lite/core/op_registry.h
  paddle/fluid/lite/core/target_wrapper.h
  paddle/fluid/lite/core/types.h
Due: clang-format-with-version-check, copyright_checker

resolve conflicts with the develop branch test=develop
  paddle/fluid/inference/analysis/ir_passes/subgraph_util.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
