Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


fix
  python/paddle/quantization/config.py
Due: copyright_checker, pylint-doc-string

update cinn api
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/binary_infer_sym-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/binary_infer_sym-checkpoint.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/same_operands_result-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/same_operands_result-checkpoint.h
  paddle/phi/ops/yaml/.ipynb_checkpoints/ops-checkpoint.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add import
  paddle/cinn/backends/llvm/llvm_util.h
  paddle/cinn/lang/builtin.h
  paddle/cinn/lang/compute.h
  paddle/cinn/optim/lower_function_call_bind_vars.h
  paddle/cinn/optim/map_extern_call.h
  paddle/cinn/optim/remove_schedule_block.h
  paddle/cinn/optim/resize_buffer.h
  paddle/fluid/distributed/ps/table/memory_dense_table.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update cinn api
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

change op lu, lu_unpack, mean, one_hot
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix error messeges in 4f files
  paddle/fluid/distributed/ps/wrapper/fleet.h
  paddle/fluid/inference/api/demo_ci/custom_op_demo.cc
  paddle/fluid/inference/capi/pd_predictor.cc
  paddle/fluid/inference/tensorrt/convert/leaky_relu_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/phi/kernels/c_sync_calc_stream_kernel.cc_bak
Due: none

update cinn api
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Delete paddle/phi/ops/yaml/.ipynb_checkpoints directory
  paddle/phi/ops/yaml/.ipynb_checkpoints/ops-checkpoint.yaml
Due: none

Delete paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints directory
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/binary_infer_sym-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/binary_infer_sym-checkpoint.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/multiary_infer_sym-checkpoint.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/same_operands_result-checkpoint.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/.ipynb_checkpoints/same_operands_result-checkpoint.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/pir/dialect/distributed/ir/dist_attribute.cc
  paddle/fluid/pir/dialect/distributed/ir/dist_op.cc
  paddle/fluid/pir/dialect/distributed/transforms/dist_to_dense_pass.cc
  paddle/fluid/pir/dialect/kernel/ir/kernel_op.cc
  paddle/fluid/pir/dialect/op_generator/api_gen.py
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
  paddle/fluid/pir/dialect/op_generator/op_infermeta_func_gen.py
  paddle/fluid/pir/dialect/op_generator/op_interface_gen.py
  paddle/fluid/pir/dialect/op_generator/op_verify_gen.py
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/infer_sym_slice_utils.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/infer_sym_utils.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.cc
  paddle/fluid/pir/dialect/operator/ir/api_builder.cc
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.cc
  paddle/fluid/pir/dialect/operator/ir/ir_meta_tensor.cc
  paddle/fluid/pir/dialect/operator/ir/manual_api.cc
  paddle/fluid/pir/dialect/operator/ir/manual_onednn_op.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op_decomp_vjp.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op_vjp.cc
  paddle/fluid/pir/dialect/operator/ir/op_attribute.cc
  paddle/fluid/pir/dialect/operator/ir/op_dialect.cc
  paddle/fluid/pir/dialect/operator/ir/tensorrt_op.cc
  paddle/fluid/pir/dialect/operator/utils/op_yaml_info_parser.cc
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  paddle/fluid/pir/dialect/operator/utils/utils.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Update multiary_infer_sym.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fixed some error
  paddle/cinn/hlir/op/elementwise.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

更新PR Template分类
  .github/PULL_REQUEST_TEMPLATE.md
  tools/CheckPRTemplate.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/fluid/ir_adaptor/translator/attribute_translator.cc
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/ir_adaptor/translator/type_translator.h
  paddle/fluid/ir_adaptor/translator/utils.h
  paddle/fluid/jit/compilation_unit.cc
  paddle/fluid/jit/engine/interpreter_engine.cc
  paddle/fluid/jit/function.cc
  paddle/fluid/jit/function_utils.cc
  paddle/fluid/jit/layer.cc
  paddle/fluid/jit/property.cc
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/fluid/prim/api/manual_prim/static_prim_api.cc
  paddle/fluid/prim/api/manual_prim/utils/utils.h
  paddle/fluid/prim/utils/static/composite_grad_desc_maker.h
  paddle/fluid/primitive/base/decomp_trans.cc
  paddle/fluid/primitive/codegen/templates/decomp/generated_decomp.j2
  paddle/fluid/primitive/codegen/templates/decomp/generated_decomp_vjp.j2
  paddle/fluid/primitive/composite/composite.h
  paddle/fluid/primitive/rule/vjp/details.h
  paddle/fluid/primitive/utils/utils.h
  paddle/fluid/sub_graph/sub_graph_checker.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/eager/accumulation/accumulation_node.cc
  paddle/fluid/eager/api/generated/eager_generated/backwards/scale_node.cc
  paddle/fluid/eager/api/manual/eager_manual/forwards/reshard_fwd_func.cc
  paddle/fluid/eager/api/manual/eager_manual/nodes/multiply_node.cc
  paddle/fluid/eager/api/manual/eager_manual/nodes/reshard_node.cc
  paddle/fluid/eager/api/manual/eager_manual/nodes/sync_batch_norm_node.cc
  paddle/fluid/eager/api/manual/fluid_manual/nodes/nodes.h
  paddle/fluid/eager/api/utils/hook_utils.cc
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/eager/auto_code_generator/generator/python_c_gen.py
  paddle/fluid/eager/autograd_meta.h
  paddle/fluid/eager/backward.cc
  paddle/fluid/eager/custom_operator/custom_operator_node.cc
  paddle/fluid/eager/custom_operator/custom_operator_utils.cc
  paddle/fluid/eager/eager_tensor.h
  paddle/fluid/eager/general_grad.h
  paddle/fluid/eager/grad_node_info.cc
  paddle/fluid/eager/grad_node_info.h
  paddle/fluid/eager/grad_tensor_holder.cc
  paddle/fluid/eager/hooks.h
  paddle/fluid/eager/nan_inf_utils.cc
  paddle/fluid/eager/pylayer/py_layer_node.cc
  paddle/fluid/eager/tensor_wrapper.h
  paddle/fluid/eager/to_static/run_program_op_node.h
  paddle/fluid/eager/utils.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/imperative/all_reduce.cc
  paddle/fluid/imperative/amp_auto_cast.cc
  paddle/fluid/imperative/basic_engine.cc
  paddle/fluid/imperative/bkcl_context.cc
  paddle/fluid/imperative/data_loader.cc
  paddle/fluid/imperative/dygraph_grad_maker.h
  paddle/fluid/imperative/execution_context.h
  paddle/fluid/imperative/gloo_context.cc
  paddle/fluid/imperative/gradient_accumulator.cc
  paddle/fluid/imperative/gradient_accumulator.h
  paddle/fluid/imperative/heter_ccl_context.cc
  paddle/fluid/imperative/infer_shape_context.h
  paddle/fluid/imperative/infer_var_type_context.h
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/layer.h
  paddle/fluid/imperative/layout_autotune.cc
  paddle/fluid/imperative/nccl_context.cc
  paddle/fluid/imperative/op_base.h
  paddle/fluid/imperative/partial_grad_engine.cc
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/prepared_operator.h
  paddle/fluid/imperative/reducer.cc
  paddle/fluid/imperative/reducer.cu
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/imperative/var_helper.cc
  paddle/fluid/imperative/variable_wrapper.h
  paddle/fluid/imperative/xccl_context.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/pir/drr/src/attr_type_uilts.h
  paddle/fluid/pir/drr/src/ir_operation_factory.cc
  paddle/fluid/pir/drr/src/ir_operation_factory.h
  paddle/fluid/pir/drr/src/match_context_impl.h
  paddle/fluid/pir/drr/src/pattern_graph.cc
  paddle/fluid/pir/drr/src/rewrite_pattern.cc
  paddle/fluid/pir/serialize_deserialize/include/deserialize_utils.h
  paddle/fluid/pir/serialize_deserialize/include/serialize_utils.h
  paddle/fluid/pir/serialize_deserialize/src/patch_util.cc
  paddle/fluid/pir/serialize_deserialize/src/save_load_parameters.cc
  paddle/fluid/pir/serialize_deserialize/src/schema.cc
  paddle/fluid/pir/transforms/general/auto_mixed_precision_pass.cc
  paddle/fluid/pir/transforms/general/constant_folding_pass.cc
  paddle/fluid/pir/transforms/general/delete_quant_dequant_linear_op_pass.cc
  paddle/fluid/pir/transforms/general/delete_weight_dequant_linear_op_pass.cc
  paddle/fluid/pir/transforms/general/inplace_pass.cc
  paddle/fluid/pir/transforms/general/params_sync_among_devices_pass.cc
  paddle/fluid/pir/transforms/general/remove_shadow_feed_pass.cc
  paddle/fluid/pir/transforms/onednn/elementwise_act_onednn_fuse_pass.cc
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
  paddle/fluid/pir/transforms/sub_graph_detector.cc
  paddle/fluid/pir/transforms/sub_graph_extract_pass.cc
  paddle/fluid/pir/utils/general_functions.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

added type for return value
  python/paddle/cost_model/cost_model.py
Due: copyright_checker, pylint-doc-string

Fixed too short error
  paddle/cinn/common/float16_bfloat16_cuda_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Update code
  paddle/fluid/framework/new_executor/interpreter/dependency_builder.cc
  python/paddle/distributed/auto_parallel/static/engine.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

check
  paddle/fluid/inference/tensorrt/op_teller.cc
  test/ir/inference/test_trt_convert_argsort.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【Error Message BUAA No. 32】 channel.h,archive.h,fleet/heter_ps/heter_comm_inl.h (#66719)
  paddle/fluid/framework/archive.h
  paddle/fluid/framework/channel.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Del test;test=document_fix
  paddle/scripts/paddle_build.sh
  tools/gpups_test.sh
Due: copyright_checker

【Error Message BUAA No. 87， 102】 (#66702)
  paddle/cinn/hlir/op/contrib/triangular_solve.cc
  test/cpp/eager/task_tests/tensor_utils_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix check
  python/paddle/optimizer/adamax.py
  python/paddle/optimizer/rmsprop.py
  test/legacy_test/test_lambv2_op.py
Due: copyright_checker, pylint-doc-string

【Error Message BUAA No. 58】 paddle\fluid\inference\tensorrt\plugin\generic_plugin.cu (#66548)
  paddle/fluid/inference/tensorrt/plugin/generic_plugin.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix the test case
  test/prim/pir_prim/test_prim_sub_graph_backward_dynamic_shape.py
Due: copyright_checker, pylint-doc-string

重新修改以尝试通过ci测试
  test/custom_op/context_pool_test_op.cc
  test/custom_op/custom_concat_op.cc
  test/custom_op/custom_relu_op_xpu.cc
  test/custom_op/custom_simple_slice_op.cc
  test/custom_op/custom_tanh_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Error Message No. 371,372,373,374,375 BUAA】解决了报错信息优化任务中的 371-375 (#66780)
  paddle/fluid/inference/tensorrt/convert/op_converter.h
  paddle/fluid/inference/tensorrt/convert/pool2d_op.cc
  paddle/fluid/inference/tensorrt/convert/pool3d_op.cc
  paddle/fluid/memory/malloc.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
