Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

test=develop run ci
  paddle/fluid/API.spec
Due: none

test=develop add API.spec
  paddle/fluid/API.spec
Due: none

enable mkldnn primitive reuse for platform reorder (#17826)
  paddle/fluid/framework/data_layout_transform.cc
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, copyright_checker

test=develop, refine code, remove cpu only part
  python/paddle/fluid/tests/unittests/test_imperative_ocr_attention_model.py
Due: copyright_checker

test=develop, change API.spec and make api more readable
  paddle/fluid/API.spec
  python/paddle/fluid/optimizer.py
Due: copyright_checker

new incubate: atarashi. A high level API for paddle (like tf.estimator)
  .gitignore
  python/paddle/fluid/incubate/atarashi/README.md
  python/paddle/fluid/incubate/atarashi/__init__.py
  python/paddle/fluid/incubate/atarashi/collection.py
  python/paddle/fluid/incubate/atarashi/data/__init__.py
  python/paddle/fluid/incubate/atarashi/data/example_pb2.py
  python/paddle/fluid/incubate/atarashi/data/feature_column.py
  python/paddle/fluid/incubate/atarashi/data/functional.py
  python/paddle/fluid/incubate/atarashi/metrics.py
  python/paddle/fluid/incubate/atarashi/summary.py
  python/paddle/fluid/incubate/atarashi/tests/test.py
  python/paddle/fluid/incubate/atarashi/train/__init__.py
  python/paddle/fluid/incubate/atarashi/train/distribution.py
  python/paddle/fluid/incubate/atarashi/train/exporter.py
  python/paddle/fluid/incubate/atarashi/train/hooks.py
  python/paddle/fluid/incubate/atarashi/train/model.py
  python/paddle/fluid/incubate/atarashi/train/monitored_executor.py
  python/paddle/fluid/incubate/atarashi/train/trainer.py
  python/paddle/fluid/incubate/atarashi/types.py
  python/paddle/fluid/incubate/atarashi/util.py
Due: copyright_checker

fix in brpc client, test=develop
  paddle/fluid/operators/distributed/brpc/brpc_client.cc
  paddle/fluid/operators/distributed/brpc/brpc_client.h
Due: clang-format-with-version-check, copyright_checker

add test_layers.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

test=develop, add gradient test for recurrent varbase usage
  python/paddle/fluid/tests/unittests/test_imperative_recurrent_usage.py
Due: copyright_checker

added accuracy check and multiple batch handling
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
  python/paddle/fluid/contrib/slim/tests/qat_int8_comparison.py
Due: copyright_checker

fix in brpc client, test=develop
  python/paddle/fluid/incubate/fleet/base/role_maker.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_base.py
Due: copyright_checker

removed quantization_mkldnn_pass.py
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

cleanup
  python/paddle/fluid/contrib/slim/quantization/__init__.py
Due: copyright_checker

fix DropLocalExeScopes (#17829)
  paddle/fluid/framework/details/scope_buffered_ssa_graph_executor.cc
Due: clang-format-with-version-check, copyright_checker

fix Py_None error,test=develop
  paddle/fluid/pybind/imperative.cc
Due: clang-format-with-version-check, copyright_checker

Add unit test test=develop
  paddle/fluid/operators/alloc_continuous_space_op.cc
  paddle/fluid/operators/optimizers/sgd_op.cc
  paddle/fluid/operators/optimizers/sgd_op.cu
  python/paddle/fluid/tests/unittests/test_mix_precision_all_reduce_fuse.py
Due: clang-format-with-version-check, copyright_checker

cache compiled function instead test=develop
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
Due: clang-format-with-version-check, copyright_checker

updated model paths
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: none

renamed tests without MKL-DNN
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: none

fix requests dependence and uint64_t build error
  paddle/fluid/framework/ir/alloc_continuous_space_for_grad_pass.h
  python/requirements.txt
Due: clang-format-with-version-check, copyright_checker

remove InstallFailureSignalHandler (#17828)
  paddle/fluid/platform/init.cc
Due: clang-format-with-version-check, copyright_checker

run ci again
  paddle/fluid/API.spec
Due: none

test=develop run ci again
  paddle/fluid/API.spec
Due: none

refine doc for prelu (#17810)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix regularizer lod bug; test=develop
  python/paddle/fluid/framework.py
  python/paddle/fluid/regularizer.py
Due: copyright_checker

init more basical kernels
  paddle/fluid/lite/arm/math/CMakeLists.txt
  paddle/fluid/lite/arm/math/conv_block_utils.h
  paddle/fluid/lite/arm/math/conv_block_utils.h.orig
  paddle/fluid/lite/arm/math/conv_block_utils.h.rej
  paddle/fluid/lite/arm/math/conv_direct.cc.orig
  paddle/fluid/lite/arm/math/conv_direct.cc.rej
  paddle/fluid/lite/arm/math/conv_direct.h.orig
  paddle/fluid/lite/arm/math/conv_direct.h.rej
  paddle/fluid/lite/arm/math/conv_direct_3x3s1.cc
  paddle/fluid/lite/arm/math/conv_direct_3x3s2.cc
  paddle/fluid/lite/arm/math/conv_impl.cc
  paddle/fluid/lite/arm/math/conv_impl.h
  paddle/fluid/lite/arm/math/saturate.h
  paddle/fluid/lite/kernels/arm/CMakeLists.txt
  paddle/fluid/lite/kernels/arm/conv_compute.cc
  paddle/fluid/lite/kernels/arm/conv_compute.h
  paddle/fluid/lite/kernels/arm/fc_compute.cc
Due: clang-format-with-version-check, copyright_checker

run not with mac test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

test=develop, refine ocr attention model (#17763)
  python/paddle/fluid/tests/unittests/test_imperative_ocr_attention_model.py
Due: copyright_checker
