Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


remove cuda version check in test_cutlass_conv2d_fusion_op.py
  python/paddle/fluid/tests/unittests/ir/inference/test_cutlass_conv2d_fusion_op.py
Due: copyright_checker, pylint-doc-string

polish codes
  paddle/fluid/framework/new_executor/interpreter/data_transfer.cc
  paddle/fluid/framework/new_executor/interpreter/data_transfer.h
  paddle/fluid/framework/op_kernel_type.h
  paddle/phi/core/utils/data_type.h
  paddle/phi/kernels/impl/searchsorted_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

support flip 0D
  paddle/phi/kernels/gpu/flip_kernel.cu
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Fix param grad names in dy2st for high order grad
  paddle/fluid/eager/to_static/run_program_op_node.h
  paddle/fluid/operators/run_program_op.cc
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[code_style fix] graph_brpc_server cpplint
  paddle/fluid/distributed/ps/service/graph_brpc_server.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

new unitest
  python/paddle/fluid/tests/unittests/auto_parallel/sharding_newexe.py
  python/paddle/fluid/tests/unittests/auto_parallel/test_sharding_with_newexe.py
Due: copyright_checker, pylint-doc-string

new unitest
  python/paddle/fluid/tests/unittests/auto_parallel/sharding_newexe.py
Due: copyright_checker, pylint-doc-string

polish codes
  paddle/phi/core/utils/data_type.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[Custom Extension] Polish xpu testcase (#49158)
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_xpu_setup.py
Due: copyright_checker, pylint-doc-string

preln
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/preln_elementwise_groupnorm_act_pass.cc
  paddle/fluid/framework/ir/preln_elementwise_groupnorm_act_pass.h
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/preln_groupnorm_act_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/plugin/CMakeLists.txt
  paddle/fluid/inference/tensorrt/plugin/common/groupNormPluginCommon.h
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix codestyle issue
  paddle/fluid/operators/cinn/cinn_launch_context.cc
  paddle/phi/core/ddim.cc
  paddle/phi/core/ddim.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix possible bug (#49367)
  paddle/fluid/framework/operator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

rm eager python interface
  python/paddle/_legacy_C_ops.py
  python/paddle/fluid/framework.py
Due: copyright_checker, pylint-doc-string

support prim switch flag
  paddle/fluid/eager/CMakeLists.txt
  paddle/fluid/prim/CMakeLists.txt
  paddle/fluid/prim/api/manual/utils/utils.h
  paddle/fluid/prim/utils/CMakeLists.txt
  paddle/fluid/prim/utils/utils.cc
  paddle/fluid/prim/utils/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

support prim switch flag
  paddle/fluid/prim/utils/utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix cross ut
  paddle/fluid/framework/ir/trt_flash_multihead_matmul_fuse_pass.cc
  paddle/fluid/inference/tensorrt/convert/cross_multihead_matmul_op.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_cross_multihead_matmul.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

first version
  paddle/fluid/operators/fused/attn_gemm.h
  paddle/fluid/operators/fused/fused_attention_op.cc
  paddle/fluid/operators/fused/fused_attention_op.cu
  python/paddle/fluid/tests/unittests/test_fused_attention_op.py
  python/paddle/incubate/nn/functional/fused_transformer.py
  python/paddle/incubate/nn/layer/fused_transformer.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

bug fix for transpose
  paddle/fluid/operators/fused/attn_gemm.h
  paddle/fluid/operators/fused/fused_attention_op.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

update ut
  python/paddle/fluid/tests/unittests/test_fused_attention_op.py
Due: copyright_checker, pylint-doc-string

fix bug
  tools/handle_h_cu_file.py
Due: copyright_checker, pylint-doc-string

disable scale op in amp pass
  paddle/fluid/framework/ir/auto_mixed_precision_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

rm op_function_generator.cc
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
  paddle/fluid/pybind/eager_op_function_generator.h
  paddle/fluid/pybind/op_function_generator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

remove _in_legacy_dygraph flag
  python/paddle/nn/clip.py
Due: copyright_checker, pylint-doc-string

rm op_function
  paddle/fluid/pybind/.gitignore
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/op_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Support static graph code-gen for squeeze and unsqueeze op (#49430)
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/operators/generator/generate_op.py
  paddle/fluid/operators/generator/templates/operator_utils.c.j2
  paddle/fluid/operators/squeeze_op.cc
  paddle/fluid/operators/unsqueeze_op.cc
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/ops/compat/squeeze_sig.cc
  paddle/phi/ops/compat/unsqueeze_sig.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

rm op_function_common
  paddle/fluid/eager/auto_code_generator/generator/python_c_gen.py
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
  paddle/fluid/pybind/eager_math_op_patch.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/eager_utils.h
  paddle/fluid/pybind/op_function_common.cc
  paddle/fluid/pybind/op_function_common.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update ut function caller
  paddle/fluid/operators/fused/fused_attention_op.cu
  python/paddle/fluid/tests/unittests/test_fused_attention_op.py
  python/paddle/fluid/tests/unittests/xpu/test_fused_attention_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

unit test of reduce with zero dim (#49436)
  python/paddle/fluid/tests/unittests/collective/process_group_nccl.py
Due: copyright_checker, pylint-doc-string

add output checker
  paddle/fluid/operators/fused/fused_attention_op.cc
  python/paddle/fluid/tests/unittests/test_fused_attention_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Update loss.py
  python/paddle/nn/functional/loss.py
Due: copyright_checker, pylint-doc-string

Do not insert redundant cast op
  paddle/fluid/framework/ir/auto_mixed_precision_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix struct parameter from reference to pointer.
  paddle/phi/kernels/funcs/concat_and_split_functor.cu
  paddle/phi/kernels/gpu/stack_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

delete batch_norm (#49396)
  python/paddle/fluid/__init__.py
  python/paddle/fluid/dygraph/__init__.py
  python/paddle/fluid/dygraph/nn.py
  python/paddle/fluid/install_check.py
Due: copyright_checker, pylint-doc-string

Make _param_grad_names as property
  paddle/fluid/eager/to_static/run_program_op_node.h
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source
