Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

modify default parallel compile thread (#56282)
  paddle/cinn/hlir/framework/parallel_compiler.cc
  paddle/cinn/runtime/flags.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add mid tensor name
  test/cpp/inference/api/trt_mark_trt_engine_outputs_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

support build model in python
  paddle/fluid/framework/feed_fetch_method.cc
  paddle/fluid/framework/new_executor/interpreter/plan.cc
  paddle/fluid/framework/new_executor/interpreter/plan.h
  paddle/fluid/framework/new_executor/standalone_executor.cc
  paddle/fluid/ir/dialect/pd_api.cc
  paddle/fluid/ir/dialect/pd_api.h
  paddle/fluid/ir/dialect/utils.h
  paddle/fluid/ir/transforms/pd_op_to_kernel_pass.cc
  paddle/fluid/pybind/ir.cc
  paddle/fluid/pybind/ops_api.cc
  paddle/fluid/pybind/pybind.cc
  paddle/fluid/pybind/reader_py.cc
  paddle/fluid/pybind/static_op_function.cc
  paddle/fluid/pybind/static_op_function.h
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/infermeta/nullary.cc
  paddle/phi/infermeta/nullary.h
  paddle/phi/kernels/cpu/data_kernel.cc
  paddle/phi/kernels/data_kernel.h
  python/paddle/__init__.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/framework.py
  python/paddle/ir/core.py
  python/paddle/static/__init__.py
  python/paddle/static/input.py
  python/paddle/tensor/creation.py
  test/ir/new_ir/CMakeLists.txt
  test/ir/new_ir/test_build_model.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

modify IR into ir
  paddle/ir/dialect/shape/ir/CMakeLists.txt
  paddle/ir/dialect/shape/ir/shape_dialect.cc
  paddle/ir/dialect/shape/ir/shape_dialect.h
  paddle/ir/dialect/shape/ir/shape_op.cc
  paddle/ir/dialect/shape/ir/shape_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix cmake
  paddle/ir/dialect/shape/CMakeLists.txt
Due: none

Add more gen api (#56291)
  paddle/fluid/ir/dialect/op_generator/api_gen.py
  paddle/fluid/ir/dialect/op_generator/op_gen.py
Due: copyright_checker, pylint-doc-string

feat: added complex type support for log
  paddle/phi/common/complex.h
  paddle/phi/kernels/cpu/activation_grad_kernel.cc
  paddle/phi/kernels/cpu/activation_kernel.cc
  paddle/phi/kernels/gpu/activation_grad_kernel.cu
  paddle/phi/kernels/gpu/activation_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix silu double grad prim
  paddle/fluid/prim/api/composite_backward/composite_double_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Gen all api
  paddle/fluid/ir/dialect/op_generator/api_gen.py
  paddle/ir/core/builtin_op.cc
  paddle/ir/core/builtin_op.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

support setting backward prim blacklist
  paddle/fluid/prim/utils/utils.cc
  paddle/fluid/prim/utils/utils.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/core.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

test=docs_preview
  python/paddle/hapi/hub.py
Due: copyright_checker, pylint-doc-string

fix bug
  python/paddle/reader/decorator.py
  python/paddle/regularizer.py
  python/paddle/signal.py
  sample_file_1
Due: copyright_checker, pylint-doc-string

fix bug
  python/paddle/autograd/backward_mode.py
Due: copyright_checker, pylint-doc-string

feat: added complex type support for ceil
  paddle/phi/common/complex.h
  paddle/phi/kernels/cpu/activation_grad_kernel.cc
  paddle/phi/kernels/cpu/activation_kernel.cc
  paddle/phi/kernels/gpu/activation_grad_kernel.cu
  paddle/phi/kernels/gpu/activation_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix yaml error name
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/op_compat.yaml
Due: none

Apply suggestions from code review
  python/paddle/distributed/communication/batch_isend_irecv.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/framework/ir/memory_optimize_pass/eager_deletion_pass.cc
  paddle/fluid/framework/ir/mkldnn/shuffle_channel_mkldnn_detect_pass.cc
  paddle/fluid/framework/ir/shuffle_channel_detect_pass.cc
  paddle/fluid/operators/fused/resnet_unit_op.cc
  paddle/phi/kernels/cpu/class_center_sample_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add test case
  test/prim/prim/flags/test_prim_flags.py
Due: copyright_checker, pylint-doc-string

refactor: refine detail of code examples
  python/paddle/distributed/auto_parallel/static/engine.py
  python/paddle/distributed/auto_parallel/static/process_mesh_v2.py
  python/paddle/distributed/auto_parallel/static/utils.py
  python/paddle/distributed/auto_parallel/strategy.py
Due: copyright_checker, pylint-doc-string

Reset threshold in test case.
  test/collective/fleet/hybrid_parallel_mp_broadcast_obj.py
Due: copyright_checker, pylint-doc-string

add tanh_triple_grad composite logic (#56072)
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/prim/api/composite_backward/composite_double_backward_api.h
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/kernels/impl/activation_grad_impl.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix typo
  test/cpp/ir/shape_dialect/assist_struct_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

refine unittest
  paddle/phi/infermeta/multiary.cc
  test/legacy_test/test_fused_layernorm_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix
  paddle/phi/kernels/gpu/ftrl_kernel.cu
  paddle/phi/kernels/impl/ftrl_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix the usage of DistTensorSpec in test_reshape_rule.py
  paddle/fluid/distributed/auto_parallel/spmd_rules/common.cc
  paddle/fluid/distributed/auto_parallel/spmd_rules/common.h
  test/auto_parallel/spmd_rules/test_reshape_rule.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Try fix jit error on creating engine
  paddle/cinn/hlir/framework/parallel_compiler.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix sparse cast error
  paddle/phi/infermeta/unary.cc
  paddle/phi/kernels/gpu/cast_impl.h
  paddle/phi/kernels/sparse/impl/unary_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

polish prim forward flag
  python/paddle/fluid/core.py
Due: copyright_checker, pylint-doc-string

update according to review comments
  paddle/fluid/framework/ir/xpu/fast_layernorm_xpu_fuse_pass.cc
  paddle/phi/kernels/fusion/xpu/fast_layernorm_xpu_kernel.cc
  paddle/phi/kernels/xpu/plugin/include/xpu/plugin.h
  paddle/phi/kernels/xpu/plugin/src/wrapper/fast_layer_norm.cpp
Due: copyright_checker, clang-format, cpplint-cpp-source

test=document_fix
  paddle/scripts/paddle_build.sh
  tools/check_api_approvals.sh
Due: copyright_checker

【complex op】No.6 add complex support for logical_and/or/xor/not
  paddle/phi/kernels/cpu/logical_kernel.cc
  paddle/phi/kernels/kps/logical_kernel.cu
  test/legacy_test/test_logical_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bfgs
  python/paddle/fluid/layer_helper_base.py
Due: copyright_checker, pylint-doc-string

remove gpu 4
  test/legacy_test/test_inplace.py
Due: copyright_checker, pylint-doc-string

delete op_teller's check
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bug
  paddle/phi/api/yaml/op_compat.yaml
Due: none

fix bug: insert only for parameters
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/ir_adaptor/translator/utils.cc
  paddle/fluid/ir_adaptor/translator/utils.h
  python/paddle/static/input.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

