Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

hierarchy log
  paddle/fluid/imperative/nccl_context.cc
  python/paddle/distributed/auto_parallel/process_group.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

hierarchy log
  paddle/fluid/imperative/nccl_context.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix ce bug (#48974)
  python/paddle/nn/functional/loss.py
Due: copyright_checker, pylint-doc-string

remove moe in CMakeLists.txt
  paddle/phi/kernels/CMakeLists.txt
Due: none

change check_size to fake_alloc
  paddle/fluid/eager/eager_tensor.h
  paddle/phi/core/dense_tensor.cc
  paddle/phi/core/selected_rows.h
  paddle/phi/core/selected_rows_impl.cc
  paddle/phi/core/tensor_base.h
Due: copyright_checker, clang-format, cpplint-cpp-source

refine
  python/paddle/tensor/array.py
  python/paddle/tensor/creation.py
  python/paddle/tensor/layer_function_generator.py
  python/paddle/tensor/linalg.py
  python/paddle/tensor/logic.py
  python/paddle/tensor/manipulation.py
  python/paddle/tensor/math.py
  python/paddle/tensor/random.py
  python/paddle/tensor/search.py
  python/paddle/tensor/stat.py
Due: copyright_checker, pylint-doc-string

change the API doc of isclose
  python/paddle/tensor/logic.py
Due: copyright_checker, pylint-doc-string

[Paddle Inference]add ouutput(CLSInds) for fused_token_prune (#49271)
  paddle/fluid/inference/tensorrt/plugin/fused_token_prune_op_plugin.cu
  paddle/fluid/inference/tensorrt/test_dynamic_engine.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

set bf16 list
  python/paddle/fluid/tests/unittests/auto_parallel/test_pass_bf16.py
Due: copyright_checker, pylint-doc-string

Add FLAGS for communication op dependency in standalone executor
  paddle/fluid/framework/new_executor/interpreter/dependency_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix ci
  paddle/fluid/framework/ir/inplace_op_var_pass.cc
  paddle/fluid/framework/ir/inplace_op_var_pass.h
Due: copyright_checker, clang-format, cpplint-cpp-source

add rnn-t loss and api (#49199)
  cmake/external/warprnnt.cmake
  cmake/third_party.cmake
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/backends/dynload/CMakeLists.txt
  paddle/phi/backends/dynload/dynamic_loader.cc
  paddle/phi/backends/dynload/dynamic_loader.h
  paddle/phi/backends/dynload/warprnnt.cc
  paddle/phi/backends/dynload/warprnnt.h
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/cpu/warprnnt_grad_kernel.cc
  paddle/phi/kernels/cpu/warprnnt_kernel.cc
  paddle/phi/kernels/gpu/warprnnt_grad_kernel.cu
  paddle/phi/kernels/gpu/warprnnt_kernel.cu
  paddle/phi/kernels/impl/warprnnt_grad_kernel_impl.h
  paddle/phi/kernels/impl/warprnnt_kernel_impl.h
  paddle/phi/kernels/warprnnt_grad_kernel.h
  paddle/phi/kernels/warprnnt_kernel.h
  python/env_dict.py.in
  python/paddle/fluid/tests/unittests/test_warprnnt_op.py
  python/paddle/fluid/tests/unittests/white_list/op_accuracy_white_list.py
  python/paddle/nn/__init__.py
  python/paddle/nn/functional/__init__.py
  python/paddle/nn/functional/loss.py
  python/paddle/nn/layer/__init__.py
  python/paddle/nn/layer/loss.py
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

square_grad support fp16 *test=kunlun (#48847)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/activation_grad_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Add configure of quantization for dynamic graph (#48000)
  python/paddle/__init__.py
  python/paddle/quantization/__init__.py
  python/paddle/quantization/base_quanter.py
  python/paddle/quantization/config.py
  python/paddle/quantization/factory.py
  python/paddle/quantization/quanters/__init__.py
  python/paddle/quantization/quanters/abs_max.py
  python/paddle/tests/CMakeLists.txt
  python/paddle/tests/quantization/CMakeLists.txt
  python/paddle/tests/quantization/test_customized_quanter.py
  python/paddle/tests/quantization/test_quant.py
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string

[Custom Extension] Fix custom double_grad backward=None (#49224)
  paddle/fluid/eager/custom_operator/custom_operator_node.cc
  python/paddle/fluid/tests/custom_op/custom_relu_op.cu
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_setup.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

refine code by comment
  paddle/fluid/operators/cinn/cinn_instruction_run_op_test.cc
  paddle/fluid/operators/cinn/cinn_launch_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Enable standalone executor for fleet training
  python/paddle/distributed/auto_parallel/utils.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/tests/custom_op/CMakeLists.txt
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/collective/fleet/test_fleet_graph_executor.py
  python/paddle/fluid/tests/unittests/distributed_passes/test_auto_parallel_data_parallel_optimization_pass.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: copyright_checker, pylint-doc-string

Revert "make bilinear interpolate stable. (#48644)"
  paddle/phi/kernels/gpu/interpolate_grad_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix batch_norm
  python/paddle/jit/translated_layer.py
Due: copyright_checker, pylint-doc-string

partial commit
  python/paddle/fluid/tests/unittests/test_select_input_output_op.py
  python/paddle/fluid/tests/unittests/test_set_bool_attr.py
  python/paddle/fluid/tests/unittests/test_sgd_op_bf16.py
  python/paddle/fluid/tests/unittests/test_sigmoid_cross_entropy_with_logits_op.py
  python/paddle/fluid/tests/unittests/test_sign_op.py
  python/paddle/fluid/tests/unittests/test_slice_op.py
  python/paddle/fluid/tests/unittests/test_split_op.py
  python/paddle/fluid/tests/unittests/test_squeeze_op.py
  python/paddle/fluid/tests/unittests/test_stack_op.py
  python/paddle/fluid/tests/unittests/test_static_save_load.py
  python/paddle/fluid/tests/unittests/test_static_save_load_bf16.py
  python/paddle/fluid/tests/unittests/test_strided_slice_op.py
  python/paddle/fluid/tests/unittests/test_sum_op.py
  python/paddle/fluid/tests/unittests/test_sync_batch_norm_op.py
  python/paddle/fluid/tests/unittests/test_tdm_child_op.py
Due: copyright_checker, pylint-doc-string

test=document_fix
  python/paddle/nn/functional/conv.py
Due: copyright_checker, pylint-doc-string

remove fluid.contrib.layers.ctr_metric_bundle
  python/paddle/distributed/fleet/metrics/metric.py
  python/paddle/fluid/contrib/layers/__init__.py
  python/paddle/fluid/contrib/layers/metric_op.py
  python/paddle/fluid/incubate/fleet/utils/fleet_util.py
  python/paddle/static/__init__.py
  python/paddle/static/nn/metric.py
Due: copyright_checker, pylint-doc-string

Update conv.py
  python/paddle/nn/layer/conv.py
Due: copyright_checker, pylint-doc-string

formula; test=document_fix
  python/paddle/nn/functional/conv.py
Due: copyright_checker, pylint-doc-string

rm eager guard test (#49245)
  python/paddle/fluid/contrib/slim/tests/test_imperative_qat_matmul.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_xpu_setup.py
  python/paddle/fluid/tests/unittests/collective/fleet/dygraph_group_sharded_stage3_eager.py
  python/paddle/fluid/tests/unittests/spawn_runner_base.py
  python/paddle/fluid/tests/unittests/test_math_op_patch_var_base.py
  python/paddle/fluid/tests/unittests/xpu/test_diag_v2_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_set_value_op_xpu.py
  python/paddle/tests/test_callback_wandb.py
Due: copyright_checker, pylint-doc-string

formula; test=document_fix
  python/paddle/static/nn/common.py
Due: copyright_checker, pylint-doc-string

remove paddle.fluid.contrib.layers.BasicLSTMUnit、basic_lstm、BasicGRUUnit、basic_gru (#49268)
  python/paddle/fluid/contrib/layers/__init__.py
  python/paddle/fluid/contrib/layers/rnn_impl.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_basic_gru_api.py
  python/paddle/fluid/tests/unittests/test_basic_gru_unit_op.py
  python/paddle/fluid/tests/unittests/test_basic_lstm_api.py
  python/paddle/fluid/tests/unittests/test_basic_lstm_unit_op.py
  python/paddle/fluid/tests/unittests/test_basic_rnn_name.py
  python/paddle/fluid/tests/unittests/test_eager_deletion_padding_rnn.py
  python/paddle/fluid/tests/unittests/test_layers.py
  tools/parallel_UT_rule.py
  tools/static_mode_white_list.py
Due: copyright_checker, pylint-doc-string

refine
  python/paddle/tensor/creation.py
  python/paddle/tensor/linalg.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

add custom_cpu testcase
  python/paddle/fluid/tests/custom_op/CMakeLists.txt
  python/paddle/fluid/tests/custom_op/test_custom_device_relu_op_setup.py
Due: copyright_checker, pylint-doc-string

Add CPU test
  paddle/fluid/framework/new_executor/interpretercore.cc
  python/paddle/fluid/tests/unittests/standalone_executor/test_standalone_op_priority.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

remove loss.py
  python/paddle/fluid/layers/loss.py
Due: copyright_checker, pylint-doc-string

fit for ninja generator
  cmake/external/jemalloc.cmake
  cmake/external/rocksdb.cmake
Due: none

remove data in fluid.layers.io.__all__
  python/paddle/fluid/layers/io.py
Due: copyright_checker, pylint-doc-string

fix matmul double and triple grad (#48779)
  paddle/phi/kernels/dot_grad_kernel.h
  paddle/phi/kernels/impl/dot_grad_kernel_impl.h
  paddle/phi/kernels/impl/matmul_grad_kernel_impl.h
  python/paddle/fluid/tests/unittests/test_imperative_double_grad.py
  python/paddle/fluid/tests/unittests/test_imperative_triple_grad.py
  tools/windows/run_unittests.sh
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

delete legacy dygraph code in python/paddle/distributed
  python/paddle/distributed/auto_parallel/engine.py
  python/paddle/distributed/auto_parallel/process_group.py
  python/paddle/distributed/collective.py
  python/paddle/distributed/communication/all_gather.py
  python/paddle/distributed/communication/all_reduce.py
  python/paddle/distributed/communication/all_to_all.py
  python/paddle/distributed/communication/broadcast.py
  python/paddle/distributed/communication/group.py
  python/paddle/distributed/communication/recv.py
  python/paddle/distributed/communication/reduce.py
  python/paddle/distributed/communication/reduce_scatter.py
  python/paddle/distributed/communication/scatter.py
  python/paddle/distributed/communication/send.py
  python/paddle/distributed/fleet/fleet.py
  python/paddle/distributed/fleet/layers/mpu/mp_ops.py
  python/paddle/distributed/fleet/layers/mpu/random.py
  python/paddle/distributed/fleet/meta_optimizers/dgc_optimizer.py
  python/paddle/distributed/fleet/meta_parallel/pp_utils/p2p_communication.py
  python/paddle/distributed/fleet/optimizer.py
  python/paddle/distributed/fleet/utils/hybrid_parallel_inference.py
  python/paddle/distributed/fleet/utils/hybrid_parallel_util.py
  python/paddle/distributed/models/moe/utils.py
  python/paddle/distributed/utils/moe_utils.py
Due: copyright_checker, pylint-doc-string

Get out grad names from program
  paddle/fluid/eager/to_static/run_program_op_func.h
  paddle/fluid/eager/to_static/run_program_op_node.h
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

