Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

fix bug
  paddle/fluid/framework/new_executor/new_ir_interpreter.cc
  paddle/fluid/framework/new_executor/standalone_executor.cc
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
  test/cpp/pir/kernel_dialect/ir_kernel_dialect_pass_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

open test case
  test/cpp/pir/kernel_dialect/ir_kernel_dialect_pass_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

ir_backward
  test/ir/new_ir/test_ir_backward.py
Due: copyright_checker, pylint-doc-string

refine shadow feed (#57291)
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[PIR]Add cinn::dialect::GroupOp
  paddle/cinn/hlir/dialect/operator/ir/CMakeLists.txt
  paddle/cinn/hlir/dialect/operator/ir/attribute_storage.h
  paddle/cinn/hlir/dialect/operator/ir/manual_op.cc
  paddle/cinn/hlir/dialect/operator/ir/manual_op.h
  paddle/cinn/hlir/dialect/operator/ir/op_attribute.cc
  paddle/cinn/hlir/dialect/operator/ir/op_attribute.h
  paddle/cinn/hlir/framework/new_ir_compiler.cc
  paddle/fluid/pir/dialect/operator/ir/op_attribute.h
  test/cpp/pir/cinn/new_ir_compiler_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Optimize some codes.
  paddle/phi/kernels/funcs/elementwise_functor.h
  paddle/phi/kernels/kps/elementwise_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix unittest
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
  paddle/fluid/pir/dialect/op_generator/op_gen.py
  paddle/pir/core/builtin_op.cc
  paddle/pir/core/builtin_op.h
  test/cpp/pir/core/ir_program_test.cc
  test/ir/new_ir/test_stop_gradient.py
  test/ir/new_ir/test_symbol_overload.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Apply suggestions from code review
  python/paddle/hapi/callbacks.py
  python/paddle/nn/layer/container.py
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

add gaussian inpalce kernel
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/kernels/cpu/gaussian_inplace_grad_kernel.cc
  paddle/phi/kernels/cpu/gaussian_kernel.cc
  paddle/phi/kernels/gaussian_inplace_grad_kernel.h
  paddle/phi/kernels/gaussian_kernel.h
  paddle/phi/kernels/gpu/gaussian_inplace_grad_kernel.cu
  paddle/phi/kernels/gpu/gaussian_kernel.cu
  python/paddle/tensor/random.py
  test/legacy_test/test_gaussian_random_inplace_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[PIR] Add check before fetch attr in map (#57284)
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bug in cinn stack op_mapper, when axis < 0, the output shape is wrong
  paddle/cinn/frontend/op_mappers/paddle/concat.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix uniform_random_inplace test (#57225)
  test/legacy_test/test_uniform_random_inplace_op.py
Due: copyright_checker, pylint-doc-string

fix lint
  paddle/pir/core/builtin_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[NewComm] No.6 compatiable upgrade for partial_send op (#57251)
  paddle/fluid/operators/collective/partial_send_op.cu.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add code
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
Due: copyright_checker, pylint-doc-string

Remove the specialization of rank for flip_kernel.
  paddle/phi/kernels/gpu/flip_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

move collect_undefined_vars from optim/ to ir/utils/ (#57230)
  paddle/cinn/backends/llvm/codegen_x86.cc
  paddle/cinn/ir/utils/ir_nodes_collector.cc
  paddle/cinn/ir/utils/ir_nodes_collector.h
  paddle/cinn/optim/CMakeLists.txt
  paddle/cinn/optim/collect_undefined_vars.cc
  paddle/cinn/optim/collect_undefined_vars.h
Due: copyright_checker, clang-format, cpplint-cpp-source

change feed data and create executor order
  python/paddle/base/executor.py
Due: copyright_checker, pylint-doc-string

[NewComm] No.5 compatiable upgrade for c_softmax_with_cross_entropy op (#57208)
  paddle/fluid/operators/collective/c_softmax_with_cross_entropy_op.cu
  test/legacy_test/test_c_softmax_with_cross_entropy_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

add deep copy impl
  paddle/fluid/pybind/eager.cc
  python/paddle/distributed/auto_parallel/api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[IR] add CallStackInfo for error log (debug test_error) (#57101)
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.cc
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.h
  paddle/fluid/framework/new_executor/instruction/instruction_base.h
  paddle/fluid/framework/new_executor/instruction/legacy_kernel_instruction.cc
  paddle/fluid/framework/new_executor/instruction/legacy_kernel_instruction.h
  paddle/fluid/framework/new_executor/instruction/phi_kernel_instruction.cc
  paddle/fluid/framework/new_executor/instruction/phi_kernel_instruction.h
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.h
  paddle/fluid/framework/new_executor/new_ir_interpreter.cc
  paddle/fluid/framework/op_call_stack.cc
  paddle/fluid/framework/op_call_stack.h
  paddle/fluid/framework/op_call_stack_test.cc
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/ir_adaptor/translator/program_translator.h
  paddle/fluid/pir/dialect/operator/utils/utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix uint32_t
  paddle/pir/core/builtin_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

enlarge interpreter cache size (#57187)
  paddle/fluid/framework/executor_cache.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix auto_parallel_fp16 for assign_value
  python/paddle/distributed/passes/auto_parallel_fp16.py
Due: copyright_checker, pylint-doc-string

refine, remove useless code
  paddle/phi/core/distributed/auto_parallel/r_to_s_reshard_function.cc
  paddle/phi/core/distributed/auto_parallel/reshard_utils.cc
  paddle/phi/core/distributed/auto_parallel/reshard_utils.h
  paddle/phi/core/distributed/auto_parallel/s_to_r_reshard_function.cc
  paddle/phi/core/distributed/auto_parallel/s_to_s_reshard_function.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Remove the specialization of rank for roll_kernel and roll_grad_kernel.
  paddle/phi/kernels/gpu/roll_grad_kernel.cu
  paddle/phi/kernels/gpu/roll_kernel.cu
  paddle/phi/kernels/gpu/roll_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix ArrayAttribute vjp gen
  paddle/fluid/pir/dialect/op_generator/op_interface_gen.py
Due: copyright_checker, pylint-doc-string

Schedule->Loop
  paddle/cinn/adt/anchor_sd_equation_context.h
  paddle/cinn/adt/generate_map_expr.cc
  paddle/cinn/adt/igroup.h
  paddle/cinn/adt/m_ir.cc
  paddle/cinn/adt/m_ir.h
  paddle/cinn/adt/schedule_descriptor.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[NewIR] No.10 Migrate silu into pir (#57157)
  paddle/fluid/pir/dialect/op_generator/vjp_interface_gen_op_list.py
  python/paddle/nn/functional/activation.py
  test/legacy_test/op_test.py
  test/legacy_test/test_activation_op.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/phi/api/yaml/op_compat.yaml
Due: none

Rename the optimization level API
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/pybind/inference_api.cc
  test/ir/inference/test_trt_optimization_level.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

