Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


fix doc
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

Add simple PassTiming.
  paddle/infra/CMakeLists.txt
  paddle/infra/Pass/AnalysisManager.h
  paddle/infra/Pass/Pass.cc
  paddle/infra/Pass/PassInstrumentation.h
  paddle/infra/Pass/PassManager.h
  paddle/infra/Pass/PassTiming.cc
  paddle/infra/test/demo.cc
  paddle/infra/test/mlir_demo.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Fix unit tests
  paddle/phi/kernels/onednn/elementwise_kernel.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_add_onednn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_mul_onednn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_sub_onednn_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix norm pull
  python/paddle/fluid/tests/unittests/test_norm_op.py
Due: copyright_checker, pylint-doc-string

add rule based tuner corresponding changes
  python/paddle/distributed/auto_parallel/callbacks.py
  python/paddle/distributed/auto_parallel/cluster.py
  python/paddle/distributed/auto_parallel/cost/base_cost.py
  python/paddle/distributed/auto_parallel/cost/comm_op_cost.py
  python/paddle/distributed/auto_parallel/cost/comp_op_cost.py
  python/paddle/distributed/auto_parallel/cost/estimate_cost.py
  python/paddle/distributed/auto_parallel/dist_context.py
  python/paddle/distributed/auto_parallel/engine.py
  python/paddle/distributed/auto_parallel/operators/dist_default.py
  python/paddle/distributed/auto_parallel/operators/dist_embedding.py
  python/paddle/distributed/auto_parallel/operators/dist_matmul.py
  python/paddle/distributed/auto_parallel/operators/dist_scale.py
  python/paddle/distributed/auto_parallel/planner_v2.py
  python/paddle/distributed/auto_parallel/reshard.py
  python/paddle/distributed/auto_parallel/tuner/rule_based_tuner.py
  python/paddle/utils/flops.py
Due: copyright_checker, pylint-doc-string

fix bug
  python/paddle/fluid/tests/unittests/dist_allreduce_op.py
  python/paddle/fluid/tests/unittests/dist_fleet_raw_program_optimizer.py
  python/paddle/fluid/tests/unittests/dist_fleet_raw_program_optimizer_fuse_allreduce.py
  python/paddle/fluid/tests/unittests/dist_mnist.py
  python/paddle/fluid/tests/unittests/dist_mnist_dgc.py
  python/paddle/fluid/tests/unittests/dist_text_classification.py
  python/paddle/fluid/tests/unittests/test_desc_clone.py
  python/paddle/fluid/tests/unittests/test_image_classification_layer.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_load_state_dict_from_old_format.py
  python/paddle/fluid/tests/unittests/test_mix_precision_all_reduce_fuse.py
  python/paddle/fluid/tests/unittests/test_multihead_attention.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/gpu/dist_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix launch return
  python/paddle/distributed/launch/controllers/collective.py
Due: copyright_checker, pylint-doc-string

Repair unitest parameters name
  python/paddle/fluid/tests/unittests/test_gaussian_nll_loss.py
Due: copyright_checker, pylint-doc-string

fluid clean: remove fluid.ir and fluid.io (#51167)
  python/paddle/distributed/fleet/fleet.py
  python/paddle/fluid/layers/io.py
  python/paddle/fluid/tests/unittests/test_apply_pass_to_program.py
  python/paddle/fluid/tests/unittests/test_dist_train.py
  python/paddle/framework/ir.py
  python/paddle/incubate/nn/layer/io.py
Due: copyright_checker, pylint-doc-string

roll back and test
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string

rerun ci
  paddle/phi/kernels/fusion/cutlass/memory_efficient_attention_backward.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

remove useless include
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/inference/io.cc
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
  paddle/fluid/pybind/kernel_signature_generator.cc
  paddle/phi/tools/print_phi_kernels.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

remove fluid.layers.collective and related unittests. (#51372)
  python/paddle/fluid/layers/__init__.py
  python/paddle/fluid/layers/collective.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/collective_reducescatter.py
  python/paddle/fluid/tests/unittests/test_reducescatter_api.py
  python/paddle/hapi/model.py
  tools/parallel_UT_rule.py
Due: copyright_checker, pylint-doc-string

update cmakelist
  python/paddle/fluid/tests/unittests/auto_parallel/CMakeLists.txt
Due: none

add fused_linear_param_grad_add_kernel
  paddle/fluid/eager/pylayer/py_layer_node.cc
  paddle/fluid/operators/fused/fused_gemm_epilogue_op.h
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/core/flags.cc
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/fused_linear_param_grad_add_kernel.h
  paddle/phi/kernels/gpu/fused_linear_param_grad_add_kernel.cu
  python/paddle/fluid/tests/unittests/test_fused_linear_param_grad_add.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

rm restict of platform
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cinn_prim_layer_norm.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cinn_prim_mean.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_resnet.py
  python/paddle/fluid/tests/unittests/prim/model/test_resnet_prim_cinn.py
  python/paddle/fluid/tests/unittests/prim/prim/flags/test_prim_flags_case.py
Due: copyright_checker, pylint-doc-string

Fix `broadcast_object_list` & `scatter_object_list` not work in specified group (#51762)
  python/paddle/distributed/communication/broadcast.py
  python/paddle/distributed/communication/scatter.py
Due: copyright_checker, pylint-doc-string

Fix paddle.incubate.graph_khop_sampler null pointer error
  paddle/fluid/operators/graph_khop_sampler_op.cu
  paddle/fluid/operators/graph_khop_sampler_op.h
  python/paddle/fluid/tests/unittests/test_graph_khop_sampler.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

add register of unique_consecutive_flattened_tensor,unique_raw
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/phi/kernels/cpu/unique_consecutive_kernel.cc
  paddle/phi/kernels/cpu/unique_kernel.cc
  paddle/phi/kernels/gpu/unique_consecutive_kernel.cu
  paddle/phi/kernels/gpu/unique_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix compile error
  paddle/phi/kernels/funcs/blas/blaslt_impl.cu.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bug
  python/paddle/fluid/contrib/tests/test_image_classification_fp16.py
  python/paddle/fluid/tests/book/notest_understand_sentiment.py
  python/paddle/fluid/tests/book/test_image_classification.py
  python/paddle/fluid/tests/book/test_recognize_digits.py
  python/paddle/fluid/tests/book/test_recommender_system.py
  python/paddle/fluid/tests/unittests/collective/fleet/pipeline_mnist.py
  python/paddle/fluid/tests/unittests/collective/fleet/pipeline_mnist_multi_device.py
  python/paddle/fluid/tests/unittests/collective/fleet/pipeline_mnist_one_device.py
  python/paddle/fluid/tests/unittests/nets.py
  python/paddle/fluid/tests/unittests/test_multihead_attention.py
Due: copyright_checker, pylint-doc-string

add cuda version condition
  python/paddle/fluid/tests/unittests/test_memory_efficient_attention.py
Due: copyright_checker, pylint-doc-string

test
  paddle/phi/kernels/impl/addmm_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  python/paddle/fluid/tests/unittests/test_logsumexp.py
Due: copyright_checker, pylint-doc-string

recover useless include
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/inference/io.cc
  paddle/fluid/pybind/eager_legacy_op_function_generator.cc
  paddle/fluid/pybind/kernel_signature_generator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix test_cumulative_trapezoid
  python/paddle/fluid/tests/unittests/test_cumulative_trapezoid.py
  python/paddle/fluid/tests/unittests/test_trapezoid.py
Due: copyright_checker, pylint-doc-string

test
  paddle/phi/kernels/cpu/mode_kernel.cc
  paddle/phi/kernels/reduce_min_kernel.h
  paddle/phi/kernels/uniform_inplace_kernel.h
  python/paddle/fluid/tests/unittests/test_activation_op.py
  python/paddle/fluid/tests/unittests/test_elementwise_mod_op.py
  python/paddle/fluid/tests/unittests/test_min_op.py
  python/paddle/fluid/tests/unittests/test_mode_op.py
  python/paddle/fluid/tests/unittests/test_segment_ops.py
  python/paddle/fluid/tests/unittests/test_uniform_random_inplace_op.py
  python/paddle/fluid/tests/unittests/test_update_loss_scaling_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Add LoongArch support
  CMakeLists.txt
  cmake/external/openblas.cmake
  cmake/flags.cmake
  paddle/fluid/operators/search_compute.h
  paddle/fluid/platform/denormal.cc
  paddle/phi/backends/cpu/cpu_info.cc
  paddle/phi/backends/cpu/cpu_info.h
Due: copyright_checker, clang-format, cpplint-cpp-source

test
  python/paddle/fluid/tests/unittests/test_cumulative_trapezoid.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/fluid/tests/unittests/test_logcumsumexp_op.py
Due: copyright_checker, pylint-doc-string

use phi::ToNCCLDataType
  paddle/phi/kernels/fusion/gpu/fused_attention_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  python/paddle/fluid/tests/unittests/test_instance_norm_op.py
Due: copyright_checker, pylint-doc-string
