Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

Imperative fix bugs (cherry pick to 1.4) (#16680)
  python/paddle/fluid/tests/unittests/test_imperative_ptb_rnn.py
Due: copyright_checker

make less batch of tests to fit ci (#16706)
  python/paddle/fluid/tests/unittests/test_imperative_transformer.py
Due: copyright_checker

add executor
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/executor.h
  paddle/fluid/lite/core/executor_test.cc
  paddle/fluid/lite/core/op_registry.h
  paddle/fluid/lite/kernels/host/CMakeLists.txt
  paddle/fluid/lite/kernels/host/fc_compute.h
  paddle/fluid/lite/kernels/host/relu_compute.h
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/fc_op.cc
  paddle/fluid/lite/operators/fc_op.h
  paddle/fluid/lite/operators/op_params.h
  paddle/fluid/lite/operators/relu_op.cc
  paddle/fluid/lite/operators/relu_op.h
Due: clang-format-with-version-check, copyright_checker

Remove op without kernel
  python/paddle/fluid/dygraph/base.py
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/test_elementwise_div_op.py
  python/paddle/fluid/tests/unittests/test_flatten_op.py
  python/paddle/fluid/tests/unittests/test_unstack_op.py
Due: copyright_checker

test=develop, sum gradient by trace id
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/type_defs.h
  python/paddle/fluid/tests/unittests/test_imperative_ocr_attention_model_small.py
  python/paddle/fluid/tests/unittests/test_imperative_transformer.py
Due: clang-format-with-version-check, copyright_checker

Remove unsupported op
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/test_assign_op.py
  python/paddle/fluid/tests/unittests/test_fill_op.py
  python/paddle/fluid/tests/unittests/test_fusion_lstm_op.py
  python/paddle/fluid/tests/unittests/test_squeeze_op.py
  python/paddle/fluid/tests/unittests/test_unsqueeze_op.py
Due: copyright_checker

Polish code test=develop
  python/paddle/fluid/tests/unittests/test_parallel_executor_mnist.py
Due: copyright_checker

fix training validation test=release/1.4
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
Due: clang-format-with-version-check, copyright_checker

polish code test=develop
  python/paddle/fluid/tests/unittests/test_parallel_executor_seresnext.py
Due: copyright_checker

fix activation grad op desc maker test=develop
  paddle/fluid/framework/details/op_registry.h
  paddle/fluid/op_use_default_grad_op_maker.spec
  paddle/fluid/operators/activation_cudnn_op.cu.cc
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/activation_op.cu
  paddle/fluid/operators/activation_op.h
Due: clang-format-with-version-check, copyright_checker

Fix dgc bug. (#16709)
  paddle/fluid/framework/details/all_reduce_op_handle.cc
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/parallel_executor.py
Due: clang-format-with-version-check, copyright_checker

Update nn.py
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix the bug of recurrent op test=develop
  paddle/fluid/operators/recurrent_op.cc
  python/paddle/fluid/layers/control_flow.py
Due: clang-format-with-version-check, copyright_checker

fix training validation test=develop (#16698)
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
Due: clang-format-with-version-check, copyright_checker

update the delta test=develop
  python/paddle/fluid/tests/unittests/test_parallel_executor_seresnext.py
Due: copyright_checker

fix training validation test=release/1.4 (#16716)
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ngraph_engine.h
Due: clang-format-with-version-check, copyright_checker

test=release/1.4, fix test_impertative_transformer (#16708)
  python/paddle/fluid/tests/unittests/test_imperative_transformer.py
Due: copyright_checker

merge conflict, test=develop
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

add profile for infershape and compute_only
  paddle/fluid/framework/operator.cc
Due: clang-format-with-version-check, copyright_checker

Add an option to enable the cache of expected kernel in train phase. test=develop
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/details/build_strategy.h
  paddle/fluid/framework/ir/expected_kernel_cache_pass.cc
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, copyright_checker

disable seqpool concat pass by default saving CI time
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tests/api/analyzer_seq_pool1_tester.cc
Due: clang-format-with-version-check, copyright_checker

fix too long unittest recommit test=develop
  python/paddle/fluid/tests/unittests/test_decoupled_py_reader.py
  python/paddle/fluid/tests/unittests/test_eager_deletion_dynamic_rnn_base.py
  python/paddle/fluid/tests/unittests/test_gradient_clip.py
Due: copyright_checker

test test=develop test=release/1.4
  python/paddle/fluid/optimizer.py
Due: copyright_checker

for debug and next step develop
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/type_defs.h
  python/paddle/fluid/tests/unittests/test_imperative_basic.py
  python/paddle/fluid/tests/unittests/test_imperative_ocr_small_model.py
Due: clang-format-with-version-check, copyright_checker

bug-fix, test=develop
  paddle/fluid/framework/details/inplace_op_pass.cc
Due: clang-format-with-version-check, copyright_checker

modify the script to adapt to new ci test=develop
  paddle/scripts/paddle_build.sh
Due: none

Fix op registry (#16677)
  paddle/fluid/op_use_default_grad_op_maker.spec
  paddle/fluid/operators/lookup_table_op.cc
  paddle/fluid/operators/space_to_depth_op.cc
  paddle/fluid/operators/squared_l2_distance_op.cc
  paddle/fluid/operators/squared_l2_norm_op.cc
  paddle/fluid/operators/teacher_student_sigmoid_loss_op.cc
  paddle/fluid/operators/tree_conv_op.cc
  paddle/fluid/operators/warpctc_op.cc
  python/paddle/fluid/tests/unittests/test_eager_deletion_no_need_buffer_vars_inference.py
Due: clang-format-with-version-check, copyright_checker

modify the build script for new ci test=develop
  paddle/scripts/paddle_build.sh
Due: none

add test=develop
  python/paddle/fluid/optimizer.py
Due: copyright_checker
