Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

unify libpaddle_inference_api into libpaddle_fluid
  cmake/inference_lib.cmake
  paddle/fluid/inference/CMakeLists.txt
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/api.map
  paddle/fluid/inference/api/api.sym
  paddle/fluid/inference/api/demo_ci/CMakeLists.txt
  paddle/fluid/inference/check_symbol.sh
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/mul_op.cc
  paddle/fluid/inference/tests/book/CMakeLists.txt
  paddle/fluid/operators/tensorrt_engine_op.cc
Due: clang-format-with-version-check, copyright_checker

hidden slice_vars in distribute transpile, hidden it to users
  python/paddle/fluid/io.py
  python/paddle/fluid/trainer.py
Due: copyright_checker

hidden slice_vars in distribute transpile, hidden it to users
  python/paddle/fluid/trainer.py
Due: copyright_checker

hidden slice_vars in distribute transpile, hidden it to users
  python/paddle/fluid/io.py
Due: copyright_checker

add cudnn ctc loss
  paddle/fluid/operators/cudnn_ctc_loss.cu.cc
  paddle/fluid/platform/cudnn_helper.h
  paddle/fluid/platform/dynload/cudnn.h
Due: clang-format-with-version-check, copyright_checker

enable dist se resnext
  python/paddle/fluid/tests/unittests/dist_se_resnext.py
  python/paddle/fluid/tests/unittests/test_dist_se_resnext.py
Due: copyright_checker

add flag to prevent unnessary memory free
  paddle/fluid/memory/detail/buddy_allocator.cc
  python/paddle/fluid/__init__.py
Due: clang-format-with-version-check, copyright_checker

add template definition function, and add more support for 8 and 12-point NMS
  paddle/fluid/operators/detection/gpc.cc
  paddle/fluid/operators/detection/gpc.h
  paddle/fluid/operators/detection/multiclass_nms_op.cc
  paddle/fluid/operators/detection/poly_util.cc
  paddle/fluid/operators/detection/poly_util.h
Due: clang-format-with-version-check, copyright_checker

small batch size
  python/paddle/fluid/tests/unittests/dist_se_resnext.py
Due: copyright_checker

fix comments
  paddle/fluid/inference/tensorrt/convert/pool2d_op.cc
  paddle/fluid/inference/tensorrt/convert/test_activation_op.cc
  paddle/fluid/inference/tensorrt/convert/test_fc_op.cc
  paddle/fluid/inference/tensorrt/convert/test_mul_op.cc
  paddle/fluid/inference/tensorrt/convert/test_pool2d_op.cc
  paddle/fluid/inference/tensorrt/convert/ut_helper.h
Due: clang-format-with-version-check, copyright_checker

add paddle_enforce
  paddle/fluid/inference/tensorrt/convert/pool2d_op.cc
Due: clang-format-with-version-check, copyright_checker

refine regularization for selected_rows
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/extract_rows_op.cc
  python/paddle/fluid/regularizer.py
Due: clang-format-with-version-check, copyright_checker

reuse im_size
  paddle/fluid/operators/math/im2col.cc
Due: clang-format-with-version-check, copyright_checker

clean lookup_table
  paddle/fluid/operators/lookup_table_op.cc
  paddle/fluid/operators/lookup_table_op.cu
  paddle/fluid/operators/lookup_table_op.h
  python/paddle/fluid/tests/unittests/test_lookup_table_op.py
Due: clang-format-with-version-check, copyright_checker

enable padding!=0 and fill height padding with 0
  paddle/fluid/operators/math/im2col.cc
Due: clang-format-with-version-check, copyright_checker

reuse sizes saving time
  paddle/fluid/operators/math/im2col.cc
Due: clang-format-with-version-check, copyright_checker

pass registration
  paddle/fluid/framework/details/multi_devices_graph_builder.cc
  paddle/fluid/framework/details/multi_devices_graph_builder.h
  paddle/fluid/framework/details/ssa_graph_builder_factory.cc
  paddle/fluid/framework/details/ssa_graph_checker.h
  paddle/fluid/framework/details/ssa_graph_printer.h
  paddle/fluid/framework/ir/graph_viz_pass.cc
  paddle/fluid/framework/ir/graph_viz_pass.h
  paddle/fluid/framework/ir/pass.cc
  paddle/fluid/framework/ir/pass.h
  paddle/fluid/framework/parallel_executor.cc
Due: clang-format-with-version-check, copyright_checker

graph viz pass
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_viz_pass.cc
  paddle/fluid/framework/ir/graph_viz_pass.h
  paddle/fluid/framework/parallel_executor.cc
  python/paddle/fluid/tests/unittests/parallel_executor_test_base.py
  python/paddle/fluid/tests/unittests/test_parallel_executor_mnist.py
Due: clang-format-with-version-check, copyright_checker

enable width padding
  paddle/fluid/operators/math/im2col.cc
Due: clang-format-with-version-check, copyright_checker

feat: Add memory usage estimate function
  python/paddle/fluid/contrib/__init__.py
  python/paddle/fluid/contrib/memory_usage_calc.py
Due: copyright_checker

pass refactoring
  paddle/fluid/framework/details/multi_devices_graph_builder.cc
  paddle/fluid/framework/details/multi_devices_graph_builder.h
  paddle/fluid/framework/details/scope_buffered_ssa_graph_executor.h
  paddle/fluid/framework/details/ssa_graph_builder.h
  paddle/fluid/framework/details/ssa_graph_builder_factory.cc
  paddle/fluid/framework/details/ssa_graph_builder_factory.h
  paddle/fluid/framework/details/ssa_graph_checker.cc
  paddle/fluid/framework/details/ssa_graph_checker.h
  paddle/fluid/framework/details/ssa_graph_executor.h
  paddle/fluid/framework/details/ssa_graph_printer.cc
  paddle/fluid/framework/details/ssa_graph_printer.h
  paddle/fluid/framework/details/threaded_ssa_graph_executor.h
  paddle/fluid/framework/ir/graph.h
  paddle/fluid/framework/ir/pass.h
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/framework/parallel_executor.h
  paddle/fluid/operators/distributed/send_recv.proto
Due: clang-format-with-version-check, copyright_checker

update all cudnn ops
  paddle/fluid/operators/conv_transpose_cudnn_op.cu.cc
  paddle/fluid/operators/math/softmax.cu
  paddle/fluid/operators/pool_cudnn_op.cu.cc
Due: clang-format-with-version-check, copyright_checker

refine rpc_server_test
  paddle/fluid/operators/distributed/rpc_server_test.cc
  paddle/fluid/operators/lookup_table_op.cc
Due: clang-format-with-version-check, copyright_checker

fix manylinux1 Failed to publish artifacts
  paddle/fluid/inference/api/demo_ci/clean.sh
  paddle/scripts/paddle_build.sh
Due: none

fix a bug
  paddle/fluid/inference/tensorrt/convert/ut_helper.h
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
