Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

fix error
  paddle/fluid/framework/new_executor/instruction/control_flow/assert_instruction.cc
  paddle/fluid/operators/assert_op.cc
  paddle/fluid/operators/print_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix einsum accuracy diff when with contraction dim
  paddle/phi/kernels/impl/einsum_grad_kernel_impl.h
  paddle/phi/kernels/impl/einsum_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix bug
  python/paddle/distributed/fleet/meta_parallel/dualpipev.py
Due: copyright_checker, pylint-doc-string

rm fold invalid case
  test/legacy_test/test_fold_op.py
Due: copyright_checker, pylint-doc-string

fix_solve
  paddle/phi/kernels/funcs/matrix_solve.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Remove the redundant variables
  python/paddle/distributed/auto_parallel/process_mesh.py
Due: copyright_checker, pylint-doc-string

Fix
  python/paddle/tensor/manipulation.py
  test/legacy_test/test_unique.py
  test/legacy_test/test_unique_consecutive_op.py
Due: copyright_checker, pylint-doc-string

Revert "Fix paddle.vision.ops.deform_conv2d API big Tensor (#74058)"
  paddle/fluid/inference/tensorrt/plugin/deformable_conv_op_plugin.cu
  paddle/phi/kernels/cpu/deformable_conv_grad_kernel.cc
  paddle/phi/kernels/funcs/deformable_conv_functor.cc
  paddle/phi/kernels/funcs/deformable_conv_functor.cu
  paddle/phi/kernels/gpu/deformable_conv_grad_kernel.cu
  paddle/phi/kernels/impl/deformable_conv_grad_kernel_impl.h
  paddle/phi/kernels/impl/deformable_conv_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add check with cublas call gemmex
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix typo
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

add paddle.device.memory functions
  python/paddle/device/__init__.py
Due: copyright_checker, pylint-doc-string

change_tile
  paddle/phi/kernels/gpu/flash_attn_v3_grad_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

add openvino op
  cmake/external/openvino.cmake
Due: none

refine
  paddle/phi/kernels/impl/einsum_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Add moe_permute & unpermute with do_gather(fill_x) feature to fleety
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/gpu/moe_permute_kernel.cu
  paddle/phi/kernels/gpu/moe_permute_utils.h
  paddle/phi/kernels/gpu/moe_unpermute_kernel.cu
  paddle/phi/ops/yaml/ops.yaml
  python/paddle/nn/functional/__init__.py
  python/paddle/nn/functional/moe_permute.py
  python/paddle/nn/functional/moe_unpermute.py
  test/legacy_test/test_moe_permute_unpermute.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix stride bug
  paddle/phi/kernels/funcs/stride_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Finished 3 extra kernels' infermeta(except inplace), yaml, and code cleaning, stash works.
  paddle/phi/infermeta/multiary.cc
  paddle/phi/kernels/legacy/gpu/tokens_unzip_gather.cu
  paddle/phi/kernels/legacy/gpu/tokens_zip_prob.cu
  paddle/phi/kernels/legacy/gpu/tokens_zip_unique_add.cu
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

delete explicit template type
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.cu
  paddle/phi/kernels/gpu/group_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

refine
  paddle/phi/kernels/gpu/group_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

merge the different_hybrid_configs test
  test/auto_parallel/hybrid_strategy/CMakeLists.txt
  test/auto_parallel/hybrid_strategy/fleet_test_dp.py
  test/auto_parallel/hybrid_strategy/fleet_test_mp.py
  test/auto_parallel/hybrid_strategy/fleet_test_pp.py
  test/auto_parallel/hybrid_strategy/fleet_test_sep.py
  test/auto_parallel/hybrid_strategy/fleet_test_sharding.py
  test/auto_parallel/hybrid_strategy/test_get_group_in_different_hybrid_configs.py
  test/auto_parallel/hybrid_strategy/test_process_mesh.py
  test/auto_parallel/hybrid_strategy/test_process_mesh_group_consistency.py
Due: copyright_checker, pylint-doc-string

some log for debug
  paddle/phi/kernels/gpu/interpolate_grad_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  paddle/fluid/inference/api/paddle_api.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/capi/pd_config.cc
  paddle/fluid/inference/capi_exp/pd_config.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix paddle-dcu build link error
  paddle/phi/backends/dynload/rocblas.cc
  paddle/phi/backends/dynload/rocsolver.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix sycl bugs
  paddle/cinn/runtime/sycl/sycl_backend_api.cc
  paddle/cinn/runtime/sycl/sycl_backend_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix sycl codegen
  paddle/cinn/backends/sycl/codegen_sycl_dev.cc
  paddle/cinn/backends/sycl/compiler_sycl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix the code style
  test/auto_parallel/hybrid_strategy/CMakeLists.txt
  test/auto_parallel/hybrid_strategy/test_process_mesh.py
Due: copyright_checker, pylint-doc-string

fix sycl minmax bug
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

sycl reuse paddle stream
  paddle/cinn/runtime/sycl/cinn_sycl_runtime_source.h
  paddle/cinn/runtime/sycl/sycl_backend_api.cc
  paddle/cinn/runtime/sycl/sycl_backend_api.h
  paddle/cinn/runtime/sycl/sycl_intrinsics.cc
  paddle/cinn/runtime/sycl/sycl_module.cc
  paddle/cinn/runtime/sycl/sycl_util.cc
  paddle/cinn/runtime/sycl/sycl_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix bugs
  paddle/cinn/runtime/sycl/sycl_backend_api.cc
  paddle/cinn/runtime/sycl/sycl_backend_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix codegen style
  paddle/cinn/backends/sycl/compiler_sycl.h
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  paddle/cinn/runtime/sycl/sycl_backend_api.cc
  paddle/cinn/runtime/sycl/sycl_backend_api.h
  paddle/cinn/runtime/sycl/sycl_module.cc
  paddle/cinn/runtime/sycl/sycl_util.cc
  paddle/cinn/runtime/sycl/sycl_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add avg/max poll for float16
  paddle/phi/kernels/cpu/pool_grad_kernel.cc
  paddle/phi/kernels/cpu/pool_kernel.cc
  paddle/phi/kernels/funcs/pooling.cc
  paddle/phi/kernels/gpudnn/pool_kernel.cu
  paddle/phi/kernels/impl/pool_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/framework/new_executor/instruction/onednn/onednn_instruction.cc
  paddle/fluid/framework/new_executor/instruction/onednn/onednn_legacy_instruction.cc
  paddle/phi/core/meta_tensor.h
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/fusion.cc
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/unary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

replace all int32 with int64
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/preln_groupnorm_act_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/skip_groupnorm_act_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/skip_groupnorm_act_op_plugin.h
  paddle/phi/kernels/gpu/group_norm_kernel.cu
  paddle/phi/kernels/group_norm_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Robustify min/max type matching
  paddle/cinn/backends/codegen_gpu_dev.cc
  paddle/cinn/common/ir_util.cc
  paddle/cinn/common/ir_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/common/flags.cc
  paddle/fluid/eager/to_static/run_program_impl.cc
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/details/build_strategy.h
  paddle/fluid/framework/executor.cc
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/fluid/framework/operator.cc
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/prepared_operator.h
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/controlflow/conditional_block_infer_op.cc
  paddle/fluid/operators/controlflow/conditional_block_op.cc
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
  paddle/fluid/pybind/compiled_program.cc
  paddle/fluid/pybind/place.cc
  paddle/fluid/pybind/pybind.cc
  paddle/fluid/pybind/tensor.cc
  test/legacy_test/test_expand_v2_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Support setting environment variables to enable stream_k
  paddle/phi/kernels/fusion/cutlass/cutlass_extensions/ft_gemm_configs.h
  paddle/phi/kernels/fusion/cutlass/cutlass_extensions/gemm/kernel/fpA_intB_gemm_split_k.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/cutlass_heuristic.h
  test/quantization/test_weight_only_linear.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

refine
  python/paddle/tensor/to_string.py
Due: copyright_checker, pylint-doc-string

check the one step loss._md5sum()
  test/auto_parallel/PP_Schedules_demo.py
Due: copyright_checker, pylint-doc-string

fix codestyle
  test/auto_parallel/PP_Schedules_demo.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

