Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


refine
  python/paddle/fluid/tests/unittests/eager_op_test.py
  python/paddle/fluid/tests/unittests/test_linear_interp_v2_op.py
Due: copyright_checker, pylint-doc-string

delete extra branch in linear_interp test case
  python/paddle/fluid/tests/unittests/test_linear_interp_v2_op.py
Due: copyright_checker, pylint-doc-string

delete extra note in interpolate_grad_kernel.cc in phi
  paddle/phi/kernels/cpu/interpolate_grad_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

【Hackathon No.67】remove operator.h in blas.h (#50989)
  paddle/fluid/operators/attention_lstm_op.cc
  paddle/fluid/operators/center_loss_op.h
  paddle/fluid/operators/fsp_op.h
  paddle/fluid/operators/fused/fused_embedding_fc_lstm_op.cc
  paddle/fluid/operators/fused/fused_embedding_seq_pool_op.h
  paddle/fluid/operators/fused/fusion_gru_op.cc
  paddle/fluid/operators/fused/fusion_lstm_op.cc
  paddle/fluid/operators/fused/fusion_seqexpand_concat_fc_op.cc
  paddle/fluid/operators/gru_unit_op.h
  paddle/fluid/operators/index_select_op.h
  paddle/fluid/operators/lookup_table_op.h
  paddle/fluid/operators/lookup_table_v2_op.h
  paddle/fluid/operators/lrn_op.cc
  paddle/fluid/operators/match_matrix_tensor_op.cc
  paddle/fluid/operators/matmul_op.cc
  paddle/fluid/operators/search_compute.h
  paddle/fluid/operators/svd_helper.h
  paddle/fluid/operators/var_conv_2d_op.cc
  paddle/phi/kernels/funcs/blas/blas.h
  paddle/phi/kernels/funcs/math_function.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

add flashattn raw kernel (#51383)
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/kernels/flash_attn_grad_kernel.h
  paddle/phi/kernels/flash_attn_kernel.h
  paddle/phi/kernels/gpu/flash_attn_grad_kernel.cu
  paddle/phi/kernels/gpu/flash_attn_kernel.cu
  python/paddle/fluid/tests/unittests/test_flash_attention.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix issue#50768
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

[phi] add register of numel/svd (#51356)
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/phi/kernels/cpu/numel_kernel.cc
  paddle/phi/kernels/gpu/numel_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

add xpu tile and concat kernel int64, test=kunlun (#51349)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/xpu/concat_kernel.cc
  paddle/phi/kernels/xpu/pool_grad_kernel.cc
  paddle/phi/kernels/xpu/tile_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[phi][jit] fix test error
  paddle/phi/kernels/funcs/jit/test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix circle import
  python/paddle/fluid/layers/tensor.py
Due: copyright_checker, pylint-doc-string

[AMP OP&Test] Modify the logic of comparing grad in bfloat16 (#51345)
  python/paddle/fluid/tests/unittests/eager_op_test.py
  python/paddle/fluid/tests/unittests/op_test.py
Due: copyright_checker, pylint-doc-string

[CustomDevice] fix concat & split dense tensor (#51414)
  paddle/fluid/pybind/process_group_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

support c_embedding_grad for kunlun (#51399)
  paddle/fluid/operators/collective/c_embedding_op_xpu.cc
  paddle/phi/backends/xpu/xpu2_op_list.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[XPU] EmbeddingWithEltwiseAddXpuKernel support FP16 (#51426)
  paddle/phi/backends/xpu/xpu1_op_list.cc
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/kernels/fusion/xpu/embedding_with_eltwise_add_xpu_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix static prim api gen
  paddle/fluid/prim/api/auto_code_generated/template/utils.cc.j2
Due: none

fix perf drop
  paddle/phi/kernels/funcs/reduce_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Address bug of open amp after dynamic to static, when control op in program. (#50799)
  python/paddle/fluid/contrib/tests/test_d2s_amp_controlflow.py
  python/paddle/static/amp/fp16_utils.py
Due: copyright_checker, pylint-doc-string

update math
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

Delete duplicate code in optimizer.py and support master_param for bf16 in optimzer (#51367)
  python/paddle/fluid/optimizer.py
  python/paddle/optimizer/adadelta.py
  python/paddle/optimizer/adagrad.py
  python/paddle/optimizer/adam.py
  python/paddle/optimizer/adamax.py
  python/paddle/optimizer/adamw.py
  python/paddle/optimizer/lamb.py
  python/paddle/optimizer/momentum.py
  python/paddle/optimizer/optimizer.py
  python/paddle/optimizer/rmsprop.py
  python/paddle/optimizer/sgd.py
Due: copyright_checker, pylint-doc-string

add test case
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_batch_norm_grad.py
Due: copyright_checker, pylint-doc-string

add bn vjp
  paddle/fluid/operators/batch_norm_op.cc
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/phi/api/yaml/legacy_backward.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source

fix conflict
  paddle/fluid/operators/batch_norm_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

debug1
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_batch_norm_grad.py
  python/paddle/fluid/tests/unittests/test_np_bn.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

support amp, add test case
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_batch_norm.py
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_batch_norm_grad.py
  python/paddle/fluid/tests/unittests/prim/model/test_resnet_prim_cinn.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bn rule
  python/paddle/incubate/autograd/composite_rules.py
Due: copyright_checker, pylint-doc-string

support bn vjp
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix nan bug
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix code
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_batch_norm_grad.py
Due: copyright_checker, pylint-doc-string

fix code2
  python/paddle/fluid/tests/unittests/test_np_bn.py
Due: copyright_checker, pylint-doc-string

fix formate
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

debug
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix issue#50768
  python/paddle/fluid/tests/unittests/test_splits_api.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

modify the grad
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_mul_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_matmul_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_elementwise_div_op.py
  python/paddle/fluid/tests/unittests/test_matmul_v2_op.py
  python/paddle/fluid/tests/unittests/test_norm_all.py
  python/paddle/fluid/tests/unittests/test_reduce_op.py
  python/paddle/fluid/tests/unittests/test_scale_op.py
  python/paddle/fluid/tests/unittests/test_sum_op.py
Due: copyright_checker, pylint-doc-string

update math.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/incubate/autograd/composite_rules.py
Due: copyright_checker, pylint-doc-string

Fix argsort typos
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[with_data_parallel][part7] remove with_data_parallel in custom op test (#51164)
  python/paddle/fluid/tests/custom_op/CMakeLists.txt
  python/paddle/fluid/tests/custom_op/custom_op_multidevice_model_train.py
  python/paddle/fluid/tests/custom_op/setup_for_static_multidevice_test.py
  python/paddle/fluid/tests/custom_op/test_custom_op_relu_model_static_multidevice.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_model.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_setup.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_xpu_setup.py
  python/paddle/fluid/tests/custom_runtime/test_custom_op_setup.py
Due: copyright_checker, pylint-doc-string

fix compile bugs
  paddle/phi/kernels/funcs/selected_rows_functor.cu
  paddle/phi/kernels/funcs/selected_rows_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source

update unitest
  python/paddle/fluid/tests/unittests/auto_parallel/amp_o2_pass.py
Due: copyright_checker, pylint-doc-string
