Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

update
  paddle/fluid/lite/tools/Dockerfile.mobile_ci
Due: none

test==develop run ci again
  paddle/fluid/API.spec
Due: none

test=develop run ci again
  paddle/fluid/API.spec
Due: none

fix uni test bug; test=develop
  python/paddle/fluid/tests/unittests/test_infer_shape.py
Due: copyright_checker

add reshape support tensor; test=develop
  paddle/fluid/operators/reshape_op.cc
  python/paddle/fluid/tests/unittests/test_reshape_op.py
Due: clang-format-with-version-check, copyright_checker

update context to support both server and light
  paddle/fluid/lite/api/CMakeLists.txt
  paddle/fluid/lite/api/light_api.h
  paddle/fluid/lite/api/light_api_test.cc
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/context.cc
  paddle/fluid/lite/core/context.h
  paddle/fluid/lite/core/context_test.cc
  paddle/fluid/lite/core/mir/runtime_context_assign_pass.cc
  paddle/fluid/lite/kernels/x86/activation_compute.cc
  paddle/fluid/lite/kernels/x86/elementwise_compute.cc
  paddle/fluid/lite/kernels/x86/fill_constant_compute.cc
  paddle/fluid/lite/kernels/x86/mean_compute.cc
  paddle/fluid/lite/kernels/x86/mul_compute.cc
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/fc_op_test.cc
Due: clang-format-with-version-check, copyright_checker

up
  paddle/fluid/lite/tools/Dockerfile.mobile_ci
Due: none

fix code style
  paddle/fluid/lite/core/context.cc
  paddle/fluid/lite/core/context.h
  paddle/fluid/lite/core/context_test.cc
  paddle/fluid/lite/kernels/cuda/mul_compute.h
  paddle/fluid/lite/kernels/x86/activation_compute.cc
  paddle/fluid/lite/kernels/x86/elementwise_compute.cc
  paddle/fluid/lite/kernels/x86/fill_constant_compute.cc
  paddle/fluid/lite/kernels/x86/mean_compute.cc
  paddle/fluid/lite/kernels/x86/mul_compute.cc
Due: clang-format-with-version-check, copyright_checker

test=develop, memory optimize for dygraph using shared_ptr
  paddle/fluid/imperative/layer.h
Due: clang-format-with-version-check, copyright_checker

test=develop, fix travis ci showed error
  paddle/fluid/imperative/type_defs.h
Due: clang-format-with-version-check, copyright_checker

fix logging unable. test=develop
  python/paddle/fluid/contrib/slim/core/compressor.py
  python/paddle/fluid/contrib/slim/distillation/distillation_strategy.py
  python/paddle/fluid/contrib/slim/prune/prune_strategy.py
  python/paddle/fluid/contrib/slim/quantization/quantization_strategy.py
  python/paddle/fluid/contrib/utils/hdfs_utils.py
  python/paddle/fluid/contrib/utils/lookup_table_utils.py
  python/paddle/fluid/incubate/fleet/tests/ctr_dataset_reader.py
  python/paddle/fluid/incubate/fleet/tests/fleet_deep_ctr.py
  python/paddle/fluid/io.py
  python/paddle/fluid/log_helper.py
  python/paddle/fluid/net_drawer.py
  python/paddle/fluid/tests/unittests/dist_ctr_reader.py
Due: copyright_checker

test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

test transformer in windows ci, test=develop
  python/paddle/fluid/tests/unittests/test_imperative_transformer.py
Due: copyright_checker

fix tinny bug in brpc, test=develop
  paddle/fluid/operators/distributed/request_handler_impl.cc
  paddle/fluid/operators/distributed_ops/listen_and_serv_op.cc
Due: clang-format-with-version-check, copyright_checker

fix compile error, add profile dependence
  paddle/fluid/lite/api/CMakeLists.txt
Due: none

fix copy bug; test=develop
  paddle/fluid/operators/expand_op.h
Due: clang-format-with-version-check, copyright_checker

add no_grad decorator to dygraph, test=develop
  python/paddle/fluid/dygraph/base.py
  python/paddle/fluid/dygraph_grad_clip.py
  python/paddle/fluid/optimizer.py
Due: copyright_checker

Update sequence_pool's api
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_seq_pool.py
Due: copyright_checker

fix python api bug; test=develop
  paddle/fluid/operators/one_hot_op.cu
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

refactor context to support both server and light (#17762)
  paddle/fluid/lite/api/CMakeLists.txt
  paddle/fluid/lite/api/light_api.h
  paddle/fluid/lite/api/light_api_test.cc
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/context.cc
  paddle/fluid/lite/core/context.h
  paddle/fluid/lite/core/context_test.cc
  paddle/fluid/lite/core/mir/runtime_context_assign_pass.cc
  paddle/fluid/lite/kernels/cuda/mul_compute.h
  paddle/fluid/lite/kernels/x86/activation_compute.cc
  paddle/fluid/lite/kernels/x86/elementwise_compute.cc
  paddle/fluid/lite/kernels/x86/fill_constant_compute.cc
  paddle/fluid/lite/kernels/x86/mean_compute.cc
  paddle/fluid/lite/kernels/x86/mul_compute.cc
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/fc_op_test.cc
Due: clang-format-with-version-check, copyright_checker

debug test=develop
  paddle/fluid/imperative/CMakeLists.txt
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/layer.h
  paddle/fluid/imperative/profiler.cc
  paddle/fluid/imperative/profiler.h
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/unique_name.py
Due: clang-format-with-version-check, copyright_checker

add unittest,test=develop
  python/paddle/fluid/dygraph/base.py
  python/paddle/fluid/tests/unittests/test_imperative_decorator.py
Due: copyright_checker

use the bj as default address instead of cdn test=develop
  cmake/external/mklml.cmake
Due: none

enable scale op and add unit test
  paddle/fluid/lite/arm/math/CMakeLists.txt
  paddle/fluid/lite/arm/math/funcs.h
  paddle/fluid/lite/arm/math/scale.cc
  paddle/fluid/lite/arm/math/scale.h
  paddle/fluid/lite/kernels/arm/CMakeLists.txt
  paddle/fluid/lite/kernels/arm/scale_compute.cc
  paddle/fluid/lite/kernels/arm/scale_compute.h
  paddle/fluid/lite/kernels/arm/scale_compute_test.cc
  paddle/fluid/lite/kernels/arm/softmax_compute.cc
  paddle/fluid/lite/kernels/arm/softmax_compute_test.cc
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/scale_op.cc
  paddle/fluid/lite/operators/scale_op.h
  paddle/fluid/lite/operators/scale_op_test.cc
Due: clang-format-with-version-check, copyright_checker

test mobile ci test=develop
  paddle/fluid/lite/tools/build.sh
Due: none

fix test=develop
  paddle/fluid/framework/ir/graph.cc
  paddle/fluid/framework/ir/multi_devices_graph_pass/backward_op_deps_pass.cc
Due: clang-format-with-version-check, copyright_checker

1. Add try exception to compressor. 2. Remove unitest of light-nas for windows. test=develop
  python/paddle/fluid/contrib/slim/core/compressor.py
  python/paddle/fluid/contrib/slim/nas/controller_server.py
  python/paddle/fluid/contrib/slim/nas/light_nas_strategy.py
  python/paddle/fluid/contrib/slim/nas/lock.py
  python/paddle/fluid/contrib/slim/nas/search_agent.py
  python/paddle/fluid/contrib/slim/searcher/controller.py
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: copyright_checker

Adding communication part in readme, test=develop
  README.md
  README_cn.md
Due: none

Fix potential bugs: use numpy assignment to restore parameters at build-once, test=develop (#17720)
  python/paddle/fluid/dygraph/layers.py
Due: copyright_checker
