Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


remove redundant infermeta
  paddle/phi/infermeta/multiary.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update composite_backward_api.h
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/fluid/prim/api/composite_backward/composite_double_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Handle @unified decorated class in SymbolicStaticFunction signature check
  python/paddle/jit/dy2static/program_translator.py
  test/dygraph_to_static/test_convert_call.py
Due: copyright_checker, pylint-doc-string

[release/3.3][CI] Switch paddlefleet source from `stable` to `nightly` in H-Coverage workflow (#77814)
  .github/workflows/H-Coverage.yml
Due: none

fix code-style and resolve conflicts
  paddle/phi/api/include/compat/ATen/Functions.h
  paddle/phi/api/include/compat/ATen/core/TensorBody.h
  paddle/phi/api/include/compat/ATen/ops/arange.h
  paddle/phi/api/include/compat/ATen/ops/cat.h
  paddle/phi/api/include/compat/ATen/ops/empty.h
  paddle/phi/api/include/compat/ATen/ops/empty_like.h
  paddle/phi/api/include/compat/ATen/ops/empty_strided.h
  paddle/phi/api/include/compat/ATen/ops/flatten.h
  paddle/phi/api/include/compat/ATen/ops/from_blob.h
  paddle/phi/api/include/compat/ATen/ops/full.h
  paddle/phi/api/include/compat/ATen/ops/index.h
  paddle/phi/api/include/compat/ATen/ops/narrow.h
  paddle/phi/api/include/compat/ATen/ops/narrow_copy.h
  paddle/phi/api/include/compat/ATen/ops/ones.h
  paddle/phi/api/include/compat/ATen/ops/permute.h
  paddle/phi/api/include/compat/ATen/ops/reshape.h
  paddle/phi/api/include/compat/ATen/ops/slice.h
  paddle/phi/api/include/compat/ATen/ops/squeeze.h
  paddle/phi/api/include/compat/ATen/ops/sum.h
  paddle/phi/api/include/compat/ATen/ops/transpose.h
  paddle/phi/api/include/compat/ATen/ops/unflatten.h
  paddle/phi/api/include/compat/ATen/ops/unsqueeze.h
  paddle/phi/api/include/compat/ATen/ops/view.h
  paddle/phi/api/include/compat/ATen/ops/zeros.h
  paddle/phi/api/include/compat/ATen/ops/zeros_like.h
  test/cpp/compat/ATen_reshape_test.cc
  test/cpp/compat/ATen_squeeze_test.cc
  test/cpp/compat/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix namespace
  paddle/phi/api/include/compat/ATen/ops/abs.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update paddle/phi/api/include/compat/ATen/ops/narrow.h
  paddle/phi/api/include/compat/ATen/ops/narrow.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

revert rename of test files
  test/cpp/compat/CMakeLists.txt
  test/cpp/compat/compat_squeeze_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update unitest
  python/paddle/jit/sot/utils/paddle_api_config.py
  test/sot/test_builtin_dispatch.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][DocFormat] Apply review suggestion and format StackTransform example
  python/paddle/distribution/transform.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][DocFormat][52] Use pycon marker in binomial docstring examples
  python/paddle/distribution/binomial.py
Due: copyright_checker, pylint-doc-string

[PAA] Fix Windows CUDA compile error: cast to FP type before log10_local
  paddle/phi/kernels/funcs/activation_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

python/
  python/paddle/device/__init__.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][DocFormat][53] Use `pycon` for code-block marker in cauchy.py
  python/paddle/distribution/cauchy.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][DocFormat][54] Use `pycon` for code-block marker in docstring examples (`python/paddle/distribution/laplace.py`)
  python/paddle/distribution/laplace.py
Due: copyright_checker, pylint-doc-string

Fix DataLoader for non-Tensor-only batches (#77754)
  python/paddle/io/dataloader/flat.py
  test/legacy_test/test_multiprocess_dataloader_dynamic.py
Due: copyright_checker, pylint-doc-string

add div_scale in cpu and gpu (#77740)
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/eager/auto_code_generator/generator/python_c_gen.py
  paddle/fluid/primitive/codegen/decomp_vjp_gen.py
  paddle/fluid/primitive/decomp_rule/decomp_vjp/details.h
  paddle/fluid/pybind/eager_math_op_patch.cc
  paddle/phi/infermeta/spmd_rules/scale.cc
  paddle/phi/infermeta/spmd_rules/scale.h
  paddle/phi/kernels/cpu/scale_kernel.cc
  paddle/phi/kernels/funcs/eigen/elementwise.cc
  paddle/phi/kernels/gpu/scale_kernel.cu
  paddle/phi/kernels/scale_kernel.h
  paddle/phi/ops/yaml/inconsistent/dygraph_backward.yaml
  paddle/phi/ops/yaml/inconsistent/dygraph_ops.yaml
  paddle/phi/ops/yaml/op_compat.yaml
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/prim/api/manual_prim/prim_manual_api.h
  paddle/fluid/prim/api/manual_prim/static_prim_api.cc
  paddle/fluid/prim/api/manual_prim/utils/eager_utils.cc
  paddle/fluid/prim/api/manual_prim/utils/static_utils.cc
  paddle/fluid/prim/api/manual_prim/utils/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/prim/utils/static/desc_tensor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

handle positional args with torch
  python/paddle/tensor/random.py
Due: copyright_checker, pylint-doc-string

optimize paddle::Tensor in paddle/fluid/primitive
  paddle/fluid/primitive/backend/manual/manual_backend.h
  paddle/fluid/primitive/base/decomp_trans.cc
  paddle/fluid/primitive/base/lazy_tensor.h
  paddle/fluid/primitive/decomp_utils/decomp_eager_utils.cc
  paddle/fluid/primitive/decomp_utils/decomp_static_utils.cc
  paddle/fluid/primitive/decomp_utils/decomp_utils.h
  paddle/fluid/primitive/primitive/manual_primitive.h
  paddle/fluid/primitive/vjp_interface/manual/manual_vjp.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[kps] Add large-tensor safety checks for primitive entry points
  paddle/phi/kernels/funcs/broadcast_function.h
  paddle/phi/kernels/funcs/index_impl.cu.h
  paddle/phi/kernels/funcs/reduce_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/phi/kernels/funcs/broadcast_function.h
  paddle/phi/kernels/primitive/datamover_primitives.h
  paddle/phi/kernels/primitive/datamover_primitives_xpu2.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix CI for deprecated API
  python/paddle/incubate/operators/softmax_mask_fuse_upper_triangle.py
  python/paddle/utils/deprecated.py
  test/legacy_test/test_softmax_mask_fuse_upper_triangle_op.py
Due: copyright_checker, pylint-doc-string

update
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/backward_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/backward_infer_sym.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.h
  paddle/phi/ops/yaml/backward.yaml
  paddle/phi/ops/yaml/ops.yaml
  test/legacy_test/test_slow_conv_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix test
  test/legacy_test/test_softmax_mask_fuse_upper_triangle_op.py
Due: copyright_checker, pylint-doc-string

update eager.cc
  paddle/fluid/pybind/eager.cc
  paddle/fluid/pybind/eager_functions.cc
  paddle/fluid/pybind/eager_properties.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Remove file and line count approval checks
  ci/check_approval.sh
Due: copyright_checker

fix segfault, optimize performance.
  paddle/phi/backends/dynload/cublas.h
  paddle/phi/backends/gpu/gpu_context.cc
  paddle/phi/backends/gpu/gpu_context.h
  paddle/phi/kernels/gpu/linear_v2_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  CMakeLists.txt
  cmake/external/sleef.cmake
  cmake/third_party.cmake
Due: none

cp_workspace_opt
  paddle/phi/backends/dynload/cublas.h
  paddle/phi/backends/gpu/gpu_context.cc
  paddle/phi/backends/gpu/gpu_context.h
  paddle/phi/kernels/gpu/linear_v2_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix lag
  paddle/phi/backends/gpu/gpu_context.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add out param for gcd and lcm, enhance unit tests
  python/paddle/tensor/math.py
  test/legacy_test/test_gcd.py
  test/legacy_test/test_lcm.py
Due: copyright_checker, pylint-doc-string

update serialize patch
  paddle/fluid/pir/serialize_deserialize/patch/0.yaml
Due: none

patch serialize
  paddle/fluid/pir/serialize_deserialize/patch/0.yaml
Due: none

fix bugs
  paddle/phi/api/include/compat/ATen/core/TensorBody.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[API] Add cudnn_available() function to check DNN library availability
  paddle/fluid/pybind/pybind.cc
  python/paddle/device/__init__.py
  python/paddle/nn/functional/conv.py
  python/paddle/nn/layer/conv.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[API] Update affine_grid to use cudnn_available for custom devices
  python/paddle/nn/functional/vision.py
Due: copyright_checker, pylint-doc-string
