Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

Leave fake quantization around mul
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Disable int8 mul and restore fake mul
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Enable uint8 in conv_relu tensors
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Follow Wangzhen's comment in PR 18970, test=develop
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Review comments, test=develop
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Replace Fake with Real Quantized Mul
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Gather all scales from fake_quantize_ops
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

Fix buf for running QAT on VGG16 and 19
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
Due: copyright_checker

test=develop
  paddle/fluid/operators/reorder_lod_tensor_by_rank_op.cc
  python/paddle/fluid/layers/control_flow.py
Due: clang-format-with-version-check, copyright_checker

add roi backward imp test=develop
  paddle/fluid/operators/prroi_pool_op.cc
  paddle/fluid/operators/prroi_pool_op.cu
  paddle/fluid/operators/prroi_pool_op.h
Due: clang-format-with-version-check, copyright_checker

refine fc/seq_conv/seq_concat en doc (#20214)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

Fix fluid.data test=develop test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix is_empty op's EN doc test=develop
  python/paddle/fluid/layers/control_flow.py
Due: copyright_checker

test=develop
  paddle/fluid/operators/prroi_pool_op.h
Due: clang-format-with-version-check, copyright_checker

fix Attr(scale)'s bug for image_resize and modified unittest, test=develop
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_nearest_interp_op.py
  python/paddle/fluid/tests/unittests/test_trilinear_interp_op.py
Due: copyright_checker

remove useless code, StrVarBaseNode; test=develop
  paddle/fluid/framework/details/op_registry.h
  paddle/fluid/framework/grad_op_desc_maker.h
  paddle/fluid/framework/ir/conv_elementwise_add_act_fuse_pass.cc
  paddle/fluid/framework/ir/conv_elementwise_add_fuse_pass.cc
  paddle/fluid/framework/ir/embedding_fc_lstm_fuse_pass.cc
  paddle/fluid/framework/ir/fc_gru_fuse_pass.cc
  paddle/fluid/framework/ir/fc_lstm_fuse_pass.cc
  paddle/fluid/framework/ir/fuse_elewise_add_act_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass_tester.cc
  paddle/fluid/framework/op_desc.h
  paddle/fluid/framework/op_registry.h
  paddle/fluid/framework/operator.h
  paddle/fluid/imperative/engine.cc
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/layer.h
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/imperative/type_defs.h
  paddle/fluid/operators/detection/yolov3_loss_op.cc
  paddle/fluid/operators/fused/fused_elemwise_activation_op.cc
  paddle/fluid/operators/linear_chain_crf_op.cc
  paddle/fluid/operators/py_func_op.cc
Due: clang-format-with-version-check, copyright_checker

add input type and dtype check for reshape op. enhance shape error messages for reshape op. test=develop
  paddle/fluid/operators/reshape_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_reshape_op.py
Due: clang-format-with-version-check, copyright_checker

fix softmax input error check on float16
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_softmax_op.py
Due: copyright_checker

fix en api docs of while, ifelse, switch, test=develop, test=document_fix
  python/paddle/fluid/layers/control_flow.py
Due: copyright_checker

polish append_backward, test=document_fix, test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/backward.py
Due: copyright_checker

Fix ErrorClipByValue, GradientClipByGlobalNorm, GradientClipByValue
  python/paddle/fluid/clip.py
Due: copyright_checker

Cherry Pick Fix error message (#20164)
  paddle/fluid/operators/fill_constant_op.cc
  paddle/fluid/operators/reduce_ops/reduce_op.h
  python/paddle/fluid/data_feeder.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/fluid/tests/test_if_else_op.py
  python/paddle/fluid/tests/unittests/test_fill_constant_op.py
  python/paddle/fluid/tests/unittests/test_reduce_op.py
Due: clang-format-with-version-check, copyright_checker

Fix api's doc, test=develop, test=document_preview, test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/reader/decorator.py
Due: copyright_checker

modify document of 11 APIs test=develop test=document_fix
  paddle/fluid/API.spec
  paddle/fluid/operators/clip_op.cc
  paddle/fluid/operators/clip_op.cu
  paddle/fluid/operators/crop_op.cc
  paddle/fluid/operators/crop_op.cu
  paddle/fluid/operators/psroi_pool_op.cc
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/nets.py
Due: clang-format-with-version-check, copyright_checker

fix API doc, solve conflict, test=develop, test=document_fix (#20196)
  .pre-commit-config.yaml
  paddle/fluid/API.spec
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/linear_chain_crf_op.cc
  python/paddle/fluid/layers/metric_op.py
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

add paddle_enforce_eq in bcast_dims
  paddle/fluid/operators/expand_as_op.h
Due: clang-format-with-version-check, copyright_checker

add unit test
  python/paddle/fluid/tests/unittests/test_expand_as_op.py
Due: copyright_checker

fix some bugs
  paddle/fluid/operators/expand_as_op.cc
  paddle/fluid/operators/expand_as_op.cu
  paddle/fluid/operators/expand_as_op.h
Due: clang-format-with-version-check, copyright_checker

update API.spec. test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/io.py
  python/paddle/reader/decorator.py
Due: copyright_checker

polish en doc fluid.data in lstms, test=document_fix, test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

test=document_fix test=develop fix API Difference for retinanet_target_assign and retinanet_detection_output
  paddle/fluid/API.spec
Due: none

fix cvm example test=develop test=document_preview test=document_fix
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix fluid.data code example, test=develop, test=document_preview, test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

fix some en doc test=develop test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/reader/decorator.py
Due: copyright_checker

fix new fluid.data API.spec test=develop test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

refine seq_pool/reshape/reverse test=develop, test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
