Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

Update paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/paddle_op_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/paddle_op_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

la
  test/ir/inference/test_trt_ops_fp16_mix_precision.py
Due: copyright_checker, pylint-doc-string

fix bug of 0d to 1d
  paddle/cinn/hlir/dialect/operator/transforms/group_merge/convert_0d_to_1d_pass.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add stable diffusion sub graphs
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_0_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_10_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_11_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_12_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_13_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_14_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_15_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_16_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_17_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_18_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_19_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_1_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_20_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_21_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_22_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_23_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_24_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_25_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_2_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_3_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_4_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_5_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_6_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_7_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_8_st.py
  test/ir/pir/cinn/symbolic/test_sub_graph_stable_diffusion_9_st.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/fluid/inference/tensorrt/plugin/anchor_generator_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/anchor_generator_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/deformable_conv_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/deformable_conv_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/trt_plugin.cc
  paddle/fluid/inference/tensorrt/plugin/yolo_box_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/yolo_box_op_plugin.h
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/memory/allocation/stream_safe_cuda_allocator.cc
  paddle/fluid/memory/allocation/stream_safe_cuda_allocator.h
  paddle/fluid/memory/allocation/stream_safe_custom_device_allocator.cc
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/phi/core/kernel_factory.cc
  paddle/phi/core/os_info.h
  paddle/phi/core/selected_rows_impl.cc
  paddle/phi/core/sparse_csr_tensor.h
  paddle/phi/core/storage_properties.h
  paddle/phi/core/stream.h
  paddle/phi/core/tensor_array.h
  paddle/phi/core/threadpool.cc
  paddle/phi/core/threadpool.h
  paddle/phi/kernels/gpu/matrix_rank_tol_kernel.cu
  paddle/phi/kernels/gpu/shuffle_batch_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/op_generator/python_c_gen.py
  paddle/fluid/pybind/manual_static_op_function.h
  paddle/fluid/pybind/op_callstack_utils.cc
  paddle/fluid/pybind/op_callstack_utils.h
  paddle/phi/kernels/impl/add_n_kernel_impl.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

remove optional
  paddle/fluid/eager/auto_code_generator/generator/codegen_utils.py
  paddle/fluid/prim/api/composite_backward/composite_double_backward_api.h
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/kernels/activation_grad_kernel.h
  paddle/phi/kernels/impl/activation_grad_impl.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update median add min mode
  python/paddle/tensor/stat.py
  test/legacy_test/test_median.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/pybind/manual_static_op_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cannel registry slice STRIDED kernel for custom
  paddle/phi/kernels/stride/slice_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

修改op_teller.cc+命名规则
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/pybind/inference_api.cc
  test/ir/inference/test_forbid_dynamic_op_api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

修改函数名称
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pybind/op_callstack_utils.cc
  paddle/fluid/pybind/op_callstack_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix bug
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

xpu support sharding stage3 and other minor fix (#57457)
  paddle/phi/backends/xpu/xpu2_op_list.cc
  python/paddle/distributed/fleet/meta_parallel/sharding/group_sharded_stage3.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[PIR] add pir executor mode check (#62362)
  python/paddle/base/framework.py
  test/ir/pir/test_pir_executor_flag.py
Due: copyright_checker, pylint-doc-string

[CINN]Fix op lowering reshape yield bug (#62391)
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[PHI kernels] add tf32 fc quantization mode; fix pool3d, conv3d test failure (#62273)
  paddle/phi/kernels/xpu/xpu_api_wrapper.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update conv2d_bn_fuse_pass
  paddle/fluid/pir/transforms/fusion/conv2d_bn_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix group copy
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
  paddle/cinn/hlir/framework/pir/group.cc
  test/ir/pir/cinn/sub_graphs/test_sub_graph_70.py
  test/ir/pir/cinn/sub_graphs/test_sub_graph_79.py
  test/ir/pir/cinn/sub_graphs/test_sub_graph_88.py
  test/ir/pir/cinn/sub_graphs/test_sub_graph_mul_method.py
  test/ir/pir/cinn/symbolic/test_llama_mlp_dy.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

support symbol in `starts` and `ends`
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/cinn_op_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/infer_sym_slice_utils.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/paddle_op_infer_sym.cc
  paddle/fluid/pir/transforms/shape_optimization_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

adopt for new api name
  paddle/fluid/pybind/pir.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Add unittest of llama while (#62393)
  test/ir/pir/cinn/inference/test_llama_while.py
Due: copyright_checker, pylint-doc-string

Paddle Inference TRT通用plugin支持HWC format
  paddle/fluid/framework/ir/conv_elementwise_add_fuse_pass.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/plugin/generic_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/generic_plugin.h
  test/ir/inference/test_trt_convert_conv2d.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

commit
  paddle/cinn/hlir/dialect/operator/transforms/cinn_group_cluster_pass.cc
  paddle/cinn/hlir/framework/op_lowering_impl.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

添加sparce 的复数
  paddle/phi/kernels/sparse/cpu/sparse_utils_kernel.cc
  paddle/phi/kernels/sparse/gpu/sparse_utils_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

manual flash_attn
  paddle/fluid/eager/auto_code_generator/generator/python_c_gen.py
  paddle/fluid/pybind/eager_custom_python_api.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[oneDNN] Add op conv2d_transpose_bias (#62241)
  paddle/fluid/framework/ir/conv_bn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/mkldnn_pass_util.h
  paddle/fluid/operators/compat/conv2d_transpose_bias.pbtxt
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/api/yaml/static_ops.yaml
  paddle/phi/kernels/onednn/conv_transpose_kernel.cc
  test/cpp/fluid/mkldnn/CMakeLists.txt
  test/cpp/fluid/mkldnn/test_mkldnn_conv2d_transpose_bias.cc
  test/ir/inference/test_conv_transpose_bn_fuse_pass.py
  test/ir/inference/test_mkldnn_conv_transpose_bias_fuse_pass.py
  test/mkldnn/test_conv2d_transpose_mkldnn_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix UT
  paddle/cinn/hlir/framework/pir/utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[SOT][3.12] Filter out duplicate store vars
  python/paddle/jit/sot/opcode_translator/executor/opcode_executor.py
Due: copyright_checker, pylint-doc-string

enable test for jump
  test/sot/skip_files_py312
Due: none

[CINN] Add `ElinimateCommonFactorOfLocalIndex` pass in `OptimizeExprGPU` (#62207)
  paddle/cinn/ir/group_schedule/st_shape_group_scheduler.cc
  paddle/cinn/optim/CMakeLists.txt
  paddle/cinn/optim/eliminate_common_factor_of_local_index.cc
  paddle/cinn/optim/eliminate_common_factor_of_local_index.h
  paddle/cinn/optim/transform_gpu_forloop.cc
  paddle/cinn/utils/CMakeLists.txt
  paddle/cinn/utils/external_func_names.cc
  paddle/cinn/utils/external_func_names.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update cudnn==9.0.0
  tools/dockerfile/build_scripts/install_cudnn.sh
  tools/dockerfile/centos7_manylinux.sh
  tools/dockerfile/ubuntu20_dev.sh
Due: copyright_checker

Using allreduce_avg to eliminate scale in auto parallel DP (#61622)
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/operators/collective/c_allreduce_avg_op.cc
  paddle/fluid/operators/collective/c_allreduce_avg_op.cu.cc
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/c_reduce_avg_op.cc
  paddle/fluid/operators/collective/c_reduce_avg_op.cu.cc
  paddle/fluid/operators/collective/c_reduce_op.h
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  paddle/phi/api/yaml/op_compat.yaml
  python/env_dict.py.in
  python/paddle/distributed/auto_parallel/constants.py
  python/paddle/distributed/auto_parallel/static/dist_context.py
  python/paddle/distributed/auto_parallel/static/dist_op.py
  python/paddle/distributed/auto_parallel/static/engine.py
  python/paddle/distributed/auto_parallel/static/operators/common.py
  python/paddle/distributed/auto_parallel/static/utils.py
  python/paddle/distributed/passes/auto_parallel_data_parallel_optimization.py
  python/paddle/distributed/passes/auto_parallel_sharding.py
  python/setup.py.in
  setup.py
  test/auto_parallel/sharding_pass_unittest.py
  test/auto_parallel/test_dist_embedding.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add utest
  test/collective/fleet/hybrid_parallel_shared_weight.py
Due: copyright_checker, pylint-doc-string

refine
  paddle/fluid/pybind/eager_custom_python_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update paddle_coverage.sh
  tools/coverage/paddle_coverage.sh
Due: copyright_checker

fix
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/fluid/pir/dialect/operator/utils/utils.cc
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
  test/ir/pir/translator/CMakeLists.txt
  test/ir/pir/translator/test_partial_recv_translator.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Update cudnn==9.0.0
  tools/dockerfile/centos7_manylinux.sh
  tools/dockerfile/ubuntu20_dev.sh
Due: copyright_checker

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

