Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

Create densenet.py
  python/paddle/vision/models/densenet.py
Due: pylint-doc-string, copyright_checker

Update __init__.py
  python/paddle/vision/models/__init__.py
Due: pylint-doc-string, copyright_checker

finish alpha dropout unittest
  python/paddle/fluid/tests/unittests/test_alpha_dropout.py
Due: pylint-doc-string, copyright_checker

Update test_vision_models.py
  python/paddle/tests/test_vision_models.py
Due: pylint-doc-string, copyright_checker

[NPU] fix elementwise_mul to support broadcast, test=develop
  paddle/fluid/operators/elementwise/CMakeLists.txt
  paddle/fluid/operators/elementwise/elementwise_mul_op_npu.cc
  paddle/fluid/operators/elementwise/elementwise_mul_op_test.cc
  python/paddle/fluid/tests/unittests/npu/test_elementwise_mul_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Update __init__.py
  python/paddle/vision/__init__.py
Due: pylint-doc-string, copyright_checker

reverted deleting concat bf16 test file
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_mkldnn_op.py
Due: pylint-doc-string, copyright_checker

fixed concat tests
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_mkldnn_op.py
Due: pylint-doc-string, copyright_checker

fixed test error on device without gpu
  python/paddle/fluid/tests/unittests/test_alpha_dropout.py
Due: pylint-doc-string, copyright_checker

add device test
  python/paddle/fluid/tests/unittests/rnn/test_rnn_cells.py
Due: pylint-doc-string, copyright_checker

modify AlexNet API
  python/paddle/vision/models/alexnet.py
Due: pylint-doc-string, copyright_checker

debug
  paddle/fluid/framework/operator.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
Due: pylint-doc-string, copyright_checker

Added concat BF16/FP32 BWD OneDNN kernel (#35889)
  paddle/fluid/operators/concat_op.cc
  paddle/fluid/operators/mkldnn/concat_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_concat_mkldnn_op.py
  python/paddle/fluid/tests/unittests/test_concat_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add ut, fix CI compile
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/framework/parallel_executor.h
  python/paddle/fluid/tests/unittests/test_cuda_graph.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add FLAGS_allreduce_record_one_event
  paddle/fluid/framework/details/computation_op_handle.cc
  paddle/fluid/framework/details/fused_all_reduce_op_handle.cc
  paddle/fluid/framework/details/fused_all_reduce_op_handle.h
  paddle/fluid/platform/flags.cc
  python/paddle/fluid/tests/unittests/dist_mnist.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add more comments
  paddle/fluid/platform/flags.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

modify LeNet
  python/paddle/vision/models/lenet.py
Due: pylint-doc-string, copyright_checker

fix ut
  python/paddle/fluid/tests/unittests/dist_mnist.py
  python/paddle/fluid/tests/unittests/test_dist_mnist_train.py
Due: pylint-doc-string, copyright_checker

reduce memory consumption
  python/paddle/fluid/tests/unittests/test_cuda_graph.py
Due: pylint-doc-string, copyright_checker

improve coverage
  python/paddle/fluid/tests/unittests/test_dist_mnist_train.py
  python/paddle/fluid/tests/unittests/test_dist_mnist_with_program.py
Due: pylint-doc-string, copyright_checker

fix CUDA 10 CI
  python/paddle/fluid/tests/unittests/test_cuda_graph.py
Due: pylint-doc-string, copyright_checker

Customerized Pruning Function in ASP
  python/paddle/fluid/contrib/sparsity/__init__.py
  python/paddle/fluid/contrib/sparsity/asp.py
Due: pylint-doc-string, copyright_checker

Added unittests to ASP.add_supported_layer.
  python/paddle/fluid/tests/unittests/asp/test_asp_customized_pruning.py
Due: pylint-doc-string, copyright_checker

Added oneDNN BF16 relu
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_bf16_mkldnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fixed typo
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

improve coverage
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/operators/cast_op.cu
  python/paddle/fluid/tests/unittests/test_cuda_graph.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix cast cuda implementation
  paddle/fluid/operators/cast_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refactored test, review fixes
  python/paddle/fluid/tests/unittests/mkldnn/test_activation_bf16_mkldnn_op.py
Due: pylint-doc-string, copyright_checker

fix ut, improve coverage
  python/paddle/fluid/tests/unittests/test_dist_mnist_fleetapi.py
  python/paddle/fluid/tests/unittests/test_dist_mnist_with_program.py
Due: pylint-doc-string, copyright_checker

improve python coverage
  python/paddle/fluid/tests/unittests/test_cuda_graph.py
Due: pylint-doc-string, copyright_checker

add trick to avoid bug
  paddle/fluid/operators/dropout_impl.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

uploadTest
  uploadTest.txt
Due: none

Add AdaptiveLogSoftmaxWithLoss
  python/paddle/nn/__init__.py
  python/paddle/nn/layer/__init__.py
  python/paddle/nn/layer/loss.py
Due: pylint-doc-string, copyright_checker

modify some comments
  python/paddle/vision/__init__.py
  python/paddle/vision/models/__init__.py
Due: pylint-doc-string, copyright_checker

stage 2 first commit
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

add upsampleingnearst unittest
  python/paddle/fluid/tests/unittests/test_upsamplingnearest2D.py
Due: pylint-doc-string, copyright_checker
