Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

fix coverage rate
  test/cpp/compat/c10_layout_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update convert_utils.cc
  paddle/phi/core/compat/convert_utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Test non-compat ABI symbol deletion
  paddle/phi/api/include/compat/c10/core/DefaultDtype.cpp
  paddle/phi/api/include/compat/c10/core/DefaultDtype.h
  paddle/phi/common/place.cc
  paddle/phi/common/place.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Implemented on the layer
  python/paddle/compat/nn/__init__.py
  python/paddle/nn/layer/layers.py
  test/legacy_test/test_api_compatibility_part3.py
Due: copyright_checker, pylint-doc-string

Revert "Add ABI symbol compatibility check"
  ci/static_check.sh
  tools/check_abi_compatibility.py
  tools/test_check_abi_compatibility.py
Due: copyright_checker, pylint-doc-string

update
  test/legacy_test/test_cuda_graph.py
Due: copyright_checker, pylint-doc-string

Implemented on the layer
  python/paddle/nn/layer/layers.py
Due: copyright_checker, pylint-doc-string

fix master weight logit
  python/paddle/distributed/fleet/meta_optimizers/muon_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

Implemented on the layer
  python/paddle/nn/layer/layers.py
  test/legacy_test/test_api_compatibility_part3.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/cpu/fused_adam_kernel.cc
  paddle/phi/kernels/gpu/fused_adam_kernel.cu
  python/paddle/distributed/auto_parallel/api.py
  python/paddle/static/amp/decorator.py
  test/cpp/phi/kernels/test_fused_adam_kernel.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update platform::DeviceContextPool
  paddle/fluid/distributed/collective/async_load.cc
  paddle/fluid/distributed/collective/process_group_flagcx.cc
  paddle/fluid/distributed/collective/process_group_nccl.cc
  paddle/fluid/framework/new_executor/collect_shape_manager.cc
  paddle/phi/core/platform/device_type.h
  test/cpp/inference/tensorrt/test_tensorrt_engine_instruction.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Bug fix
  python/paddle/compat/nn/__init__.py
  test/legacy_test/test_api_compatibility_part3.py
  test/legacy_test/test_compat_nn_linear.py
Due: copyright_checker, pylint-doc-string

update instruction_util.cc
  paddle/fluid/framework/new_executor/instruction/instruction_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

release memory in muon optimizer
  python/paddle/distributed/fleet/meta_optimizers/muon_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/framework/new_executor/instruction/instruction_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

release memory in muon optimizer (#78856)
  python/paddle/distributed/fleet/meta_optimizers/muon_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

fix dcu build
  test/cpp/compat/c10_Stream_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/api/include/compat/c10/cuda/CUDAGuard.h
  paddle/phi/api/include/compat/torch/csrc/api/include/torch/cuda.cpp
  test/cpp/compat/ATen_CUDAContext_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/api/include/compat/ATen/core/TensorBase.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix win
  paddle/phi/kernels/cpu/full_kernel.cc
  paddle/phi/kernels/gpu/full_kernel.cu
  test/legacy_test/test_fused_adam_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/api/include/compat/ATen/core/ivalue.h
  paddle/phi/api/include/compat/ATen/ops/chunk.h
  paddle/phi/api/include/compat/ATen/ops/expand.h
  paddle/phi/api/include/compat/ATen/ops/sparse_csr_tensor.h
  test/cpp/compat/ATen_chunk_test.cc
  test/cpp/compat/c10_layout_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Restrict ABI check to compat symbols
  tools/check_abi_compatibility.py
  tools/test_check_abi_compatibility.py
Due: copyright_checker, pylint-doc-string

fix
  test/cpp/fluid/dropout_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update phi::dtype::float16 in cpp tests
  test/cpp/eager/data_structure_tests/accumulation_node_test.cc
  test/cpp/fluid/beam_search_decode_op_test.cc
  test/cpp/fluid/framework/data_layout_transform_test.cc
  test/cpp/fluid/framework/data_type_test.cc
  test/cpp/fluid/framework/data_type_transform_test.cc
  test/cpp/fluid/framework/data_type_transform_test.cu
  test/cpp/fluid/framework/ir/delete_weight_dequant_linear_op_pass_test.cc
  test/cpp/fluid/framework/ir/fusion_group/code_generator_test.cc
  test/cpp/fluid/framework/op_kernel_type_test.cc
  test/cpp/fluid/framework/tensor_test.cc
  test/cpp/fluid/framework/tensor_util_test.cc
  test/cpp/fluid/framework/tensor_util_test.cu
  test/cpp/fluid/fused/cudnn_bn_add_relu_test.cc
  test/cpp/fluid/fused/cudnn_norm_conv_test.cc
  test/cpp/fluid/fused/fused_dropout_act_bias_test.cu
  test/cpp/fluid/fused/fused_layernorm_residual_dropout_bias_test.cu
  test/cpp/fluid/fused/fused_residual_dropout_bias_test.cu
  test/cpp/fluid/platform/bfloat16_test.cc
  test/cpp/fluid/platform/bfloat16_test.cu
  test/cpp/fluid/platform/device/gpu/cuda_helper_test.cu
  test/cpp/fluid/platform/float16_test.cc
  test/cpp/fluid/platform/float16_test.cu
  test/cpp/fluid/save_load_combine_op_test.cc
  test/cpp/fluid/save_load_combine_op_test_xpu.cc
  test/cpp/fluid/save_load_op_test.cc
  test/cpp/fluid/save_load_op_test_xpu.cc
  test/cpp/fluid/tensorrt/test_dynamic_engine.cc
  test/cpp/imperative/test_gradient_accmulator.cc
  test/cpp/imperative/test_group.cc
  test/cpp/inference/api/paddle_infer_api_copy_tensor_tester.cc
  test/cpp/inference/api/tester_helper.h
  test/cpp/phi/api/scale_api.h
  test/cpp/phi/common/test_scalar.cu
  test/cpp/phi/core/data_type_transform_test_xpu.cc
  test/cpp/phi/core/test_kernel_factory.cc
  test/cpp/phi/kernels/test_math_function.cu
  test/cpp/phi/kernels/test_ternary_broadcast.cu
  test/tools/test_gpu_kernel_compare.py
  test/xpu/cpp/beam_search_decode_op_xpu_test.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

optimize code in phi/common tests
  test/cpp/phi/common/test_backend.cc
  test/cpp/phi/common/test_data_layout.cc
  test/cpp/phi/common/test_data_type.cc
  test/cpp/phi/common/test_int_array.cc
  test/cpp/phi/common/test_place.cc
  test/cpp/phi/common/test_scalar.cc
  test/cpp/phi/common/test_scalar.cu
  test/cpp/phi/common/transform_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/cpp/fluid/framework/data_type_test.cc
  test/cpp/fluid/framework/op_kernel_type_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update scope_test.cc
  test/cpp/fluid/framework/scope_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/cpp/fluid/platform/device/gpu/cuda_helper_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  paddle/fluid/inference/tensorrt/convert/bilinear_interp_v2_op.cc
  paddle/fluid/inference/tensorrt/convert/c_allreduce_op.cc
  paddle/fluid/inference/tensorrt/convert/cross_multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/flash_multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/fused_token_prune_op.cc
  paddle/fluid/inference/tensorrt/convert/linear_interp_v2_op.cc
  paddle/fluid/inference/tensorrt/convert/matrix_multiply_op.cc
  paddle/fluid/inference/tensorrt/convert/multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/multihead_matmul_roformer_op.cc
  paddle/fluid/inference/tensorrt/convert/nearest_interp_op.cc
  paddle/fluid/inference/tensorrt/convert/nearest_interp_v2_op.cc
  paddle/fluid/inference/tensorrt/convert/op_converter.h
  paddle/fluid/inference/tensorrt/convert/preln_residual_bias.cc
  paddle/fluid/inference/tensorrt/convert/skip_layernorm.cc
  paddle/fluid/inference/tensorrt/convert/sparse_multihead_matmul_op.cc
  paddle/fluid/inference/tensorrt/convert/unary_op.cc
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/inference/tensorrt/helper.h
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/pir/generic_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/custom_generic_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/elementwiseadd_transpose_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/generic_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/group_norm_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/trans_layernorm_op_plugin.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/core/dense_tensor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

optimize paddle::DataType in phi kernels
  paddle/phi/kernels/gpu/layer_norm_kernel.cu
  paddle/phi/kernels/gpu/moe_permute_utils.h
  paddle/phi/kernels/gpu/moe_unpermute_kernel.cu
  paddle/phi/kernels/gpu/rms_norm_funcs.h
  paddle/phi/kernels/legacy/gpu/batched_gemm.cu
  paddle/phi/kernels/legacy/gpu/fast_layernorm_grad_kernel.cu
  paddle/phi/kernels/legacy/gpu/fast_layernorm_kernel.cu
  paddle/phi/kernels/legacy/gpu/fast_rmsnorm_grad_kernel.cu
  paddle/phi/kernels/legacy/gpu/fast_rmsnorm_kernel.cu
  paddle/phi/kernels/legacy/gpu/moe_ops_partial_nosoftmaxtopk_kernel.cu
  paddle/phi/kernels/onednn/conv_function.h
  paddle/phi/kernels/onednn/conv_grad_kernel.cc
  paddle/phi/kernels/sparse/cpu/conv_kernel.cc
  paddle/phi/kernels/sparse/cpu/sum_kernel.cc
  paddle/phi/kernels/sparse/gpu/conv_kernel.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel_igemm.cu
  paddle/phi/kernels/sparse/gpu/sum_kernel.cu
  paddle/phi/kernels/xpu/moe_combine_grad_kernel.cc
  paddle/phi/kernels/xpu/moe_combine_kernel.cc
  paddle/phi/kernels/xpu/moe_gate_dispatch_grad_kernel.cc
  paddle/phi/kernels/xpu/moe_gate_dispatch_kernel.cc
  paddle/phi/kernels/xpu/moe_unpermute_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/inference/tensorrt/pir/generic_plugin.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/ternary.cc
  paddle/phi/kernels/gpu/layer_norm_grad_kernel.cu
  paddle/phi/kernels/legacy/gpu/ln.cu
  paddle/phi/kernels/legacy/gpu/ln.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update reshard_utils.h
  paddle/phi/core/distributed/auto_parallel/reshard/reshard_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

