Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

[Kunlun]PR3: add xpu executor, multi xpu card train function optimization (#30317) (#30535)
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/details/CMakeLists.txt
  paddle/fluid/framework/details/bind_threaded_ssa_graph_executor.cc
  paddle/fluid/framework/details/bind_threaded_ssa_graph_executor.h
  paddle/fluid/framework/details/op_handle_base.cc
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/platform/device_context.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[Cherry-Pick] Fix bug: GetAttrValue should deal with attr with attrType vector<double>
  paddle/fluid/framework/attribute.cc
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_slice.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

modify abs_grad, abs_grad_grad functor for windows building
  paddle/fluid/operators/abs_op.cc
  paddle/fluid/operators/abs_op.h
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/math/complex_functors.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

support layer_norm fp16 in dygraph amp (#30430)
  paddle/fluid/imperative/amp_auto_cast.cc
  paddle/fluid/imperative/amp_auto_cast.h
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/tests/unittests/test_imperative_auto_mixed_precision.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

use nvtx push pop in timeline, test=develop
  paddle/fluid/platform/CMakeLists.txt
  paddle/fluid/platform/cuda_profiler.h
  paddle/fluid/platform/dynload/CMakeLists.txt
  paddle/fluid/platform/dynload/dynamic_loader.cc
  paddle/fluid/platform/dynload/nvtx.cc
  paddle/fluid/platform/dynload/nvtx.h
  paddle/fluid/platform/profiler.cc
  paddle/fluid/platform/profiler.h
  paddle/fluid/platform/profiler_helper.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add
  paddle/fluid/memory/allocation/CMakeLists.txt
  paddle/fluid/platform/CMakeLists.txt
  paddle/fluid/platform/ascend_npu_info.cc
  paddle/fluid/platform/ascend_npu_info.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/distributed/fleet/launch.py
  python/paddle/distributed/fleet/launch_utils.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Fix bug of supporting channelwise dygraph quantized model, test=develop (#30531) (#30545)
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
Due: pylint-doc-string, copyright_checker

Pd2.0 (#30532)
  cmake/external/xpu.cmake
  paddle/fluid/operators/layer_norm_op_xpu.cc
  paddle/fluid/operators/matmul_op_xpu.cc
  paddle/fluid/operators/matmul_v2_op_xpu.cc
  paddle/fluid/operators/one_hot_v2_op_xpu.cc
  paddle/fluid/operators/range_op_xpu.cc
  paddle/fluid/operators/scale_op_xpu.cc
  paddle/fluid/operators/softmax_op_xpu.cc
  python/paddle/fluid/tests/unittests/xpu/test_matmul_v2_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_one_hot_v2_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_range_xpu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add
  paddle/fluid/platform/CMakeLists.txt
  paddle/fluid/platform/ascend_npu_info.cc
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

change year, test=develop
  paddle/fluid/platform/dynload/nvtx.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add
  paddle/fluid/platform/ascend_npu_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Collect weight threshold for lstm op in post_training_quantization, test=develop (#30515)
  python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
  python/paddle/fluid/contrib/slim/tests/test_post_training_quantization_lstm_model.py
Due: pylint-doc-string, copyright_checker

add #ifdef PADDLE_WITH_CUDA, test=develop
  paddle/fluid/platform/profiler.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update kunlun dependence for aarch64 & sunway platform (#30516)
  cmake/external/xpu.cmake
Due: none

performance for topo memcopy; test=develop
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm.tpp
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix error message of Inplace strategy (#30520)
  paddle/fluid/imperative/basic_engine.cc
  paddle/fluid/imperative/variable_wrapper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

unify calling cudaSetDevice (#30470)
  paddle/fluid/framework/details/nccl_op_handle.h
  paddle/fluid/framework/details/op_handle_base.cc
  paddle/fluid/framework/fleet/nccl_wrapper.cc
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/memory/malloc_test.cu
  paddle/fluid/platform/collective_helper.cc
  paddle/fluid/platform/gpu_info.cc
  paddle/fluid/platform/nccl_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix, test=develop
  paddle/fluid/pybind/tensor_py.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Cherry-pick PR 30520. fix error message of Inplace strategy (#30520)
  paddle/fluid/imperative/basic_engine.cc
  paddle/fluid/imperative/variable_wrapper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add paddle.
  python/paddle/fluid/dygraph/dygraph_to_static/convert_call_func.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
Due: pylint-doc-string, copyright_checker

format code style
  paddle/fluid/operators/math/complex_functors.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

【Cherry-Pick】add trainer number for pserver (#30524)
  paddle/fluid/distributed/fleet.cc
  paddle/fluid/distributed/fleet.h
  paddle/fluid/distributed/service/brpc_ps_server.cc
  paddle/fluid/distributed/service/env.h
  paddle/fluid/distributed/service/service.cc
  paddle/fluid/distributed/service/service.h
  python/paddle/distributed/fleet/runtime/the_one_ps.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Ascend Framework Part2: pybind files (#30410) (#30547)
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/ascend_wrapper_py.cc
  paddle/fluid/pybind/ascend_wrapper_py.h
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add
  paddle/fluid/platform/ascend_npu_info.cc
  paddle/fluid/platform/ascend_npu_info.h
  paddle/fluid/pybind/pybind.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Ascend Framework Part1: OP & Wrapper (#30281) (#30546)
  CMakeLists.txt
  cmake/configure.cmake
  cmake/external/ascend.cmake
  cmake/third_party.cmake
  paddle/fluid/framework/fleet/CMakeLists.txt
  paddle/fluid/framework/fleet/ascend_wrapper.cc
  paddle/fluid/framework/fleet/ascend_wrapper.h
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/ascend_trigger_op.cc
  paddle/fluid/operators/ascend_trigger_op.h
  python/paddle/fluid/tests/unittests/test_ascend_trigger.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Ascend Framework Part3: Ascend Parser (#30391) (#30549)
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/ascend/ascend_parser.py
Due: pylint-doc-string, copyright_checker

[2.0 API] device guard (#30307) (#30562)
  python/paddle/fluid/framework.py
  python/paddle/fluid/tests/unittests/test_device_guard.py
  python/paddle/static/__init__.py
Due: pylint-doc-string, copyright_checker

Fix the compiling error of update_loss_scaling when using cuda9. (#30538)
  paddle/fluid/operators/amp/update_loss_scaling_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[Cherry-pick]Fix the compiling error of update_loss_scaling when using cuda9.(#30538) #30539
  paddle/fluid/operators/amp/update_loss_scaling_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add
  paddle/fluid/platform/ascend_npu_info.cc
  paddle/fluid/platform/ascend_npu_info.h
  paddle/fluid/pybind/ascend_wrapper_py.cc
  paddle/fluid/pybind/ascend_wrapper_py.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/distributed/fleet/launch_utils.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add fleet amp.init()
  python/paddle/distributed/fleet/base/fleet_base.py
  python/paddle/fluid/contrib/mixed_precision/fp16_lists.py
Due: pylint-doc-string, copyright_checker

update eigen version on Windows, test=develop
  cmake/external/eigen.cmake
  paddle/fluid/platform/device_context.cc
  patches/eigen/Tensor
  patches/eigen/TensorBlock.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add acclerators
  python/paddle/distributed/fleet/launch_utils.py
Due: pylint-doc-string, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
