Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


modify some code
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[phi] fix sequence_pool_sig sum
  paddle/phi/ops/compat/sequence_pool_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[Bug Fixs] fix bugs when using cast<int64_t, int32_t> in xpu/cross_entropy kernels, *test=kunlun
  paddle/phi/kernels/xpu/cross_entropy_grad_kernel.cc
  paddle/phi/kernels/xpu/cross_entropy_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add test
  python/paddle/fluid/tests/unittests/test_nextafter_op.py
Due: copyright_checker, pylint-doc-string

[Change]将测试用例移动到新的目录下
  test/distribution/test_distribution_cauchy.py
  test/distribution/test_distribution_cauchy_static.py
Due: copyright_checker, pylint-doc-string

remove 1 unitest of Hessian for numerical result is wrong
  test/autograd/test_autograd_dynamic.py
Due: copyright_checker, pylint-doc-string

modify numel in lbfgs and add a new test case. test=develop
  python/paddle/fluid/tests/unittests/test_lbfgs_v2.py
  python/paddle/incubate/optimizer/lbfgs.py
Due: copyright_checker, pylint-doc-string

change param 'lr' to 'learning_rate' in lbfgs and its test
  python/paddle/fluid/tests/unittests/test_lbfgs_v2.py
  python/paddle/incubate/optimizer/lbfgs.py
Due: copyright_checker, pylint-doc-string

[Paddle-TRT] The Graph uses OpConverterType for op converter (#53214)
  paddle/fluid/inference/tensorrt/convert/op_converter.h
  paddle/fluid/inference/tensorrt/convert/test_custom_plugin_creater.cc
  paddle/fluid/inference/tensorrt/convert/test_op_converter.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  paddle/fluid/inference/tensorrt/op_teller.h
  paddle/fluid/operators/tensorrt/tensorrt_engine_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update 2023-04-25
  python/paddle/fluid/dygraph/varbase_patch_methods.py
  python/paddle/jit/dy2static/ast_utils.py
  python/paddle/jit/dy2static/utils.py
  test/dygraph_to_static/test_tensor_hook.py
Due: copyright_checker, pylint-doc-string

test
  paddle/fluid/inference/api/paddle_analysis_config.h
Due: copyright_checker, clang-format, cpplint-cpp-source

add git
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

tile op support 0D input for xpu (#53237)
  paddle/phi/kernels/xpu/tile_kernel.cc
  test/xpu/test_tile_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

convtranspose1d_quant_fix
  python/paddle/static/quantization/post_training_quantization.py
  python/paddle/static/quantization/quantization_pass.py
Due: copyright_checker, pylint-doc-string

fix bugs when using cast<int64_t, int32_t> in xpu/cross_entropy kernels, *test=kunlun
  paddle/phi/kernels/xpu/cross_entropy_grad_kernel.cc
  paddle/phi/kernels/xpu/cross_entropy_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update
  CMakeLists.txt
  cmake/PaddleConfig.cmake.in
  cmake/inference_lib.cmake
  cmake/version.cmake
Due: none

fix cn doc problems, test=document_fix
  python/paddle/fluid/framework.py
Due: copyright_checker, pylint-doc-string

test,test=develop (#53301)
  paddle/fluid/distributed/collective/process_group.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[phi] try ci
  paddle/phi/ops/compat/sequence_pool_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

refine opfin create
  paddle/ir/op_info_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[fluid clean] remove Print. (#51778)
  python/paddle/fluid/layers/control_flow.py
  python/paddle/fluid/layers/learning_rate_scheduler.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/dist_fleet_heter_pipeline_ctr.py
  python/paddle/fluid/tests/unittests/test_switch.py
  python/paddle/jit/dy2static/convert_operators.py
  python/paddle/nn/layer/rnn.py
  python/paddle/reader/decorator.py
  python/paddle/static/__init__.py
  python/paddle/static/nn/control_flow.py
  test/contrib/test_multi_precision_fp16_train.py
  test/ipu/test_print_op_ipu.py
Due: copyright_checker, pylint-doc-string

[static op generation] tile
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/ops/compat/tile_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

refine
  python/paddle/fluid/framework.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

Fix fused_attention_op and fused_feedforward_op bugs in xpu
  paddle/phi/kernels/fusion/xpu/fused_feedforward_grad_kernel.cc
  paddle/phi/kernels/fusion/xpu/fused_feedforward_kernel.cc
  paddle/phi/kernels/xpu/fused_attention_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[Fix Patch Error] Fix patch error in cmake
  cmake/external/eigen.cmake
  cmake/external/gloo.cmake
  cmake/external/gtest.cmake
  cmake/external/pybind11.cmake
Due: none

test,test=develop
  paddle/fluid/distributed/ps/service/server.h
  paddle/fluid/distributed/ps/table/common_table.h
  paddle/fluid/distributed/ps/table/table.h
  paddle/fluid/framework/data_feed.h
  paddle/fluid/framework/data_set.h
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/no_need_buffer_vars_inference.h
  paddle/fluid/framework/op_registry.h
  paddle/fluid/inference/api/paddle_api.h
  paddle/phi/core/kernel_registry.h
  paddle/phi/kernels/empty_kernel.cc
  paddle/phi/kernels/funcs/compound_functors.h
  paddle/phi/kernels/funcs/elementwise_functor.h
  paddle/phi/kernels/funcs/for_range.h
  paddle/phi/kernels/funcs/reduce_functor.h
  paddle/phi/kernels/impl/meshgrid_grad_kernel_impl.h
  paddle/phi/kernels/impl/reduce_grad.h
  paddle/phi/kernels/impl/set_value_grad_kernel_impl.h
  paddle/phi/kernels/onednn/conv_handler.h
Due: copyright_checker, clang-format, cpplint-cpp-source

refine code of search method of ircontext
  paddle/ir/dialect.h
  paddle/ir/ir_context.cc
  paddle/ir/ir_context.h
  test/cpp/ir/ir_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

conv1dquantfix
  python/paddle/static/quantization/post_training_quantization.py
  python/paddle/static/quantization/quantization_pass.py
Due: copyright_checker, pylint-doc-string

refine windows build.bat
  paddle/scripts/windows_build/build.bat
Due: none

conv1dquantfix2
  python/paddle/static/quantization/quantization_pass.py
Due: copyright_checker, pylint-doc-string

[fluid] rm tile_op.cc
  paddle/fluid/operators/tile_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

test,test=develop
  paddle/fluid/eager/to_static/run_program_op_node.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  python/paddle/fluid/tests/unittests/test_nextafter_op.py
Due: copyright_checker, pylint-doc-string

[CppExtension Cuda] Add cuda unit test for CppExtension (#52900) (#53269)
  cmake/external/pybind11.cmake
  cmake/external/warpctc.cmake
  patches/pybind/cast.h.patch
  python/paddle/fluid/tests/cpp_extension/cpp_extension_setup.py
  python/paddle/fluid/tests/cpp_extension/custom_extension.cc
  python/paddle/fluid/tests/cpp_extension/custom_relu_forward.cu
  python/paddle/fluid/tests/cpp_extension/mix_relu_and_extension_setup.py
  python/paddle/fluid/tests/cpp_extension/test_cpp_extension_jit.py
  python/paddle/fluid/tests/cpp_extension/test_cpp_extension_setup.py
  python/paddle/fluid/tests/cpp_extension/utils.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix shared memory over usage in embedding grad kernel on deterministic mode (#53247)
  paddle/phi/kernels/gpu/embedding_grad_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

【Hackathon No.61】min 算子FP16/BF16单测完善 (#52887)
  paddle/phi/kernels/gpu/reduce_min_grad_kernel.cu
  paddle/phi/kernels/kps/reduce_min_kernel.cu
  paddle/phi/kernels/reduce_min_kernel.cc
  python/paddle/fluid/tests/unittests/test_reduce_op.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source
