Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix compile error test=develop
  paddle/fluid/framework/channel.h
  paddle/fluid/framework/data_feed.h
Due: clang-format-with-version-check, copyright_checker

update
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/program.cc
Due: clang-format-with-version-check, copyright_checker

fix merge conflict of 'Remove attribute in Allocator::Allocate' and elementwise_add_mkldnn_op
  paddle/fluid/operators/elementwise/mkldnn/elementwise_add_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

Ignore a unit test which failed on cuda9/10 python3 ci task
  python/paddle/fluid/tests/unittests/test_warpctc_op.py
Due: copyright_checker

test=develop add inference in nn.py
  paddle/fluid/API.spec
  paddle/fluid/operators/deformable_psroi_pooling_op.cc
  paddle/fluid/operators/deformable_psroi_pooling_op.cu
  paddle/fluid/operators/deformable_psroi_pooling_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_deformable_psroi_pooling.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: clang-format-with-version-check, copyright_checker

test=develop update API.spec
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

refine program (#17726)
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/lite/api/light_api.h
  paddle/fluid/lite/core/CMakeLists.txt
  paddle/fluid/lite/core/mir/generate_program_pass.h
  paddle/fluid/lite/core/mir/ssa_graph.cc
  paddle/fluid/lite/core/mir/ssa_graph.h
  paddle/fluid/lite/core/op_lite.h
  paddle/fluid/lite/core/optimizer.h
  paddle/fluid/lite/core/program.cc
  paddle/fluid/lite/core/program.h
  paddle/fluid/lite/core/program_fake_utils.h
  paddle/fluid/lite/model_parser/compatible_pb.cc
  paddle/fluid/lite/utils/string.h
Due: clang-format-with-version-check, copyright_checker

fix mobile compile
  paddle/fluid/lite/gen_code/CMakeLists.txt
Due: none

[WIP][LITE] Add pool operator of arm cpu
  paddle/fluid/lite/arm/math/CMakeLists.txt
  paddle/fluid/lite/arm/math/funcs.h
  paddle/fluid/lite/arm/math/pooling.cc
  paddle/fluid/lite/arm/math/pooling.h
  paddle/fluid/lite/kernels/arm/CMakeLists.txt
  paddle/fluid/lite/kernels/arm/pool_compute.cc
  paddle/fluid/lite/kernels/arm/pool_compute.h
  paddle/fluid/lite/kernels/arm/pool_compute_test.cc
  paddle/fluid/lite/operators/CMakeLists.txt
  paddle/fluid/lite/operators/pool_op.cc
  paddle/fluid/lite/operators/pool_op.h
  paddle/fluid/lite/operators/pool_op_test.cc
Due: clang-format-with-version-check, copyright_checker

refine sum stack api doc (#17923)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

test=develop alter round 1
  paddle/fluid/operators/detection/retinanet_target_assign_op.cc
  python/paddle/fluid/layers/detection.py
Due: clang-format-with-version-check, copyright_checker

add API.spec,test=develop
  paddle/fluid/API.spec
Due: none

test=develop alter round 1
  python/paddle/fluid/tests/unittests/test_sigmoid_focal_loss_op.py
Due: copyright_checker

[WIP][LITE] Add pool operator of arm cpu
  paddle/fluid/lite/kernels/arm/pool_compute_test.cc
Due: clang-format-with-version-check, copyright_checker

fix merge conflict of 'Remove attribute in Allocator::Allocate' and elementwise_add_mkldnn_op (#17949)
  paddle/fluid/operators/elementwise/mkldnn/elementwise_add_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

update dataset.set_thread and interface test=develop
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  python/paddle/fluid/device_worker.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/optimizer.py
Due: clang-format-with-version-check, copyright_checker

Add Pipeline Concurrency Mode: - cpp: pipeline_trainer & section_worker - python: PipelineOptimizer Add a new datafeed type: PrivateInstantDataFeed test=develop
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/async_executor.cc
  paddle/fluid/framework/data_feed.cc
  paddle/fluid/framework/data_feed.h
  paddle/fluid/framework/data_feed_factory.cc
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/device_worker_factory.cc
  paddle/fluid/framework/executor.cc
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  paddle/fluid/framework/trainer.h
  paddle/fluid/framework/trainer_desc.proto
  paddle/fluid/framework/trainer_factory.cc
  paddle/fluid/platform/timer.h
  python/paddle/fluid/dataset.py
  python/paddle/fluid/device_worker.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/framework.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/trainer_desc.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

add a test demo of pipeline trainer model is gnn test=develop
  python/paddle/fluid/tests/demo/pipeline_train.py
Due: copyright_checker

update split_program add start_cpu_core_id and param_need_sync in proto update the stream in sync functor test=develop
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  paddle/fluid/framework/trainer.h
  paddle/fluid/framework/trainer_desc.proto
  python/paddle/fluid/device_worker.py
  python/paddle/fluid/optimizer.py
Due: clang-format-with-version-check, copyright_checker

rename and polish some codes
  paddle/fluid/framework/data_feed.h
  paddle/fluid/framework/device_worker.h
  paddle/fluid/framework/pipeline_trainer.cc
  paddle/fluid/framework/section_worker.cc
  paddle/fluid/framework/trainer.h
  paddle/fluid/framework/trainer_desc.proto
  python/paddle/fluid/device_worker.py
  python/paddle/fluid/executor.py
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/trainer_factory.py
Due: clang-format-with-version-check, copyright_checker

- Fix to softmax MT
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

fix divide bug in python3 when calculating output width and height test=develop
  paddle/fluid/operators/unfold_op.cc
  python/paddle/fluid/tests/unittests/test_unfold_op.py
Due: clang-format-with-version-check, copyright_checker

test=develop alter round 2
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_retinanet_detection_output.py
Due: copyright_checker

- Fixes to MT code of MKL-DNN
  paddle/fluid/operators/mkldnn/batch_norm_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, copyright_checker

add files
  .clang-format
  .dockerignore
  .gitignore
  .pre-commit-config.yaml
  .style.yapf
  .travis.yml
Due: none

fix newly add basicConfig. test=develop
  python/paddle/fluid/contrib/slim/nas/controller_server.py
  python/paddle/fluid/contrib/slim/nas/light_nas_strategy.py
  python/paddle/fluid/contrib/slim/nas/search_agent.py
  python/paddle/fluid/contrib/slim/prune/auto_prune_strategy.py
  python/paddle/fluid/contrib/slim/quantization/mkldnn_post_training_strategy.py
  python/paddle/fluid/contrib/slim/searcher/controller.py
  python/paddle/fluid/contrib/slim/tests/test_mkldnn_int8_quantization_strategy.py
Due: copyright_checker

update
  python/CMakeLists.txt
Due: none

Remove the paddle surfix.
  paddle/fluid/operators/mkldnn/mul_mkldnn_op.cc
Due: clang-format-with-version-check, copyright_checker

[WIP][LITE] Add pool op of arm cpu, test=develop
  make.sh
Due: none

[WIP][LITE] Add pool op of arm cpu, test=develop
  paddle/fluid/lite/tools/build.sh
Due: none

test=develop, update API.spec
  paddle/fluid/API.spec
Due: none

test=develop
  Dockerfile
  paddle/scripts/paddle_build.sh
Due: none
