Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

optimize unit test
  paddle/fluid/operators/rmsprop_op.cc
  python/paddle/fluid/tests/unittests/test_rmsprop_op.py
Due: clang-format-with-version-check, copyright_checker

fix async mode handle COMPLETE_MESSAGE
  paddle/fluid/operators/distributed/request_handler_impl.cc
Due: clang-format-with-version-check, copyright_checker

add batch Auc in Fluid
  paddle/fluid/operators/auc_op.cc
  paddle/fluid/operators/auc_op.h
  python/paddle/fluid/layers/metric_op.py
Due: clang-format-with-version-check, copyright_checker

enforce only used
  paddle/fluid/operators/fusion_lstm_op.cc
Due: clang-format-with-version-check, copyright_checker

Resume prelu_test in python2
  python/paddle/fluid/tests/unittests/test_prelu_op.py
Due: copyright_checker

fix the docs dead links
  doc/fluid/new_docs/beginners_guide/basics/machine_translation/README.cn.md
  doc/fluid/new_docs/beginners_guide/basics/understand_sentiment/README.cn.md
  doc/fluid/new_docs/beginners_guide/basics/word2vec/README.cn.md
  doc/fluid/new_docs/beginners_guide/quick_start/recognize_digits/README.cn.md
  doc/fluid/new_docs/user_guides/howto/debug/visualdl.md
Due: none

modified machine tranalation
  doc/fluid/new_docs/beginners_guide/basics/machine_translation/README.cn.md
Due: none

add ignore index
  paddle/fluid/operators/cross_entropy_op.cc
  paddle/fluid/operators/cross_entropy_op.h
  paddle/fluid/operators/math/cross_entropy.cc
  paddle/fluid/operators/math/cross_entropy.cu
  paddle/fluid/operators/math/cross_entropy.h
  paddle/fluid/operators/softmax_with_cross_entropy_op.cu
  paddle/fluid/operators/softmax_with_cross_entropy_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_cross_entropy_op.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: clang-format-with-version-check, copyright_checker

fix comment
  python/paddle/fluid/tests/unittests/test_cross_entropy_op.py
Due: copyright_checker

speedup the download of inference_demo
  paddle/fluid/inference/api/demo_ci/run.sh
Due: none

fusion gru enfore only used
  paddle/fluid/operators/fusion_gru_op.cc
Due: clang-format-with-version-check, copyright_checker

update
  paddle/fluid/inference/analysis/CMakeLists.txt
Due: none

Port dist_transpiler to Python3.5 Resume prelu_op_test in python2
  python/paddle/fluid/tests/unittests/test_prelu_op.py
  python/paddle/fluid/transpiler/details/program_utils.py
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: copyright_checker

clean up
  paddle/fluid/framework/details/multi_devices_graph_pass.cc
  paddle/fluid/framework/details/multi_devices_graph_pass.h
  paddle/fluid/operators/distributed/variable_response.cc
Due: clang-format-with-version-check, copyright_checker

update test_rmsprop_op.py
  python/paddle/fluid/tests/unittests/test_rmsprop_op.py
Due: copyright_checker

update formula of rmsprop
  python/paddle/fluid/optimizer.py
Due: copyright_checker

optimize document
  python/paddle/fluid/optimizer.py
Due: copyright_checker

code fix
  paddle/fluid/operators/math/cross_entropy.cc
  paddle/fluid/operators/math/cross_entropy.cu
Due: clang-format-with-version-check, copyright_checker

Port transformer
  python/paddle/fluid/tests/unittests/dist_transformer.py
Due: copyright_checker

bug fix
  python/paddle/fluid/tests/unittests/test_auc_op.py
Due: copyright_checker

format fix
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

update API.spec for RMSPropOptimizer
  paddle/fluid/API.spec
Due: none

should fix running with memopt
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: copyright_checker

Fix fake_quantize_op
  paddle/fluid/operators/fake_quantize_op.cu
  paddle/scripts/paddle_build.sh
Due: clang-format-with-version-check, copyright_checker

follow comment
  paddle/fluid/operators/flatten_op.cc
  paddle/fluid/operators/reshape_op.cc
  paddle/fluid/operators/squeeze_op.cc
  paddle/fluid/operators/unsqueeze_op.cc
Due: clang-format-with-version-check, copyright_checker

name formated
  paddle/fluid/operators/auc_op.cc
  paddle/fluid/operators/auc_op.h
  python/paddle/fluid/metrics.py
Due: clang-format-with-version-check, copyright_checker

add default value to check_output_with_place equal_nan
  python/paddle/fluid/tests/unittests/op_test.py
Due: copyright_checker

fix async mode handle COMPLETE_MESSAGE (#13212)
  paddle/fluid/operators/distributed/request_handler_impl.cc
Due: clang-format-with-version-check, copyright_checker

Revert "Revert "Add CudnnHolder and use it in Conv and ConvTranspose op""
  paddle/fluid/framework/rw_lock.h
  paddle/fluid/operators/conv_cudnn_op.cu.cc
  paddle/fluid/operators/conv_transpose_cudnn_op.cu.cc
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, copyright_checker

add use random for switch Reservoir Sampling, change im_scalse to im_info
  paddle/fluid/operators/detection/generate_proposal_labels_op.cc
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/tests/test_detection.py
  python/paddle/fluid/tests/unittests/test_generate_proposal_labels.py
Due: clang-format-with-version-check, copyright_checker
