Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

enhance mul_op input error message test=develop (#20414)
  paddle/fluid/operators/mul_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_mul_op.py
Due: clang-format-with-version-check, copyright_checker

Backup before merging
  python/paddle/fluid/io.py
Due: copyright_checker

Update QAT MKL-DNN readme doc (#20029)
  python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md
Due: none

update global scope doc (#20483)
  paddle/fluid/API.spec
  python/paddle/fluid/executor.py
Due: copyright_checker

Modify English documents
  python/paddle/fluid/io.py
Due: copyright_checker

fix API:cos, exp, ceil, elu, brelu English doc (#20032)
  paddle/fluid/API.spec
  paddle/fluid/operators/activation_op.cc
  python/paddle/fluid/layers/layer_function_generator.py
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

cherry-pick enhance embedding error message test=develop
  paddle/fluid/operators/lookup_table_op.cc
  paddle/fluid/operators/lookup_table_op.cu
  paddle/fluid/operators/lookup_table_op.h
  paddle/fluid/operators/lookup_table_v2_op.cc
  paddle/fluid/operators/lookup_table_v2_op.cu
  paddle/fluid/operators/lookup_table_v2_op.h
  python/paddle/fluid/input.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_downpoursgd.py
  python/paddle/fluid/tests/unittests/test_lookup_table_op.py
  python/paddle/fluid/tests/unittests/test_lookup_table_v2_op.py
Due: clang-format-with-version-check, copyright_checker

Update API.spec. test=develop
  paddle/fluid/API.spec
Due: none

fix converter , test=develop
  python/paddle/fluid/incubate/fleet/parameter_server/pslib/node.py
Due: copyright_checker

refine pe codes, test=develop
  paddle/fluid/framework/details/op_handle_base.cc
Due: clang-format-with-version-check, copyright_checker

Update some en api docs (#20496) (#20516)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/nets.py
Due: copyright_checker

fix doc, test=develop,test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

refine comment test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/dygraph/nn.py
Due: copyright_checker

polish error messages, test=develop
  paddle/fluid/operators/matmul_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_mean_op.py
Due: clang-format-with-version-check, copyright_checker

fix comment, test=develop, test=document_fix
  python/paddle/fluid/data_feeder.py
Due: copyright_checker

fix API:cos, exp, ceil, elu, brelu English doc (#20032) (#20517)
  paddle/fluid/API.spec
  paddle/fluid/operators/activation_op.cc
  python/paddle/fluid/layers/layer_function_generator.py
  python/paddle/fluid/layers/nn.py
Due: clang-format-with-version-check, copyright_checker

fix conflict, test=develop,test=document_fix
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

update unsquezze api; test=document_fix
  my_API.spec
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

Update QAT MKL-DNN readme doc (#20029) (#20520)
  python/paddle/fluid/contrib/slim/tests/QAT_mkldnn_int8_readme.md
Due: none

update API.spec, test=develop, test=document_fix
  paddle/fluid/API.spec
Due: none

add input type and dtype check for accuracy_op (#20399)
  paddle/fluid/operators/metrics/accuracy_op.cc
  paddle/fluid/operators/metrics/accuracy_op.h
  python/paddle/fluid/layers/metric_op.py
  python/paddle/fluid/tests/unittests/test_accuracy_op.py
Due: clang-format-with-version-check, copyright_checker

fix reshape input(x) error check on float16. test=develop
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_reshape_op.py
Due: copyright_checker

Fix ErrorClipByValue, GradientClipByGlobalNorm, GradientClipByValue (#20279)
  paddle/fluid/API.spec
  python/paddle/fluid/clip.py
Due: copyright_checker

Modify English Documents
  paddle/fluid/API.spec
Due: none

test=document_fix
  my_API.spec
  paddle/fluid/API.spec
Due: none

Enhance InferShape in deformable_conv and prior_box op (#20372) (#20490)
  paddle/fluid/operators/deformable_conv_op.cc
  paddle/fluid/operators/detection/prior_box_op.cc
  python/paddle/fluid/tests/test_detection.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: clang-format-with-version-check, copyright_checker

test=document_fix
  paddle/fluid/API.spec
Due: none

fix review, test=develop
  paddle/fluid/operators/reshape_op.cc
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
