Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$


fix ci (#57033)
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_manual_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add a new CustomVjpTrait to represent whether an op has custom vjp
  paddle/fluid/ir/dialect/paddle_dialect/trait/custom_vjp.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix pd_ops.yaml generation bug
  paddle/fluid/ir/dialect/paddle_dialect/ir/CMakeLists.txt
Due: none

add has_custom_vjp_op_list to represent ops that have custom vjp
  paddle/fluid/ir/dialect/op_generator/has_custom_vjp_op_list.py
Due: copyright_checker, pylint-doc-string

add put_along_axis_op.c bug do not use it
  paddle/fluid/inference/tensorrt/convert/put_along_axis_op.cc
  test/ir/inference/test_trt_convert_put_along_axis.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

parse has_custom_vjp_op_list and autogen CustomVjpTrait for those ops
  paddle/fluid/ir/dialect/op_generator/op_gen.py
Due: copyright_checker, pylint-doc-string

add pybind to support checking whether an op has custom vjp in python level
  paddle/fluid/pybind/ir.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add auto tuner module
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/fluid/ir/transforms/inplace_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

delete ops list
  python/paddle/_C_ops.py
Due: copyright_checker, pylint-doc-string

Finish op_cluster.cc
  paddle/cinn/adt/adt.h
  paddle/cinn/adt/m_ir.h
  paddle/cinn/adt/op_cluster.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix place setting when translatring fill_constant (#56929)
  paddle/fluid/ir_adaptor/translator/op_translator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

modify concat kernel choose
  paddle/fluid/ir/transforms/pd_op_to_kernel_pass.cc
  python/paddle/_C_ops.py
  python/paddle/new_ir_utils.py
  python/paddle/tensor/manipulation.py
  python/paddle/tensor/math.py
  test/legacy_test/eager_op_test.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix CI error
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_manual_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Update op_cluster.cc
  paddle/cinn/adt/op_cluster.cc
  paddle/cinn/adt/op_cluster.h
Due: copyright_checker, clang-format, cpplint-cpp-source

revert fusedgemm
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_dialect.cc
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_manual_op.cc
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_manual_op.h
  paddle/phi/infermeta/backward.cc
  paddle/phi/infermeta/backward.h
  paddle/phi/infermeta/ternary.cc
  paddle/phi/infermeta/ternary.h
  test/cpp/ir/pattern_rewrite/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source

remove unused SdOpStmtNodes::AddOpStmtNode
  paddle/cinn/adt/op_cluster.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Update test/cpp/ir/core/program_translator_test.cc
  test/cpp/ir/core/program_translator_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add dyn_cast_interface
  paddle/ir/core/ir_context.cc
  paddle/ir/core/storage_manager_support.h
  paddle/ir/core/type.h
  paddle/ir/core/type_base.cc
  paddle/ir/core/type_base.h
  test/cpp/ir/core/type_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

optimize the code
  paddle/cinn/adt/group_partitioner.cc
  paddle/cinn/adt/group_partitioner.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[AutoParallel] Generate spmd rule and reshard impl in phi api (#56831)
  paddle/fluid/operators/generator/parse_utils.py
  paddle/phi/api/lib/api_gen_utils.cc
  paddle/phi/api/lib/api_gen_utils.h
  paddle/phi/api/lib/data_transform.cc
  paddle/phi/api/lib/data_transform.h
  paddle/phi/api/lib/kernel_dispatch.cc
  paddle/phi/api/lib/kernel_dispatch.h
  paddle/phi/api/yaml/generator/api_gen.py
  paddle/phi/api/yaml/generator/dist_api_gen.py
  paddle/phi/api/yaml/generator/dist_bw_api_gen.py
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/core/distributed/auto_parallel/dist_tensor.h
  paddle/phi/core/distributed/auto_parallel/inferspmd_utils.cc
  paddle/phi/infermeta/spmd_rules/rules.h
  test/auto_parallel/CMakeLists.txt
  test/auto_parallel/semi_auto_parallel_for_matmul.py
  test/auto_parallel/test_semi_auto_parallel_basic.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

optimize the code
  paddle/cinn/adt/group_partitioner.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[xdoctest][task 248-249,266-267,269] reformat example code with google style in `incubate/distributed/fleet/*`,`incubate/nn/layer/*` (#56772)
  python/paddle/incubate/distributed/fleet/fleet_util.py
  python/paddle/incubate/distributed/fleet/parameter_server/ir/ps_dispatcher.py
  python/paddle/incubate/nn/layer/fused_ec_moe.py
  python/paddle/incubate/nn/layer/fused_linear.py
  python/paddle/incubate/nn/layer/io.py
Due: copyright_checker, pylint-doc-string

Update map_expr.cc
  paddle/cinn/adt/m_expr.h
Due: copyright_checker, clang-format, cpplint-cpp-source

update
  paddle/fluid/ir/dialect/paddle_dialect/ir/pd_manual_op.cc
  paddle/fluid/ir/drr/ir_operation_creator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Revert "add reorder_block_ops_pass (#56990)"
  paddle/ir/core/block.cc
  paddle/ir/core/block.h
  paddle/ir/transforms/reorder_block_ops_pass.cc
  paddle/ir/transforms/reorder_block_ops_pass.h
  test/cpp/ir/pattern_rewrite/pattern_rewrite_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix cmakelist
  test/auto_parallel/CMakeLists.txt
Due: none

add timeout for dataset download
  python/paddle/vision/datasets/cifar.py
  python/paddle/vision/datasets/flowers.py
  python/paddle/vision/transforms/transforms.py
Due: copyright_checker, pylint-doc-string

Fix shape attr
  paddle/fluid/ir/dialect/op_generator/op_build_gen.py
  paddle/phi/api/yaml/op_compat.yaml
Due: copyright_checker, pylint-doc-string

add comments of member <with_grad_semantic>
  paddle/fluid/ir/dialect/paddle_dialect/utils/op_yaml_info_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source

polish code
  paddle/fluid/ir/dialect/op_generator/op_gen.py
  test/ir/test_op_input_grad_semantic.py
Due: copyright_checker, pylint-doc-string

optimized GroupNorm
  paddle/phi/kernels/gpu/group_norm_grad_kernel.cu
  paddle/phi/kernels/gpu/group_norm_kernel.cu
  paddle/phi/kernels/gpu/group_norm_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

optimized GroupNormBackwardGetMeanAndVar
  paddle/phi/kernels/gpu/group_norm_grad_kernel.cu
  paddle/phi/kernels/gpu/group_norm_kernel.cu
  paddle/phi/kernels/gpu/group_norm_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

add GroupNormForwardNHWC in GroupNormDirectCUDAFunctor<T, AccT>::operator()
  paddle/phi/kernels/gpu/group_norm_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

add qdq into blocklist
  paddle/fluid/framework/ir/constant_folding_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source
