Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

test=develop, replace sce
  python/paddle/fluid/layers/nn.py
Due: copyright_checker

add py_reader doc
  python/paddle/fluid/layers/io.py
  python/paddle/fluid/reader.py
Due: copyright_checker

add flags to init
  paddle/fluid/operators/distributed/communicator.cc
  python/paddle/fluid/__init__.py
Due: clang-format-with-version-check, copyright_checker

add API.spec test=develop
  paddle/fluid/API.spec
Due: none

fix bug in cuda kernel, test=develop
  paddle/fluid/operators/detection/collect_fpn_proposals_op.cc
  paddle/fluid/operators/detection/collect_fpn_proposals_op.cu
  paddle/fluid/operators/detection/collect_fpn_proposals_op.h
  python/paddle/fluid/tests/unittests/test_collect_fpn_proposals_op.py
Due: clang-format-with-version-check, copyright_checker

Fixrecordio (#16124)
  paddle/fluid/pybind/recordio.cc
  paddle/fluid/recordio/scanner.cc
  python/paddle/fluid/tests/unittests/test_accuracy_op.py
  python/paddle/fluid/tests/unittests/test_random_crop_op.py
Due: clang-format-with-version-check, copyright_checker

fix py3 failed test=develop
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/framework/parallel_executor.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/compiler.py
  python/paddle/fluid/parallel_executor.py
Due: clang-format-with-version-check, copyright_checker

refine jitcodekey and enhance unit tests
  paddle/fluid/operators/jit/gen/act.cc
  paddle/fluid/operators/jit/gen/blas.cc
  paddle/fluid/operators/jit/gen/embseqpool.cc
  paddle/fluid/operators/jit/gen/gru.cc
  paddle/fluid/operators/jit/gen/hopv.cc
  paddle/fluid/operators/jit/gen/lstm.cc
  paddle/fluid/operators/jit/gen/matmul.cc
  paddle/fluid/operators/jit/gen/seqpool.cc
  paddle/fluid/operators/jit/gen/sgd.cc
  paddle/fluid/operators/jit/helper.h
  paddle/fluid/operators/jit/kernel_key.cc
  paddle/fluid/operators/jit/kernel_key.h
  paddle/fluid/operators/jit/kernel_pool.h
  paddle/fluid/operators/jit/registry.h
  paddle/fluid/operators/jit/test.cc
Due: clang-format-with-version-check, copyright_checker

add fake rpc to send
  paddle/fluid/operators/distributed/communicator.cc
Due: clang-format-with-version-check, copyright_checker

zero_copy tensor support INT32
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
  paddle/fluid/inference/tests/api/tester_helper.h
Due: clang-format-with-version-check, copyright_checker

restore
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/operators/sequence_ops/CMakeLists.txt
  paddle/fluid/platform/CMakeLists.txt
  paddle/fluid/recordio/scanner.cc
Due: clang-format-with-version-check, copyright_checker

fix lint: add include memory unorderd_map and unordered_set
  paddle/fluid/framework/ir/cpu_quantize_squash_pass.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
Due: clang-format-with-version-check, copyright_checker

Fix CI test=develop
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/operators/alloc_continuous_space_op.cc
  python/paddle/fluid/tests/unittests/test_alloc_continuous_space_op.py
  python/paddle/fluid/tests/unittests/test_parallel_executor_dry_run.py
Due: clang-format-with-version-check, copyright_checker

Revert "Revert "Add Event for TensorCopy"" (#16035)
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/tensor_util.cc
  paddle/fluid/memory/CMakeLists.txt
  paddle/fluid/memory/memcpy.cc
  paddle/fluid/operators/reader/buffered_reader.cc
  paddle/fluid/platform/device_tracer.cc
  paddle/fluid/platform/device_tracer.h
  tools/timeline.py
Due: clang-format-with-version-check, copyright_checker

fix comment test=develop
  paddle/fluid/framework/parallel_executor.cc
  python/paddle/fluid/compiler.py
Due: clang-format-with-version-check, copyright_checker

Fix bugs for static quantization strategy (mutil-cards train). test=develop
  paddle/fluid/pybind/ir.cc
  paddle/fluid/pybind/protobuf.cc
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
  python/paddle/fluid/contrib/slim/tests/test_quantization_pass.py
  python/paddle/fluid/framework.py
Due: clang-format-with-version-check, copyright_checker

update
  paddle/fluid/framework/ir/parallel_schedule_pass.cc
  paddle/fluid/framework/ir/parallel_schedule_pass.h
  paddle/fluid/framework/op_desc.h
  paddle/fluid/framework/operator.h
  paddle/fluid/framework/stream_executor.h
  paddle/fluid/platform/cuda_api.cc
  paddle/fluid/platform/cuda_api.h
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, copyright_checker

Disable inference download for WIN32 temporary. test=develop
  paddle/fluid/inference/tests/test.cmake
Due: none

Add unit test for gru unit
  python/paddle/fluid/imperative/nn.py
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/test_gru_op.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

fix lint: add include memory unorderd_map and unordered_set
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/operators/conv_op.cc
  paddle/fluid/operators/pool_op.cc
Due: clang-format-with-version-check, copyright_checker
