Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

add `>>> # type: ignore` check
  ci/check_approval.sh
Due: copyright_checker

tmp stage
  paddle/fluid/eager/accumulation/accumulation_node.cc
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/eager/backward.cc
  paddle/fluid/eager/grad_node_info.h
  paddle/fluid/eager/utils.cc
  paddle/fluid/eager/utils.h
  paddle/fluid/inference/analysis/dot.h
  paddle/phi/core/kernel_factory.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add unitest
  test/dygraph_to_static/test_cudagraph.py
Due: copyright_checker, pylint-doc-string

2020 -> 2025
  test/dygraph_to_static/test_cudagraph.py
Due: copyright_checker, pylint-doc-string

add dtype and out attrs for vector_norm
  python/paddle/tensor/linalg.py
  test/legacy_test/test_norm_all.py
Due: copyright_checker, pylint-doc-string

Compatibility adaptation for floor_divide and masked_select
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
  test/legacy_test/test_floor_divide_op.py
  test/legacy_test/test_masked_select_op.py
Due: copyright_checker, pylint-doc-string

fix docs
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
Due: copyright_checker, pylint-doc-string

finish sd,flux model
  python/paddle/fastdeploy/__init__.py
  python/paddle/fastdeploy/vision/__init__.py
  python/paddle/fastdeploy/vision/diffusion/README.md
  python/paddle/fastdeploy/vision/diffusion/__init__.py
  python/paddle/fastdeploy/vision/diffusion/config.py
  python/paddle/fastdeploy/vision/diffusion/example.py
  python/paddle/fastdeploy/vision/diffusion/flux_pipeline.py
  python/paddle/fastdeploy/vision/diffusion/passes/__init__.py
  python/paddle/fastdeploy/vision/diffusion/passes/flux_optimization_passes.py
  python/paddle/fastdeploy/vision/diffusion/passes/sd_optimization_passes.py
  python/paddle/fastdeploy/vision/diffusion/predictor.py
  python/paddle/fastdeploy/vision/diffusion/sd_pipeline.py
  python/paddle/fastdeploy/vision/diffusion/tensorrt_integration.py
  python/paddle/fastdeploy/vision/diffusion/test_diffusion.py
Due: copyright_checker, pylint-doc-string

fix
  test/legacy_test/test_masked_select_op.py
Due: copyright_checker, pylint-doc-string

add chunk offload optimizer
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
  python/paddle/distributed/fleet/utils/tensor_fusion_helper.py
Due: copyright_checker, pylint-doc-string

[API compatibility] is_floating_point, is_tensor, isin
  python/paddle/tensor/attribute.py
  python/paddle/tensor/logic.py
  python/paddle/tensor/math.py
  test/legacy_test/test_is_floating_point.py
  test/legacy_test/test_is_tensor.py
  test/legacy_test/test_isin.py
Due: copyright_checker, pylint-doc-string

remove include complex.h in reduce_all_kernel.cc
  paddle/phi/kernels/empty_kernel.cc
  paddle/phi/kernels/gpudnn/conv_gpudnn.h
  paddle/phi/kernels/primitive/functor_primitives.h
  paddle/phi/kernels/reduce_all_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

rm ctx
  paddle/phi/api/ext/op_meta_info.h
  paddle/phi/api/lib/op_meta_info.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/legacy_test/test_is_floating_point.py
  test/legacy_test/test_isin.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/base/dygraph/tensor_patch_methods.py
  test/legacy_test/test_tensor_place.py
Due: copyright_checker, pylint-doc-string

[Compat] Add compatible API `_C._cuda_getCurrentRawStream`
  paddle/fluid/pybind/cuda_streams_py.cc
  python/paddle/_C.py
  python/paddle/__init__.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

fixed by metax
  test/legacy_test/test_baddbmm_op.py
  test/legacy_test/test_binomial_op.py
  test/legacy_test/test_blha_get_max_len_op.py
  test/legacy_test/test_cast_op.py
  test/legacy_test/test_cuda_max_memory_allocated.py
  test/legacy_test/test_cuda_reset_max_memory_allocated.py
  test/legacy_test/test_cuda_reset_max_memory_reserved.py
  test/legacy_test/test_cumsum_op.py
  test/legacy_test/test_grid_sample_function.py
  test/legacy_test/test_group_norm_op_v2.py
  test/legacy_test/test_index_select_strided.py
  test/legacy_test/test_label_smooth_op.py
  test/legacy_test/test_lerp_op.py
  test/legacy_test/test_logit_op.py
  test/legacy_test/test_masked_fill.py
  test/legacy_test/test_meshgrid_op.py
  test/legacy_test/test_normal.py
  test/legacy_test/test_pad3d_op.py
  test/legacy_test/test_qr_op.py
  test/legacy_test/test_scatter_op.py
  test/legacy_test/test_softmax_with_cross_entropy_op.py
  test/legacy_test/test_squeeze2_op.py
  test/legacy_test/test_transfer_layout_op.py
  test/legacy_test/test_unstack_op.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/kernels/cpu/elementwise_add_kernel.cc
  paddle/phi/kernels/cpu/elementwise_divide_kernel.cc
  paddle/phi/kernels/cpu/elementwise_kernel.cc
  paddle/phi/kernels/cpu/elementwise_multiply_kernel.cc
  paddle/phi/kernels/cpu/elementwise_subtract_kernel.cc
  paddle/phi/kernels/funcs/fft.cc
  paddle/phi/kernels/funcs/fft_xpu.cc
  paddle/phi/kernels/reduce_all_kernel.cc
  paddle/phi/kernels/stride/bitwise_kernel.cu
  paddle/phi/kernels/stride/compare_kernel.cu
  paddle/phi/kernels/stride/indexing_kernel.cu
  paddle/phi/kernels/stride/logical_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add vae decode
  python/paddle/fastdeploy/vision/diffusion/sd_pipeline.py
Due: copyright_checker, pylint-doc-string

add t5 subtoken
  python/paddle/fastdeploy/vision/diffusion/flux_pipeline.py
  python/paddle/fastdeploy/vision/diffusion/tensorrt_integration.py
Due: copyright_checker, pylint-doc-string

Add warning
  .github/workflows/Approval-fleety.yml
  .github/workflows/CI-fleety.yml
  .github/workflows/CheckPRTemplate-fleety.yml
  .github/workflows/Codestyle-Check.yml
  .github/workflows/_Api-Benchmark.yml
  .github/workflows/_CE-Framework.yml
  .github/workflows/_Clone-linux.yml
  .github/workflows/_Coverage.yml
  .github/workflows/_Distribute-stable.yml
  .github/workflows/_Linux-build.yml
  .github/workflows/_Static-Check.yml
  .github/workflows/check-bypass.yml
  .github/workflows/docker.yml
  .github/workflows/rerun.yml
Due: none

Add warning
  .github/workflows/Warning.yml
Due: none

Skip fleety_0421
  .github/workflows/Approval-fleety.yml
  .github/workflows/Warning.yml
  .github/workflows/_Api-Benchmark.yml
Due: none

Skip fleety_0421
  .github/workflows/CheckPRTemplate-fleety.yml
Due: none

add other unitests
  test/dygraph_to_static/test_cudagraph.py
Due: copyright_checker, pylint-doc-string

Skip fleety_0421
  .github/workflows/Approval-fleety.yml
Due: none

Skip fleety_0421
  .github/workflows/_Clone-linux.yml
  .github/workflows/docker.yml
Due: none

Skip fleety_0421
  .github/workflows/_CE-Framework.yml
  .github/workflows/_Coverage.yml
  .github/workflows/_Distribute-stable.yml
  .github/workflows/_Linux-build.yml
  .github/workflows/_Static-Check.yml
Due: none

Skip fleety_0421
  .github/workflows/_CE-Framework.yml
  .github/workflows/_Coverage.yml
  .github/workflows/_Static-Check.yml
Due: none

Skip fleety_0421
  .github/workflows/_Distribute-stable.yml
  .github/workflows/_Linux-build.yml
Due: none

Skip fleety_0421
  .github/workflows/_Coverage.yml
Due: none

Skip fleety_0421
  .github/workflows/_Distribute-stable.yml
Due: none

Skip fleety_0421
  .github/workflows/Codestyle-Check.yml
  .github/workflows/_Coverage.yml
  .github/workflows/_Distribute-stable.yml
Due: none

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

