Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

change part doc on aankin
  doc/fluid/new_docs/advanced_usage/deploy/anakin_cpu_benchmark.md
  doc/fluid/new_docs/advanced_usage/deploy/convert_paddle_to_anakin.md
  doc/fluid/new_docs/advanced_usage/deploy/index_anakin.rst
  doc/fluid/new_docs/advanced_usage/deploy/install_anakin.md
Due: none

change docs on anakin
  doc/fluid/new_docs/advanced_usage/deploy/anakin_cpu_benchmark.md
  doc/fluid/new_docs/advanced_usage/deploy/convert_paddle_to_anakin.md
  doc/fluid/new_docs/advanced_usage/deploy/index_anakin.rst
  doc/fluid/new_docs/advanced_usage/deploy/install_anakin.md
Due: none

standard
  doc/fluid/dev/new_op_cn.md
Due: none

refine op_test
  python/paddle/fluid/tests/unittests/op_test.py
  python/paddle/fluid/tests/unittests/testsuite.py
Due: copyright_checker

Style fix
  paddle/fluid/operators/sequence_scatter_op.cc
Due: clang-format-with-version-check, copyright_checker

enhance/ditu rnn with fc fuse (#12831)
  paddle/fluid/framework/ir/graph_helper.cc
  paddle/fluid/inference/analysis/CMakeLists.txt
  paddle/fluid/inference/analysis/analyzer.cc
  paddle/fluid/inference/analysis/analyzer.h
  paddle/fluid/inference/analysis/analyzer_tester.cc
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/api_impl.cc
  paddle/fluid/inference/api/helper.h
  paddle/fluid/inference/api/paddle_inference_api.h
  paddle/fluid/operators/mul_op.cc
Due: clang-format-with-version-check, copyright_checker

test_dist_ctr can run now
  python/paddle/fluid/tests/unittests/dist_ctr.py
  python/paddle/fluid/tests/unittests/dist_ctr_reader.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
  python/paddle/fluid/tests/unittests/test_dist_ctr.py
Due: copyright_checker

Feature/op standard (#12860)
  doc/fluid/dev/new_op_cn.md
Due: none

fix bug
  doc/fluid/new_docs/advanced_usage/deploy/anakin_cpu_benchmark.md
Due: none

Update anakin_cpu_benchmark.md
  doc/fluid/new_docs/advanced_usage/deploy/anakin_cpu_benchmark.md
Due: none

dense update is good
  python/paddle/fluid/tests/unittests/dist_ctr.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
Due: copyright_checker

Process elemwise grad op's lod. mul_op's lod
  paddle/fluid/operators/elementwise_add_mkldnn_op.cc
  paddle/fluid/operators/elementwise_add_op.h
  paddle/fluid/operators/elementwise_div_op.h
  paddle/fluid/operators/elementwise_max_op.h
  paddle/fluid/operators/elementwise_min_op.h
  paddle/fluid/operators/elementwise_mul_op.h
  paddle/fluid/operators/elementwise_op.h
  paddle/fluid/operators/elementwise_sub_op.h
  paddle/fluid/operators/mul_op.h
Due: clang-format-with-version-check, copyright_checker

fix doc style
  doc/fluid/dev/new_op_cn.md
Due: none

fix
  doc/fluid/dev/new_op_cn.md
Due: none

Handle LoD for concat & seq_softmax ops
  paddle/fluid/operators/concat_op.h
  paddle/fluid/operators/math/concat.cc
  paddle/fluid/operators/math/concat.cu
  paddle/fluid/operators/math/concat.h
  paddle/fluid/operators/sequence_softmax_op.h
Due: clang-format-with-version-check, copyright_checker

change python version
  doc/fluid/new_docs/advanced_usage/deploy/convert_paddle_to_anakin.md
Due: none

update
  doc/fluid/new_docs/advanced_usage/deploy/install_anakin.md
Due: none

Update index_anakin.rst
  doc/fluid/new_docs/advanced_usage/deploy/index_anakin.rst
Due: none

Create anakin_cpu_benchmark.md
  doc/fluid/new_docs/advanced_usage/deploy/anakin_cpu_benchmark.md
Due: none

Squashed commit of the following:
  paddle/fluid/operators/detection/CMakeLists.txt
  paddle/fluid/operators/detection/generate_proposal_labels.cc
  paddle/fluid/operators/detection/generate_proposal_labels_op.cc
  paddle/fluid/operators/gather_op.cc
  python/paddle/fluid/layers/detection.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/fluid/tests/unittests/test_generate_proposal_labels.py
Due: clang-format-with-version-check, copyright_checker

fea/anakin compile with demo (#12772)
  cmake/external/anakin.cmake
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/api.cc
  paddle/fluid/inference/api/api_anakin_engine.cc
  paddle/fluid/inference/api/api_anakin_engine.h
  paddle/fluid/inference/api/api_anakin_engine_rnn_tester.cc
  paddle/fluid/inference/api/paddle_inference_api.h
Due: clang-format-with-version-check, copyright_checker

fix load_vars bug
  python/paddle/fluid/io.py
Due: copyright_checker

Add timeout for python3
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

sovle confict
  python/paddle/fluid/layers/detection.py
Due: copyright_checker

follow comments
  doc/fluid/dev/new_op_cn.md
Due: none

Change the link of flowers
  python/paddle/dataset/flowers.py
Due: copyright_checker

Add debug info for anakin cpu
  paddle/scripts/paddle_build.sh
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

fix
  python/paddle/fluid/layers/tensor.py
Due: copyright_checker

add unit test for selected rows
  paddle/fluid/framework/selected_rows_test.cc
  python/paddle/fluid/tests/unittests/dist_ctr.py
  python/paddle/fluid/tests/unittests/dist_ctr_reader.py
  python/paddle/fluid/tests/unittests/test_dist_base.py
  python/paddle/fluid/transpiler/distribute_transpiler.py
Due: clang-format-with-version-check, copyright_checker

fix load_vars bug (#12869)
  python/paddle/fluid/io.py
Due: copyright_checker
