Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


[CodeStyle][DocFormat] Run ruff format for AdamW example
  python/paddle/optimizer/adamw.py
Due: copyright_checker, pylint-doc-string

[CI] Increase windows CI timeout time to 240min (4h)
  .github/workflows/_Windows-GPU.yml
  .github/workflows/_Windows-Inference.yml
Due: none

rm test_dist_mnist_lars.py
  test/legacy_test/test_dist_mnist_lars.py
Due: copyright_checker, pylint-doc-string

Support norm reduce. (#77717)
  paddle/phi/kernels/funcs/reduce_gpu_kernel.h
  paddle/phi/kernels/gpu/p_norm_kernel.cu
  paddle/phi/kernels/impl/pool_kernel_impl.h
  paddle/phi/kernels/primitive/reduce_primitives.h
  test/prim/model/test_resnet_prim.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Cherry-pick #77642(matmul shapecheck enhancement) (#77643)
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  test/cpp/pir/pattern_rewrite/drr_same_type_binding_test.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add pd_op.var in ALLOW_DYNAMIC_SHAPE_VJP_OPS (#77675) (#77696)
  python/paddle/autograd/backward_utils.py
Due: copyright_checker, pylint-doc-string

Fix tensor mul with str to return NotImplemented (#77710) (#77732)
  paddle/fluid/pybind/eager_math_op_patch.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Check last cuda error cp (#77670)
  paddle/fluid/pybind/pybind.cc
  python/paddle/base/__init__.py
  python/paddle/base/core.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

deprecated APIs
  python/paddle/incubate/nn/functional/fused_transformer.py
  python/paddle/incubate/nn/functional/masked_multihead_attention.py
  python/paddle/incubate/operators/softmax_mask_fuse_upper_triangle.py
Due: copyright_checker, pylint-doc-string

polish dispatch
  paddle/phi/infermeta/multiary.cc
  paddle/phi/kernels/gpu/moe_permute_kernel.cu
  paddle/phi/kernels/gpu/moe_permute_utils.h
  paddle/phi/kernels/gpu/moe_unpermute_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[API Compatibility] max_pool{1,2,3}d api backward compatibile
  python/paddle/nn/functional/pooling.py
  python/paddle/nn/layer/pooling.py
  python/paddle/utils/decorator_utils.py
Due: copyright_checker, pylint-doc-string

deprecated_API
  python/paddle/incubate/nn/functional/fused_transformer.py
Due: copyright_checker, pylint-doc-string

nn.MaxPool{1,2,3}D
  python/paddle/nn/layer/pooling.py
  python/paddle/utils/decorator_utils.py
Due: copyright_checker, pylint-doc-string

moving param pos in ut.
  test/legacy_test/test_max_pool_dilation.py
Due: copyright_checker, pylint-doc-string

fix style
  python/paddle/nn/functional/pooling.py
  python/paddle/nn/layer/pooling.py
  test/legacy_test/test_max_pool_dilation.py
Due: copyright_checker, pylint-doc-string

deprecated_APIs
  python/paddle/incubate/nn/functional/fused_transformer.py
  python/paddle/incubate/nn/functional/masked_multihead_attention.py
  python/paddle/incubate/operators/softmax_mask_fuse_upper_triangle.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

empty file
  test.txt
Due: none

[CodeStyle][DocFormat][35] Use pycon for code-block language marker (python/paddle/vision/image.py)
  python/paddle/vision/image.py
Due: copyright_checker, pylint-doc-string

update api, further pre-process kernel developing
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/gpu/moe_permute_kernel.cu
  paddle/phi/ops/yaml/ops.yaml
  python/paddle/nn/functional/moe_permute.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[CodeStyle][DocFormat][36] Use pycon for code-block language marker (python/paddle/optimizer/lamb.py)
  python/paddle/optimizer/lamb.py
Due: copyright_checker, pylint-doc-string

fix bug
  python/paddle/utils/decorator_utils.py
Due: copyright_checker, pylint-doc-string

[Memory] add log for actual memory using
  paddle/phi/core/memory/allocation/cuda_allocator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CodeStyle][DocFormat][37] Use pycon for code-block language marker (python/paddle/vision/datasets/mnist.py)
  python/paddle/vision/datasets/mnist.py
Due: copyright_checker, pylint-doc-string

revert maxpoolv2
  paddle/phi/infermeta/unary.cc
  paddle/phi/kernels/fusion/gpu/max_pool2d_v2_grad_kernel.cu
  paddle/phi/kernels/fusion/gpu/max_pool2d_v2_kernel.cu
  paddle/phi/kernels/gpudnn/pool_gpudnn.h
  test/legacy_test/test_pool_max_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add ut for maxpool torch compatible
  test/legacy_test/test_max_pool_dilation.py
Due: copyright_checker, pylint-doc-string

[CodeStyle][DocFormat][38] Use pycon for code-block language marker (python/paddle/sysconfig.py)
  python/paddle/sysconfig.py
Due: copyright_checker, pylint-doc-string

fix: switch paddlefleet source from stable to nightly in H-Coverage workflow
  .github/workflows/H-Coverage.yml
Due: none

[CI-H] Add stable and nightly index for paddlefleet install
  .github/workflows/H-Coverage.yml
Due: none

clean autograd_meta.cc
  paddle/fluid/eager/CMakeLists.txt
  paddle/fluid/eager/api/generated/eager_generated/forwards/CMakeLists.txt
  paddle/fluid/eager/api/utils/CMakeLists.txt
  paddle/fluid/eager/autograd_meta.cc
  paddle/fluid/pybind/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  test/legacy_test/test_slow_conv_op.py
Due: copyright_checker, pylint-doc-string

polish dispatch and prepare for routmap_digest
  paddle/phi/kernels/gpu/moe_permute_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Fix
  test/cpp/eager/CMakeLists.txt
  test/cpp/prim/CMakeLists.txt
Due: none

Fix
  test/legacy_test/test_audio_logmel_feature.py
  test/legacy_test/test_audio_mel_feature.py
Due: copyright_checker, pylint-doc-string

update extension.h
  paddle/extension.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

clean unused variable in test_cuda_random_seed
  test/legacy_test/test_cuda_random_seed.py
Due: copyright_checker, pylint-doc-string
