Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./.clang_format.hook -i
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./.copyright.hook
  language: system

add precise roi pooling op test=develop (#18960)
  paddle/fluid/API.spec
  paddle/fluid/operators/prroi_pool_op.cc
  paddle/fluid/operators/prroi_pool_op.cu
  paddle/fluid/operators/prroi_pool_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/py_precise_roi_pool.py
  python/paddle/fluid/tests/unittests/test_prroi_pool_op.py
Due: clang-format-with-version-check, copyright_checker

remove the native call-stack information from stderr to avoid too much err-info spray out on screen test=develop
  paddle/fluid/platform/enforce.h
Due: clang-format-with-version-check, copyright_checker

Add float16 support to `sync_batch_norm_op`
  paddle/fluid/operators/sync_batch_norm_op.cu
Due: clang-format-with-version-check, copyright_checker

change _origin_program test=develop (#19863)
  python/paddle/fluid/incubate/fleet/collective/__init__.py
Due: copyright_checker

Add multihead algo
  paddle/fluid/framework/ir/multihead_matmul_fuse_pass.cc
  paddle/fluid/framework/ir/multihead_matmul_fuse_pass.h
  paddle/fluid/operators/math/CMakeLists.txt
  paddle/fluid/operators/math/multihead_matmul.cu
  paddle/fluid/operators/math/multihead_matmul.h
  paddle/fluid/operators/multihead_matmul_op.cc
Due: clang-format-with-version-check, copyright_checker

Fix prune doesn't depend on states of recurrent op
  paddle/fluid/framework/prune_test.cc
Due: clang-format-with-version-check, copyright_checker

Also add dep boost for prune
  paddle/fluid/framework/CMakeLists.txt
Due: none

modify add_quant_dequant_pass, test=develop
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
Due: copyright_checker

up, test=develop
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
Due: copyright_checker

Remove constraint that last dimension is forced to be 1 in cross_entropy (#19606)
  paddle/fluid/operators/cross_entropy_op.cc
  paddle/fluid/operators/cross_entropy_op.h
  python/paddle/fluid/tests/unittests/test_cross_entropy2_op.py
  python/paddle/fluid/tests/unittests/test_cross_entropy_op.py
Due: clang-format-with-version-check, copyright_checker

Paddle split test fp32 int8
  paddle/fluid/inference/tests/api/tester_helper.h
Due: clang-format-with-version-check, copyright_checker

add conv3d cuda kernel for float16 type, test=develop
  paddle/fluid/operators/conv_cudnn_op.cu.cc
Due: clang-format-with-version-check, copyright_checker

fix SplitLodTensor when batch_size = 0, test=develop (#19866)
  paddle/fluid/framework/lod_tensor.cc
  paddle/fluid/framework/lod_tensor_test.cc
Due: clang-format-with-version-check, copyright_checker

Rewrite the detector of elementwise group. test=develop
  paddle/fluid/framework/ir/fusion_group/CMakeLists.txt
  paddle/fluid/framework/ir/fusion_group/elementwise_group_detector.cc
  paddle/fluid/framework/ir/fusion_group/elementwise_group_detector.h
  paddle/fluid/framework/ir/fusion_group/fusion_group_pass.cc
  paddle/fluid/framework/ir/fusion_group/fusion_group_pass.h
  paddle/fluid/framework/ir/pass_tester_helper.h
Due: clang-format-with-version-check, copyright_checker

add unittest
  python/paddle/fluid/tests/unittests/test_masked_select.py
Due: copyright_checker

add train demo to paddle_build.sh
  paddle/fluid/train/demo/clean.sh
  paddle/fluid/train/demo/main_program
  paddle/fluid/train/demo/run.sh
  paddle/fluid/train/demo/startup_program
  paddle/scripts/paddle_build.sh
Due: none

code cleaning
  paddle/fluid/train/demo/run.sh
Due: none

test=develop
  paddle/fluid/train/demo/run.sh
Due: none

resolve API.spec conflict and polish dpsgd_op.h,test=develop
  paddle/fluid/operators/optimizers/dpsgd_op.h
Due: clang-format-with-version-check, copyright_checker

Revert "modify into PADDLE_ENFORCE_CUDA_SUCCESS test=develop"
  paddle/fluid/operators/lookup_table_v2_op.cu
Due: clang-format-with-version-check, copyright_checker

modify into PADDLE_ENFORCE_CUDA_SUCCESS test=develop
  paddle/fluid/operators/lookup_table_v2_op.cu
Due: clang-format-with-version-check, copyright_checker

move api into fluid.embedding test=develop
  python/paddle/fluid/__init__.py
  python/paddle/fluid/tests/unittests/test_lookup_table_v2_op.py
Due: copyright_checker

Remove constraint that last dimension is forced to be 1 by add lookup_table_v2 test=develop
  paddle/fluid/API.spec
  paddle/fluid/operators/lookup_table_v2_op.cc
  paddle/fluid/operators/lookup_table_v2_op.cu
  paddle/fluid/operators/lookup_table_v2_op.h
  python/paddle/fluid/input.py
  python/paddle/fluid/tests/unittests/test_lookup_table_v2_op.py
Due: clang-format-with-version-check, copyright_checker

remove program desc files
  paddle/fluid/train/demo/main_program
  paddle/fluid/train/demo/run.sh
  paddle/fluid/train/demo/startup_program
Due: none

hide with inference optim API (#17355)
  paddle/fluid/API.spec
  python/paddle/fluid/compiler.py
  python/paddle/fluid/sampcd_processor.py
  python/paddle/fluid/tests/book/test_word2vec.py
Due: copyright_checker

refine err msg again, test=develop
  paddle/fluid/memory/detail/system_allocator.cc
Due: clang-format-with-version-check, copyright_checker

using multi thread to calc delta
  paddle/fluid/operators/distributed/communicator.cc
  paddle/fluid/operators/distributed/communicator.h
Due: clang-format-with-version-check, copyright_checker

delete useless sendence
  paddle/fluid/operators/distributed/communicator.cc
Due: clang-format-with-version-check, copyright_checker

Add template functions for Acquire primitive/primitive_desc (#19867)
  paddle/fluid/operators/mkldnn/activation_mkldnn_op.cc
  paddle/fluid/operators/mkldnn/softmax_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
Due: clang-format-with-version-check, copyright_checker

Removing last dims constraints of seq_pad and seq_unpad test=develop
  paddle/fluid/API.spec
  paddle/fluid/operators/sequence_ops/sequence_pad_op.cc
  paddle/fluid/operators/sequence_ops/sequence_unpad_op.cc
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_sequence_pad_op.py
  python/paddle/fluid/tests/unittests/test_sequence_unpad_op.py
Due: clang-format-with-version-check, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
