Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

ci: prefer GCC 11 libstdc++ during build
  ci/run_setup.sh
Due: copyright_checker

Preserve legacy sparse_addmm schema compatibility
  paddle/fluid/operators/generator/CMakeLists.txt
  paddle/fluid/operators/generator/generate_sparse_op.py
  paddle/fluid/operators/generator/templates/sparse_op.c.j2
  paddle/phi/ops/yaml/legacy/static_backward.yaml
  paddle/phi/ops/yaml/legacy/static_ops.yaml
  paddle/phi/ops/yaml/op_compat.yaml
Due: copyright_checker, pylint-doc-string

【FSDP】Add FSDP in dynamic (#78577)
  python/paddle/distributed/fsdp/_fsdp_context.py
  python/paddle/distributed/fsdp/fully_shard.py
  python/paddle/distributed/fsdp/fully_shard_fusion.py
  python/paddle/optimizer/optimizer.py
  test/collective/fleet/dygraph_group_fsdp.py
Due: copyright_checker, pylint-doc-string

ensure consistent fp16/bf16 precision in CudaLog2GradFunctor across CUDA and ROCm/HIP
  paddle/phi/kernels/funcs/activation_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update empty_strided for compat
  paddle/phi/api/include/compat/ATen/ops/empty_strided.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

align uniform cpu kernel with torch
  paddle/phi/kernels/cpu/uniform_kernel.cc
  paddle/phi/kernels/funcs/uniform_real_distribution.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix comment
  paddle/phi/api/include/compat/ATen/ops/empty_strided.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix according to ci bot
  paddle/phi/kernels/cpu/uniform_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Simplify ForbidKeywordsDecorator and align Tensor.split in api, not in separate logic
  python/paddle/compat/__init__.py
  python/paddle/compat/api_dispatch.py
  python/paddle/compat/nn/__init__.py
  python/paddle/compat/nn/functional/__init__.py
  python/paddle/nn/layer/common.py
  python/paddle/tensor/compat_softmax.py
  python/paddle/tensor/manipulation.py
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
  python/paddle/utils/decorator_utils.py
  test/compat/test_compat_namespace_aliased.py
  test/compat/test_compat_warn.py
  test/legacy_test/test_compat_functional_linear.py
  test/legacy_test/test_compat_log_softmax.py
  test/legacy_test/test_compat_minmax.py
  test/legacy_test/test_compat_nn_linear.py
  test/legacy_test/test_compat_pad.py
  test/legacy_test/test_compat_smooth_l1_loss.py
  test/legacy_test/test_compat_softmax.py
  test/legacy_test/test_compat_sort.py
  test/legacy_test/test_compat_split.py
  test/legacy_test/test_compat_unfold.py
Due: copyright_checker, pylint-doc-string

Fix ppc64le build by excluding SIMD/AVX code paths
  paddle/phi/backends/cpu/cpu_info.cc
  paddle/phi/backends/cpu/cpu_info.h
  paddle/phi/core/platform/denormal.cc
  paddle/phi/kernels/funcs/search_compute.h
  paddle/phi/kernels/funcs/softmax_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

ci: add CE saveload abort diagnostics
  .github/workflows/_CE-Framework.yml
Due: none

ci: install CUDA CCCL headers in CE image
  .github/workflows/_CE-Framework.yml
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

[CodeStyle] Bump ast-grep to v0.45.0 and Ruff to v0.16.0
  .github/workflows/Codestyle-Check.yml
  .pre-commit-config.yaml
  python/paddle/static/nn/control_flow.py
  test/dataset/imikolov_test.py
  tools/print_signatures.py
Due: copyright_checker, pylint-doc-string

ci: keep GCC runtime first in test jobs
  .github/workflows/_Api-Benchmark.yml
  ci/static_check.sh
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

ci: remove CE debug env exports
  .github/workflows/_CE-Framework.yml
Due: none

🐛 Fix CheckTensorHasNanOrInf for fp8
  paddle/fluid/eager/nan_inf_utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CodeStyle] Preserve multiline Markdown example
  .agents/skills/paddle-op-dev/references/unit-test.md
Due: none

test: cover skipped nan inf checks for fp8
  test/cpp/eager/task_tests/nan_inf_utils_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[FlexCheckpoint] support grouped-GEMM reshape between legacy 2-D and canonical N-D layouts
  python/paddle/distributed/flex_checkpoint/aoa/aoa_engine.py
  python/paddle/distributed/flex_checkpoint/aoa/macros.py
  python/paddle/distributed/flex_checkpoint/dcp/utils.py
  test/flex_checkpoint/test_aoa_engine_reshape.py
Due: copyright_checker, pylint-doc-string

Review fixes: indices_queue.get timeout, macOS reductions guard, watchdog GetLastError, keeper refcount type
  paddle/fluid/imperative/data_loader.cc
  paddle/phi/core/memory/allocation/mmap_allocator.cc
  python/paddle/incubate/multiprocessing/reductions.py
  python/paddle/io/dataloader/worker.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Cleanup and optimization from review
  paddle/fluid/imperative/data_loader.cc
  paddle/fluid/pybind/imperative.cc
  paddle/fluid/pybind/tensor.cc
  paddle/phi/core/memory/allocation/mmap_allocator.cc
  paddle/phi/core/memory/allocation/mmap_allocator.h
  python/paddle/base/core.py
  python/paddle/incubate/multiprocessing/reductions.py
  python/paddle/io/dataloader/worker.py
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_dataloader_multiprocess.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix Windows link error in unified ShareDenseTensorFilename helper
  paddle/fluid/pybind/tensor.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Execute Infrastructure] 跳过 FP8 Tensor 的 NaN 和 Inf 检查 (#79547)
  paddle/fluid/eager/nan_inf_utils.cc
  test/cpp/eager/task_tests/nan_inf_utils_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[API Compatibility] Support ChangePrefixMatcher for aligned nn classes -part (#79539)
  python/paddle/compat/__init__.py
  python/paddle/compat/nn/__init__.py
  python/paddle/compat/nn/functional/__init__.py
  python/paddle/nn/__init__.py
  python/paddle/nn/layer/common.py
  python/paddle/tensor/compat_softmax.py
  python/paddle/tensor/manipulation.py
  python/paddle/tensor/math.py
  python/paddle/tensor/search.py
  python/paddle/utils/decorator_utils.py
  test/compat/test_compat_namespace_aliased.py
  test/compat/test_compat_warn.py
  test/legacy_test/test_api_compatibility_part1.py
  test/legacy_test/test_compat_functional_linear.py
  test/legacy_test/test_compat_log_softmax.py
  test/legacy_test/test_compat_minmax.py
  test/legacy_test/test_compat_nn_linear.py
  test/legacy_test/test_compat_pad.py
  test/legacy_test/test_compat_smooth_l1_loss.py
  test/legacy_test/test_compat_softmax.py
  test/legacy_test/test_compat_sort.py
  test/legacy_test/test_compat_split.py
  test/legacy_test/test_compat_unfold.py
Due: copyright_checker, pylint-doc-string

support EchoMTP sync params and moment
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/pp_layers.py
  test/collective/fleet/hybrid_parallel_shared_submodule_weight_only_diff_rank.py
  test/collective/fleet/test_parallel_dygraph_pipeline_parallel_shared_weight.py
Due: copyright_checker, pylint-doc-string

ci: guard docker build script hash
  .github/workflows/docker.yml
Due: none

update empty_strided for compat (#79540)
  paddle/phi/api/include/compat/ATen/ops/empty_strided.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Memory] Add allocator backing release diagnostics
  paddle/phi/core/memory/allocation/auto_growth_best_fit_allocator.cc
  paddle/phi/core/memory/allocation/auto_growth_best_fit_allocator.h
  paddle/phi/core/memory/allocation/stream_safe_cuda_allocator.cc
  paddle/phi/core/memory/allocation/stream_safe_cuda_allocator.h
  paddle/phi/core/memory/allocation/vmm_auto_growth_best_fit_allocator_v2.cc
  paddle/phi/core/memory/allocation/vmm_auto_growth_best_fit_allocator_v2.h
  test/cpp/fluid/memory/auto_growth_best_fit_allocator_test.cc
  test/cpp/fluid/memory/vmm_auto_growth_best_fit_allocator_v2_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

align complex mul with torch (#79471)
  paddle/phi/common/complex.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Operator Mechanism] Support mm out_dtype for FP16 CUDA
  paddle/phi/infermeta/binary.cc
  paddle/phi/kernels/funcs/blas/blas.h
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
  paddle/phi/kernels/gpu/matmul_kernel.cu
  paddle/phi/kernels/impl/matmul_kernel_impl.h
  python/paddle/tensor/math.py
  test/legacy_test/test_mm_out.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Operator Mechanism] Clean up BLAS APIs and improve int64 safety (#79534)
  paddle/phi/kernels/cpu/attention_lstm_kernel.cc
  paddle/phi/kernels/cpu/dot_kernel.cc
  paddle/phi/kernels/cpu/gelu_grad_kernel.cc
  paddle/phi/kernels/cpu/index_select_impl.h
  paddle/phi/kernels/cpu/triangular_solve_kernel.cc
  paddle/phi/kernels/funcs/blas/blas.h
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
  paddle/phi/kernels/funcs/blas/blas_impl.h
  paddle/phi/kernels/funcs/blas/blas_impl.hip.h
  paddle/phi/kernels/funcs/gru_compute.cc
  paddle/phi/kernels/funcs/math/context_project.h
  paddle/phi/kernels/funcs/scatter.h
  paddle/phi/kernels/fusion/cpu/fused_embedding_fc_lstm_kernel.cc
  paddle/phi/kernels/gpu/triangular_solve_kernel.cu
  paddle/phi/kernels/impl/cholesky_grad_kernel_impl.h
  test/cpp/phi/kernels/test_math_function.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Python API] Move bmm to handwritten implementation
  paddle/phi/ops/yaml/python_api_info.yaml
  python/paddle/__init__.py
  python/paddle/_paddle_docs.py
  python/paddle/tensor/__init__.py
  python/paddle/tensor/linalg.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

align 3 Tensor api and PReLU
  python/paddle/compat/__init__.py
  python/paddle/compat/api_dispatch.py
  python/paddle/nn/layer/activation.py
  test/compat/test_compat_namespace_aliased.py
  test/legacy_test/test_api_compatibility_part2.py
Due: copyright_checker, pylint-doc-string

[Operator Mechanism] Support bmm out_dtype for BF16 CUDA
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  paddle/phi/kernels/bmm_kernel.h
  paddle/phi/kernels/funcs/blas/blas.h
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
  paddle/phi/kernels/gpu/bmm_kernel.cu
  paddle/phi/kernels/impl/bmm_kernel_impl.h
  paddle/phi/ops/yaml/inconsistent/dygraph_ops.yaml
  python/paddle/tensor/math.py
  test/legacy_test/test_bmm_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Validate baddbmm dtypes and clean up sparse codegen
  paddle/fluid/operators/generator/CMakeLists.txt
  paddle/fluid/operators/generator/templates/sparse_op.c.j2
  paddle/phi/infermeta/ternary.cc
  paddle/phi/ops/yaml/op_compat.yaml
  test/legacy_test/test_baddbmm_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[cherry-pick] support EchoMTP sync params and moment(#79542)
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/pp_layers.py
  test/collective/fleet/hybrid_parallel_shared_submodule_weight_only_diff_rank.py
  test/collective/fleet/test_parallel_dygraph_pipeline_parallel_shared_weight.py
Due: copyright_checker, pylint-doc-string

[Operator Mechanism] Support bmm out_dtype for FP16 CUDA
  paddle/phi/infermeta/binary.cc
  paddle/phi/kernels/funcs/blas/blas.h
  paddle/phi/kernels/funcs/blas/blas_impl.cu.h
  paddle/phi/kernels/gpu/bmm_kernel.cu
  paddle/phi/kernels/impl/bmm_kernel_impl.h
  python/paddle/tensor/math.py
  test/legacy_test/test_bmm_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

