Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix test=develop
  paddle/fluid/framework/data_set.cc
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  python/paddle/fluid/dataset.py
  python/paddle/fluid/incubate/fleet/utils/hdfs.py
Due: clang-format-with-version-check, copyright_checker

fix CI bug, test=develop
  python/paddle/fluid/contrib/slim/quantization/quantization_mkldnn_pass.py
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
  python/paddle/fluid/contrib/slim/tests/qat_int8_comparison.py
Due: copyright_checker

fix test=develop
  python/paddle/fluid/dataset.py
  python/paddle/fluid/tests/unittests/test_data_norm_op.py
Due: copyright_checker

update API.spec test=document_preview test=develop
  paddle/fluid/API.spec
Due: none

fix test=develop
  paddle/fluid/framework/data_set.cc
Due: clang-format-with-version-check, copyright_checker

Revert "update API.spec test=document_preview test=develop"
  paddle/fluid/API.spec
Due: none

fix some bugs
  paddle/fluid/operators/expand_as_op.cc
  paddle/fluid/operators/expand_as_op.cu
  paddle/fluid/operators/expand_as_op.h
Due: clang-format-with-version-check, copyright_checker

add ut, test=develop
  python/paddle/fluid/incubate/fleet/base/role_maker.py
  python/paddle/fluid/tests/unittests/test_fleet_rolemaker.py
Due: copyright_checker

fix exception with PY2 and PY3, test=develop
  python/paddle/fluid/incubate/fleet/base/role_maker.py
Due: copyright_checker

Add lock to cudnn handle calls (#19845)
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
Due: clang-format-with-version-check, copyright_checker

make run.sh excutable
  paddle/fluid/train/demo/clean.sh
  paddle/fluid/train/demo/run.sh
Due: none

switch with_mkl to off
  paddle/scripts/paddle_build.sh
Due: none

fix test=develop
  python/paddle/fluid/tests/unittests/test_data_norm_op.py
  python/paddle/fluid/tests/unittests/test_dataset.py
Due: copyright_checker

switch with_mkl to off
  paddle/fluid/train/demo/run.sh
Due: none

fix test=develop
  python/paddle/fluid/tests/unittests/test_data_norm_op.py
Due: copyright_checker

fix test=develop
  paddle/fluid/framework/dist_multi_trainer.cc
Due: clang-format-with-version-check, copyright_checker

Update role_maker.py
  python/paddle/fluid/incubate/fleet/base/role_maker.py
Due: copyright_checker

bug fix, test=develop
  python/paddle/fluid/incubate/fleet/base/role_maker.py
Due: copyright_checker

refine softmax calc. test=develop
  paddle/fluid/operators/math/softmax_impl.h
Due: clang-format-with-version-check, copyright_checker

new designed save/load interface of dynamic graph
  python/paddle/fluid/dygraph/checkpoint.py
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/optimizer.py
Due: copyright_checker

add instance norm (#19500)
  paddle/fluid/API.spec
  paddle/fluid/operators/instance_norm_op.cc
  paddle/fluid/operators/instance_norm_op.cu
  paddle/fluid/operators/instance_norm_op.h
  paddle/fluid/operators/norm_utils.h
  paddle/fluid/operators/sync_batch_norm_op.cu
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_instance_norm_op.py
  python/paddle/fluid/tests/unittests/test_norm_nn_grad.py
Due: clang-format-with-version-check, copyright_checker

follow comments test=develop
  paddle/fluid/framework/details/scope_buffered_monitor.cc
  paddle/fluid/platform/flags.cc
Due: clang-format-with-version-check, copyright_checker

fix related unnitest failed, test=develop
  paddle/fluid/framework/tensor_test.cc
  paddle/fluid/platform/enforce_test.cc
Due: clang-format-with-version-check, copyright_checker

paddle cloud role maker fix (#19646)
  python/paddle/fluid/incubate/fleet/base/role_maker.py
  python/paddle/fluid/tests/unittests/test_fleet_rolemaker.py
Due: copyright_checker

add dynamic graph save/load unittest
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/test_imperative_checkpoint.py
Due: copyright_checker

Unify DataLoader APIs (#19305)
  paddle/fluid/API.spec
  paddle/fluid/pybind/data_set_py.cc
  paddle/fluid/pybind/reader_py.cc
  python/paddle/fluid/reader.py
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/simple_nets.py
  python/paddle/fluid/tests/unittests/test_dataset.py
  python/paddle/fluid/tests/unittests/test_dataset_dataloader.py
  python/paddle/fluid/tests/unittests/test_decoupled_py_reader_data_check.py
  python/paddle/fluid/tests/unittests/test_generator_dataloader.py
  python/paddle/fluid/tests/unittests/test_py_reader_return_list.py
Due: clang-format-with-version-check, copyright_checker
