Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

suit for one case
  paddle/fluid/primitive/composite/composite.h
  python/paddle/decomposition/decomp.py
  test.py
  test/legacy_test/prim_op_test.py
  test/legacy_test/test_one_hot_v2_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix (#63158)
  python/CMakeLists.txt
Due: none

[CINN]Support inplace type operations
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/hlir/op/elementwise.cc
  paddle/cinn/ir/group_schedule/tactic/tile_first_general_tactic.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op.h
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/fluid/primitive/composite/composite.h
  paddle/fluid/primitive/manual/manual_primitive.h
  paddle/fluid/primitive/primitive.yaml
  test/ir/pir/cinn/symbolic/test_sub_graph_batch_norm.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th Fundable Projects 3 No.319】Remove fluid operator sampling_id (#63492)
  paddle/fluid/operators/sampling_id_op.cc
  paddle/fluid/operators/sampling_id_op.cu
  paddle/fluid/operators/sampling_id_op.h
  paddle/fluid/operators/sampling_id_op_xpu.cc
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/backends/xpu/xpu3_op_list.cc
  python/paddle/distribution/distribution.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add illustration for reshape API
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

【Hackathon 6th Fundable Projects 3 No.60】Remove fluid operator chunk_eval (#63475)
  paddle/fluid/operators/chunk_eval_op.cc
  paddle/fluid/operators/chunk_eval_op.h
  test/cpp/inference/api/CMakeLists.txt
  test/legacy_test/test_chunk_eval_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

support ExpandAsOpInferSymbolicShape; in add_broadcast_to_elementwise_pass, insert shape data after create op; allow Concht when input size is 1.
  paddle/cinn/hlir/dialect/operator/transforms/add_broadcast_to_elementwise_pass.cc
  paddle/cinn/hlir/pe/transform.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add to_static ut
  paddle/fluid/pybind/dist_api.cc
  python/paddle/distributed/auto_parallel/static/pir_pass.py
  python/paddle/distributed/auto_parallel/static/reshard_funcs/p_to_r_reshard_func.py
  python/paddle/jit/dy2static/function_spec.py
  test/auto_parallel/reshard_p_to_r.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix uncompelete substitution
  paddle/pir/include/dialect/shape/utils/shape_analysis.h
  paddle/pir/src/dialect/shape/utils/shape_analysis.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/cinn/hlir/dialect/operator/ir/manual_op.cc
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/pir/dialect/CMakeLists.txt
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/infer_symbolic_shape.h
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.cc
  paddle/fluid/pybind/pir.cc
  paddle/pir/CMakeLists.txt
  paddle/pir/include/dialect/shape/interface/infer_symbolic_shape/infer_symbolic_shape.h
  paddle/pir/include/dialect/shape/ir/shape_optimization_pass.h
  paddle/pir/src/dialect/shape/interface/infer_symbolic_shape/infer_symbolic_shape.cc
  paddle/pir/src/dialect/shape/ir/shape_optimization_pass.cc
  test/cpp/pir/cinn/adt/map_expr_test.cc
  test/cpp/pir/shape_dialect/infer_symbolic_shape_test.cc
  test/cpp/pir/shape_dialect/shape_analysis_test.cc
  test/cpp/pir/shape_dialect/shape_optimization_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add data compute for some binary elementwise ops
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/element_wise_binary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Refine `operator-fusion` code
  paddle/cinn/api/op_topo_pattern.h
  paddle/cinn/operator_fusion/backend/pattern_fuser.cc
  paddle/cinn/operator_fusion/pattern.h
  paddle/cinn/operator_fusion/pattern_fuser.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cleanup and add comment
  paddle/cinn/operator_fusion/pattern_fuser.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

delete code
  test/cpp/prim/CMakeLists.txt
Due: none

fix fp16 test
  test/legacy_test/test_sinc.py
Due: copyright_checker, pylint-doc-string

fix bug
  test/legacy_test/seresnext_net.py
Due: copyright_checker, pylint-doc-string

[CINN][HIP] add custom call for memcpy and memset
  cmake/cinn.cmake
  paddle/cinn/hlir/op/custom_call.cc
  paddle/cinn/hlir/pass/single_group_optimize_pass.cc
  paddle/cinn/runtime/hip/hip_intrinsics.cc
  paddle/cinn/runtime/hip/hip_util.cc
  paddle/cinn/runtime/hip/hip_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix bug
  python/paddle/distributed/passes/pass_utils.py
Due: copyright_checker, pylint-doc-string

Add symbolic isfinite/inf/nan
  paddle/cinn/hlir/op/elementwise.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  paddle/phi/api/yaml/ops.yaml
  test/ir/pir/cinn/symbolic/test_cinn_elementwise_symbolic.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[CINN][SYCL&HIP] fix cpu compile
  paddle/cinn/backends/sycl/codegen_sycl_dev.cc
  paddle/cinn/optim/optimize.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add nadam gpu op
  paddle/phi/kernels/gpu/nadam_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

xpu conv bn pass
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/pir/drr/src/ir_operation_factory.cc
  paddle/fluid/pir/transforms/passes.h
  paddle/fluid/pir/transforms/xpu/conv2d_bn_fuse_xpu_pass.cc
  paddle/fluid/pir/transforms/xpu/conv2d_bn_fuse_xpu_pass.h
  test/ir/pir/fused_pass/xpu/test_conv2d_bn_fuse_xpu_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix compile error
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add return value
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/element_wise_binary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add enable_send_recv_overlap
  python/paddle/distributed/passes/pass_utils.py
  python/paddle/distributed/passes/pipeline_scheduler_pass/pipeline_zero_bubble.py
  test/auto_parallel/pipeline_scheduler_zb_unittest.py
Due: copyright_checker, pylint-doc-string

add nadam docstring
  python/paddle/optimizer/nadam.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/pir/src/dialect/shape/utils/shape_analysis.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

one_hot_ver1
  paddle/fluid/pir/dialect/op_generator/op_gen.py
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/fluid/primitive/composite/composite.h
  paddle/phi/api/yaml/legacy_ops.yaml
  test/legacy_test/prim_op_test.py
  test/legacy_test/test_one_hot_v2_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix merge
  paddle/fluid/primitive/composite/composite.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix style
  test/legacy_test/prim_op_test.py
Due: copyright_checker, pylint-doc-string

fix style2
  test/legacy_test/prim_op_test.py
  test/legacy_test/test_one_hot_v2_op.py
Due: copyright_checker, pylint-doc-string

feat(pir): reg pull_gpups_sparse
  paddle/fluid/ir_adaptor/translator/op_compat_gen.py
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
  paddle/phi/infermeta/ternary.cc
  paddle/phi/infermeta/ternary.h
  test/ir/pir/translator/test_op_translator.py
  test/ir/pir/translator/test_pull_gpups_sparse_translator.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/fsp_op.cc
  paddle/fluid/operators/fsp_op.cu
  paddle/fluid/operators/fsp_op.h
  test/legacy_test/test_fsp_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/dequeue_op.cc
  paddle/fluid/operators/enqueue_op.cc
  test/legacy_test/test_queue.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/detection_map_op.cc
  paddle/fluid/operators/detection_map_op.h
  test/cpp/inference/api/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_detection_map_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/framework/op_compatible_info.cc
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/multiclass_nms_op.cc
  paddle/fluid/operators/detection/CMakeLists.txt
  paddle/fluid/operators/detection/multiclass_nms_op.cc
  python/paddle/incubate/layers/__init__.py
  python/paddle/incubate/layers/nn.py
  test/legacy_test/test_detection.py
  test/legacy_test/test_multiclass_nms_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/copy_cross_scope_op.cc
  python/paddle/base/framework.py
  test/cpp/fluid/CMakeLists.txt
  test/cpp/fluid/copy_cross_scope_test.cc
  test/ir/inference/program_config.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/bpr_loss_op.cc
  paddle/fluid/operators/bpr_loss_op.h
  test/legacy_test/test_bpr_loss_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/check_memory_continue_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

