Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

Backup commit for test_hub_ernie_gpu.py
  paddle/fluid/framework/ir/graph.cc
  paddle/fluid/framework/ir/graph_helper.cc
  paddle/fluid/framework/ir/graph_helper.h
  paddle/fluid/framework/ir/graph_helper_test.cc
  paddle/fluid/framework/ir/graph_to_program_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add NPU support for zero_copy_tensor.
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
  paddle/fluid/inference/api/details/zero_copy_tensor_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add test
  paddle/fluid/operators/collective/c_allreduce_sum_op_npu_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update test_smooth_l1_loss_op_npu.py
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
Due: pylint-doc-string, copyright_checker

modify some variable's name
  paddle/fluid/operators/smooth_l1_loss_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[NPU] Support npu op flatten2 (#34579)
  paddle/fluid/operators/flatten_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_flatten2_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add not_equal NPU op (#34560)
  paddle/fluid/operators/controlflow/compare_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_compare_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

optimize ClipGradByGlobalNorm (#34586)
  python/paddle/fluid/clip.py
  python/paddle/fluid/tests/unittests/test_fleet_sharding_meta_optimizer.py
  python/paddle/fluid/tests/unittests/test_gradient_clip.py
Due: pylint-doc-string, copyright_checker

[pass_enhance]fix the mkldnn model performance drop problem. test=develop (#34625)
  paddle/fluid/framework/ir/adaptive_pool2d_convert_global_pass.cc
  paddle/fluid/framework/ir/conv_affine_channel_fuse_pass.cc
  paddle/fluid/framework/ir/conv_bn_fuse_pass.cc
  paddle/fluid/framework/ir/conv_elementwise_add2_act_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_bias_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_elementwise_add_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_squash_pass.cc
  paddle/fluid/framework/ir/quant_conv2d_dequant_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

temp
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/kernel_primitives/datamover_primitives.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

revert unnesessary codes.
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

decrease gpu memory consumption
  python/paddle/fluid/tests/unittests/test_parallel_executor_fix_op_run_order.py
Due: pylint-doc-string, copyright_checker

rm redundant {1}
  paddle/fluid/operators/activation_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[NPU] Support npu op index_select (#34611)
  paddle/fluid/operators/index_select_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_index_select_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

notest;pm-op-benchmark
  tools/test_ci_op_benchmark.sh
Due: copyright_checker

add smooth_l1_loss_op_npu
  paddle/fluid/operators/smooth_l1_loss_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

change XXDeviceContext to XXContext
  paddle/top/cpu/math.h
  paddle/top/cuda/math.cu
  paddle/top/cuda/math.h
  paddle/top/mkldnn/base.h
  paddle/top/mkldnn/math.h
  paddle/top/npu/math.h
  paddle/top/selected_rows/math.h
  paddle/top/xpu/math.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add test for nan
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/c_allreduce_sum_op_npu_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

init commit of cost model
  paddle/fluid/framework/ir/cost_model.h
  paddle/fluid/framework/ir/cost_model/cost_model.cc
  paddle/fluid/platform/profiler.cc
  python/paddle/cost_model/cost_model.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix log_softmax if any dimension is 0-d
  paddle/fluid/operators/log_softmax_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add some annotations.
  paddle/fluid/operators/smooth_l1_loss_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add NPU support for zero_copy_tensor. (#34629)
  paddle/fluid/inference/api/details/zero_copy_tensor.cc
  paddle/fluid/inference/api/details/zero_copy_tensor_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Support Ternary ops in elmentwise and broadcast (#33976)
  paddle/fluid/operators/elementwise/elementwise_add_op.h
  paddle/fluid/operators/elementwise/elementwise_op_broadcast.cu.h
  paddle/fluid/operators/elementwise/elementwise_op_impl.cu.h
  paddle/fluid/operators/reduce_ops/reduce_op.cu.h
  paddle/fluid/platform/fast_divmod.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add size npu op
  paddle/fluid/operators/size_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_size_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

optimize pipeline performance with recompute and amp, test=allcase (#34519)
  python/paddle/fluid/backward.py
  python/paddle/fluid/contrib/mixed_precision/fp16_lists.py
  python/paddle/fluid/contrib/mixed_precision/fp16_utils.py
  python/paddle/fluid/tests/unittests/test_fleet_pipeline_meta_optimizer.py
Due: pylint-doc-string, copyright_checker

add copy any.hpp to custom op depends
  cmake/inference_lib.cmake
  python/setup.py.in
Due: none

remove boost::algorithm::ends_with ，boost macro and boost::lexical_cast apis (#34310)
  paddle/fluid/distributed/common/sparse_sharding_merge.h
  paddle/fluid/distributed/index_dataset/index_wrapper.cc
  paddle/fluid/distributed/table/common_sparse_table.cc
  paddle/fluid/distributed/table/common_sparse_table.h
  paddle/fluid/distributed/table/ssd_sparse_table.cc
  paddle/fluid/framework/details/CMakeLists.txt
  paddle/fluid/framework/fleet/fleet_wrapper.cc
  paddle/fluid/framework/ir/lock_free_optimize_pass.h
  paddle/fluid/operators/expand_as_op.h
  paddle/fluid/operators/expand_as_v2_op.h
  paddle/fluid/operators/expand_op.h
  paddle/fluid/operators/expand_v2_op.h
  paddle/fluid/operators/meshgrid_op.h
  paddle/fluid/operators/tile_op.h
  paddle/fluid/platform/cudnn_workspace_helper.cc
  paddle/fluid/string/CMakeLists.txt
  paddle/fluid/string/string_helper.cc
  paddle/fluid/string/string_helper.h
  paddle/fluid/string/string_helper_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
