Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

Elastic as module (#34572)
  python/paddle/distributed/elastic.py
  python/paddle/distributed/fleet/elastic/__init__.py
  python/paddle/distributed/fleet/elastic/collective.py
  python/paddle/distributed/fleet/elastic/manager.py
  python/paddle/distributed/fleet/launch.py
  python/paddle/fluid/tests/unittests/test_fleet_launch_elastic.sh
  python/setup.py.in
Due: pylint-doc-string, copyright_checker

add interpreter cmakefile; test=develop
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/interpreter/CMakeLists.txt
Due: none

Support npu kernel for atan and atan_grad op, test=develop
  paddle/fluid/operators/activation_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_atan_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

merge
  paddle/fluid/operators/reduce_ops/reduce_mean_op.cu
  paddle/fluid/operators/reduce_ops/reduce_op.cu.h
  paddle/fluid/operators/reduce_ops/reduce_sum_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/operators/reduce_ops/reduce_all_op.cu
  paddle/fluid/operators/reduce_ops/reduce_any_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add copyright in other files
  python/paddle/utils/gast/__init__.py
  python/paddle/utils/gast/ast3.py
  python/paddle/utils/gast/astn.py
Due: pylint-doc-string, copyright_checker

Support npu kernel for atan and atan_grad op, test=develop
  paddle/fluid/operators/activation_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix copyright
  python/paddle/utils/gast/__init__.py
  python/paddle/utils/gast/ast3.py
  python/paddle/utils/gast/astn.py
  python/paddle/utils/gast/gast.py
Due: pylint-doc-string, copyright_checker

add the unittest to compare the result between npu ans cpu
  paddle/fluid/operators/activation_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_hard_swish_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[NPU] Support npu op: (1) cos (2) cos_grad
  paddle/fluid/operators/activation_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_cos_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Update test_cos_op_npu.py
  python/paddle/fluid/tests/unittests/npu/test_cos_op_npu.py
Due: pylint-doc-string, copyright_checker

support kunlun black list and add kl1 op
  paddle/fluid/framework/operator.cc
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/platform/xpu/xpu1_op_list.h
  paddle/fluid/platform/xpu/xpu_op_list.cc
  paddle/fluid/platform/xpu/xpu_op_list.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

format the prompt of exception
  python/paddle/fluid/tests/unittests/npu/test_hard_swish_op_npu.py
Due: pylint-doc-string, copyright_checker

Add NPU kernel for norm Op: float16 and float32
  paddle/fluid/operators/norm_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_norm_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

shard the optimizer, test=allcase
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
Due: pylint-doc-string, copyright_checker

Add gradient with optimizer API (#34395)
  python/paddle/autograd/backward_mode.py
  python/paddle/fluid/backward.py
  python/paddle/fluid/tests/unittests/test_backward.py
Due: pylint-doc-string, copyright_checker

Update activation_op_npu.cc
  paddle/fluid/operators/activation_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/checknumeric_npu_test.cc
  paddle/testing/paddle_gtest_main.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add CuddEvent destructor function
  paddle/fluid/platform/event.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add unittest.
  paddle/fluid/operators/set_value_op.cc
  paddle/fluid/operators/set_value_op.h
  python/paddle/fluid/tests/unittests/test_set_value_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

remove MKLDNNTensorMeta, add MKLDNNDenseTensor
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/top_utils.cc
  paddle/fluid/framework/top_utils.h
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/scale_op.h
  paddle/top/core/dense_tensor.cc
  paddle/top/core/dense_tensor.h
  paddle/top/core/mkldnn_dense_tensor.h
  paddle/top/core/selected_rows.h
  paddle/top/core/tensor_meta.h
  paddle/top/core/tensor_status.h
  paddle/top/cuda/math.cu
  paddle/top/mkldnn/base.h
  paddle/top/mkldnn/math.h
  paddle/top/tests/dense_tensor_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

polish unittest.
  python/paddle/fluid/tests/unittests/test_set_value_op.py
Due: pylint-doc-string, copyright_checker

[NPU] Add box_coder
  paddle/fluid/operators/detection/box_coder_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_box_coder_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

paddle/nn/functional docs' bug fix (#34580)
  python/paddle/fluid/layers/nn.py
  python/paddle/nn/functional/activation.py
  python/paddle/nn/functional/loss.py
  python/paddle/nn/functional/norm.py
Due: pylint-doc-string, copyright_checker

add exp and exp_grad npu op
  paddle/fluid/operators/exp_op.cc
  paddle/fluid/operators/exp_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_exp_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add any.hpp to utils and replace boost::any with self defined paddle::any
  paddle/fluid/extension/include/ext_op_meta_info.h
  paddle/fluid/framework/custom_operator.cc
  paddle/fluid/framework/ir/graph.h
  paddle/fluid/framework/ir/node.h
  paddle/fluid/framework/ir/pass.h
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/utils/any.hpp
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

polish code.
  paddle/fluid/operators/set_value_op.cc
  paddle/fluid/operators/set_value_op.cu
  paddle/fluid/operators/set_value_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Revert pull request 34212 (#34558)
  paddle/fluid/framework/distributed_strategy.proto
  python/paddle/fluid/tests/unittests/test_fleet_sharding_meta_optimizer.py
Due: clang-format-with-version-check, pylint-doc-string, copyright_checker

fix bug of p2p for partial
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/meta_parallel/pp_utils/p2p_communication.py
  python/paddle/fluid/tests/unittests/hybrid_parallel_pp_transformer.py
Due: pylint-doc-string, copyright_checker

fix npu xpu
  python/paddle/fluid/clip.py
Due: pylint-doc-string, copyright_checker

support NCHW multi-threading
  paddle/fluid/operators/batch_norm_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add smooth_l1_loss op for npu
  paddle/fluid/operators/smooth_l1_loss_op_npu.cc
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add quant_dequant_unitest: fc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_quant_conv2d_dequant_fuse_pass.py
Due: pylint-doc-string, copyright_checker

add smooth_l1_loss op for npu
  python/paddle/fluid/tests/unittests/npu/test_smooth_l1_loss_op_npu.py
Due: pylint-doc-string, copyright_checker

remove useless code; test=develop
  paddle/fluid/framework/new_exec.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
