Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

[XPU]add split op for kunlun2,*test=kunlun
  python/paddle/fluid/tests/unittests/xpu/test_split_op_xpu.py
Due: pylint-doc-string, copyright_checker

revise parallelizer and partitioner
  python/paddle/distributed/auto_parallel/parallelizer.py
  python/paddle/distributed/auto_parallel/partitioner.py
Due: pylint-doc-string, copyright_checker

update unitest
  python/paddle/fluid/tests/unittests/test_auto_parallel_cost_model.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_mapper.py
  python/paddle/fluid/tests/unittests/test_auto_parallel_reshard.py
Due: pylint-doc-string, copyright_checker

chmod
  python/paddle/distributed/auto_parallel/parallelizer.py
  python/paddle/distributed/auto_parallel/partitioner.py
  python/paddle/distributed/auto_parallel/utils.py
Due: pylint-doc-string, copyright_checker

optimize gelu backward
  paddle/fluid/operators/gelu_op.cu
  paddle/fluid/operators/gelu_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

bug fix for some assertions
  python/paddle/distributed/fleet/fleet_executor_utils.py
  python/paddle/fluid/tests/unittests/test_fleet_executor_with_task_nodes.py
Due: pylint-doc-string, copyright_checker

fix use of implicitly deleted constructor (#38225)
  paddle/fluid/operators/mkldnn/matmul_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

call RetainGrad after run forward kernel, test=develop
  paddle/fluid/eager/CMakeLists.txt
  paddle/fluid/eager/api/generated/eager_generated/forwards/scale.cc
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/eager/grad_node_info.cc
  paddle/fluid/eager/grad_node_info.h
  paddle/fluid/eager/tests/data_structure_tests/grad_node_info_test.cc
  paddle/fluid/eager/utils.cc
  paddle/fluid/eager/utils.h
  paddle/fluid/pybind/eager.cc
  paddle/fluid/pybind/eager_functions.cc
  python/paddle/fluid/framework.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

add matmul_scale_fuse_pass (#37962)
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/matmul_scale_fuse_pass.cc
  paddle/fluid/framework/ir/matmul_scale_fuse_pass.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  python/paddle/fluid/tests/unittests/ir/inference/CMakeLists.txt
  python/paddle/fluid/tests/unittests/ir/inference/test_matmul_scale_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_matmul_v2_scale_fuse_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix typos in header inclusion in complex_op.cc (#38272)
  paddle/fluid/operators/complex_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

modify conj_kernel file path
  paddle/fluid/operators/conj_op.h
  paddle/pten/CMakeLists.txt
  paddle/pten/include/math.h
  paddle/pten/kernels/CMakeLists.txt
  paddle/pten/kernels/cpu/CMakeLists.txt
  paddle/pten/kernels/cpu/conj_kernel.cc
  paddle/pten/kernels/cpu/conj_kernel.h
  paddle/pten/kernels/cuda/CMakeLists.txt
  paddle/pten/kernels/cuda/conj_kernel.cu
  paddle/pten/kernels/cuda/conj_kernel.h
  paddle/pten/kernels/hybird/math/conj_impl.h
  python/paddle/utils/code_gen/api.yaml
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update OS info
  paddle/fluid/platform/device_tracer.cc
  paddle/fluid/platform/device_tracer.h
  paddle/fluid/platform/os_info.cc
  paddle/fluid/platform/os_info.h
  paddle/fluid/platform/profiler.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Update the reduce interface call
  paddle/fluid/operators/elementwise/elementwise_div_op.cu
  paddle/fluid/operators/elementwise/elementwise_functor.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

notest;test=clone
  tools/dockerfile/build_scripts/install_gcc.sh
Due: copyright_checker

Fixed arguments passing bug in run_save_pre_hooks
  python/paddle/fluid/dygraph/jit.py
Due: pylint-doc-string, copyright_checker

add defined cuda macro to cuda/conj_kernel.h
  paddle/pten/kernels/cuda/conj_kernel.cu
  paddle/pten/kernels/cuda/conj_kernel.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

delay the init of task node
  python/paddle/distributed/fleet/fleet_executor_utils.py
  python/paddle/fluid/executor.py
Due: pylint-doc-string, copyright_checker

add sparse_csr_to_dense
  paddle/fluid/operators/math/sparse.h
  paddle/fluid/operators/math/sparse_impl.cu.h
  paddle/pten/core/sparse_csr_tensor.cc
  paddle/pten/core/sparse_csr_tensor.h
  paddle/pten/include/sparse_csr_tensor_utils.h
  paddle/pten/kernels/sparse/cpu/sparse_csr_tensor_utils.cc
  paddle/pten/kernels/sparse/cpu/sparse_csr_tensor_utils.h
  paddle/pten/kernels/sparse/cuda/sparse_csr_tensor_utils.cu
  paddle/pten/kernels/sparse/cuda/sparse_csr_tensor_utils.h
  paddle/pten/tests/kernels/CMakeLists.txt
  paddle/pten/tests/kernels/test_sparse_csr_utils_dev_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine, test=develop
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/eager/utils.cc
  paddle/fluid/eager/utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

changes the call AllocShared to Alloc, test=develop (#38258)
  paddle/fluid/framework/fleet/box_wrapper.cu
  paddle/fluid/framework/fleet/box_wrapper_impl.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cc
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cu
  paddle/fluid/operators/math/math_function.cu
  paddle/pten/kernels/hybird/transpose.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

optimize softmax with cross entropy soft label (#32387)
  paddle/fluid/operators/softmax_with_cross_entropy_op.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

bug fix
  paddle/fluid/distributed/fleet_executor/task_node.cc
  paddle/fluid/distributed/fleet_executor/task_node.h
  paddle/fluid/pybind/bind_fleet_executor.cc
  python/paddle/distributed/fleet/fleet_executor_utils.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix function
  python/paddle/fluid/dygraph/dygraph_to_static/function_spec.py
Due: pylint-doc-string, copyright_checker

Add inspector to Paddle-TRT
  paddle/fluid/inference/analysis/argument.h
  paddle/fluid/inference/analysis/helper.h
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/tensorrt_subgraph_pass.cc
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/tensorrt/engine.cc
  paddle/fluid/inference/tensorrt/engine.h
  paddle/fluid/operators/tensorrt/tensorrt_engine_op.h
  paddle/fluid/pybind/inference_api.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Support FP16 for more ops (#38123)
  paddle/fluid/inference/tests/api/ipu_resnet50_test.cc
  paddle/fluid/operators/elementwise/elementwise_min_op.cu
  paddle/fluid/operators/elementwise/elementwise_min_op.h
  python/paddle/fluid/contrib/mixed_precision/fp16_lists.py
  python/paddle/fluid/contrib/tests/test_amp_list.py
  python/paddle/fluid/tests/unittests/test_elementwise_min_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clone for task node
  paddle/fluid/distributed/fleet_executor/task_node.cc
  python/paddle/fluid/executor.py
  python/paddle/fluid/tests/unittests/test_fleet_executor_with_task_nodes.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update task node
  paddle/fluid/distributed/fleet_executor/task_node.cc
  paddle/fluid/distributed/fleet_executor/task_node.h
  paddle/fluid/pybind/bind_fleet_executor.cc
  python/paddle/distributed/fleet/fleet_executor_utils.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fixed corner case in fill_constant
  python/paddle/fluid/layers/utils.py
Due: pylint-doc-string, copyright_checker

create op for set_program
  paddle/fluid/distributed/fleet_executor/task_node.cc
  paddle/fluid/distributed/fleet_executor/task_node.h
  paddle/fluid/pybind/bind_fleet_executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update ut
  python/paddle/fluid/tests/unittests/ir/inference/test_seqconv_eltadd_relu_fuse_pass.py
Due: pylint-doc-string, copyright_checker

typo fix
  paddle/fluid/distributed/fleet_executor/task_node.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix compile failed
  paddle/pten/core/kernel_registry.h
  paddle/pten/kernels/cpu/scale_kernel.cc
  paddle/pten/kernels/cuda/scale_kernel.cu
  paddle/pten/kernels/impl/scale_kernel_impl.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

use pointer
  paddle/fluid/distributed/fleet_executor/task_node.cc
  paddle/fluid/distributed/fleet_executor/task_node.h
  paddle/fluid/pybind/bind_fleet_executor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix when out_dtype is same with x.dtype and still transform type error
  paddle/pten/kernels/hybird/cuda/reduce/reduce.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
