Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


fix compile bug
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/prim/api/manual_prim/utils/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add test
  test/custom_op/CMakeLists.txt
  test/custom_op/inference_gap_setup.py
Due: copyright_checker, pylint-doc-string

do not add -lcuda in python/paddle/utils/cpp_extension/extension_utils.py
  paddle/phi/kernels/fusion/custom_triton/setup_cuda.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: copyright_checker, pylint-doc-string

modify yaml files
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/api/yaml/static_backward.yaml
  paddle/phi/api/yaml/static_ops.yaml
  python/paddle/nn/layer/__init__.py
Due: copyright_checker, pylint-doc-string

test
  python/paddle/jit/dy2static/program_translator.py
  python/paddle/jit/dy2static/utils.py
Due: copyright_checker, pylint-doc-string

add registration of softmax_with_cross_entropy
  paddle/phi/infermeta/spmd_rules/rules.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add new dtypes for collective ops && fix other issues in testing
  paddle/fluid/operators/collective/c_allgather_op_xpu.cc
  paddle/fluid/operators/collective/c_broadcast_op_xpu.cc
  paddle/fluid/operators/collective/c_concat_op_xpu.cc
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/backends/xpu/xpu3_op_list.cc
  test/xpu/collective_allgather_op_xpu.py
  test/xpu/collective_allreduce_op_xpu.py
  test/xpu/collective_broadcast_op_xpu.py
  test/xpu/collective_identity_op_xpu.py
  test/xpu/collective_softmax_with_cross_entropy_op_xpu.py
  test/xpu/process_group_bkcl.py
  test/xpu/test_collective_allgather_xpu.py
  test/xpu/test_collective_allreduce_xpu.py
  test/xpu/test_collective_base_xpu.py
  test/xpu/test_collective_broadcast_xpu.py
  test/xpu/test_collective_identity_xpu.py
  test/xpu/test_collective_process_group_xpu.py
  test/xpu/test_collective_softmax_with_cross_entropy_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix pir error 34
  test/dygraph_to_static/test_gradname_parse.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/jit/sot/opcode_translator/instruction_utils/instruction_pass.py
Due: copyright_checker, pylint-doc-string

[Semi-Auto]Support p_to_s in nd_mesh_reshard (#59138)
  paddle/phi/core/distributed/auto_parallel/reshard/nd_mesh_reshard_function.cc
  test/auto_parallel/reshard_nd_mesh.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

test
  python/paddle/jit/dy2static/utils.py
Due: copyright_checker, pylint-doc-string

fix
  test/dygraph_to_static/test_jit_setitem.py
Due: copyright_checker, pylint-doc-string

[PHI]delete sum redundant code (#59107)
  paddle/phi/kernels/gpu/add_n_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

pir support sbu graph extractor
  paddle/fluid/pir/transforms/build_cinn_pass.cc
  paddle/fluid/pir/transforms/sub_graph_detector.cc
  paddle/fluid/pir/transforms/sub_graph_detector.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix ci approve; test=develop
  paddle/fluid/framework/fleet/heter_ps/hashtable_kernel.cu
  paddle/fluid/framework/hogwild_worker.cc
  paddle/fluid/operators/controlflow/while_op.cc
  paddle/phi/common/memory_utils.h
  paddle/phi/kernels/funcs/math_function.cc
  paddle/phi/kernels/funcs/math_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix compiler warning && remove nonexistent test case
  test/legacy_test/CMakeLists.txt
  test/xpu/process_group_bkcl.py
Due: copyright_checker, pylint-doc-string

fix compile bug
  paddle/fluid/operators/CMakeLists.txt
Due: none

[CINN] Update local/shared logic axis logic
  paddle/cinn/optim/CMakeLists.txt
  paddle/cinn/optim/resize_buffer.cc
  paddle/cinn/optim/transform_gpu_forloop.cc
  paddle/cinn/optim/update_buffer_axis_pass.cc
  paddle/cinn/optim/update_buffer_axis_pass.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

polish
  paddle/phi/infermeta/spmd_rules/flash_attention.cc
  test/auto_parallel/semi_auto_parallel_for_flash_attention.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

polish
  test/auto_parallel/test_semi_auto_parallel_basic.py
Due: copyright_checker, pylint-doc-string

update
  paddle/pir/core/attribute.cc
  paddle/pir/core/attribute.h
  paddle/pir/core/attribute_base.h
  paddle/pir/core/builtin_attribute.cc
  paddle/pir/core/builtin_attribute.h
  paddle/pir/core/builtin_type.h
  paddle/pir/core/dialect.cc
  paddle/pir/core/dialect.h
  paddle/pir/core/ir_context.cc
  paddle/pir/core/ir_context.h
  paddle/pir/core/ir_printer.cc
  paddle/pir/core/ir_printer.h
  paddle/pir/core/storage_manager.cc
  paddle/pir/core/storage_manager.h
  paddle/pir/core/type.cc
  paddle/pir/core/type.h
  test/cpp/fluid/framework/CMakeLists.txt
  test/cpp/fluid/mkldnn/CMakeLists.txt
  test/cpp/pir/control_flow_dialect/CMakeLists.txt
  test/cpp/pir/kernel_dialect/ir_kernel_dialect_pass_test.cc
  test/cpp/pir/pattern_rewrite/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test
  paddle/fluid/eager/to_static/run_program_op_node.h
  python/paddle/jit/dy2static/partial_program.py
  python/paddle/jit/dy2static/program_translator.py
  python/paddle/jit/dy2static/utils.py
  test/dygraph_to_static/test_bert.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

support pir cinn split op
  paddle/cinn/hlir/dialect/operator/ir/manual_op.cc
  paddle/cinn/hlir/dialect/operator/ir/manual_op.h
  paddle/cinn/hlir/dialect/operator/ir/op_dialect.cc
  paddle/cinn/hlir/dialect/operator/transforms/op_with_group_merge_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  paddle/pir/core/builtin_op.cc
  test/cpp/pir/cinn/pir_all_path_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix windows path
  test/legacy_test/auto_parallel_op_test.py
Due: copyright_checker, pylint-doc-string

fix ci: replace the deprecated mutable_data
  paddle/fluid/framework/ir/quant_linear_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

modify static test to random test
  python/paddle/tensor/linalg.py
  test/legacy_test/test_histogramdd_op.py
Due: copyright_checker, pylint-doc-string

fix bugs
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/api/yaml/static_backward.yaml
  paddle/phi/api/yaml/static_ops.yaml
Due: none

[Add] add param random_u for solid fractional
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/ops.yaml
  paddle/phi/infermeta/backward.cc
  paddle/phi/infermeta/backward.h
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
  paddle/phi/kernels/funcs/pooling.cc
  paddle/phi/kernels/funcs/pooling.cu
  paddle/phi/kernels/funcs/pooling.h
  paddle/phi/kernels/impl/pool_grad_kernel_impl.h
  paddle/phi/kernels/impl/pool_kernel_impl.h
  paddle/phi/kernels/pool_grad_kernel.h
  paddle/phi/kernels/pool_kernel.h
  python/paddle/nn/functional/pooling.py
  python/paddle/nn/layer/pooling.py
  test/legacy_test/test_pool_max_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

delete invalid code,test=document_fix (#59055)
  paddle/fluid/framework/details/CMakeLists.txt
Due: none

fix bug
  paddle/fluid/pir/dialect/operator/ir/manual_op_decomp.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/fluid/pybind/eager_utils.cc
  paddle/fluid/pybind/eager_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix setup bug (#59155)
  setup.py
Due: copyright_checker, pylint-doc-string

add stack analyse
  python/paddle/jit/sot/opcode_translator/instruction_utils/stack_analyse.py
Due: copyright_checker, pylint-doc-string

[PIR] move pir, hlir code generating from make stage to cmake stage (#59129)
  .gitignore
  cmake/generic.cmake
  paddle/cinn/hlir/dialect/operator/ir/CMakeLists.txt
  paddle/fluid/pir/dialect/CMakeLists.txt
  paddle/fluid/primitive/codegen/CMakeLists.txt
Due: none

roback
  paddle/phi/kernels/fc_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

bugfix
  test/xpu/test_collective_process_group_xpu.py
Due: copyright_checker, pylint-doc-string

fix KernelWithXShapeInferMeta type bug && test_nn_grad passed
  paddle/fluid/operators/reshape_op.cc
  paddle/phi/api/yaml/backward.yaml
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/infermeta/backward.cc
  paddle/phi/infermeta/backward.h
  test/legacy_test/test_activation_nn_grad.py
  test/legacy_test/test_nn_grad.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add complex support for unbind,broadcast,broadcast_tensors and broadcast_tensor_grad
  test/legacy_test/test_broadcast_tensors_op.py
  test/legacy_test/test_unbind_op.py
Due: copyright_checker, pylint-doc-string

add dist tensor check
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/slice_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix UT
  paddle/cinn/hlir/dialect/operator/transforms/group_merge/cinn_group_lowering_pass.cc
  paddle/fluid/pybind/pir.cc
  python/paddle/jit/dy2static/pir_partial_program.py
  test/cpp/pir/cinn/pir_all_path_test.cc
  test/ir/pir/cinn/test_cinn_sub_graph.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy
