Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

add add naive code but not success
  paddle/phi/backends/gpu/gpu_launch_config.h
  paddle/phi/kernels/fusion/gpu/fused_rope_kernel.cu
  paddle/phi/kernels/fusion/gpu/fused_rope_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

polish code
  paddle/pir/core/ir_printer.cc
  paddle/pir/core/ir_printer.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix GQA unit test
  paddle/fluid/operators/fused/fused_multi_transformer_op.cu
  paddle/fluid/operators/fused/fused_multi_transformer_op.cu.h
  python/paddle/fluid/tests/unittests/test_fused_multi_transformer_op_var_len.py
  python/paddle/fluid/tests/unittests/test_fused_multi_transformer_op_var_len_gqa.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

cinn(test): add test_rope bs=61
  test/ir/pir/cinn/test_rope.py
Due: copyright_checker, pylint-doc-string

cinn(test): add test_rope symbolic
  test/ir/pir/cinn/CMakeLists.txt
Due: none

[Dy2St][PIR] Enable some dy2st control flow unittests
  test/dygraph_to_static/test_break_continue.py
  test/dygraph_to_static/test_jit_setitem.py
  test/dygraph_to_static/test_write_python_container.py
Due: copyright_checker, pylint-doc-string

【paddle_test No.3】replace cc_test with paddle_test (#60832)
  paddle/fluid/pir/dialect/kernel/ir/kernel_dialect.h
  paddle/fluid/pir/dialect/kernel/ir/kernel_op.h
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.h
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.h
  paddle/phi/core/kernel_factory.h
  paddle/pir/dialect/control_flow/ir/cf_dialect.h
  test/cpp/pir/kernel_dialect/CMakeLists.txt
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update CMakeLists.txt
  test/cpp/pir/pattern_rewrite/CMakeLists.txt
Due: none

Update interpretercore.h
  paddle/fluid/framework/new_executor/interpretercore.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/pybind/global_value_getter_setter.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update kernel_dialect.h
  paddle/fluid/pir/dialect/kernel/ir/kernel_dialect.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update control_flow_op.h
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/cpp/fluid/inference/utils/benchmark_tester.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update manual_op.h
  paddle/fluid/pir/dialect/operator/ir/manual_op.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update CMakeLists.txt
  test/cpp/fluid/dlnne/CMakeLists.txt
Due: none

add prim jit case
  test/prim/pir_prim/test_prim_jit_dynamic.py
Due: copyright_checker, pylint-doc-string

Update CMakeLists.txt
  test/cpp/fluid/detection/CMakeLists.txt
Due: none

Update CMakeLists.txt
  test/cpp/fluid/controlflow/CMakeLists.txt
Due: none

fix
  python/paddle/base/framework.py
Due: copyright_checker, pylint-doc-string

Update CMakeLists.txt
  test/cpp/fluid/benchmark/CMakeLists.txt
Due: none

Update CMakeLists.txt
  test/cpp/fluid/elementwise/CMakeLists.txt
Due: none

update
  python/paddle/distributed/auto_parallel/static/profiler_helper_static.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/cinn/hlir/dialect/operator/transforms/group_merge/op_with_group_merge_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Apply suggestions from code review
  test/cpp/pir/pattern_rewrite/CMakeLists.txt
Due: none

update unittest
  test/legacy_test/test_tile_op.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  test/cpp/fluid/inference/utils/CMakeLists.txt
Due: none

fix test
  test/cpp/pir/cinn/build_cinn_pass_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix complie
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update op_gen.py
  paddle/fluid/pir/dialect/op_generator/op_gen.py
Due: copyright_checker, pylint-doc-string

[Dy2St] Filter out non-Value vars in while loop (#61355)
  python/paddle/static/nn/control_flow.py
  test/dygraph_to_static/test_loop.py
Due: copyright_checker, pylint-doc-string

Add ostream for group (#61333)
  paddle/cinn/hlir/framework/pir/CMakeLists.txt
  paddle/cinn/hlir/framework/pir/group.cc
  paddle/cinn/hlir/framework/pir/group.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

optimize backward (#61352)
  python/paddle/autograd/backward_utils.py
  python/paddle/autograd/ir_backward.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

