Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

support cinn
  paddle/scripts/paddle_build.sh
Due: copyright_checker

fix mutable_data
  paddle/fluid/platform/cuda_graph_with_memory_pool.h
  paddle/phi/kernels/funcs/dropout_impl.cu.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix stl include
  paddle/phi/backends/gpu/cuda/cuda_graph_with_memory_pool.h
Due: copyright_checker, clang-format, cpplint-cpp-source

update prob / log_prob
  python/paddle/distribution/multivariate_normal.py
Due: copyright_checker, pylint-doc-string

update clip.
  python/paddle/distributed/fleet/meta_parallel/sharding/group_sharded_utils.py
Due: copyright_checker, pylint-doc-string

fix ut for fleet.minimize
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_dist_fleet_minimize.py
Due: copyright_checker, pylint-doc-string

update entrop / sample / rsample
  python/paddle/distribution/multivariate_normal.py
Due: copyright_checker, pylint-doc-string

移除 declarative 接口
  python/paddle/fluid/data_feeder.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/bert_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/seq2seq_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/simnet_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_assert.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_break_continue.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cache_program.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cast.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cycle_gan.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_declarative.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_fetch_feed.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ifelse.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_lac.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_lambda.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_len.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_list.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_loop.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_mobile_net.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_origin_info.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_partial_program.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_program_translator.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ptb_lm.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_reinforcement_learning.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_save_inference_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_se_resnet.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_sentiment.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_tensor_shape.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_tsm.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_typehint.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_word2vec.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/yolov3.py
  python/paddle/fluid/tests/unittests/test_jit_save_load.py
  python/paddle/jit/__init__.py
  python/paddle/jit/api.py
  python/paddle/jit/dy2static/convert_call_func.py
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string

for multi stream test
  paddle/fluid/platform/device_context.cc
  paddle/fluid/platform/device_context.h
  paddle/fluid/platform/device_event_base.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/fluid/pybind/eager.cc
  paddle/fluid/pybind/eager.h
  paddle/fluid/pybind/eager_functions.cc
  paddle/fluid/pybind/eager_stream.cc
  python/paddle/device/stream.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update.
  python/paddle/distributed/fleet/meta_parallel/sharding/group_sharded_stage3.py
Due: copyright_checker, pylint-doc-string

移除 declarative 接口
  python/paddle/fluid/data_feeder.py
  python/paddle/fluid/dygraph/base.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/bert_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/seq2seq_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/simnet_dygraph_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_assert.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_break_continue.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cache_program.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cast.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_cycle_gan.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_declarative.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_fetch_feed.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ifelse.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_lac.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_lambda.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_len.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_list.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_loop.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_mobile_net.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_origin_info.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_partial_program.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_program_translator.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ptb_lm.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_reinforcement_learning.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_save_inference_model.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_se_resnet.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_sentiment.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_tensor_shape.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_tsm.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_typehint.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_word2vec.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/yolov3.py
  python/paddle/fluid/tests/unittests/test_jit_save_load.py
  python/paddle/jit/__init__.py
  python/paddle/jit/api.py
  python/paddle/jit/dy2static/convert_call_func.py
  python/paddle/jit/dy2static/partial_program.py
Due: copyright_checker, pylint-doc-string

inplace all reshape op
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/inplace_op_var_pass.cc
  paddle/fluid/framework/ir/inplace_op_var_pass.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix unuse
  .pre-commit-config.yaml
  cmake/flags.cmake
  paddle/fluid/distributed/auto_parallel/utils.h
  paddle/fluid/distributed/store/store.h
  paddle/fluid/framework/generator.cc
  paddle/fluid/framework/new_executor/workqueue/event_count.h
  paddle/fluid/framework/new_executor/workqueue/nonblocking_threadpool.h
  paddle/fluid/framework/new_executor/workqueue/workqueue_utils.h
  paddle/fluid/framework/op_desc.h
  paddle/fluid/framework/tensor_util.h
  paddle/fluid/imperative/data_loader.cc
  paddle/fluid/memory/allocation/allocator.h
  paddle/fluid/operators/jit/gen/act.cc
  paddle/fluid/operators/jit/registry.h
  paddle/fluid/platform/profiler/cuda_tracer.cc
  paddle/fluid/platform/profiler/mlu/mlu_tracer.cc
  paddle/phi/common/cpstring_impl.h
  paddle/phi/common/place.h
  paddle/phi/core/enforce.h
  paddle/phi/core/extended_tensor.cc
  paddle/phi/core/utils/dim.h
  paddle/phi/core/utils/unroll_array_ops.h
  paddle/phi/ops/compat/abs_sig.cc
  paddle/phi/ops/compat/activation_sig.cc
  paddle/phi/ops/compat/addmm_sig.cc
  paddle/phi/ops/compat/batch_norm_sig.cc
  paddle/phi/ops/compat/overlap_add_sig.cc
  paddle/utils/small_vector.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Update code
  paddle/fluid/framework/new_executor/interpreter/dependency_builder.cc
  paddle/fluid/framework/new_executor/interpretercore.cc
  python/paddle/distributed/passes/auto_parallel_sharding.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Update code
  paddle/fluid/framework/new_executor/interpretercore.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

修改 CI报错，清理注释
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_declarative.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_ifelse.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_partial_program.py
Due: copyright_checker, pylint-doc-string

fix pybind
  paddle/fluid/pybind/protobuf.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix English docs #49042
  python/paddle/static/io.py
  python/paddle/static/nn/common.py
Due: copyright_checker, pylint-doc-string

fix ut for collective&fleet_ps
  python/paddle/distributed/fleet/fleet.py
  python/paddle/fluid/tests/unittests/test_dist_fleet_minimize.py
Due: copyright_checker, pylint-doc-string

add_moe_
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

[Migrate Fluid] Migrate dynamic_decode and tensor_array_to_tensor (#48876)
  python/paddle/fluid/layers/__init__.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/layers/rnn.py
  python/paddle/fluid/layers/tensor.py
  python/paddle/fluid/tests/unittests/test_dynamic_rnn_stop_gradient.py
  python/paddle/fluid/tests/unittests/test_rnn_decode_api.py
  python/paddle/fluid/tests/unittests/test_slice_op.py
  python/paddle/fluid/tests/unittests/test_tensor_array_to_tensor.py
  python/paddle/nn/decode.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

update dynamic_decode docs, test=document_fix
  python/paddle/nn/decode.py
Due: copyright_checker, pylint-doc-string

[Auto Parallel] Fix the wrong import
  python/paddle/distributed/auto_parallel/utils.py
Due: copyright_checker, pylint-doc-string

add_trt_argument_
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/tests/api/trt_split_converter_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix quant pass (#49123)
  python/paddle/fluid/contrib/slim/quantization/quantization_pass.py
Due: copyright_checker, pylint-doc-string

remove redundant sparsiy hierarchy
  python/paddle/distributed/fleet/meta_optimizers/asp_optimizer.py
  python/paddle/fluid/tests/unittests/asp/asp_pruning_base.py
  python/paddle/fluid/tests/unittests/asp/test_asp_customized_pruning.py
  python/paddle/fluid/tests/unittests/asp/test_asp_optimize_dynamic.py
  python/paddle/fluid/tests/unittests/asp/test_asp_optimize_static.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_dynamic.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_static.py
  python/paddle/fluid/tests/unittests/asp/test_asp_save_load.py
  python/paddle/fluid/tests/unittests/asp/test_asp_utils.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp_dynamic.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp_sharding.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp_static.py
  python/paddle/incubate/asp/__init__.py
  python/paddle/incubate/asp/asp.py
  python/paddle/incubate/asp/sparsity/__init__.py
  python/paddle/incubate/asp/supported_layer_list.py
  python/paddle/incubate/asp/utils.py
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string

examples update, test=document_fix
  python/paddle/nn/decode.py
Due: copyright_checker, pylint-doc-string

add trt8517
  tools/dockerfile/build_scripts/install_trt.sh
Due: copyright_checker

update
  paddle/fluid/inference/api/paddle_pass_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix
  paddle/fluid/framework/ir/trt_embedding_eltwise_layernorm_fuse_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix retry error
  paddle/scripts/paddle_build.sh
Due: copyright_checker

fp16 fix
  paddle/phi/kernels/gpu/index_sample_grad_kernel.cu
  paddle/phi/kernels/gpu/index_sample_kernel.cu
  python/paddle/fluid/tests/unittests/test_index_sample_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Refine dynamic_decode docs (#49151)
  python/paddle/nn/decode.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/nn/layer/rnn.py
Due: copyright_checker, pylint-doc-string

undo modify hapi_mnist_bf16_static.py
  paddle/fluid/operators/matmul_op.cc
  python/paddle/fluid/tests/unittests/auto_parallel/bf16_pass_unittest.py
  python/paddle/fluid/tests/unittests/auto_parallel/test_pass_bf16.py
  python/paddle/tests/hapi_mnist_bf16_static.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix docstring format, add paper's hyperlink.
  python/paddle/nn/functional/conv.py
  python/paddle/nn/layer/conv.py
Due: copyright_checker, pylint-doc-string

set grad retain for custom_relu test
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_setup.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_py2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

