Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix sequence pad; test=develop
  paddle/fluid/operators/math/sequence_padding.cu
Due: clang-format-with-version-check, copyright_checker

init model support multi programs
  python/paddle/fluid/incubate/fleet/parameter_server/__init__.py
Due: copyright_checker

add some doc
  paddle/fluid/framework/data_set.cc
  paddle/fluid/framework/data_set.h
  paddle/fluid/framework/fleet/fleet_wrapper.h
Due: clang-format-with-version-check, copyright_checker

fix API.spec test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/compiler.py
  python/paddle/fluid/reader.py
  python/paddle/reader/decorator.py
Due: copyright_checker

test=develop, add some Layers and tests
  paddle/fluid/operators/lookup_table_op.cc
  python/paddle/fluid/imperative/nn.py
  python/paddle/fluid/layer_helper_base.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: clang-format-with-version-check, copyright_checker

add cov option in paddle_build.sh
  paddle/scripts/paddle_build.sh
Due: none

Enhence save inferene in quantization_strategy.
  python/paddle/fluid/contrib/slim/quantization/quantization_strategy.py
Due: copyright_checker

Add softmax_with_cross_entropy_op to ngraph engine (#16304)
  paddle/fluid/operators/ngraph/ngraph_engine.cc
  paddle/fluid/operators/ngraph/ops/cross_entropy_op.h
  paddle/fluid/operators/ngraph/ops/softmax_op.h
  paddle/fluid/operators/ngraph/ops/softmax_with_cross_entropy_op.h
  python/paddle/fluid/tests/unittests/ngraph/test_softmax_with_cross_entropy_ngraph_op.py
Due: clang-format-with-version-check, copyright_checker

fix bug
  python/paddle/fluid/device_worker.py
Due: copyright_checker

fix bug of dense_table_set.add
  python/paddle/fluid/device_worker.py
Due: copyright_checker

update jitkernel doc
  paddle/fluid/operators/jit/README.en.md
  paddle/fluid/operators/jit/README.md
Due: none

remove unused (here) function
  paddle/fluid/inference/api/paddle_pass_builder.h
Due: clang-format-with-version-check, copyright_checker

test=develop, refine parameter name
  python/paddle/fluid/imperative/layers.py
  python/paddle/fluid/layer_helper_base.py
Due: copyright_checker

checkpoint pr be moved here, test=develop
  paddle/fluid/operators/load_combine_op.cc
  paddle/fluid/operators/load_combine_op.cu
  paddle/fluid/operators/load_combine_op.h
  paddle/fluid/operators/load_op.cc
  paddle/fluid/operators/load_op.cu
  paddle/fluid/operators/load_op.h
  paddle/fluid/operators/save_combine_op.cc
  paddle/fluid/operators/save_combine_op.cu
  paddle/fluid/operators/save_combine_op.h
  paddle/fluid/operators/save_op.cc
  paddle/fluid/operators/save_op.cu
  paddle/fluid/operators/save_op.h
Due: clang-format-with-version-check, copyright_checker

add TODO comment, test=develop
  paddle/fluid/operators/activation_op.cc
Due: clang-format-with-version-check, copyright_checker

Add Sync for Engine to sync main thread and engine thread
  paddle/fluid/imperative/engine.cc
  paddle/fluid/imperative/engine.h
  paddle/fluid/imperative/layer.cc
  paddle/fluid/imperative/layer.h
  paddle/fluid/pybind/pybind.cc
  python/paddle/fluid/imperative/tracer.py
  python/paddle/fluid/tests/unittests/test_imperative_optimizer.py
Due: clang-format-with-version-check, copyright_checker

fix anakin converter registry (#15993)
  CMakeLists.txt
  paddle/fluid/inference/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/fc.cc
  paddle/fluid/inference/anakin/convert/fc.h
  paddle/fluid/inference/anakin/convert/op_converter.h
  paddle/fluid/inference/anakin/convert/test_fc_op.cc
  paddle/fluid/inference/anakin/convert/ut_helper.h
  paddle/fluid/inference/tensorrt/convert/op_converter.h
  paddle/fluid/inference/utils/singleton.h
Due: clang-format-with-version-check, copyright_checker

Add anakin conv2d/relu/sigmoid/tanh converter (#15997)
  paddle/fluid/inference/anakin/convert/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/activation.cc
  paddle/fluid/inference/anakin/convert/activation.h
  paddle/fluid/inference/anakin/convert/conv2d.cc
  paddle/fluid/inference/anakin/convert/conv2d.h
  paddle/fluid/inference/anakin/convert/fc.cc
  paddle/fluid/inference/anakin/convert/op_converter.h
  paddle/fluid/inference/anakin/convert/registrar.h
  paddle/fluid/inference/anakin/convert/test_activation_op.cc
  paddle/fluid/inference/anakin/convert/test_conv2d_op.cc
Due: clang-format-with-version-check, copyright_checker

paddle-anakin: concat, split, pool2d converter#16003
  paddle/fluid/inference/anakin/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/concat.cc
  paddle/fluid/inference/anakin/convert/concat.h
  paddle/fluid/inference/anakin/convert/conv2d.cc
  paddle/fluid/inference/anakin/convert/pool2d.cc
  paddle/fluid/inference/anakin/convert/pool2d.h
  paddle/fluid/inference/anakin/convert/split.cc
  paddle/fluid/inference/anakin/convert/split.h
  paddle/fluid/inference/anakin/convert/test_concat_op.cc
  paddle/fluid/inference/anakin/convert/test_pool2d_op.cc
  paddle/fluid/inference/anakin/convert/test_split_op.cc
  paddle/fluid/inference/anakin/op_teller.cc
  paddle/fluid/inference/anakin/op_teller.h
  paddle/fluid/inference/tensorrt/convert/io_converter.h
  paddle/fluid/inference/tensorrt/convert/op_converter.h
Due: clang-format-with-version-check, copyright_checker

follow comments
  paddle/fluid/operators/jit/README.md
Due: none

cherry-pick from feature/anakin-engine: Add subgraph fuse support and anakin engine #16018
  paddle/fluid/inference/anakin/convert/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/activation.cc
  paddle/fluid/inference/anakin/convert/activation.h
  paddle/fluid/inference/anakin/convert/conv2d_fusion.cc
  paddle/fluid/inference/anakin/convert/conv2d_fusion.h
  paddle/fluid/inference/anakin/convert/elementwise.cc
  paddle/fluid/inference/anakin/convert/elementwise.h
  paddle/fluid/inference/anakin/convert/fc.cc
  paddle/fluid/inference/anakin/convert/op_converter.h
  paddle/fluid/inference/anakin/convert/relu.cc
  paddle/fluid/inference/anakin/convert/relu.h
  paddle/fluid/inference/anakin/convert/test_activation_op.cc
  paddle/fluid/inference/anakin/convert/test_conv2d_op.cc
  paddle/fluid/inference/anakin/convert/test_elementwise_op.cc
  paddle/fluid/inference/anakin/convert/test_fc_op.cc
  paddle/fluid/inference/anakin/convert/test_relu_op.cc
  paddle/fluid/inference/anakin/convert/ut_helper.h
  paddle/fluid/inference/anakin/engine.cc
  paddle/fluid/inference/anakin/engine.h
  paddle/fluid/inference/anakin/op_teller.cc
  paddle/fluid/inference/analysis/ir_pass_manager.cc
  paddle/fluid/inference/analysis/ir_passes/CMakeLists.txt
  paddle/fluid/inference/analysis/ir_passes/anakin_subgraph_pass.cc
  paddle/fluid/inference/analysis/ir_passes/anakin_subgraph_pass.h
  paddle/fluid/inference/analysis/ir_passes/subgraph_detector.cc
  paddle/fluid/inference/analysis/passes/ir_params_sync_among_devices_pass.cc
  paddle/fluid/inference/api/CMakeLists.txt
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/anakin/CMakeLists.txt
  paddle/fluid/operators/anakin/anakin_engine_op.cc
  paddle/fluid/operators/anakin/anakin_engine_op.h
Due: clang-format-with-version-check, copyright_checker

cherry-pick feature/anakin-engine: add anakin softmax/transpose/batch_norm/flatten/reshape op (#16020)
  paddle/fluid/inference/anakin/convert/CMakeLists.txt
  paddle/fluid/inference/anakin/convert/batch_norm.cc
  paddle/fluid/inference/anakin/convert/batch_norm.h
  paddle/fluid/inference/anakin/convert/fc.cc
  paddle/fluid/inference/anakin/convert/flatten.cc
  paddle/fluid/inference/anakin/convert/flatten.h
  paddle/fluid/inference/anakin/convert/reshape.cc
  paddle/fluid/inference/anakin/convert/reshape.h
  paddle/fluid/inference/anakin/convert/softmax.cc
  paddle/fluid/inference/anakin/convert/softmax.h
  paddle/fluid/inference/anakin/convert/test_batch_norm_op.cc
  paddle/fluid/inference/anakin/convert/test_flatten_op.cc
  paddle/fluid/inference/anakin/convert/test_reshape_op.cc
  paddle/fluid/inference/anakin/convert/test_softmax_op.cc
  paddle/fluid/inference/anakin/convert/test_transpose_op.cc
  paddle/fluid/inference/anakin/convert/transpose.cc
  paddle/fluid/inference/anakin/convert/transpose.h
  paddle/fluid/inference/anakin/convert/ut_helper.h
Due: clang-format-with-version-check, copyright_checker

cherry-pick from feature/anakin-engine: batch norm (#16110)
  paddle/fluid/inference/anakin/convert/batch_norm.cc
  paddle/fluid/inference/anakin/convert/test_batch_norm_op.cc
Due: clang-format-with-version-check, copyright_checker
