Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

update print op dist attr
  paddle/fluid/pir/dialect/distributed/ir/dist_dialect.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix ut dist_attr
  test/auto_parallel/pir/test_ir_dist_attr.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/cinn/adt/tree.h
  paddle/cinn/common/common.h
  paddle/cinn/common/target.cc
  paddle/cinn/common/type.cc
  paddle/cinn/frontend/paddle/pb/op_desc.h
  paddle/cinn/frontend/paddle/pb/var_desc.cc
  paddle/cinn/hlir/pe/schedule.cc
  paddle/cinn/ir/ir_analyzer/ir_analyzer.cc
  paddle/cinn/ir/schedule/impl/base.cc
  paddle/cinn/ir/schedule/ir_schedule_util.cc
  paddle/cinn/runtime/flags.cc
  paddle/cinn/utils/error.h
  paddle/cinn/utils/event.cc
  paddle/cinn/utils/multi_threading.cc
  paddle/cinn/utils/string.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/op_generator/ops_api_gen.py
Due: copyright_checker, pylint-doc-string

解决clip有int64输入挂掉
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add test
  test/collective/fleet/hybrid_parallel_mp_model_with_sequence_parallel.py
Due: copyright_checker, pylint-doc-string

tiny print attr
  paddle/fluid/pir/dialect/distributed/ir/dist_dialect.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix unused var
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

feat(pir): regpartial allgather
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update approval lists in inference demo_ci (#62615)
  tools/check_file_diff_approvals.sh
Due: copyright_checker

add parameters reset for sharding (#62711)
  python/paddle/distributed/auto_parallel/api.py
Due: copyright_checker, pylint-doc-string

add
  python/paddle/distributed/fleet/utils/sequence_parallel_utils.py
Due: copyright_checker, pylint-doc-string

fix softmax error.!
  paddle/cinn/ast_gen_ius/ast_gen.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Adapt test/amp uts in PIR
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/pir/dialect/op_generator/api_gen.py
  python/paddle/amp/auto_cast.py
  python/paddle/amp/debugging.py
  python/paddle/amp/grad_scaler.py
  python/paddle/optimizer/adadelta.py
  python/paddle/optimizer/adam.py
  python/paddle/optimizer/adamw.py
  python/paddle/optimizer/optimizer.py
  python/paddle/static/amp/amp_nn.py
  python/paddle/static/amp/decorator.py
  test/amp/test_amp_api.py
  test/amp/test_amp_decorate.py
  test/amp/test_amp_list.py
  test/amp/test_amp_master_grad.py
  test/amp/test_amp_master_weight.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

delete useless
  paddle/fluid/pir/dialect/distributed/ir/dist_dialect.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Distributed] Support trainable param for sharding stage1-v1 (#62616)
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
Due: copyright_checker, pylint-doc-string

update framework logic
  paddle/fluid/pir/dialect/distributed/transforms/mix_to_dist_pass.cc
  paddle/fluid/pir/dialect/distributed/transforms/mix_to_dist_pass.h
  python/paddle/distributed/auto_parallel/static/engine.py
  python/paddle/jit/dy2static/function_spec.py
  test/auto_parallel/pir/test_to_static_pir_program.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

modify tolerance
  test/collective/hybrid_strategy/hybrid_parallel_pp_communicate_with_dict.py
Due: copyright_checker, pylint-doc-string

[DimExpr] Move dim_expr_util_test to CI-Coverage (#62712)
  test/cpp/pir/shape_dialect/CMakeLists.txt
  test/cpp/pir/shape_dialect/dim_expr_util_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

sparse conv: implement implicit gemm algo
  paddle/fluid/operators/controlflow/feed_op.cc
  paddle/fluid/operators/sync_batch_norm_op.cu
  paddle/phi/api/yaml/sparse_ops.yaml
  paddle/phi/core/kmap_cache.h
  paddle/phi/core/sparse_coo_tensor.h
  paddle/phi/infermeta/sparse/binary.cc
  paddle/phi/infermeta/sparse/binary.h
  paddle/phi/kernels/funcs/sparse/convolution.h
  paddle/phi/kernels/sparse/batch_norm_kernel.cc
  paddle/phi/kernels/sparse/elementwise_kernel.h
  paddle/phi/kernels/sparse/gpu/coalesce_kernel.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel2.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel_igemm.cu
  paddle/phi/kernels/sparse/gpu/conv_kernel_impl.cuh
  paddle/phi/kernels/sparse/gpu/conv_memory_utils.cuh
  paddle/phi/kernels/sparse/gpu/elementwise_kernel.cu
  paddle/phi/kernels/sparse/gpu/sparse_conv_hashmap.cuh
  paddle/phi/kernels/sparse/impl/unary_kernel_impl.h
  python/paddle/sparse/nn/functional/__init__.py
  python/paddle/sparse/nn/functional/conv.py
  python/paddle/sparse/nn/layer/conv.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix bucket upper and lower limits
  paddle/cinn/ir/group_schedule/dy_shape_group_scheduler.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

release the extra memory in vpp
  python/paddle/distributed/auto_parallel/static/helper.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/cinn/hlir/framework/pir/trivial_op_impl.cc
  paddle/cinn/hlir/framework/pir/trivial_op_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix stage2 oom bug (#62698)
  python/paddle/distributed/fleet/utils/mix_precision_utils.py
Due: copyright_checker, pylint-doc-string

Disable Memory Throttling during Capturing and Clear Free Streams before Capture
  paddle/fluid/memory/allocation/cuda_malloc_async_allocator.cc
  paddle/fluid/memory/allocation/cuda_malloc_async_allocator.h
  paddle/phi/backends/gpu/cuda/cuda_graph.cc
  paddle/phi/backends/gpu/cuda/cuda_graph.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

stride_slice and stride_slice_grad support strides < 0 for xpu
  cmake/external/xpu.cmake
  paddle/phi/kernels/xpu/stride_slice_grad_kernel.cc
  paddle/phi/kernels/xpu/stride_slice_kernel.cc
  test/xpu/test_strided_slice_op_xpu.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add ut
  test/legacy_test/test_sparse_conv_op.py
Due: copyright_checker, pylint-doc-string

update
  paddle/cinn/hlir/framework/pir/trivial_op_impl.cc
  paddle/cinn/hlir/framework/pir/trivial_op_impl.h
  paddle/cinn/hlir/framework/pir/trivial_op_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

remove redundant file
  paddle/phi/kernels/sparse/gpu/conv_kernel2.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

store data in operation
  paddle/fluid/pybind/pir.cc
  paddle/pir/include/core/op_result.h
  paddle/pir/include/core/operation.h
  paddle/pir/include/core/operation_utils.h
  paddle/pir/include/core/value.h
  paddle/pir/src/core/op_result.cc
  paddle/pir/src/core/op_result_impl.cc
  paddle/pir/src/core/op_result_impl.h
  paddle/pir/src/core/operation.cc
  paddle/pir/src/core/value.cc
  python/paddle/pir/core.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix rf_loop index
  paddle/cinn/ir/group_schedule/tactic/tile_first_general_tactic.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

modify_whl_package_information (#62723)
  CMakeLists.txt
  cmake/version.cmake
Due: none

add spatial_transformer_resblock_xpu fuse (#62751)
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/pass.cc
  paddle/fluid/framework/ir/xpu/spatial_transformer_resblock_xpu_fuse_pass.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/phi/api/yaml/fused_ops.yaml
  paddle/phi/backends/xpu/xpu2_op_list.cc
  paddle/phi/infermeta/fusion.cc
  paddle/phi/infermeta/fusion.h
  paddle/phi/kernels/fusion/xpu/spatial_transformer_resblock_xpu_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Replace LOG(FATAL) PADDLE_THROW (#62733)
  paddle/phi/backends/xpu/xpu_l3_strategy.cc
  paddle/phi/core/distributed/store/tcp_store.cc
  paddle/phi/kernels/fusion/xpu/fused_multi_transformer_int8_xpu_kernel.cc
  paddle/phi/kernels/fusion/xpu/fused_multi_transformer_xpu_kernel.cc
  paddle/phi/kernels/gpudnn/mha_cudnn_frontend.h
  paddle/pir/include/dialect/shape/utils/dim_expr.h
  paddle/pir/src/dialect/shape/utils/dim_expr_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Performance Optimization, fix GetGroupTileInfo
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/ir/group_schedule/tactic/tile_first_general_tactic.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

optimize tuplepush
  python/paddle/autograd/backward_utils.py
  python/paddle/autograd/ir_backward.py
Due: copyright_checker, pylint-doc-string

polish
  paddle/phi/infermeta/spmd_rules/utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

log/Log10/log2/log1p support int32/int64/float16/bfloat16 forward (#54089)
  paddle/phi/kernels/cpu/activation_kernel.cc
  paddle/phi/kernels/funcs/activation_functor.h
  paddle/phi/kernels/gpu/activation_kernel.cu
  paddle/phi/kernels/impl/activation_impl.h
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/cinn/common/float16_bfloat16_cuda_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

