Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

【Error Message BUAA No.35】fix error message (#66727)
  paddle/cinn/backends/function_prototype.cc
  paddle/cinn/backends/llvm/simple_jit.cc
  paddle/cinn/hlir/pe/reduction.cc
  paddle/cinn/hlir/pe/schedule.cc
  paddle/cinn/pybind/ir/ir_context.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test mean
  test/legacy_test/test_mean_all_op.py
  test/legacy_test/test_mean_op.py
Due: copyright_checker, pylint-doc-string

【Error Message BUAA No. 19】 将 op_util.cc 中的报错信息修改为 PADDLE_ENFORCE_GT 的形式 (#66605)
  paddle/cinn/hlir/op/op_util.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Error Message BUAA No.35】fix error message (#66718)
  paddle/cinn/adt/schedule_mesh.cc
  paddle/cinn/backends/nvrtc/nvrtc_util.cc
  paddle/cinn/ir/group_schedule/tactic/arrange_storage_tactic.cc
  paddle/cinn/ir/operation.cc
  paddle/cinn/poly/isl_utils.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

修改cpp语法错误
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

use varlen
  python/paddle/nn/functional/flash_attention.py
Due: copyright_checker, pylint-doc-string

Update same_operands_result.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update ops.yaml
  paddle/phi/ops/yaml/ops.yaml
Due: none

Replace platform::ToNCCLDataType [fluid_ops] (#66717)
  paddle/fluid/operators/collective/alltoall_op.cu.cc
  paddle/fluid/operators/collective/barrier_op.cu.cc
  paddle/fluid/operators/collective/c_allgather_op.cu.cc
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/c_broadcast_op.cu.cc
  paddle/fluid/operators/collective/c_concat_op.cu.cc
  paddle/fluid/operators/collective/c_reduce_op.h
  paddle/fluid/operators/collective/c_reducescatter_op.cu.cc
  paddle/fluid/operators/collective/c_scatter_op.cu.cc
  paddle/fluid/operators/collective/c_softmax_with_cross_entropy_op.cu
  paddle/fluid/operators/collective/global_gather_op.cu.cc
  paddle/fluid/operators/collective/global_scatter_op.cu.cc
  paddle/fluid/operators/collective/partial_allgather_op.cu.cc
  paddle/fluid/operators/collective/partial_send_op.cu.cc
  paddle/fluid/operators/collective/recv_v2_op.cu.cc
  paddle/fluid/operators/collective/send_v2_op.cu.cc
  paddle/fluid/operators/data_norm_op.cu
  paddle/fluid/operators/fused/fused_attention_utils.h
  paddle/fluid/operators/sync_batch_norm_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add upend
  paddle/phi/kernels/gpu/flash_attn_grad_kernel.cu
  paddle/phi/kernels/gpu/flash_attn_kernel.cu
  python/paddle/nn/functional/flash_attention.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

修改错误的报错信息
  test/cpp/eager/data_structure_tests/autograd_meta_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix bug of infer_symbol_shape for equal op (#66764)
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/element_wise_binary.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/element_wise_binary.h
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Fix bug of infer symbol shape for conv2d (#66807)
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test=allcases
  paddle/scripts/paddle_build.sh
Due: copyright_checker

add silu op
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix enforce
  paddle/phi/kernels/gpu/flash_attn_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Replace platform with phi
  paddle/cinn/hlir/op/nn.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

overload重载
  python/paddle/geometric/sampling/neighbors.py
Due: copyright_checker, pylint-doc-string

Replace PADDLE_ENFORCE with PADDLE_ENFORCE_EQ
  paddle/cinn/optim/replace_call_with_expr.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix data_format
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fixed error message
  paddle/cinn/hlir/op/elementwise.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update (#66769)
  paddle/phi/ops/yaml/op_compat.yaml
Due: none

refine program translator
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/graph_helper.cc
  paddle/fluid/framework/ir/map_legacy_op_to_normal_pass.cc
  paddle/fluid/framework/ir/map_legacy_op_to_normal_pass.h
  paddle/fluid/ir_adaptor/translator/CMakeLists.txt
  paddle/fluid/ir_adaptor/translator/translate.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN]Open 8 uts for dy shape and train (#66576)
  test/ir/pir/cinn/sub_graphs/CMakeLists.txt
  test/ir/pir/cinn/sub_graphs/test_sub_graph_23.py
  test/ir/pir/cinn/sub_graphs/test_sub_graph_34.py
  test/ir/pir/cinn/sub_graphs/test_sub_graph_85.py
Due: copyright_checker, pylint-doc-string

完善报错信息
  test/custom_op/custom_concat_op.cc
  test/custom_op/custom_relu_op_xpu.cc
  test/custom_op/custom_tanh_op.cc
  test/custom_runtime/custom_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

check
  test/ir/inference/test_trt_convert_clip.py
Due: copyright_checker, pylint-doc-string

unchange
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/same_operands_result.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

copy interface.h to whl
  python/setup.py.in
  setup.py
Due: copyright_checker, pylint-doc-string

add mean_all optest
  test/legacy_test/test_mean_all_op.py
  test/legacy_test/test_mean_op.py
Due: copyright_checker, pylint-doc-string

Update ps_gpu_wrapper.cc with nullptr instead of 0
  paddle/fluid/framework/fleet/ps_gpu_wrapper.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Typing][C-90]Add type annotation for 'python/paddle/incubate/operators/resnet_unit.py'
  python/paddle/incubate/operators/resnet_unit.py
Due: copyright_checker, pylint-doc-string

[CINN] update config searcher file (#66653)
  test/cpp/pir/cinn/tile_config_searcher_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN] Add EREBE tile config (#66776)
  paddle/cinn/ir/group_schedule/config/tile_config/NVGPU_NVIDIA_A100_SXM4_40GB/S_R_EREBE/Sdynamic_Rdynamic.json
  paddle/cinn/ir/group_schedule/config/tile_config/NVGPU_NVIDIA_A100_SXM4_40GB/S_R_EREBE/Sdynamic_Rstatic.json
  paddle/cinn/ir/group_schedule/config/tile_config/NVGPU_NVIDIA_A100_SXM4_40GB/S_R_EREBE/Sstatic_Rdynamic.json
Due: none

unary
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.h
  paddle/phi/ops/yaml/ops.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

pattern_fusser
  paddle/cinn/operator_fusion/backend/pattern_fuser.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

small errors
  paddle/cinn/lang/lower_tensor_group.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

