Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

modify ci
  test/ir/new_ir/test_ir_backward.py
Due: copyright_checker, pylint-doc-string

add op translator check
  paddle/fluid/ir_adaptor/translator/op_translator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[PIR]add block arguement. (#57249)
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/pir/transforms/inplace_pass.cc
  paddle/fluid/pybind/ir.cc
  paddle/pir/core/block.cc
  paddle/pir/core/block.h
  paddle/pir/core/block_argument.cc
  paddle/pir/core/block_argument.h
  paddle/pir/core/builder.h
  paddle/pir/core/op_result.cc
  paddle/pir/core/op_result_impl.h
  paddle/pir/core/operation.cc
  paddle/pir/core/operation.h
  paddle/pir/core/value.h
  paddle/pir/core/value_impl.cc
  paddle/pir/core/value_impl.h
  test/cpp/pir/core/CMakeLists.txt
  test/cpp/pir/core/block_argument_test.cc
  test/cpp/pir/core/op_info_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

refine code
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/ir_adaptor/translator/utils.cc
  paddle/fluid/ir_adaptor/translator/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix_forward_backward_contiguous_bug
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/phi/api/include/tensor.h
  paddle/phi/api/lib/tensor.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix stride reshape inplace bug
  paddle/phi/kernels/stride/reshape_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

modify comment
  paddle/fluid/pir/dialect/op_generator/api_gen.py
  paddle/fluid/pir/dialect/op_generator/python_c_gen.py
  paddle/fluid/pybind/eager_utils.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix string
  test/cpp/pir/core/ir_parser_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

dix adamax test failed
  paddle/fluid/pybind/eager.cc
  python/paddle/distributed/auto_parallel/api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update
  paddle/phi/ops/compat/p_send_sig.cc
  test/cpp/phi/ops/test_op_signature.h
Due: copyright_checker, clang-format, cpplint-cpp-source

merge dist p_send/p_send_array, p_recv/p_recv_array op
  paddle/fluid/framework/infershape_utils.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/inference/tensorrt/plugin_arg_mapping_context.cc
  paddle/phi/api/yaml/static_ops.yaml
  paddle/phi/core/compat/arg_map_context.h
  paddle/phi/kernels/p_send_kernel.h
  paddle/phi/ops/compat/p_recv_sig.cc
  paddle/phi/ops/compat/p_send_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

format code style
  paddle/phi/ops/compat/p_recv_sig.cc
  paddle/phi/ops/compat/p_send_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add more tests for coverage
  test/auto_parallel/semi_auto_parallel_for_matmul.py
Due: copyright_checker, pylint-doc-string

add masked_fill for paddle
  python/paddle/__init__.py
  python/paddle/tensor/__init__.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

Optimize the calling logic of the cast and cast_grad kernels to reduce compilation size (#57083)
  paddle/phi/kernels/gpu/cast_grad_kernel.cu
  paddle/phi/kernels/gpu/cast_impl.h
  paddle/phi/kernels/gpu/cast_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

update doc
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/fluid/pir/dialect/op_generator/op_interface_gen.py
Due: copyright_checker, pylint-doc-string

resolve conflict
  test/legacy_test/op_test.py
Due: copyright_checker, pylint-doc-string

no_test, test=py3
  test/ir/new_ir/test_ir_backward.py
Due: copyright_checker, pylint-doc-string

[PIR] Refine mutable attribute (#57306)
  paddle/fluid/pir/dialect/op_generator/op_build_gen.py
Due: copyright_checker, pylint-doc-string

Add ShapeOptimizationPass for SymbolicDim constraint construction. (#57069)
  paddle/pir/dialect/shape/ir/shape_op.cc
  paddle/pir/dialect/shape/ir/shape_op.h
  paddle/pir/dialect/shape/transforms/shape_optimization_pass.cc
  paddle/pir/dialect/shape/transforms/shape_optimization_pass.h
  paddle/pir/dialect/shape/utils/shape_utils.cc
  paddle/pir/dialect/shape/utils/shape_utils.h
  test/cpp/pir/shape_dialect/CMakeLists.txt
  test/cpp/pir/shape_dialect/constraint_pass_test.cc
  test/cpp/pir/shape_dialect/symbolic_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[PIR]Migrate paddle.gelu into pir (#57317)
  python/paddle/nn/functional/activation.py
  test/legacy_test/test_activation_op.py
Due: copyright_checker, pylint-doc-string

Refine code
  paddle/phi/infermeta/nullary.cc
  paddle/phi/infermeta/nullary.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[CodeStyle][ruff] update ruff v0.0.289 and black 23.9.1 (#57145)
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  python/paddle/distributed/auto_parallel/static/planner_v2.py
  python/paddle/distributed/auto_parallel/static/tuner/rule_based_tuner.py
  setup.py
  test/legacy_test/test_math_op_patch.py
  test/legacy_test/test_rnn_cell_api.py
Due: copyright_checker, pylint-doc-string

Refine code
  paddle/fluid/pybind/manual_static_op_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix axis error
  paddle/cinn/frontend/op_mappers/paddle/concat.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Fix CI errors
  test/collective/fleet/test_pipeline.py
Due: copyright_checker, pylint-doc-string

Fix problem of in_dynamic_mode
  python/paddle/distributed/auto_parallel/api.py
Due: copyright_checker, pylint-doc-string

[IR] Add map between value and variable for each var in op (#57268)
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.h
  paddle/fluid/framework/new_executor/new_ir_interpreter.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update
  paddle/phi/kernels/funcs/broadcast_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[NewIR] Support Ir run program node (#56791)
  paddle/fluid/eager/to_static/run_program_op_func.h
  paddle/fluid/eager/to_static/run_program_op_node.h
  paddle/fluid/framework/ir/CMakeLists.txt
  paddle/fluid/framework/ir/generate_pass.cc
  paddle/fluid/framework/op_desc.cc
  paddle/fluid/framework/type_defs.h
  paddle/fluid/pybind/eager_legacy_custom_python_api.h
  paddle/fluid/pybind/ir.cc
  paddle/fluid/pybind/op_function_common.cc
  paddle/fluid/pybind/op_function_common.h
  python/paddle/jit/dy2static/function_spec.py
  python/paddle/jit/dy2static/newir_partial_program.py
  python/paddle/jit/dy2static/program_translator.py
  python/paddle/tensor/math.py
  test/ir/new_ir/test_new_ir_to_static.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

