Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

update
  paddle/cinn/hlir/framework/new_ir/op_lowering_impl.cc
  paddle/cinn/hlir/framework/new_ir_compiler.cc
  paddle/cinn/utils/attribute_util.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bug
  paddle/cinn/hlir/framework/new_ir/op_lowering_impl.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update the GPU option
  python/paddle/incubate/nn/layer/fused_dropout_add.py
Due: copyright_checker, pylint-doc-string

fix api of int8 matmul and matmul_with_flatten
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/infermeta/binary.cc
  paddle/phi/infermeta/binary.h
  paddle/phi/kernels/gpu/matmul_kernel.cu
  paddle/phi/kernels/impl/matmul_kernel_impl.h
  test/legacy_test/test_matmul_int8_op.py
  test/legacy_test/test_mul_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bug
  paddle/phi/api/lib/api_gen_utils.cc
  paddle/phi/api/lib/data_transform.cc
  paddle/phi/core/kernel_factory.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bug
  paddle/phi/api/lib/api_gen_utils.cc
  paddle/phi/api/lib/data_transform.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add the GPU setup
  python/paddle/incubate/nn/layer/fused_dropout_add.py
Due: copyright_checker, pylint-doc-string

polish code of pass and executor (#56886)
  paddle/fluid/framework/new_executor/program_interpreter.cc
  paddle/fluid/pybind/ir.cc
  paddle/ir/transforms/dead_code_elimination_pass.cc
  test/ir/new_ir/test_pass_manager.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix bug
  paddle/fluid/framework/op_kernel_type.h
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/imperative/tracer.h
  paddle/fluid/pybind/eager_method.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix bug
  paddle/fluid/framework/new_executor/interpreter_base_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source

remove the note
  python/paddle/incubate/nn/layer/fused_dropout_nd.py
Due: copyright_checker, pylint-doc-string

update
  paddle/fluid/framework/new_executor/instruction/cond_instruction.cc
  paddle/fluid/framework/new_executor/instruction/cond_instruction.h
  paddle/fluid/framework/new_executor/new_ir_interpreter.cc
  paddle/fluid/framework/new_executor/new_ir_interpreter.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix proto dtype depency bug
  paddle/cinn/hlir/dialect/generated/cinn_ops.parsed.yaml
  paddle/fluid/ir/dialect/paddle_dialect/utils/utils.cc
  paddle/fluid/ir/dialect/paddle_dialect/utils/utils.h
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/ir_adaptor/translator/utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source

turn on gflags
  CMakeLists.txt
Due: none

fix
  paddle/ir/core/ir_printer.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[Fix] _test_capacity to set
  tools/sampcd_processor.py
Due: copyright_checker, pylint-doc-string

[Change] logger stdout
  python/paddle/tensor/creation.py
  tools/sampcd_processor.py
  tools/sampcd_processor_utils.py
Due: copyright_checker, pylint-doc-string

【New IR】New ir op test v1.1(sum passed) (#56756)
  python/paddle/tensor/math.py
  test/legacy_test/eager_op_test.py
  test/legacy_test/test_reduce_op.py
  test/mkldnn/test_reduce_bf16_mkldnn_op.py
  test/mkldnn/test_reduce_mkldnn_op.py
  test/white_list/new_ir_python_api_grad_white_list.py
Due: copyright_checker, pylint-doc-string

[Change] temp file
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

[Change] temp fail only in gpu
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

[Change] temp all pass
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

update the code
  python/paddle/incubate/nn/layer/fused_dropout_nd.py
Due: copyright_checker, pylint-doc-string

[complex] add complex support for rsqrt
  paddle/phi/common/complex.h
  paddle/phi/kernels/cpu/activation_grad_kernel.cc
  paddle/phi/kernels/cpu/activation_kernel.cc
  paddle/phi/kernels/funcs/activation_functor.h
  paddle/phi/kernels/gpu/activation_grad_kernel.cu
  paddle/phi/kernels/gpu/activation_kernel.cu
  python/paddle/tensor/ops.py
  test/legacy_test/test_activation_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[Change] do NOT addHandler
  python/paddle/tensor/creation.py
  tools/sampcd_processor_utils.py
Due: copyright_checker, pylint-doc-string

update ut
  test/legacy_test/test_addmm_op.py
Due: copyright_checker, pylint-doc-string

[Change] restore addHandler
  tools/sampcd_processor_utils.py
Due: copyright_checker, pylint-doc-string

[Change] echo more
  paddle/scripts/paddle_build.sh
Due: copyright_checker

[Change] echo pass
  paddle/scripts/paddle_build.sh
Due: copyright_checker

update
  paddle/fluid/distributed/ps/service/heter_client.cc
  paddle/utils/flags_native.h
Due: copyright_checker, clang-format, cpplint-cpp-source

[complex] add complex support for fold
  paddle/phi/kernels/cpu/fold_grad_kernel.cc
  paddle/phi/kernels/cpu/fold_kernel.cc
  paddle/phi/kernels/funcs/im2col.cc
  paddle/phi/kernels/funcs/im2col.cu
  paddle/phi/kernels/gpu/fold_grad_kernel.cu
  paddle/phi/kernels/gpu/fold_kernel.cu
  python/paddle/nn/functional/common.py
  test/legacy_test/test_fold_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update
  paddle/phi/core/flags.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Update fused_rotary_position_embedding.py
  python/paddle/incubate/nn/functional/fused_rotary_position_embedding.py
Due: copyright_checker, pylint-doc-string

turn off shared_phi
  CMakeLists.txt
Due: none

support more vjp code gen
  paddle/fluid/operators/generator/tests_utils.py
  paddle/fluid/primitive/codegen/gen.py
Due: copyright_checker, pylint-doc-string

恢复相关文件
  python/paddle/incubate/operators/unzip.py
  python/paddle/nn/layer/conv.py
Due: copyright_checker, pylint-doc-string

fix conflict
  paddle/fluid/ir/dialect/op_generator/python_c_gen.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

