Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

[CustomDevice] remove get_device in device_guard (#57994)
  paddle/phi/backends/device_guard.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

cinn(py-dsl): parse schedule of python dsl (#57981)
  python/cinn/compiler/compiler.py
  python/cinn/compiler/schedule_code_generator.py
  python/cinn/runtime/data_array.py
  test/cinn/CMakeLists.txt
  test/cinn/ir/test_llir_constructor.py
  test/cinn/ir/test_llir_schedule_cache_read_write.py
  test/cinn/ir/test_llir_schedule_compute_at.py
  test/cinn/ir/test_llir_schedule_compute_inline.py
  test/cinn/ir/test_llir_schedule_fuse_split.py
  test/cinn/ir/test_llir_schedule_reorder.py
  test/cinn/ir/test_llir_schedule_sequence.py
  test/cinn/utils/testing.py
Due: copyright_checker, pylint-doc-string

supply full dot op test
  test/legacy_test/test_dot_op.py
Due: copyright_checker, pylint-doc-string

format code
  python/paddle/tensor/math.py
  test/legacy_test/test_combinations.py
Due: copyright_checker, pylint-doc-string

[SOT][CI] add PR-CI-SOT workflow (#57754)
  paddle/scripts/paddle_build.sh
  python/unittest_py/requirements.txt
  test/dygraph_to_static/test_reinforcement_learning.py
  tools/dockerfile/Dockerfile.ubuntu20
Due: copyright_checker, pylint-doc-string

support getitem for OpResult in newIR (#57964)
  python/paddle/base/variable_index.py
  python/paddle/pir/math_op_patch.py
  python/setup.py.in
  test/ir/new_ir/test_new_ir_to_static.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/api/yaml/ops.yaml
Due: none

fix
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

fix_bugs_of_xpu
  paddle/phi/kernels/xpu/batch_norm_grad_kernel.cc
  paddle/phi/kernels/xpu/batch_norm_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add cinn information
  paddle/scripts/paddle_build.sh
Due: copyright_checker

fix_bugs_of_xpu
  paddle/phi/kernels/xpu/batch_norm_grad_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix_sample_code_paddle.utils.require_version (#57989)
  python/paddle/base/framework.py
Due: copyright_checker, pylint-doc-string

[clang-tidy] enable bugprone-narrowing-conversions check (#57861)
  .clang-tidy
  paddle/fluid/distributed/auto_parallel/spmd_rules/cross_entropy_with_softmax_spmd_rule.cc
  paddle/fluid/eager/custom_operator/custom_operator_node.cc
  paddle/fluid/framework/new_executor/interpreter/interpreter_util.cc
  paddle/fluid/framework/new_executor/new_ir_interpreter.cc
  paddle/fluid/inference/utils/io_utils.cc
  paddle/fluid/inference/utils/table_printer.cc
  paddle/fluid/ir_adaptor/translator/program_translator.cc
  paddle/fluid/operators/controlflow/pylayer_op_helper.cc
  paddle/fluid/pir/dialect/operator/ir/op_attribute.cc
  paddle/fluid/pir/dialect/operator/ir/op_dialect.cc
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
  paddle/fluid/pybind/auto_parallel_py.cc
  paddle/phi/core/distributed/auto_parallel/nd_mesh_reshard_function.cc
  paddle/phi/core/distributed/auto_parallel/s_to_s_reshard_function.cc
  paddle/phi/infermeta/fusion.cc
  paddle/pir/core/parser/ir_parser.cc
  paddle/pir/core/parser/lexer.cc
  paddle/pir/dialect/shape/utils/shape_utils.cc
  test/cpp/pir/core/ir_parser_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Delete Index64 implement in broadcast func (#57996)
  paddle/phi/kernels/funcs/broadcast_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

resolve conflict arggument
  test/auto_parallel/semi_auto_parallel_simple_net_hybrid.py
Due: copyright_checker, pylint-doc-string

format
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string

Update quantized_linear.py
  python/paddle/nn/quant/quantized_linear.py
Due: copyright_checker, pylint-doc-string

[PHI]Fix cub bugs when use PHI shared lib in CUDA12 (#57820)
  .gitmodules
  cmake/external/cccl.cmake
  cmake/generic.cmake
  cmake/third_party.cmake
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string

[PIR]Support op that has different args between op definition and kernels in pir (#57991)
  paddle/fluid/pir/dialect/operator/utils/op_yaml_info_parser.cc
  paddle/fluid/pir/dialect/operator/utils/op_yaml_info_parser.h
  paddle/fluid/pir/transforms/pd_op_to_kernel_pass.cc
  test/legacy_test/test_assign_value_op.py
  test/legacy_test/test_stack_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix prim abs_grad nan bug (#57687)
  paddle/fluid/prim/api/api.yaml
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/fluid/primitive/codegen/gen.py
  paddle/fluid/primitive/primitive.yaml
  paddle/fluid/primitive/rule/vjp/manual/manual_vjp.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

modify
  python/paddle/pir/math_op_patch.py
Due: copyright_checker, pylint-doc-string

fix bug
  test/cpp/fluid/fused/CMakeLists.txt
  test/cpp/prim/CMakeLists.txt
Due: none

fix code style and recover third_party
  test/legacy_test/test_inplace.py
Due: copyright_checker, pylint-doc-string

add STRICT_MODE
  test/dygraph_to_static/CMakeLists.txt
Due: none

[xdoctest] reformat example code with google style in No.324, 333, 336, 353 (#57565)
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/parallel_executor.cc
  python/paddle/base/dygraph/base.py
  python/paddle/base/executor.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

