Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


fix bugs
  paddle/cinn/operator_fusion/pattern_graph.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th No.33】支持动态图流水并行设定多个损失函数，并返回多个 loss (#63167)
  python/paddle/distributed/fleet/meta_parallel/parallel_layers/pp_layers.py
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  test/collective/fleet/hybrid_parallel_pp_multiple_losses.py
  test/collective/fleet/hybrid_parallel_pp_multiple_losses_alignment.py
  test/collective/fleet/hybrid_parallel_pp_multiple_losses_with_virtual_stage.py
Due: copyright_checker, pylint-doc-string

yuanlehome review mod
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/pir/transforms/gpu/fc_fuse_pass.cc
  paddle/phi/backends/dynload/cutlass_fc.cc
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/CMakeLists.txt
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/README.md
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/compile.sh
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_bias_act.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_common.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_decl.h
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_util.cu
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_util.h
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue_kernel.cu
  test/ir/pir/fused_pass/test_pir_fc_fuse_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

refine optimizer state_dict
  python/paddle/optimizer/optimizer.py
Due: copyright_checker, pylint-doc-string

fix py3
  paddle/fluid/pir/serialize_deserialize/src/save_load_parameters.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add unittest
  test/cinn/test_same_input_fusion.py
Due: copyright_checker, pylint-doc-string

Fix (#63477)
  paddle/fluid/operators/delete_var_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix (#63484)
  paddle/fluid/operators/pull_box_extended_sparse_op.cc
  paddle/fluid/operators/pull_box_extended_sparse_op.cu
  paddle/fluid/operators/pull_box_extended_sparse_op.h
  python/paddle/incubate/layers/__init__.py
  python/paddle/incubate/layers/nn.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th No.35】support kwargs for recompute when use_reentrant == True (#63337)
  python/paddle/distributed/fleet/recompute/recompute.py
  test/collective/fleet/test_dygraph_recompute_for_eager.py
Due: copyright_checker, pylint-doc-string

open test of test_llama_inference
  test/ir/pir/cinn/inference/test_llama_inference.py
Due: copyright_checker, pylint-doc-string

optimize flatten decomp
  paddle/fluid/primitive/composite/composite.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix(buffered_reader): replace mutable_data with alloc
  paddle/fluid/operators/reader/buffered_reader.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  cmake/external/eigen.cmake
Due: none

yuanlehome review mod, rename gemm_epilogue files
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/gemm_epilogue_common.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/gemm_epilogue_decl.h
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/gemm_epilogue_generator.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/gemm_epilogue_util.cu
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/gemm_epilogue_util.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[CINN] fix tune_task, cinn_op_nn, const_propagate
  paddle/cinn/auto_schedule/task/tune_task_test.cc
  paddle/cinn/hlir/op/nn.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

yuanlehome review mod, rename gemm_epilogue again
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/CMakeLists.txt
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/README.md
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_bias_act.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_common.py
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_decl.h
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_util.cu
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/fc_util.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix(typo): fix allocation type for pinned place
  paddle/fluid/memory/allocation/custom_pinned_allocator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pybind/eager_math_op_patch.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

delete same unittest
  test/collective/fleet/CMakeLists.txt
  test/cpp_extension/CMakeLists.txt
  test/custom_op/CMakeLists.txt
  test/deprecated/asp/CMakeLists.txt
  test/deprecated/collective/CMakeLists.txt
  test/deprecated/legacy_test/CMakeLists.txt
  test/deprecated/legacy_test/test_fleet_launch_ps.sh
  test/legacy_test/CMakeLists.txt
  test/prim/pir_prim/CMakeLists.txt
  test/sequence/CMakeLists.txt
Due: copyright_checker

update chi2 && lkj cholesky
  python/paddle/distribution/__init__.py
  python/paddle/distribution/chi2.py
  python/paddle/distribution/lkj_cholesky.py
Due: copyright_checker, pylint-doc-string

update
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/hybrid_parallel_optimizer.py
Due: copyright_checker, pylint-doc-string

fix CI bugs
  paddle/cinn/auto_schedule/task/tune_task_test.cc
  paddle/cinn/hlir/op/nn.cc
  paddle/cinn/hlir/pe/schedule.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix fp16 test
  test/legacy_test/test_sinc.py
Due: copyright_checker, pylint-doc-string

remove infer symbolic in predictor (#63547)
  paddle/fluid/inference/api/analysis_predictor.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/cinn/backends/compiler.cc
  paddle/cinn/frontend/group_cluster/cluster_policy/relative_judge_policy.h
  paddle/cinn/frontend/group_cluster/cluster_policy/shardable_axes_policy/shardable_axes_base.cc
  paddle/cinn/hlir/dialect/operator/transforms/add_broadcast_to_elementwise_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
  paddle/cinn/hlir/dialect/operator/transforms/fold_manipulation_ops_pass.cc
  paddle/cinn/hlir/framework/pir/op_lowering_group.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.cc
  paddle/fluid/framework/new_executor/instruction/cinn_jit_instruction.h
  paddle/fluid/framework/tensor_util.cc
  paddle/phi/api/yaml/ops.yaml
  python/paddle/base/executor.py
  python/paddle/distributed/auto_parallel/api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix py3
  test/deprecated/autograd/test_autograd_functional_static.py
  test/deprecated/autograd/test_primops.py
  test/deprecated/autograd/utils.py
  test/deprecated/legacy_test/CMakeLists.txt
  test/ir/inference/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_ir_memory_optimize_transformer.py
Due: copyright_checker, pylint-doc-string

【Hackathon 6th Fundable Projects 3 No.334】Remove fluid operator sequence_concat (#63235)
  paddle/fluid/operators/sequence_ops/sequence_concat_op.cc
  paddle/fluid/operators/sequence_ops/sequence_concat_op.cu.cc
  paddle/fluid/operators/sequence_ops/sequence_concat_op.h
  paddle/fluid/operators/sequence_ops/unity_build_rule.cmake
  python/paddle/static/nn/__init__.py
  python/paddle/static/nn/sequence_lod.py
  test/sequence/CMakeLists.txt
  test/sequence/test_sequence_concat.py
  test/white_list/check_op_sequence_batch_1_input_white_list.py
  test/white_list/check_op_sequence_instance_0_input_white_list.py
  tools/parallel_UT_rule.py
  tools/static_mode_white_list.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

rank pruning
  paddle/fluid/pir/dialect/distributed/ir/dist_op.cc
  python/paddle/distributed/auto_parallel/static/pir_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/ir/memory_optimize_pass/eager_deletion_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/inference/api/paddle_pass_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix distributed
  test/deprecated/distributed_passes/CMakeLists.txt
  test/deprecated/legacy_test/CMakeLists.txt
Due: none

bug fix
  paddle/fluid/memory/allocation/pinned_allocator.cc
  paddle/fluid/memory/memcpy.cc
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/eager_utils.cc
  paddle/phi/api/include/tensor.h
  paddle/phi/api/lib/tensor.cc
  paddle/phi/core/compat/convert_utils.cc
  paddle/phi/core/tensor_utils.cc
  paddle/phi/core/utils/visit_place.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

decomp unbind tile (#63541)
  paddle/fluid/pir/dialect/op_generator/decomp_interface_gen_op_list.py
  paddle/fluid/primitive/composite/composite.h
  test/prim/pir_prim/test_prim_sub_graph_dynamic_shape.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/operators/fill_zeros_like_op.cc
  paddle/fluid/operators/fill_zeros_like_op.cu.cc
  paddle/fluid/operators/fill_zeros_like_op.h
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_fill_zeros_like2_op.py
  test/legacy_test/test_fill_zeros_like_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[CINN] fix codestyle
  paddle/cinn/hlir/op/nn.cc
  paddle/cinn/hlir/pe/schedule.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix compile
  test/deprecated/legacy_test/CMakeLists.txt
  test/deprecated/legacy_test/test_compiled_program.py
Due: copyright_checker, pylint-doc-string

Fix block str
  paddle/fluid/framework/executor_cache.cc
  paddle/fluid/pir/transforms/general/remove_shadow_feed_pass.cc
  paddle/fluid/pir/transforms/general/remove_shadow_feed_pass.h
  paddle/pir/include/pass/pass.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th Fundable Projects 3 No.205】Remove fluid operator lite_engine (#63468)
  paddle/fluid/framework/naive_executor.cc
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/lite/CMakeLists.txt
  paddle/fluid/operators/lite/lite_engine_op.cc
  paddle/fluid/operators/lite/lite_engine_op.h
  test/cpp/fluid/CMakeLists.txt
  test/cpp/fluid/lite/CMakeLists.txt
  test/cpp/fluid/lite/lite_engine_op_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
