Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.5
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./.clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: https://github.com/PaddlePaddle/pre-commit-golang
    rev: v0.2
    hooks:
    -   id: go-fmt
        types:
        - go
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./.copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

add static graph save/load interface
  python/paddle/fluid/io.py
  python/paddle/fluid/tests/unittests/test_static_save_load.py
Due: copyright_checker

tensor_array_to_tensor_op.cc, test=develop (#19289)
  paddle/fluid/operators/tensor_array_to_tensor_op.cc
Due: clang-format-with-version-check, copyright_checker

move one_hot into fluid.one_hot
  python/paddle/fluid/__init__.py
  python/paddle/fluid/input.py
  python/paddle/fluid/tests/unittests/test_one_hot_v2_op.py
Due: copyright_checker

modify api.spec test=develop
  paddle/fluid/API.spec
Due: none

move tree_conv to fluid.contrib.layers (#19918)
  paddle/fluid/API.spec
  python/paddle/fluid/contrib/layers/nn.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

add py_reader combination unittest,test=develop
  python/paddle/fluid/tests/unittests/test_py_reader_combination.py
Due: copyright_checker

fix softmax CE time limit check failed (#19846)
  paddle/fluid/operators/math/softmax_impl.h
Due: clang-format-with-version-check, copyright_checker

Add op compatible information (#19910)
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/op_compatible_info.cc
  paddle/fluid/framework/op_compatible_info.h
  paddle/fluid/framework/op_compatible_info_test.cc
Due: clang-format-with-version-check, copyright_checker

impove unit test for dpsgd,test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/optimizer.py
  python/paddle/fluid/tests/unittests/test_optimizer.py
Due: copyright_checker

modify the example code in io funtion
  python/paddle/fluid/dygraph/checkpoint.py
  python/paddle/fluid/io.py
  python/paddle/fluid/optimizer.py
Due: copyright_checker

impove unit test for dpsgd,test=develop
  python/paddle/fluid/optimizer.py
Due: copyright_checker

add mse_loss (#19759)
  paddle/fluid/API.spec
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_layers.py
  python/paddle/fluid/tests/unittests/test_mse_loss.py
Due: copyright_checker

fix loss shape test=develop
  python/paddle/fluid/tests/unittests/test_lookup_table_v2_op.py
Due: copyright_checker

add paddle_enforce_eq in bcast_dims
  paddle/fluid/operators/expand_as_op.h
Due: clang-format-with-version-check, copyright_checker

fix test=develop
  paddle/fluid/operators/data_norm_op.cc
Due: clang-format-with-version-check, copyright_checker

add api test test=develop
  paddle/fluid/API.spec
  python/paddle/fluid/tests/unittests/test_ctc_align.py
Due: copyright_checker

use UserList, separate gettersetters, test=develop
  python/paddle/fluid/dygraph/layers.py
  python/paddle/fluid/dygraph/nn.py
Due: copyright_checker

switch with_mkl to on
  paddle/fluid/train/demo/run.sh
Due: none

refine api test test=develop
  python/paddle/fluid/tests/unittests/test_ctc_align.py
Due: copyright_checker

update API.spec and add api test test=develop
  paddle/fluid/API.spec
Due: none

move test_fluid_lib_train to ci_py35
  paddle/scripts/paddle_build.sh
Due: none

add api-spec test=develop
  paddle/fluid/API.spec
Due: none

refine ctc align op with padding test=develop test=document_preview
  paddle/fluid/API.spec
  paddle/fluid/operators/ctc_align_op.cc
  paddle/fluid/operators/ctc_align_op.cu
  paddle/fluid/operators/ctc_align_op.h
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_ctc_align.py
Due: clang-format-with-version-check, copyright_checker

update test_custom_layer_with_kwargs, test=develop
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

fix UserList compatibility, test=develop
  python/paddle/fluid/dygraph/nn.py
Due: copyright_checker

move flused_emb_seq_pool into paddle.fluid.contrib.layers
  paddle/fluid/API.spec
  python/paddle/fluid/contrib/layers/nn.py
  python/paddle/fluid/layers/nn.py
  python/paddle/fluid/tests/unittests/test_fused_emb_seq_pool_op.py
  python/paddle/fluid/tests/unittests/test_layers.py
Due: copyright_checker

add cpu kernel
  paddle/fluid/operators/masked_select_op.cc
  paddle/fluid/operators/masked_select_op.h
Due: clang-format-with-version-check, copyright_checker

add doc & fix unittest errors, test=develop
  paddle/fluid/platform/enforce.h
  paddle/fluid/platform/enforce_test.cc
  python/paddle/fluid/error_format.py
  python/paddle/fluid/executor.py
Due: clang-format-with-version-check, copyright_checker

using mkl blas instead for loop
  paddle/fluid/operators/distributed/communicator.cc
Due: clang-format-with-version-check, copyright_checker
