Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix cmake of cryptopp
  cmake/external/cryptopp.cmake
Due: none

- lint fixes
  paddle/fluid/operators/elementwise/elementwise_op.h
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_add_bf16_mkldnn_op.py
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_add_mkldnn_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

- lint
  python/paddle/fluid/tests/unittests/mkldnn/test_elementwise_add_bf16_mkldnn_op.py
Due: pylint-doc-string, copyright_checker

pipeline sequential
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

merge style 2
  paddle/fluid/operators/collective/CMakeLists.txt
  paddle/fluid/operators/collective/c_allgather_op_npu.cc
  paddle/fluid/operators/collective/c_allgather_op_npu_test.cc
  paddle/fluid/operators/collective/c_allreduce_max_op_npu_test.cc
  paddle/fluid/operators/collective/c_allreduce_op.h
  paddle/fluid/operators/collective/c_allreduce_sum_op_npu_test.cc
  paddle/fluid/operators/collective/c_broadcast_op_npu_test.cc
  paddle/fluid/operators/collective/c_reducescatter_op_npu.cc
  paddle/fluid/operators/collective/c_reducescatter_op_npu_test.cc
  paddle/fluid/operators/collective/recv_v2_op_npu.cc
  paddle/fluid/operators/collective/send_v2_op_npu.cc
  paddle/fluid/platform/npu_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix dataloader waning; add gpu tensor notice. test=develop
  python/paddle/fluid/dataloader/dataloader_iter.py
  python/paddle/fluid/reader.py
Due: pylint-doc-string, copyright_checker

fix doc. test=develop
  python/paddle/fluid/dataloader/dataloader_iter.py
  python/paddle/fluid/reader.py
Due: pylint-doc-string, copyright_checker

Support npu kernel for amp_check_finite_and_unscale_npu op
  paddle/fluid/operators/amp/CMakeLists.txt
  paddle/fluid/operators/amp/check_finite_and_unscale_op_npu.cc
  paddle/fluid/operators/amp/check_finite_and_unscale_op_npu_test.cc
  python/paddle/fluid/tests/unittests/test_amp_check_finite_and_scale_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

[ROCM] fix dropout and remove hipcub, test=develop
  paddle/fluid/operators/detection/bbox_util.cu.h
  paddle/fluid/operators/detection/collect_fpn_proposals_op.cu
  paddle/fluid/operators/detection/distribute_fpn_proposals_op.cu
  paddle/fluid/operators/group_norm_op.cu
  paddle/fluid/operators/kron_op.h
  paddle/fluid/operators/matmul_v2_op.h
  paddle/fluid/operators/pool_op.h
  paddle/fluid/operators/prelu_op.cu
  paddle/fluid/operators/reduce_ops/cub_reduce.h
  paddle/fluid/operators/reduce_ops/reduce_mean_op.cu
  paddle/fluid/operators/reduce_ops/reduce_sum_op.cu
  paddle/fluid/operators/sequence_ops/sequence_softmax_op.cu
  paddle/fluid/operators/trace_op.cu
  paddle/fluid/platform/gpu_launch_config.h
  tools/dockerfile/Dockerfile.rocm
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add gather npu op
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/gather_op_npu.cc
  paddle/fluid/operators/gather_op_npu_test.cc
  python/paddle/fluid/tests/unittests/test_gather_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

remove the send/recv of tensor size, test=develop
  paddle/fluid/operators/collective/recv_v2_op.cc
  paddle/fluid/operators/collective/recv_v2_op.cu.cc
  paddle/fluid/operators/collective/send_v2_op.cu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Collective comm add async wait op
  paddle/fluid/operators/collective/c_wait_comm_op.cc
  paddle/fluid/operators/collective/c_wait_compute_op.cc
  paddle/fluid/platform/collective_helper.cc
  paddle/fluid/platform/collective_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix: set @Bcast@Grad to non persistable
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

update
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

sharding-pipeline: backward allreduce --> optimize reduce
  python/paddle/distributed/fleet/meta_optimizers/sharding/utils.py
  python/paddle/distributed/fleet/meta_optimizers/sharding_optimizer.py
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

Add test
  paddle/fluid/operators/collective/c_wait_comm_op.cc
  paddle/fluid/operators/collective/c_wait_compute_op.cc
  python/paddle/fluid/framework.py
  python/paddle/fluid/tests/unittests/collective_allreduce_op_wait.py
  python/paddle/fluid/tests/unittests/test_collective_wait.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

delete first_opt_index from return value
  python/paddle/fluid/optimizer.py
Due: pylint-doc-string, copyright_checker

[2.0 API] get_flags and set_flags
  python/paddle/__init__.py
  python/paddle/fluid/framework.py
  python/paddle/fluid/tests/unittests/test_get_set_flags.py
  python/paddle/static/__init__.py
Due: pylint-doc-string, copyright_checker

fix fleetrun kill ps
  python/paddle/distributed/fleet/launch_utils.py
Due: pylint-doc-string, copyright_checker

squeeze and unsqueeze op for ascend
  paddle/fluid/operators/squeeze_op_npu.cc
  paddle/fluid/operators/squeeze_op_npu_test.cc
  paddle/fluid/operators/unsqueeze_op_npu.cc
  paddle/fluid/operators/unsqueeze_op_npu_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

delete /Zc:inline compiled in NVCC, notest, test=windows_ci, test=windows_op
  cmake/cuda.cmake
Due: none

Fix cmake of cryptopp to avoid downloading every time (#31447)
  cmake/external/cryptopp.cmake
Due: none

fix cmake of cryptopp to avoid downloading every time (#31451)
  cmake/external/cryptopp.cmake
Due: none

fix test
  python/paddle/fluid/tests/unittests/CMakeLists.txt
Due: none

insert an empty at the end
  paddle/fluid/operators/collective/CMakeLists.txt
  paddle/fluid/operators/collective/c_allgather_op_npu.cc
  paddle/fluid/operators/collective/c_allreduce_max_op_npu_test.cc
  paddle/fluid/operators/collective/recv_v2_op_npu_test.cc
  paddle/fluid/operators/collective/send_v2_op_npu_test.cc
  paddle/fluid/platform/ascend_npu_info.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[CustomOp] Automatically specify PADDLE_WITH_MKLDNN & Remove Interpreter argument (#31391)
  python/paddle/fluid/tests/custom_op/test_check_abi.py
  python/paddle/fluid/tests/custom_op/test_custom_attrs_jit.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_model.py
  python/paddle/fluid/tests/custom_op/test_custom_relu_op_jit.py
  python/paddle/fluid/tests/custom_op/test_dispatch_jit.py
  python/paddle/fluid/tests/custom_op/test_jit_load.py
  python/paddle/fluid/tests/custom_op/test_multi_out_jit.py
  python/paddle/fluid/tests/custom_op/utils.py
  python/paddle/utils/cpp_extension/cpp_extension.py
  python/paddle/utils/cpp_extension/extension_utils.py
Due: pylint-doc-string, copyright_checker

[ROCM] fix gather_op, sigmoid_cross_entropy_with_logits_op, test=develop
  paddle/fluid/operators/sigmoid_cross_entropy_with_logits_op.cu
  paddle/fluid/platform/cuda_helper.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[NPU] squeeze and unsqueeze op for ascend (#31452)
  paddle/fluid/operators/squeeze_op_npu.cc
  paddle/fluid/operators/squeeze_op_npu_test.cc
  paddle/fluid/operators/unsqueeze_op_npu.cc
  paddle/fluid/operators/unsqueeze_op_npu_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[ROCM] fix test_dist_op ci test, test=develop
  paddle/fluid/operators/dist_op.cu
  paddle/fluid/operators/math/math_cuda_utils.h
  python/paddle/fluid/tests/unittests/dist_test.sh
  python/paddle/fluid/tests/unittests/test_dist_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update
  python/paddle/distributed/fleet/meta_optimizers/common.py
Due: pylint-doc-string, copyright_checker

support EnforceNotMet exception
  paddle/fluid/operators/amp/check_finite_and_unscale_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

code review done
  paddle/fluid/operators/gather_op_npu.cc
  python/paddle/fluid/tests/unittests/test_gather_op_npu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

update python new line
  python/paddle/fluid/tests/unittests/test_gather_op_npu.py
Due: pylint-doc-string, copyright_checker

Run CI, test=allcase
  python/paddle/vision/datasets/flowers.py
Due: pylint-doc-string, copyright_checker

add matmul_v2 kernel for npu
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/matmul_v2_op_npu.cc
  paddle/fluid/operators/matmul_v2_op_npu_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
