Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

{{out_dims}} -> out_dims
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

npt
  python/paddle/distributed/fleet/base/role_maker.py
Due: copyright_checker, pylint-doc-string

Update fused_attention_utils.h
  paddle/phi/kernels/fusion/gpu/fused_attention_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update dist_mnist_gradient_merge.py
  test/collective/fleet/dist_mnist_gradient_merge.py
Due: copyright_checker, pylint-doc-string

Update test_dist_mnist_gradient_merge.py
  test/collective/fleet/test_dist_mnist_gradient_merge.py
Due: copyright_checker, pylint-doc-string

Update dist_mnist_dgc.py
  test/legacy_test/dist_mnist_dgc.py
Due: copyright_checker, pylint-doc-string

Update dist_mnist_fp16_allreduce.py
  test/legacy_test/dist_mnist_fp16_allreduce.py
Due: copyright_checker, pylint-doc-string

Update test_static_model_parallel_fused_attention.py
  test/legacy_test/test_static_model_parallel_fused_attention.py
Due: copyright_checker, pylint-doc-string

Update test_dist_base.py
  test/legacy_test/test_dist_base.py
Due: copyright_checker, pylint-doc-string

Fix
  paddle/fluid/platform/device/gpu/CMakeLists.txt
  paddle/fluid/platform/device/gpu/gpu_resource_pool.cc
  paddle/fluid/platform/device/gpu/gpu_resource_pool.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update test_parallel_class_center_sample.py
  test/collective/fleet/test_parallel_class_center_sample.py
Due: copyright_checker, pylint-doc-string

Update test_parallel_margin_cross_entropy.py
  test/collective/fleet/test_parallel_margin_cross_entropy.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update test_collective_allreduce_api.py
  test/collective/test_collective_allreduce_api.py
Due: copyright_checker, pylint-doc-string

clear (#67415)
  test/collective/collective_allgather_api.py
  test/collective/collective_reduce_scatter_api.py
  test/collective/test_collective_allgather_api.py
  test/collective/test_collective_alltoall_api.py
  test/collective/test_collective_reduce_scatter_api.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/multiary_infer_sym.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update
  paddle/fluid/pir/dialect/op_generator/api_gen.py
  paddle/fluid/pir/utils/type_promotion_utils.h
  test/deprecated/legacy_test/CMakeLists.txt
  test/legacy_test/CMakeLists.txt
  test/legacy_test/test_elementwise_div_op.py
  test/legacy_test/test_tensor_scalar_type_promotion_static.py
  test/legacy_test/test_tensor_type_promotion.py
  test/legacy_test/test_where_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

new
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Update test_collective_alltoall_api.py
  test/collective/test_collective_alltoall_api.py
Due: copyright_checker, pylint-doc-string

new
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add kunlun3 reset50 ci
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Update test_collective_allgather_api.py
  test/collective/test_collective_allgather_api.py
Due: copyright_checker, pylint-doc-string

Update test_collective_reduce_scatter_api.py
  test/collective/test_collective_reduce_scatter_api.py
Due: copyright_checker, pylint-doc-string

[Inference]Fix analyzer_capi_exp_tester and analyzer_capi_exp_ner_tester in PIR mode (#67248)
  paddle/fluid/ir_adaptor/translator/op_compat_gen.py
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/phi/infermeta/binary.cc
  test/cpp/inference/api/CMakeLists.txt
  test/cpp/inference/api/analyzer_capi_exp_ner_tester.cc
  test/cpp/inference/api/analyzer_capi_exp_tester.cc
  test/deprecated/cpp/inference/api/CMakeLists.txt
  test/legacy_test/test_uniform_random_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

