Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


remove usless code
  paddle/cinn/hlir/dialect/operator/transforms/add_cinn_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

restore
  paddle/fluid/pybind/auto_parallel_py.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

test
  paddle/scripts/paddle_build.sh
Due: copyright_checker

Fix Histogram kernel to check range error
  paddle/phi/kernels/gpu/histogram_kernel.cu
  test/legacy_test/test_histogram_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

support xre 5.0
  cmake/external/xpu.cmake
  paddle/fluid/eager/auto_code_generator/CMakeLists.txt
  python/env_dict.py.in
  python/setup.py.in
  setup.py
  tools/xpu/check_xpu_dependence.sh
  tools/xpu/pack_paddle_depence.sh
Due: copyright_checker, pylint-doc-string

add test_full_ case and update zlib (#64447)
  test/legacy_test/test_full_.py
Due: copyright_checker, pylint-doc-string

5.27
  paddle/fluid/inference/tensorrt/dynamic_shape_infermeta.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[CINN]fix 0-D AssignValueOpInferSymbolicShape (#64615)
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/nullary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix typo: self.t_null -> self.t_null()
  paddle/cinn/hlir/dialect/operator/transforms/pir_to_py_code_converter.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix geneated generated (#64601)
  paddle/fluid/operators/generator/CMakeLists.txt
Due: none

[Inference] Transfer layout pass (#63628)
  paddle/cinn/hlir/dialect/operator/transforms/group_merge/single_op_fallback_to_phi.cc
  paddle/fluid/eager/auto_code_generator/CMakeLists.txt
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.cc
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.h
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.hpp
  paddle/fluid/pir/dialect/operator/ir/op_dialect.cc
  paddle/fluid/pir/transforms/general/transfer_layout_pass.cc
  paddle/fluid/pir/transforms/general/transfer_layout_pass.h
  paddle/fluid/pir/transforms/passes.h
  paddle/fluid/platform/dynload/cudnn.h
  paddle/fluid/pybind/CMakeLists.txt
  paddle/phi/backends/dynload/cudnn.h
  paddle/phi/ops/yaml/inconsistent/static_ops.yaml
  paddle/phi/ops/yaml/ops.yaml
  paddle/pir/include/pass/pass_registry.h
  paddle/pir/include/pass/utils.h
  paddle/pir/src/pass/utils.cc
  test/cpp/pir/operator/layout_transformation_interface_test.cc
  test/cpp/pir/pass/CMakeLists.txt
  test/cpp/pir/pass/transfer_layout_pass_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/cinn/hlir/dialect/operator/transforms/check_infer_symbolic_util.cc
  paddle/cinn/hlir/dialect/operator/transforms/local_infer_symbolic_util.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
  paddle/phi/infermeta/binary.cc
  paddle/pir/include/dialect/shape/utils/constraints_manager.h
  paddle/pir/include/dialect/shape/utils/shape_analysis.h
  paddle/pir/src/dialect/shape/utils/constraints_manager.cc
  paddle/pir/src/dialect/shape/utils/shape_analysis.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

【Hackathon 6th No.53】move fake_channel_wise_dequantize_max_abs op to phi -part (#64574)
  paddle/fluid/operators/fake_dequantize_op.cc
  paddle/fluid/operators/fake_dequantize_op.cu
  paddle/fluid/operators/fake_dequantize_op.cu.h
  paddle/fluid/operators/fake_dequantize_op.h
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
  paddle/phi/kernels/cpu/fake_dequantize_kernel.cc
  paddle/phi/kernels/fake_dequantize_kernel.h
  paddle/phi/kernels/funcs/fake_dequantize_functor.cc
  paddle/phi/kernels/funcs/fake_dequantize_functor.cu
  paddle/phi/kernels/funcs/fake_dequantize_functor.h
  paddle/phi/kernels/gpu/fake_dequantize_kernel.cu
  paddle/phi/kernels/impl/fake_dequantize_kernel_impl.h
  paddle/phi/ops/yaml/op_compat.yaml
  paddle/phi/ops/yaml/ops.yaml
  test/legacy_test/test_fake_dequantize_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

rm pybind
  paddle/fluid/pir/dialect/operator/ir/manual_api.cc
  paddle/fluid/pir/dialect/operator/ir/manual_api.h
  paddle/fluid/pir/dialect/operator/ir/manual_op.cc
  paddle/fluid/pir/dialect/operator/ir/manual_op.h
  paddle/fluid/pybind/manual_static_op_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Update] gen_tensor_stub format
  tools/gen_tensor_stub.py
Due: copyright_checker, pylint-doc-string

Add test case.
  test/auto_parallel/hybrid_strategy/semi_auto_llama_dataloader.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_llama_model.py
Due: copyright_checker, pylint-doc-string

refine codes and add interpreter
  paddle/cinn/operator_fusion/CMakeLists.txt
  paddle/cinn/operator_fusion/backend/CMakeLists.txt
  paddle/cinn/operator_fusion/backend/pattern.h
  paddle/cinn/operator_fusion/backend/pattern_fuser.h
  paddle/cinn/operator_fusion/frontend/CMakeLists.txt
  paddle/cinn/operator_fusion/frontend/pattern.h
  paddle/cinn/operator_fusion/frontend/pattern_fuser.cc
  paddle/cinn/operator_fusion/frontend/pattern_fuser.h
  paddle/cinn/operator_fusion/fusion_tracker/CMakeLists.txt
  paddle/cinn/operator_fusion/fusion_tracker/interpreter.cc
  paddle/cinn/operator_fusion/fusion_tracker/interpreter.h
  paddle/cinn/operator_fusion/fusion_tracker/tracker.h
  paddle/cinn/operator_fusion/graph_transformer/operation.h
  paddle/cinn/operator_fusion/graph_transformer/search_algorithm.h
  paddle/cinn/operator_fusion/group_cluster.h
  paddle/cinn/operator_fusion/pattern.h
  paddle/cinn/operator_fusion/pattern_fuser.cc
  paddle/cinn/operator_fusion/pattern_fuser.h
  paddle/cinn/operator_fusion/pattern_graph.cc
  paddle/cinn/operator_fusion/pattern_graph.h
  paddle/cinn/operator_fusion/pattern_node.h
  paddle/cinn/operator_fusion/pir_graph_analyzing/anchor_transform.h
  paddle/cinn/operator_fusion/policy/anchor_search_policy.cc
  paddle/cinn/operator_fusion/policy/anchor_search_policy.h
  paddle/cinn/operator_fusion/policy/general_topo_policy.cc
  paddle/cinn/operator_fusion/policy/general_topo_policy.h
  paddle/cinn/operator_fusion/policy/policy_manager.h
  paddle/cinn/operator_fusion/policy/relative_judge_policy.cc
  paddle/cinn/operator_fusion/policy/relative_judge_policy.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

exhibit conv in transfer_layout_pass and fix argsort translation
  paddle/fluid/ir_adaptor/translator/op_translator.cc
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Clean paddle/fluid/operators/fused/cublaslt.h (#64564)
  paddle/fluid/inference/tensorrt/plugin/preln_residual_bias_plugin.cu
  paddle/fluid/operators/fused/cublaslt.h
  paddle/fluid/operators/fused/fused_dropout_act_bias.h
  paddle/fluid/operators/fused/fused_dropout_common.h
  paddle/fluid/operators/fused/fused_dropout_helper.h
  paddle/fluid/operators/fused/fused_layernorm_residual_dropout_bias.h
  paddle/fluid/operators/fused/fused_multi_transformer_helper.cu.h
  paddle/fluid/operators/fused/fused_multi_transformer_int8_op.cu
  paddle/fluid/operators/fused/fused_multi_transformer_op.cu
  paddle/fluid/operators/fused/fused_residual_dropout_bias.h
  paddle/fluid/operators/fused/fused_seqpool_cvm_op.cu
  paddle/fluid/operators/fused/fused_softmax_mask.cu.h
  paddle/fluid/operators/fused/resnet_unit_op.cu
  paddle/phi/kernels/funcs/operator_kernel_configs.h
  paddle/phi/kernels/fusion/gpu/attn_gemm_int8.h
  paddle/phi/kernels/fusion/gpu/cudnn_bn_stats_finalize.cu.h
  paddle/phi/kernels/fusion/gpu/cudnn_fusion_helper.h
  paddle/phi/kernels/fusion/gpu/cudnn_norm_conv.cu.h
  paddle/phi/kernels/fusion/gpu/cudnn_scale_bias_add_relu.cu.h
  paddle/phi/kernels/fusion/gpu/fused_bias_act_utils.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_act_bias.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_common.h
  paddle/phi/kernels/fusion/gpu/fused_dropout_helper.h
  paddle/phi/kernels/fusion/gpu/quant_dequant_kernel.h
  test/cpp/fluid/fused/cudnn_bn_add_relu_test.cc
  test/cpp/fluid/fused/cudnn_norm_conv_test.cc
  test/cpp/fluid/fused/fused_dropout_act_bias_test.cu
  test/cpp/fluid/fused/fused_layernorm_residual_dropout_bias_test.cu
  test/cpp/fluid/fused/fused_residual_dropout_bias_test.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

remoev print
  test/dygraph_to_static/test_save_inference_model.py
  test/legacy_test/test_jit_save_load.py
Due: copyright_checker, pylint-doc-string

backward decomposite the cross_entropy_with_softmax op
  paddle/fluid/primitive/codegen/gen.py
  paddle/fluid/primitive/rule/vjp/details.h
  test/legacy_test/test_softmax_with_cross_entropy_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/cinn/hlir/dialect/operator/transforms/check_infer_symbolic_util.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/binary_infer_sym.cc
  paddle/fluid/pir/dialect/operator/interface/infer_symbolic_shape/unary_infer_sym.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/pir/dialect/operator/interface/layout_transformation.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

polish
  paddle/phi/kernels/impl/set_value_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix cinn fuse_shape_ops_into_generate_shape_op_pass
  paddle/cinn/hlir/dialect/operator/transforms/fuse_shape_ops_into_generate_shape_op_pass.cc
  test/ir/pir/cinn/inference/test_llama_postprocess.py
  test/ir/pir/cinn/symbolic/test_infer_sym_shape_unary_op.py
  test/ir/pir/cinn/test_horizontal_fusion.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update test
  test/deprecated/legacy_test/test_reduce_op.py
Due: copyright_checker, pylint-doc-string

update
  test/deprecated/legacy_test/test_reduce_op.py
Due: copyright_checker, pylint-doc-string

add rocm test
  paddle/scripts/paddle_build.sh
Due: copyright_checker

add decomp vjp interface of some ops
  paddle/fluid/pir/dialect/op_generator/decomp_interface_gen_op_list.py
  paddle/fluid/pir/dialect/operator/ir/manual_op_decomp_vjp.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix the coo bug
  paddle/phi/kernels/sparse/gpu/concat_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

cutlass compile optimization
  paddle/phi/kernels/CMakeLists.txt
  paddle/phi/kernels/fusion/cutlass/conv2d/compile.sh
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/CMakeLists.txt
  paddle/phi/kernels/fusion/cutlass/gemm_epilogue/compile.sh
Due: copyright_checker

fix lint
  paddle/phi/kernels/fusion/gpu/block_attn.h
  paddle/phi/kernels/fusion/gpu/block_multi_head_attention_kernel.cu
  test/legacy_test/test_block_multihead_attention.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/infermeta/unary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
