Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

clang-format-with-version-check:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

[Auto Parallel] Make the unittest adapt to the new interface
  python/paddle/distributed/auto_parallel/completion.py
  python/paddle/distributed/auto_parallel/engine.py
  python/paddle/fluid/tests/unittests/auto_parallel/engine_api_dp.py
Due: pylint-doc-string, copyright_checker

fix cachemanager refresh map between fid and bfid
  paddle/fluid/framework/fleet/heter_ps/cache_manager.cc
  paddle/fluid/framework/fleet/heter_ps/cache_manager.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix cpplint style 4
  paddle/fluid/operators/detection/poly_util.cc
  paddle/fluid/operators/detection/poly_util.h
  paddle/fluid/operators/mkldnn/matmul_v2_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix sign-compare warning4 (#43625)
  paddle/fluid/distributed/ps/service/brpc_ps_server.cc
  paddle/fluid/distributed/ps/service/communicator/communicator.cc
  paddle/fluid/distributed/ps/table/barrier_table.cc
  paddle/fluid/distributed/ps/table/ctr_double_accessor.cc
  paddle/fluid/distributed/ps/table/memory_dense_table.cc
  paddle/fluid/distributed/ps/table/memory_sparse_table.cc
  paddle/fluid/distributed/ps/table/sparse_accessor.cc
  paddle/fluid/distributed/ps/table/ssd_sparse_table.cc
  paddle/fluid/distributed/ps/wrapper/fleet.cc
  paddle/fluid/distributed/test/ctr_accessor_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[IPU] add activation ops (#43662)
  paddle/fluid/platform/device/ipu/popart_canonicalization/activation_ops.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/canonicalization_utils.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/canonicalization_utils.h
  paddle/fluid/platform/device/ipu/popart_canonicalization/math_ops.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/op_builder.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/op_builder.h
  paddle/fluid/platform/device/ipu/popart_canonicalization/search_ops.cc
  paddle/fluid/platform/device/ipu/popart_canonicalization/tensor_ops.cc
  python/paddle/fluid/tests/unittests/ipu/test_activation_ops_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_arg_min_op_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_argsort_op_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_bmm_op_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_dot_op_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_prelu_op_ipu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

rename eagerpylayer
  python/paddle/autograd/__init__.py
  python/paddle/autograd/py_layer.py
  python/paddle/distributed/collective.py
  python/paddle/distributed/fleet/meta_parallel/pp_utils/utils.py
  python/paddle/distributed/fleet/meta_parallel/sharding/group_sharded_stage3.py
  python/paddle/distributed/fleet/utils/recompute.py
  python/paddle/fluid/tests/unittests/parallel_dygraph_dataparallel_with_pylayer.py
  python/paddle/fluid/tests/unittests/test_pylayer_op.py
  python/paddle/incubate/distributed/models/moe/moe_layer.py
Due: pylint-doc-string, copyright_checker

fix clang format
  paddle/fluid/operators/fake_quantize_op.cu.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

feat(): add identity_loss op to mark the loss variable on IPU.
  paddle/fluid/operators/identity_loss_op.cc
  paddle/phi/infermeta/unary.cc
  paddle/phi/infermeta/unary.h
  paddle/phi/kernels/cpu/identity_loss_grad_kernel.cc
  paddle/phi/kernels/cpu/identity_loss_kernel.cc
  paddle/phi/kernels/identity_loss_grad_kernel.h
  paddle/phi/kernels/identity_loss_kernel.h
  paddle/phi/ops/compat/identity_loss_sig.cc
  python/paddle/fluid/layers/loss.py
  python/paddle/fluid/tests/unittests/test_identity_loss_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix unittest
  python/paddle/fluid/dygraph/dygraph_to_static/ifelse_transformer.py
  python/paddle/fluid/tests/unittests/dygraph_to_static/test_program_translator.py
Due: pylint-doc-string, copyright_checker

feat(): support dy2static on IPU.
  paddle/fluid/framework/executor_cache.cc
  paddle/fluid/framework/ir/ipu/ipu_runtime_replacer_pass.cc
  paddle/fluid/framework/ir/ipu/optimizer_extract_pass.cc
  paddle/fluid/framework/parallel_executor.cc
  paddle/fluid/imperative/prepared_operator.cc
  paddle/fluid/imperative/tracer.cc
  paddle/fluid/platform/device/ipu/ipu_compiler.cc
  paddle/fluid/platform/device/ipu/ipu_executor.cc
  paddle/fluid/platform/device/ipu/ipu_strategy.cc
  paddle/fluid/platform/device/ipu/ipu_strategy.h
  paddle/fluid/platform/device/ipu/popart_canonicalization/other_ops.cc
  paddle/fluid/platform/device/ipu/supported_ops_custom.h
  paddle/fluid/platform/device_context.cc
  paddle/fluid/pybind/imperative.cc
  python/paddle/fluid/compiler.py
  python/paddle/fluid/tests/unittests/ipu/test_dy2static_fp16_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_dy2static_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_dy2static_save_load_ipu.py
  python/paddle/fluid/tests/unittests/ipu/test_identity_loss_ipu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

rm_affine
  python/paddle/tests/test_transforms.py
Due: pylint-doc-string, copyright_checker

fix compile fail in cuda11.6 (#43588)
  paddle/fluid/inference/tensorrt/plugin/gather_nd_op_plugin.h
  paddle/fluid/inference/tensorrt/plugin/split_op_plugin.cu
  paddle/fluid/inference/tensorrt/plugin/split_op_plugin.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[MLU] add mlu kernel for elementwise_max_grad (#43608)
  paddle/fluid/operators/elementwise/elementwise_max_op_mlu.cc
  paddle/fluid/operators/elementwise/elementwise_min_op_mlu.cc
  paddle/fluid/operators/elementwise/elementwise_mlu.h
  python/paddle/fluid/tests/unittests/mlu/test_elementwise_max_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

remove .clang-format in paddle/fluid to use the same config (#43678)
  .clang-format
  paddle/fluid/.clang-format
  paddle/fluid/framework/paddle2cinn/cinn_graph_symbolization.cc
  paddle/fluid/framework/paddle2cinn/cinn_graph_symbolization.h
  paddle/fluid/framework/paddle2cinn/transform_desc.h
  paddle/infrt/dialect/infrt/ir/infrt_dialect.cc
  paddle/infrt/tests/models/test_abs.cc
  paddle/phi/kernels/gpu/gelu_grad_kernel.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[MLU] add deformable_conv kernel (#43630)
  paddle/fluid/operators/deformable_conv_op_mlu.cc
  paddle/fluid/operators/mlu/mlu_baseop.cc
  paddle/fluid/operators/mlu/mlu_baseop.h
  python/paddle/fluid/tests/unittests/mlu/test_deformable_conv_op_mlu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix some error, TODO: ForNodePreTransform ahead
  python/paddle/fluid/dygraph/dygraph_to_static/convert_operators.py
  python/paddle/fluid/dygraph/dygraph_to_static/utils.py
Due: pylint-doc-string, copyright_checker

slice large tensor for cudnn_softmax (#43681)
  paddle/phi/kernels/gpudnn/softmax_gpudnn.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add valid data type check
  paddle/fluid/inference/tensorrt/convert/cast_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_cast.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix the bug that _DataLoaderIterMultiProcess use time to generate the seed (#43318)
  python/paddle/fluid/dataloader/dataloader_iter.py
  python/paddle/fluid/dataloader/worker.py
  python/paddle/fluid/tests/unittests/test_multiprocess_dataloader_exception.py
Due: pylint-doc-string, copyright_checker

fix or backend many inputs bug
  paddle/fluid/inference/api/demo_ci/CMakeLists.txt
  paddle/fluid/inference/tests/infer_ut/CMakeLists.txt
Due: none

export class property
  python/paddle/fluid/dygraph/dygraph_to_static/program_translator.py
  python/paddle/fluid/dygraph/jit.py
  python/paddle/fluid/tests/unittests/test_jit_save_load.py
Due: pylint-doc-string, copyright_checker

remove log
  python/paddle/fluid/dygraph/jit.py
Due: pylint-doc-string, copyright_checker

Correct elementwise quantization (#43693)
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix for quant model (#43567)
  paddle/fluid/operators/mkldnn/fc_mkldnn_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[Bug fix] Do not quantize weights Y when matmul X and Y both other ops outputs (#43297)
  paddle/fluid/framework/ir/mkldnn/quant_dequant_mkldnn_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Generalize conv+activation fuse pass (#43382)
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass_tester.cc
  paddle/fluid/framework/ir/mkldnn/elt_act_mkldnn_fuse_pass.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/tests/api/analyzer_vit_ocr_tester.cc
  paddle/fluid/operators/elementwise/mkldnn/elementwise_mkldnn_op.h
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  paddle/fluid/platform/mkldnn_reuse.h
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_conv_act_mkldnn_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_activation_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_gelu_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_hard_sigmoid_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_hard_swish_fuse_pass.py
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_mish_fuse_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

code format
  paddle/fluid/inference/tensorrt/convert/cast_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

delete the log printing in layout autotune (#43676)
  paddle/fluid/imperative/layout_autotune.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/pybind/distributed_py.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Path conditions:
  clang-format-with-version-check: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    paddle/fluid/distributed/ps/thirdparty/round_robin.h
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
  pylint-doc-string: any of: \.(py)$
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$, but not: (?x)^(
    paddle/utils/.*
)$

