Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


[XPU] fix problem of existing tests
  test/xpu/collective_concat_op.py
  test/xpu/collective_split_op.py
  test/xpu/test_collective_softmax_with_cross_entropy_xpu.py
Due: copyright_checker, pylint-doc-string

fix
  python/paddle/nn/functional/vision.py
Due: copyright_checker, pylint-doc-string

fix assert bug
  paddle/fluid/pir/dialect/operator/ir/control_flow_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[PIR] add fc_fuse_pass/fc_with_special_op_fuse_pass/fc_elementwise_layernorm_fuse_pass (#59842)
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/pir/drr/api/tensor_interface.h
  paddle/fluid/pir/drr/drr_rewrite_pattern.cc
  paddle/fluid/pir/drr/ir_value.h
  paddle/fluid/pir/transforms/fusion/fc_elementwise_layernorm_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/fc_elementwise_layernorm_fuse_pass.h
  paddle/fluid/pir/transforms/fusion/fc_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/fc_fuse_pass.h
  paddle/fluid/pir/transforms/fusion/fc_with_special_op_fuse_pass.cc
  paddle/fluid/pir/transforms/fusion/fc_with_special_op_fuse_pass.h
  paddle/fluid/pir/transforms/fusion/fused_weight_only_linear_pass.cc
  paddle/fluid/pir/transforms/identity_op_clean_pass.cc
  paddle/fluid/pybind/pir.cc
  test/cpp/pir/pass/pass_manager_test.cc
  test/ir/pir/fused_pass/test_fc_with_special_op_fuse_pass.py
  test/ir/pir/fused_pass/test_pir_fc_elementwise_layernorm_fuse_pass.py
  test/ir/pir/fused_pass/test_pir_fc_fuse_pass.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

infer tile spmd
  paddle/phi/api/yaml/legacy_backward.yaml
  paddle/phi/api/yaml/legacy_ops.yaml
  paddle/phi/infermeta/spmd_rules/rules.h
  paddle/phi/infermeta/spmd_rules/tile.cc
  paddle/phi/infermeta/spmd_rules/tile.h
  test/auto_parallel/spmd_rules/CMakeLists.txt
  test/auto_parallel/spmd_rules/test_tile_rule.py
  test/cpp/auto_parallel/CMakeLists.txt
  test/cpp/auto_parallel/tile_spmd_rule_test.cc
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

[Auto Parallel] LLaMA Accuracy Align for hybrid parallel in dy2static (#60058)
  python/paddle/distributed/auto_parallel/static/operators/common.py
  test/auto_parallel/hybrid_strategy/semi_auto_llama_acc_align.py
  test/auto_parallel/hybrid_strategy/semi_auto_parallel_llama_model.py
  test/auto_parallel/hybrid_strategy/test_semi_auto_parallel_hybrid_strategy.py
Due: copyright_checker, pylint-doc-string

fix the limitation of fthenb schedule
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/model.py
Due: copyright_checker, pylint-doc-string

llama equal
  test/auto_parallel/hybrid_strategy/semi_auto_llama_acc_align.py
Due: copyright_checker, pylint-doc-string

update testcases
  paddle/fluid/framework/new_executor/instruction/assert_instruction.cc
  test/ir/pir/test_assert_api.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

update pass test
  test/ir/pir/fused_pass/pass_test.py
  test/ir/pir/fused_pass/test_conv2d_add_act_fuse_pass.py
  test/ir/pir/fused_pass/test_conv2d_add_fuse_pass.py
  test/ir/pir/fused_pass/test_conv2d_bn_fuse_pass.py
  test/ir/pir/fused_pass/test_fc_with_special_op_fuse_pass.py
  test/ir/pir/fused_pass/test_fused_weight_only_linear_pass.py
  test/ir/pir/fused_pass/test_pir_fc_elementwise_layernorm_fuse_pass.py
  test/ir/pir/fused_pass/test_pir_fc_fuse_pass.py
  test/ir/pir/fused_pass/test_pir_matmul_scale_fuse_pass.py
  test/ir/pir/test_pir_identity_op_clean_pass.py
Due: copyright_checker, pylint-doc-string

fix cc_test_old in mkldnn test (#60008)
  cmake/generic.cmake
  paddle/fluid/framework/op_registry.h
  paddle/phi/core/kernel_registry.h
  test/cpp/fluid/mkldnn/CMakeLists.txt
  test/cpp/fluid/mkldnn/test_mkldnn_op_nhwc.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix pir reduce min and reduce prod convert bug (#60051)
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[PIR]Support pir cinn isclose (#60036)
  paddle/cinn/hlir/dialect/operator/ir/ops.yaml
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  test/ir/pir/cinn/test_cinn_ops.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

add data norm
  paddle/fluid/operators/data_norm_op.cc
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
  paddle/fluid/pir/dialect/operator/ir/ops_backward.yaml
  paddle/phi/api/yaml/op_compat.yaml
  paddle/phi/infermeta/multiary.cc
  paddle/phi/infermeta/multiary.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  paddle/fluid/framework/new_executor/pir_interpreter.cc
  paddle/fluid/framework/new_executor/pir_interpreter.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

:recycle: Refactor: updated log_normal and bernoulli_
  paddle/fluid/operators/ops_signature/generated_fused_sig.cc
  paddle/fluid/operators/ops_signature/generated_sig.cc
  paddle/fluid/operators/ops_signature/generated_sparse_sig.cc
  paddle/fluid/operators/ops_signature/generated_static_sig.cc
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_bias_act.cu
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_bias_residual.cu
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_depthwise_bias_act.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/arch_define.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages2_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages2_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages3_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages3_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages4_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages4_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages5_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages5_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages2_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages2_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages3_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages3_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages4_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages4_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages5_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages5_noBias.cu
  python/paddle/tensor/random.py
  test/legacy_test/test_inplace.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

:mute: Remove: deleted extra files
  paddle/fluid/operators/ops_signature/generated_fused_sig.cc
  paddle/fluid/operators/ops_signature/generated_sig.cc
  paddle/fluid/operators/ops_signature/generated_sparse_sig.cc
  paddle/fluid/operators/ops_signature/generated_static_sig.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  paddle/fluid/pir/dialect/operator/trait/trait.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

add decode_jpeg
  python/paddle/vision/ops.py
  test/legacy_test/test_read_file.py
Due: copyright_checker, pylint-doc-string

:mute: Remove: deleted extra files
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_bias_act.cu
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_bias_residual.cu
  paddle/phi/kernels/fusion/cutlass/conv2d/generated_tmp/conv2d_depthwise_bias_act.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/arch_define.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages2_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages2_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages3_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages3_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages4_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages4_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages5_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_bf16_sm80_stages5_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages2_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages2_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages3_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages3_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages4_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages4_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/generic_mixed_gemm_kernelLauncher.py
  python/paddle/tensor/__init__.py
  python/paddle/tensor/random.py
  test/legacy_test/test_inplace.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

:white_check_mark: Test: added test cases
  python/paddle/tensor/random.py
  test/legacy_test/test_log_normal_op.py
Due: copyright_checker, pylint-doc-string

[XPU] fix problem of existing tests (#60047)
  test/xpu/collective_concat_op.py
  test/xpu/collective_split_op.py
  test/xpu/test_collective_softmax_with_cross_entropy_xpu.py
Due: copyright_checker, pylint-doc-string

:pencil2: Fix: fixed a error
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages5_bias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/autogen_tmp/generic_mixed_gemm_kernelLauncher_fp16_sm80_stages5_noBias.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/generic_mixed_gemm_kernelLauncher.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

:zap: Fix: fixed code format
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.cu
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/fpA_intB_gemm_template.h
  paddle/phi/kernels/fusion/cutlass/cutlass_kernels/fpA_intB_gemm/generic_mixed_gemm_kernelLauncher.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix linux-cpu-openblas-avx bug (#60115)
  paddle/fluid/pybind/CMakeLists.txt
Due: none

polish
  paddle/phi/infermeta/spmd_rules/tile.cc
  test/cpp/auto_parallel/tile_spmd_rule_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix the limitation of fthenb schedule (#60134)
  python/paddle/distributed/fleet/meta_parallel/pipeline_parallel.py
  python/paddle/distributed/fleet/model.py
Due: copyright_checker, pylint-doc-string

[Change] test api with uint16
  test/legacy_test/test_fractional_max_pool2d_api.py
  test/legacy_test/test_fractional_max_pool3d_api.py
Due: copyright_checker, pylint-doc-string

add pir yaml config of read_file (#60126)
  paddle/fluid/pir/dialect/operator/ir/ops.yaml
Due: none

code style
  python/paddle/autograd/ir_backward.py
Due: copyright_checker, pylint-doc-string

:pencil2: Fix: fixed code format
  test/legacy_test/test_inplace.py
Due: copyright_checker, pylint-doc-string

add flash_attn reverse inferspmd (#60111)
  paddle/phi/infermeta/spmd_rules/flash_attention.cc
  paddle/phi/infermeta/spmd_rules/flash_attention.h
  paddle/phi/infermeta/spmd_rules/rules.h
  test/auto_parallel/spmd_rules/CMakeLists.txt
  test/auto_parallel/spmd_rules/test_flash_attention_rule.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

Update op_translator.cc
  paddle/fluid/ir_adaptor/translator/op_translator.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  python/paddle/vision/ops.py
Due: copyright_checker, pylint-doc-string

fix bug
  paddle/phi/kernels/impl/gammaln_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy
