Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=c,cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

fix rocm bugs
  paddle/phi/kernels/fusion/gpu/conv_fusion_kernel.cu
  paddle/phi/kernels/gpudnn/conv_grad_kernel.cu
  paddle/phi/kernels/gpudnn/conv_kernel.cu
  paddle/phi/kernels/gpudnn/conv_transpose_grad_kernel.cu
  paddle/phi/kernels/gpudnn/conv_transpose_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix divide zero bug for npair_loss
  python/paddle/nn/functional/loss.py
Due: copyright_checker, pylint-doc-string

update code style
  paddle/fluid/inference/tensorrt/convert/elementwise_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix codestyle
  paddle/phi/api/include/from_blob.h
  paddle/phi/tests/api/CMakeLists.txt
  paddle/phi/tests/api/test_from_blob.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[prim] change reshape primitive api to reshape2
  paddle/fluid/prim/api/manual_prim/static_prim_api.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

process multiple conv2d_fusion shares weight (#51068)
  paddle/fluid/framework/ir/conv2d_fusion_layout_transfer_pass.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

Change xpu_context.h to cut off unrelated dependency (#51079)
  paddle/phi/backends/xpu/xpu_context.h
Due: copyright_checker, clang-format, cpplint-cpp-source

Comp hardswish (#51003)
  python/paddle/fluid/tests/unittests/test_activation_op.py
  python/paddle/incubate/autograd/composite_rules.py
  python/paddle/incubate/autograd/primitives.py
Due: copyright_checker, pylint-doc-string

[Hackathon NO.74] 为 Paddle-TRT 添加 grid_sampler 算子 (#50934)
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/tensorrt/convert/CMakeLists.txt
  paddle/fluid/inference/tensorrt/convert/grid_sampler_op.cc
  paddle/fluid/inference/tensorrt/dynamic_shape_infermeta.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_grid_sampler.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[dy2static] fix memory leakage problem in T5 model
  paddle/fluid/operators/controlflow/conditional_block_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

add split_with_num composite rule
  paddle/fluid/operators/split_op.cc
  paddle/fluid/prim/api/api.yaml
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/fluid/prim/api/manual_prim/eager_prim_api.cc
  paddle/fluid/prim/api/manual_prim/prim_manual_api.h
  paddle/fluid/prim/api/manual_prim/static_prim_api.cc
  paddle/phi/api/yaml/op_compat.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source

add sparse_mask.py
  paddle/phi/backends/gpu/gpu_resources.cc
  python/paddle/nn/__init__.py
  python/paddle/nn/layer/__init__.py
  python/paddle/nn/layer/sparse_mask.py
  python/paddle/nn/layer/transformer.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

update
  paddle/fluid/inference/tensorrt/convert/pad3d_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/auto_scan_test.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[IR] Type system stage3: add class Dialect (#50959)
  paddle/ir/builtin_dialect.cc
  paddle/ir/builtin_dialect.h
  paddle/ir/builtin_type.h
  paddle/ir/dialect.cc
  paddle/ir/dialect.h
  paddle/ir/ir_context.cc
  paddle/ir/ir_context.h
  paddle/ir/storage_manager.cc
  paddle/ir/storage_manager.h
  paddle/ir/tests/type_test.cc
  paddle/ir/type.cc
  paddle/ir/type.h
  paddle/ir/type_base.h
Due: copyright_checker, clang-format, cpplint-cpp-source

fix all code style error
  paddle/fluid/inference/tensorrt/convert/elementwise_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

fix protobuf update bugs
  python/paddle/distributed/fleet/base/distributed_strategy.py
Due: copyright_checker, pylint-doc-string

fix sample_size <= 0
  paddle/fluid/framework/fleet/heter_ps/graph_gpu_ps_table_inl.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix a bug which is triggered by the lack of __class__.op_type
  python/paddle/fluid/tests/unittests/op_test.py
Due: copyright_checker, pylint-doc-string

cast after calculation
  paddle/phi/kernels/gpu/accuracy_kernel.cu
  python/paddle/fluid/tests/unittests/test_accuracy_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

register composite operator
  paddle/fluid/operators/abs_op.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

[fp16] suppot fp16 in std (#50936)
  python/paddle/fluid/tests/unittests/test_std_layer.py
  python/paddle/tensor/stat.py
Due: copyright_checker, pylint-doc-string

Fix bug of hybrid parallel strategy with recompute using bf16.
  python/paddle/distributed/fleet/meta_parallel/pp_utils/utils.py
  python/paddle/distributed/fleet/recompute/recompute_hybrid.py
Due: copyright_checker, pylint-doc-string

align api's name to ops.yaml
  python/paddle/fluid/tests/unittests/test_cutlass_fused_multihead_attention.py
  python/paddle/incubate/nn/functional/__init__.py
  python/paddle/incubate/nn/functional/cutlass_fused_multihead_attention.py
Due: copyright_checker, pylint-doc-string

update
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

fix gcc error while compiling gloo
  cmake/external/gloo.cmake
Due: none

fix set_value
  paddle/phi/kernels/cpu/set_value_grad_kernel.cc
  paddle/phi/kernels/cpu/set_value_kernel.cc
  paddle/phi/kernels/gpu/set_value_grad_kernel.cu
  paddle/phi/kernels/gpu/set_value_kernel.cu
  paddle/phi/kernels/set_value_grad_kernel.h
  paddle/phi/kernels/set_value_kernel.h
  python/paddle/fluid/tests/unittests/test_set_value_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

Add concat grad cinn (#50972)
  paddle/fluid/operators/concat_op.cc
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/fluid/prim/api/manual_prim/eager_prim_api.cc
  paddle/fluid/prim/api/manual_prim/prim_manual_api.h
  paddle/fluid/prim/api/manual_prim/static_prim_api.cc
  paddle/phi/api/yaml/legacy_backward.yaml
  python/paddle/fluid/tests/unittests/CMakeLists.txt
  python/paddle/fluid/tests/unittests/test_concat_op.py
  python/paddle/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

fix test vander api error!
  python/paddle/fluid/tests/unittests/test_vander.py
Due: copyright_checker, pylint-doc-string

[Zero-Dim] fix create_scalar to create 0D
  paddle/fluid/pybind/eager_math_op_patch.cc
  python/paddle/fluid/layers/math_op_patch.py
  python/paddle/fluid/tests/unittests/test_zero_dim_tensor.py
  python/paddle/tensor/math.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

npair-loss-bug-fix
  python/paddle/fluid/tests/unittests/test_npair_loss_op.py
  python/paddle/nn/functional/loss.py
Due: copyright_checker, pylint-doc-string

lkh test polar
  python/paddle/__init__.py
Due: copyright_checker, pylint-doc-string

[AMP OP&Test] register fp16 and bf16 kernel for uniform_random (#50993)
  paddle/phi/kernels/funcs/reduce_function.h
  paddle/phi/kernels/funcs/uniform_real_distribution.h
  paddle/phi/kernels/gpu/uniform_kernel.cu
  paddle/phi/kernels/primitive/compute_primitives.h
  paddle/phi/kernels/selected_rows/uniform_kernel.cc
  paddle/phi/kernels/uniform_kernel.cc
  python/paddle/fluid/tests/unittests/test_uniform_random_op.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

polar add
  python/paddle/__init__.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/fluid/prim/api/api.yaml
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  paddle/phi/api/yaml/op_compat.yaml
Due: copyright_checker, clang-format, cpplint-cpp-source

tmp commit
  paddle/fluid/prim/api/composite_backward/composite_backward_api.h
  python/paddle/fluid/tests/unittests/prim/composite_ops/test_composite_layer_norm_grad.py
  python/paddle/incubate/autograd/composite_rules.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

AMP arange & Test
  paddle/phi/kernels/gpu/arange_kernel.cu
  python/paddle/fluid/tests/unittests/test_arange.py
  python/paddle/tensor/creation.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source

[GetCurrentCUDAStream] Add C++ API GetCurrentCUDAStream (#51027)
  paddle/phi/api/include/context_pool.h
  paddle/phi/api/lib/context_pool.cc
  paddle/phi/core/allocator.h
  paddle/phi/tests/api/CMakeLists.txt
  paddle/phi/tests/api/test_allocator.cu
  paddle/phi/tests/api/test_cuda_stream.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix arange bfloat16 dtype
  python/paddle/fluid/tests/unittests/test_arange.py
Due: copyright_checker, pylint-doc-string

Remove layer_norm infermeta fix
  paddle/fluid/operators/layer_norm_op.cc
  paddle/phi/infermeta/ternary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source

update unittest for ci-covarage.add broadcast with same dim.
  python/paddle/fluid/tests/unittests/test_gaussian_nll_loss.py
Due: copyright_checker, pylint-doc-string

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  cpplint-cpp-source: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    .+_pb2\.py|
    python/paddle/fluid/tests/unittests/npu/.+|
    python/paddle/fluid/tests/unittests/mlu/.+
)$

