Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

fix matmul error when input's dim is 3 (#36849)
  paddle/fluid/inference/tensorrt/convert/matmul_op.cc
  paddle/fluid/inference/tensorrt/op_teller.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_trt_convert_matmul.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Successfully to execute IfOp and IfGradOp
  paddle/fluid/operators/controlflow/if_op.cc
  paddle/fluid/operators/controlflow/if_op.h
  python/paddle/fluid/backward.py
  python/paddle/fluid/layers/control_flow.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Add IfOp and cond_v2 interface
  paddle/fluid/operators/controlflow/if_op.cc
  paddle/fluid/operators/controlflow/if_op.h
  paddle/fluid/operators/controlflow/unity_build_rule.cmake
  python/paddle/fluid/layers/control_flow.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix matmul dim error when fused_reshape_Out contains 0
  paddle/fluid/operators/matmul_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[BFGS] almost done.
  python/paddle/optimizer/functional/bfgs.py
  python/paddle/optimizer/functional/bfgs_utils.py
  python/paddle/optimizer/functional/linesearch.py
Due: pylint-doc-string, copyright_checker

remove embeding compat
  paddle/fluid/framework/ir/embedding_eltwise_layernorm_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Move the ASP training API to paddle.static.sparsity. (#36525)
  python/paddle/fluid/contrib/sparsity/__init__.py
  python/paddle/fluid/contrib/sparsity/asp.py
  python/paddle/fluid/contrib/sparsity/utils.py
  python/paddle/fluid/tests/unittests/asp/asp_pruning_base.py
  python/paddle/fluid/tests/unittests/asp/test_asp_optimize.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_2d_best.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_2d_greedy.py
  python/paddle/fluid/tests/unittests/asp/test_asp_utils.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp_amp.py
  python/paddle/static/__init__.py
  python/paddle/static/sparsity/__init__.py
  python/setup.py.in
Due: pylint-doc-string, copyright_checker

refine layer to
  python/paddle/fluid/dygraph/amp/auto_cast.py
  python/paddle/fluid/dygraph/layers.py
Due: pylint-doc-string, copyright_checker

delete comment
  python/paddle/fluid/dygraph/layers.py
Due: pylint-doc-string, copyright_checker

fix unittest coverage
  python/paddle/fluid/tests/unittests/test_fleet_elastic_manager.py
Due: pylint-doc-string, copyright_checker

fix
  paddle/fluid/framework/CMakeLists.txt
  paddle/fluid/framework/\
  paddle/fluid/framework/heter_pipeline_trainer_test.cc
  python/paddle/distributed/fleet/runtime/the_one_ps.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fix
  paddle/fluid/framework/\
Due: none

concat support AxisTensor args
  paddle/pten/core/tensor_meta.h
  paddle/pten/kernels/cpu/manipulation.cc
  paddle/pten/kernels/cpu/manipulation.h
  paddle/pten/kernels/cpu/utils.h
  paddle/pten/kernels/cuda/manipulation.cu
  paddle/pten/kernels/cuda/manipulation.h
  paddle/pten/kernels/cuda/utils.h
  paddle/pten/kernels/functions/lod_utils.h
  paddle/pten/kernels/functions/utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

improve cpu code and fix dynamic memory allcation problem
  paddle/fluid/operators/fused/fused_gather_scatter_op.cc
  paddle/fluid/operators/fused/fused_gather_scatter_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add some ops support fp16 in kunlun2 (#36854)
  paddle/fluid/operators/activation_op_xpu.cc
  paddle/fluid/operators/amp/check_finite_and_unscale_op_xpu.cc
  paddle/fluid/operators/amp/update_loss_scaling_op_xpu.cc
  paddle/fluid/operators/fill_constant_op_xpu.cc
  paddle/fluid/operators/gather_op_xpu.cc
  paddle/fluid/operators/gelu_op_xpu.cc
  paddle/fluid/operators/softmax_op.cc
  paddle/fluid/operators/softmax_op_xpu.cc
  paddle/fluid/platform/xpu/xpu2_op_list.h
  paddle/fluid/platform/xpu/xpu_header.h
  python/paddle/fluid/tests/unittests/op_test_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_activation_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_gather_op_xpu.py
  python/paddle/fluid/tests/unittests/xpu/test_softmax_op_xpu.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

fetchv2 tensor not init, test=develop
  paddle/fluid/operators/controlflow/fetch_v2_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[NPU] fix lookup_table_v2_grad ACL error for model BoW
  paddle/fluid/operators/lookup_table_v2_op_npu.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix
  paddle/fluid/framework/CMakeLists.txt
Due: none

refactor
  paddle/fluid/framework/new_executor/CMakeLists.txt
  paddle/fluid/framework/new_executor/interpretercore_util.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

inplace only lodtensor, test=develop
  paddle/fluid/framework/new_executor/interpretercore.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine vlog of interpretercore
  paddle/fluid/framework/new_executor/interpretercore.cc
  paddle/fluid/framework/new_executor/interpretercore_util.cc
  paddle/fluid/framework/operator.cc
  paddle/fluid/framework/operator.h
  paddle/fluid/memory/allocation/allocator_facade.cc
  paddle/fluid/platform/device_context.cc
  python/paddle/fluid/tests/unittests/interpreter/test_standalone_executor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

change CinnLanuchOp inherit from OperatorWithKernel
  paddle/fluid/operators/CMakeLists.txt
  paddle/fluid/operators/cinn_launch_op.cc
  paddle/fluid/operators/cinn_launch_op.cu.cc
  paddle/fluid/operators/cinn_launch_op.h
  paddle/fluid/operators/cinn_launch_op_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix several bugs
  paddle/pten/core/kernel_factory.cc
  paddle/pten/core/kernel_registry.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

RRelu operator 0.1.2
  paddle/fluid/operators/activation_op.cc
  paddle/fluid/operators/activation_op.h
  python/paddle/fluid/tests/unittests/test_activation_op.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

conditionally disabled logs
  paddle/fluid/framework/ir/mkldnn/softplus_activation_mkldnn_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

simplify code
  paddle/fluid/operators/cinn_launch_op.cc
  paddle/fluid/operators/cinn_launch_op.h
  paddle/fluid/operators/cinn_launch_op_helper.cc
  paddle/fluid/operators/cinn_launch_op_helper.h
  paddle/fluid/operators/cinn_launch_op_helper_test.cc
  paddle/fluid/operators/cinn_launch_op_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix test code
  paddle/fluid/operators/cinn_launch_op_helper_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

add debug infomation for build_cinn_pass and graph symbolization
  paddle/fluid/framework/paddle2cinn/build_cinn_pass.cc
  paddle/fluid/framework/paddle2cinn/cinn_graph_symbolization.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Move the ASP training API to paddle.static.sparsity. (#36525) (#36860)
  python/paddle/fluid/contrib/sparsity/__init__.py
  python/paddle/fluid/contrib/sparsity/asp.py
  python/paddle/fluid/contrib/sparsity/utils.py
  python/paddle/fluid/tests/unittests/asp/asp_pruning_base.py
  python/paddle/fluid/tests/unittests/asp/test_asp_optimize.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_2d_best.py
  python/paddle/fluid/tests/unittests/asp/test_asp_pruning_2d_greedy.py
  python/paddle/fluid/tests/unittests/asp/test_asp_utils.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp.py
  python/paddle/fluid/tests/unittests/asp/test_fleet_with_asp_amp.py
  python/paddle/static/__init__.py
  python/paddle/static/sparsity/__init__.py
  python/setup.py.in
Due: pylint-doc-string, copyright_checker

added conv + hard_sigmoid fuse pass
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.h
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass_tester.cc
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/operators/compat/hard_sigmoid.pbtxt
  paddle/fluid/operators/mkldnn/conv_mkldnn_op.cc
  python/paddle/fluid/tests/unittests/ir/inference/test_mkldnn_conv_activation_fuse_pass.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Removed IsOptional() statements
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Reverted removing optional
  paddle/fluid/framework/ir/mkldnn/conv_activation_mkldnn_fuse_pass.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[PSCORE] Merge embeddings from local(hdfs) to a binary file
  python/paddle/distributed/fleet/__init__.py
  python/paddle/distributed/fleet/base/fleet_base.py
Due: pylint-doc-string, copyright_checker

Modify sample code
  python/paddle/distributed/fleet/base/fleet_base.py
Due: pylint-doc-string, copyright_checker
