Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.9
    hooks:
    -   id: remove-crlf
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
-   repo: https://github.com/PaddlePaddle/mirrors-yapf.git
    rev: v0.16.2
    hooks:
    -   id: yapf
        files: (.*\.(py|bzl)|BUILD|.*\.BUILD|WORKSPACE)$
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: detect-private-key
        files: (?!.*third_party)^.*$ | (?!.*book)^.*$
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: clang-format-with-version-check
        name: clang-format
        description: Format files with ClangFormat.
        entry: bash ./tools/codestyle/clang_format.hook -i
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto)$
-   repo: local
    hooks:
    -   id: cpplint-cpp-source
        name: cpplint
        description: Check C++ code style using cpplint.py.
        entry: bash ./tools/codestyle/cpplint_pre_commit.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx)$
-   repo: local
    hooks:
    -   id: pylint-doc-string
        name: pylint
        description: Check python docstring style using docstring_checker.
        entry: bash ./tools/codestyle/pylint_pre_commit.hook
        language: system
        files: \.(py)$
-   repo: local
    hooks:
    -   id: copyright_checker
        name: copyright_checker
        entry: python ./tools/codestyle/copyright.hook
        language: system
        files: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|py|sh)$
        exclude: (?!.*third_party)^.*$ | (?!.*book)^.*$

delete gloo connect retry (#37616)
  paddle/fluid/framework/fleet/gloo_wrapper.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

remove bfloat16 when defined paddle_with_hip
  paddle/pten/kernels/cuda/manipulation.cu
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix_InternalStorage (#37568)
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/__init__.py
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/dygraph_sharding_optimizer.py
  python/paddle/distributed/fleet/meta_optimizers/dygraph_optimizer/sharding_optimizer_stage2.py
  python/paddle/distributed/fleet/meta_parallel/sharding/__init__.py
  python/paddle/distributed/fleet/meta_parallel/sharding/sharding_utils.py
  python/paddle/distributed/fleet/utils/internal_storage.py
  python/paddle/fluid/tests/unittests/dygraph_sharding_optimizer_stage2.py
  python/setup.py.in
Due: pylint-doc-string, copyright_checker

Modify callback to pointer
  cmake/external/cinn.cmake
  paddle/fluid/operators/cinn_launch_op.cc
  paddle/fluid/operators/cinn_launch_op_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[New features] Support batch_jacobian and batch_hessian (#37547)
  python/paddle/autograd/__init__.py
  python/paddle/autograd/functional.py
  python/paddle/fluid/tests/unittests/autograd/CMakeLists.txt
  python/paddle/fluid/tests/unittests/autograd/test_hessian.py
  python/paddle/fluid/tests/unittests/autograd/test_jacobian.py
  python/paddle/fluid/tests/unittests/autograd/utils.py
Due: pylint-doc-string, copyright_checker

update expand_as_v2
  paddle/fluid/operators/expand_v2_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

unity variable name in third_party cmake files (#37590)
  cmake/external/brpc.cmake
  cmake/external/cinn.cmake
  cmake/external/dirent.cmake
  cmake/external/dlpack.cmake
  cmake/external/lapack.cmake
  cmake/external/leveldb.cmake
  cmake/external/libmct.cmake
  cmake/external/libxsmm.cmake
  cmake/external/lite.cmake
  cmake/external/mklml.cmake
  cmake/external/pslib.cmake
  cmake/external/pslib_brpc.cmake
  cmake/external/rocksdb.cmake
  cmake/external/snappy.cmake
  cmake/external/xpu.cmake
Due: none

[NPU] fix compile (#37648)
  paddle/fluid/framework/CMakeLists.txt
Due: none

update
  tools/check_file_diff_approvals.sh
Due: copyright_checker

[fleet_executor] Interceptor run op (#37623)
  paddle/fluid/distributed/fleet_executor/compute_interceptor.cc
  paddle/fluid/distributed/fleet_executor/compute_interceptor.h
  paddle/fluid/distributed/fleet_executor/interceptor.h
  paddle/fluid/distributed/fleet_executor/task_node.h
  paddle/fluid/distributed/fleet_executor/test/CMakeLists.txt
  paddle/fluid/distributed/fleet_executor/test/compute_interceptor_run_op_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[HeterPs] fix allocation (#37476)
  paddle/fluid/framework/fleet/heter_ps/heter_comm.h
  paddle/fluid/framework/fleet/heter_ps/heter_comm_inl.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix epoch switch bug
  paddle/fluid/operators/cinn_launch_op.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

revcover meam cuda to original implement
  paddle/fluid/operators/mean_op.cu
  paddle/pten/api/lib/math.cc
  paddle/pten/kernels/functions/cuda/reduce/reduce.h
  paddle/pten/kernels/functions/cuda/reduce/reduce_cuda_impl.h
  paddle/pten/kernels/functions/general/reduce_impl.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fix dropout static when axis != None (#37223) (#37589)
  python/paddle/fluid/tests/unittests/test_dropout_op.py
  python/paddle/nn/functional/common.py
Due: pylint-doc-string, copyright_checker

Refactored eager legacy namespace
  paddle/fluid/eager/auto_code_generator/eager_generator.cc
  paddle/fluid/eager/legacy/amp_auto_cast.cc
  paddle/fluid/eager/legacy/amp_auto_cast.h
  paddle/fluid/eager/legacy/execution_context.h
  paddle/fluid/eager/legacy/infer_shape_context.h
  paddle/fluid/eager/legacy/infer_var_type_context.h
  paddle/fluid/eager/legacy/op_runner.cc
  paddle/fluid/eager/legacy/op_runner.h
  paddle/fluid/eager/legacy/prepared_operator.cc
  paddle/fluid/eager/legacy/prepared_operator.h
  paddle/fluid/eager/legacy/tensor_helper.cc
  paddle/fluid/eager/legacy/tensor_helper.h
  paddle/fluid/eager/legacy/type_def.h
  paddle/fluid/framework/details/nan_inf_utils.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine, test=develop
  paddle/fluid/pybind/eager_functions.cc
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/eager_properties.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

[fleet_executor] Hold the carrier while running for one micro step. (#37605)
  paddle/fluid/distributed/fleet_executor/carrier.cc
  paddle/fluid/distributed/fleet_executor/carrier.h
  paddle/fluid/distributed/fleet_executor/compute_interceptor.cc
  paddle/fluid/distributed/fleet_executor/compute_interceptor.h
  paddle/fluid/distributed/fleet_executor/interceptor.cc
  paddle/fluid/distributed/fleet_executor/interceptor.h
  paddle/fluid/distributed/fleet_executor/test/compute_interceptor_test.cc
  paddle/fluid/distributed/fleet_executor/test/interceptor_ping_pong_test.cc
  paddle/fluid/distributed/fleet_executor/test/interceptor_ping_pong_with_brpc_test.cc
  python/paddle/fluid/tests/unittests/test_fleet_executor.py
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

Support fetch lodtensor array (#37580)
  paddle/fluid/framework/new_executor/data_transfer.cc
  paddle/fluid/operators/memcpy_d2h_op.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine, test=develop
  paddle/fluid/pybind/CMakeLists.txt
Due: none

put time compute of unittests to test_unit block (#37602)
  paddle/scripts/paddle_build.bat
Due: none

test=document_fix
  tools/ci_op_benchmark.sh
Due: copyright_checker

quantize slice op
  paddle/fluid/framework/ir/graph_pattern_detector.cc
  paddle/fluid/framework/ir/graph_pattern_detector.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.cc
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass.h
  paddle/fluid/framework/ir/mkldnn/cpu_quantize_pass_tester.cc
  paddle/fluid/inference/api/mkldnn_quantizer.cc
  paddle/fluid/inference/api/mkldnn_quantizer_config.cc
  paddle/fluid/inference/tests/api/CMakeLists.txt
  paddle/fluid/inference/tests/api/analyzer_ernie_int8_tester.cc
  paddle/fluid/inference/tests/api/analyzer_ernie_tester.cc
  paddle/fluid/inference/tests/api/analyzer_ernie_tester.h
  paddle/fluid/operators/mkldnn/slice_mkldnn_op.cc
  paddle/fluid/operators/slice_op.cc
  python/paddle/fluid/contrib/slim/quantization/quant2_int8_mkldnn_pass.py
  python/paddle/fluid/contrib/slim/tests/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, pylint-doc-string, copyright_checker

remove uselsess lock, test=notest
  paddle/fluid/distributed/fleet_executor/interceptor.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

refine, test=develop
  paddle/fluid/pybind/eager_properties.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Enabled performance benchmark tests for Eager Dygraph
  paddle/fluid/eager/CMakeLists.txt
  paddle/fluid/eager/api/generated/CMakeLists.txt
  paddle/fluid/eager/tests/CMakeLists.txt
  paddle/fluid/eager/tests/performance_tests/CMakeLists.txt
  paddle/fluid/eager/tests/performance_tests/benchmark_eager_cpu.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_eager_cuda.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_fluid_cpu.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_fluid_cuda.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_utils.cc
  paddle/fluid/eager/tests/task_tests/CMakeLists.txt
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

Fixed namespace issues
  paddle/fluid/eager/api/utils/hook_utils.cc
  paddle/fluid/eager/api/utils/hook_utils.h
  paddle/fluid/eager/api/utils/tensor_utils.cc
  paddle/fluid/eager/api/utils/tensor_utils.h
  paddle/fluid/eager/tests/performance_tests/benchmark_eager_cpu.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_eager_cuda.cc
  paddle/fluid/eager/tests/task_tests/backward_test.cc
  paddle/fluid/eager/tests/task_tests/cross_batch_accumulation_test.cc
  paddle/fluid/eager/tests/task_tests/eager_utils_test.cc
  paddle/fluid/eager/tests/task_tests/forward_autograd_test.cc
  paddle/fluid/eager/tests/task_tests/fwd_bwd_joint_test.cc
  paddle/fluid/eager/tests/task_tests/generated_test.cc
  paddle/fluid/eager/tests/task_tests/hook_test.cc
  paddle/fluid/eager/tests/task_tests/tensor_utils_test.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

update
  paddle/fluid/platform/profiler.cc
  paddle/fluid/platform/profiler.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

fix cast speed
  paddle/fluid/operators/cast_op.cu
  paddle/fluid/operators/cast_op.h
  paddle/pten/kernels/cuda/manipulation.cu
  paddle/pten/kernels/functions/math/cast_func.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

move angle functor to angle_op.h to avoid compilation error
  paddle/fluid/operators/angle_op.h
  paddle/fluid/operators/math/complex_functors.h
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker

notest;test=py3
  tools/dockerfile/build_scripts/build_utils.sh
Due: copyright_checker

Protected CUDA tests with macro
  paddle/fluid/eager/tests/performance_tests/benchmark_eager_cuda.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_fluid_cuda.cc
  paddle/fluid/eager/tests/performance_tests/benchmark_utils.cc
Due: clang-format-with-version-check, cpplint-cpp-source, copyright_checker
