Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

copyright_checker:
  name: copyright_checker
  entry: python ./tools/codestyle/copyright.hook
  language: system

pylint-doc-string:
  name: pylint
  description: Check python docstring style using docstring_checker.
  entry: bash ./tools/codestyle/pylint_pre_commit.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/codestyle/clang_format.hook -i
  language: system

cpplint-cpp-source:
  name: cpplint
  description: Check C++ code style using cpplint.py.
  entry: bash ./tools/codestyle/cpplint_pre_commit.hook
  language: system
  args:
  - --extensions=cc,cxx,cpp,cu,cuh,h,hpp,hxx,kps
  - --filter=-readability/fn_size,-build/include_what_you_use,-build/c++11,-whitespace/parens
  - --quiet

clang-tidy:
  name: clang-tidy
  description: Parallel clang-tidy runner.
  entry: python ./tools/codestyle/clang-tidy.py
  language: system
  args:
  - -p=build/
  - -extra-arg=-Wno-unknown-warning-option
  - -extra-arg=-Wno-pessimizing-move
  - -extra-arg=-Wno-braced-scalar-init
  - -extra-arg=-Wno-dangling-gsl
  ...

auto-generate-cmakelists:
  name: auto-generate-cmakelists
  entry: bash ./tools/gen_ut_cmakelists.hook
  language: system

Fix
  paddle/fluid/framework/details/build_strategy.cc
  paddle/fluid/framework/details/build_strategy.h
  paddle/fluid/inference/analysis/argument.h
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/analysis_predictor.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/api/paddle_pass_builder.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Fix
  paddle/fluid/framework/executor.cc
  paddle/fluid/framework/executor.h
  paddle/fluid/inference/api/analysis_config.cc
  paddle/fluid/inference/api/paddle_analysis_config.h
  paddle/fluid/inference/api/paddle_pass_builder.cc
  paddle/fluid/inference/api/paddle_pass_builder.h
  paddle/fluid/inference/capi/paddle_c_api.h
  paddle/fluid/inference/capi/pd_config.cc
  paddle/fluid/inference/capi_exp/pd_config.cc
  paddle/fluid/inference/capi_exp/pd_config.h
  paddle/fluid/inference/experimental/javaapi/native/com_baidu_paddle_inference_Config.cpp
  paddle/fluid/inference/goapi/config.go
  paddle/fluid/inference/goapi/config_test.go
  paddle/fluid/jit/engine/predictor_engine.cc
  paddle/fluid/operators/controlflow/conditional_block_infer_op.cc
  paddle/fluid/pybind/inference_api.cc
  test/cpp/fluid/mkldnn/test_onednn_cpu_quantize_pass.cc
  test/cpp/inference/api/analyzer_bfloat16_image_classification_tester.cc
  test/cpp/inference/api/analyzer_capi_exp_pd_config_tester.cc
  test/cpp/inference/api/analyzer_capi_exp_tester.cc
  test/cpp/inference/api/analyzer_capi_tester.cc
  test/cpp/inference/api/analyzer_dam_tester.cc
  test/cpp/inference/api/analyzer_detect_tester.cc
  test/cpp/inference/api/analyzer_image_classification_tester.cc
  test/cpp/inference/api/analyzer_mmp_tester.cc
  test/cpp/inference/api/analyzer_quant_image_classification_tester.cc
  test/cpp/inference/api/analyzer_seq_pool1_tester_helper.h
  test/cpp/inference/api/analyzer_vis_tester.cc
  test/cpp/inference/api/analyzer_vit_ocr_tester.cc
  test/cpp/inference/infer_ut/test_det_mv3_db.cc
  test/cpp/inference/infer_ut/test_ernie_text_cls.cc
  test/cpp/inference/infer_ut/test_ppyolo_mbv3.cc
  test/cpp/inference/infer_ut/test_ppyolov2_r50vd.cc
  test/cpp/inference/infer_ut/test_yolov3.cc
  test/cpp/inference/test_helper.h
  test/deprecated/cpp/inference/api/analysis_predictor_tester.cc
  test/deprecated/cpp/inference/api/analyzer_bert_tester_deprecated.cc
  test/deprecated/cpp/inference/api/analyzer_detect_functional_mkldnn_tester_deprecated.cc
  test/deprecated/cpp/inference/api/analyzer_image_classification_tester.cc
  test/deprecated/cpp/inference/api/analyzer_transformer_profile_tester.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Del inference docker images
  .github/workflows/CI.yml
  .github/workflows/_Inference.yml
  .github/workflows/docker.yml
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

Fix
  paddle/phi/common/place.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  .github/workflows/_Inference.yml
Due: none

fix
  paddle/phi/kernels/cpu/lu_kernel.cc
  paddle/phi/kernels/gpu/lu_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  .github/workflows/CI.yml
Due: none

[CINN] Fixed arange symbolic input support
  paddle/cinn/hlir/dialect/operator/transforms/pd_to_cinn_pass.cc
  paddle/cinn/hlir/framework/pir/op_lowering_impl.cc
  paddle/cinn/hlir/op/elementwise.cc
  paddle/cinn/operator_fusion/pir_graph_analyzing/dim_relation.cc
  test/ir/pir/cinn/test_cinn_arange.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix reduce int32 overflow
  paddle/phi/kernels/funcs/reduce_function.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[BIG tensor]fix acc error of nll_loss
  paddle/phi/kernels/gpu/nll_loss.h
  paddle/phi/kernels/gpu/nll_loss_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

minor fix
  paddle/phi/kernels/gpu/nll_loss.h
  paddle/phi/kernels/gpu/nll_loss_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/kernels/fusion/gpu/fused_layernorm_residual_dropout_bias.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update slice
  test/legacy_test/CMakeLists.txt
Due: none

reinforce send_ue_recv for big tensor
  paddle/phi/kernels/gpu/graph_send_recv_funcs.h
  paddle/phi/kernels/gpu/graph_send_ue_recv_funcs.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

move fused_layers.py from PaddleNLP to Paddle
  python/paddle/distributed/auto_parallel/layers/__init__.py
  python/paddle/distributed/auto_parallel/layers/fused_layers.py
Due: copyright_checker, pylint-doc-string

change fused_layers.py place
  python/paddle/distributed/auto_parallel/layers/__init__.py
  python/paddle/incubate/nn/__init__.py
  python/paddle/incubate/nn/layer/fused_layers.py
Due: copyright_checker, pylint-doc-string

add moe spmd_rule to .yaml
  paddle/phi/ops/yaml/backward.yaml
  paddle/phi/ops/yaml/ops.yaml
Due: none

fp32tofp16，all test pass!
  paddle/phi/common/float16.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

format spmd name
  paddle/phi/infermeta/spmd_rules/moe_combine.cc
  paddle/phi/infermeta/spmd_rules/moe_combine.h
  paddle/phi/infermeta/spmd_rules/moe_gate_dispatch.cc
  paddle/phi/infermeta/spmd_rules/moe_gate_dispatch.h
  paddle/phi/ops/yaml/backward.yaml
  paddle/phi/ops/yaml/ops.yaml
  test/cpp/auto_parallel/moe_combine_spmd_rule_test.cc
  test/cpp/auto_parallel/moe_gate_dispatch_spmd_rule_test.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  .github/workflows/CI-Build.yml
  .github/workflows/CI.yml
Due: none

add dtype check for MatmulInferMeta
  paddle/phi/infermeta/binary.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/kernels/gpu/interpolate_grad_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

py38
  tools/dockerfile/Dockerfile.ubuntu20
Due: none

Unified paddle.device.synchronize() in unittest
  test/legacy_test/c_softmax_with_cross_entropy_op.py
  test/legacy_test/c_softmax_with_multi_label_cross_entropy_op.py
  test/legacy_test/test_auto_growth_pinned_allocator.py
  test/legacy_test/test_fused_attention_no_dropout.py
  test/legacy_test/test_nan_inf_dir.py
Due: copyright_checker, pylint-doc-string

asyncload does not suppoort custom device, fall back to sync
  python/paddle/incubate/tensor/manipulation.py
Due: copyright_checker, pylint-doc-string

fix
  paddle/phi/common/float16.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/phi/kernels/reduce_mean_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update intranode and internode method from deepep
  paddle/fluid/distributed/collective/deep_ep/deep_ep.cpp
  paddle/fluid/distributed/collective/deep_ep/deep_ep.hpp
  paddle/fluid/distributed/collective/deep_ep/include/types.h
  paddle/fluid/distributed/collective/deep_ep/kernels/api.cuh
  paddle/fluid/distributed/collective/deep_ep/kernels/ibgda_device.cuh
  paddle/fluid/distributed/collective/deep_ep/kernels/internode.cu
  paddle/fluid/distributed/collective/deep_ep/kernels/intranode.cu
  paddle/fluid/distributed/collective/deep_ep/kernels/launch.cuh
  paddle/fluid/distributed/collective/deep_ep/kernels/utils.cuh
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

[Big-Tensor Fix] Add error throwing check mechanism of paddle.nn.functional.ctc_loss
  paddle/phi/kernels/impl/warpctc_kernel_impl.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix issue 73692
  paddle/phi/kernels/funcs/unique_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

update slice-check
  paddle/fluid/pybind/eager_method.cc
  paddle/fluid/pybind/slice_utils.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix the conflicts
  test/auto_parallel/PP_Schedules_demo.py
Due: copyright_checker, pylint-doc-string

fix pool3d and fused bias dropout residual
  paddle/phi/kernels/fusion/gpu/fused_bias_dropout_residual_layer_norm_grad_kernel.cu
  paddle/phi/kernels/gpudnn/pool_kernel.cu
  paddle/phi/kernels/impl/pool_kernel_impl.h
  paddle/phi/kernels/xpu/pool_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

py38
  tools/dockerfile/ci_dockerfile.sh
Due: copyright_checker

update spmd_rule for MoEGateDispatchInferSpmd
  paddle/phi/infermeta/spmd_rules/moe_gate_dispatch.cc
  paddle/phi/infermeta/spmd_rules/moe_gate_dispatch.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

