Repository PaddlePaddle/Paddle: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy, auto-generate-cmakelists

Path conditions:
  copyright_checker: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|proto|xpu|kps|py|sh)$ and not ((?x)^(
    paddle/utils/.*|
    paddle/cinn/utils/registry.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  pylint-doc-string: any of: \.(py)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  clang-format: any of: \.(c|cc|cxx|cpp|cu|h|hpp|hxx|xpu|kps)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  cpplint-cpp-source: any of: \.(cc|cxx|cpp|cu|h|hpp|hxx)$ and not ((?x)^(
    paddle/utils/flat_hash_map\.h
)$
) and not ((?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$
)
  clang-tidy: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$

  auto-generate-cmakelists: any of: testslist.csv$, but not: (?x)^(
    patches/.+|
    paddle/fluid/framework/fleet/heter_ps/cudf/.+|
    paddle/fluid/distributed/ps/thirdparty/round_robin.h|
    python/paddle/utils/gast/.+|
    third_party/.+
)$


delete m2n test
  test/collective/test_m2n_22.py
  test/collective/test_m2n_all_layers.py
  test/collective/test_m2n_all_layers.sh
  test/collective/test_m2n_all_layers_v2.py
  test/collective/test_m2n_all_layers_v3.py
  test/collective/test_m2n_dc.py
  test/collective/test_m2n_dc.sh
  test/collective/test_m2n_dd.py
  test/collective/test_m2n_dd.sh
  test/collective/test_m2n_demo.py
  test/collective/test_m2n_demo.sh
  test/collective/test_m2n_tt.py
  test/collective/test_m2n_tt.sh
  test/collective/test_m2n_two_layers.py
  test/collective/test_m2n_two_layers.sh
Due: copyright_checker, pylint-doc-string

delete m2n test
  test/collective/test_m2n.py
  test/collective/test_m2n.sh
Due: copyright_checker, pylint-doc-string

initial commit /root/paddlejob/workspace/env_run/output/zkk/erniebot-dev/2024-10-25moe/Paddle/paddle/fluid/distributed/collective/deep_ep/kernels/m2n_ll_two_stage.cu
  paddle/fluid/distributed/collective/deep_ep/kernels/m2n_ll_two_stage.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

elementwise_add_grad stride implementation
  paddle/phi/kernels/stride/elementwise_grad_stride_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

refine
  test/legacy_test/CMakeLists.txt
Due: none

init
  test/legacy_test/CMakeLists.txt
Due: none

fix
  paddle/phi/kernels/funcs/elementwise_functor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

fix namespace
  paddle/phi/kernels/fused_layernorm_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

support api tensor out name
  paddle/fluid/eager/auto_code_generator/generator/eager_gen.py
  paddle/fluid/eager/utils.cc
  paddle/fluid/eager/utils.h
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

fix
  paddle/fluid/eager/backward.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

简化 m2n_ll_two_stage.cu
  paddle/fluid/distributed/collective/deep_ep/kernels/m2n_ll_two_stage.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

remove: useless words
  test/legacy_test/test_adam_op.py
Due: copyright_checker, pylint-doc-string

replace enable_mkldnn
  test/cpp/inference/api/analyzer_bfloat16_image_classification_tester.cc
  test/cpp/inference/api/analyzer_quant_image_classification_tester.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

rename test_analyzer_quant2_mobilenetv1_mkldnn
  test/cpp/inference/api/CMakeLists.txt
Due: none

add and include .h file for box_clip_kernel
  paddle/phi/kernels/box_clip_kernel.h
  paddle/phi/kernels/gpu/box_clip_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

change incubate_lbfgs
  test/legacy_test/test_lbfgs_class.py
Due: copyright_checker, pylint-doc-string

fix misused pinned memory for custom device
  test/legacy_test/test_empty.py
  test/legacy_test/test_eye.py
  test/legacy_test/test_full.py
  test/legacy_test/test_range_and_arange.py
  test/legacy_test/test_tensor.py
Due: copyright_checker, pylint-doc-string

fix docstring about icdf and cdf
  python/paddle/distribution/exponential.py
Due: copyright_checker, pylint-doc-string

rename mkldnn in tools directory
  tools/final_ut_parallel_rule.py
  tools/parallel_UT_rule.py
  tools/static_mode_white_list.py
Due: copyright_checker, pylint-doc-string

refine
  paddle/phi/kernels/cpu/strided_copy_kernel.cc
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

refine
  paddle/phi/kernels/stride/elementwise_grad_stride_kernel.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

fix input strided tensor in getitem
  paddle/fluid/pybind/slice_utils.h
  test/indexing/test_getitem.py
Due: copyright_checker, pylint-doc-string, clang-format, cpplint-cpp-source, clang-tidy

make code 漂亮
  paddle/fluid/distributed/collective/deep_ep/kernels/m2n_ll_two_stage.cu
Due: copyright_checker, clang-format, cpplint-cpp-source

move gpu kernel box_clip_kernel and update includes
  paddle/phi/kernels/cpu/box_clip_kernel.cc
  paddle/phi/kernels/gpu/box_clip_kernel.cu
  paddle/phi/kernels/gpu/box_clip_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

remove deprecated python/paddle/incubate/optimizer/lbfgs.py
  python/paddle/incubate/optimizer/__init__.py
  python/paddle/incubate/optimizer/lbfgs.py
Due: copyright_checker, pylint-doc-string

rename mkldnn to onednn in test/quantization
  test/quantization/quant2_int8_image_classification_comparison.py
  test/quantization/quant2_int8_lstm_model.py
  test/quantization/quant2_int8_nlp_comparison.py
  test/quantization/quant_int8_image_classification_comparison.py
Due: copyright_checker, pylint-doc-string

fix phi fused_bias_dropout_residual_ln_grad_kernel
  paddle/phi/kernels/fusion/gpu/fused_bias_dropout_residual_layer_norm_grad_kernel.cu
  paddle/phi/kernels/fusion/gpu/fused_bias_dropout_residual_layer_norm_grad_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

929
  paddle/phi/core/dense_tensor.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

rename mkldnn to onednn in test/onednn/
  test/onednn/test_flags_onednn_ops_on_off.py
  test/onednn/test_matmul_bf16_onednn_op.py
  test/onednn/test_matmul_v2_onednn_op.py
  test/onednn/test_pool2d_int8_onednn_op.py
Due: copyright_checker, pylint-doc-string

Delet grad
  paddle/phi/kernels/sequence_expand_kernel.h
Due: copyright_checker, clang-format, cpplint-cpp-source, clang-tidy

rename mkldnn to onednn in paddle/fluid/inference/goapi/
  paddle/fluid/inference/goapi/config.go
  paddle/fluid/inference/goapi/config_test.go
Due: none
